{% verbatim %}
<script type="text/html" id="tplDonationItem">
  <td>
      
  </td>
  <td>
    <input type="text" class="input js-name" value="{{ name }}">
  </td>
  <td>
    <input type="text" class="input pad-h-10 js-quantity" value="{{ quantity }}">
  </td>
  <td>
    <input type="text" class="input pad-h-10 js-unit" value="{{ unit }}">
  </td>
  <td>
  {% endverbatim %}
    <select name="partner" class="js-category dropdown large">
      {% for i in item_categories %}
        <option value="{{ i.id }}">{{ i.name }}</option>
      {% endfor %}
    </select>
  {% verbatim %}
  </td>
  <td>
    <textarea class="input textarea pad-h-10 js-description">{{ description }}</textarea>
  </td>
  <td>
    <a href="#" class="js-deleteItem cross small">x</a>
  </td>  
</script>
{% endverbatim %}