{% verbatim %}
<script type="text/html" id="tplDonationItem">
  <td>
      
  </td>
  <td>
    <input type="text" class="input-text js-name" value="{{ name }}">
  </td>
  <td>
    <input type="text" class="input-text js-quantity" value="{{ quantity }}">
  </td>
  <td>
    <input type="text" class="input-text js-unit" value="{{ unit }}">
  </td>
  <td>
  {% endverbatim %}
    <select name="partner" class="js-category dropdown large">
      {% for i in item_categories %}
        <option value="{{ i.id }}">{{ i.name }}</option>
      {% endfor %}
    </select>
  {% verbatim %}
  </td>
  <td>
    <textarea class="input-text js-description">{{ description }}</textarea>
  </td>
  <td>
    <a href="#" class="js-deleteItem fa fa-close"></a>
  </td>  
</script>
{% endverbatim %}