{% verbatim %}

  <script type="text/html" id="tpl-topSummary">
   
    <!--div class="container js-entity-data">
          <div class="heading-tiny-uppercase align-left">
            <span class="brand-blue">{{type}}</span>
          </div>
          <h2 class="font-large black align-left">
            {{name}}
          </h2>
    </div-->

    <div class="container">
      <!--div class="sect-parent">
        <div class="sect-third">
          <!--img src="/static/images/gka.png" width="50%">

        </div>
        <div class="sect-two-third"-->
          <div class="sect-parent">
            <div class="sect-half">
              <div class="brand-blue font-large font-light uppercase">Schools</div>
              <div class=" base-spacing-sm">{{data.total_schools}}</div>
              <div class="brand-blue font-large font-light uppercase">Children Impacted</div>
              <div class=" base-spacing-sm">{{data.children_impacted}}</div>
              <div class="brand-blue font-large font-light uppercase">TLM Kits</div>
              <div class=" base-spacing-sm">{{data.tlm_kits}}</div>
            </div>
            <div class="sect-half">
              <div class="brand-blue font-large font-light uppercase">Schools Covered</div>
              <div class=" base-spacing-sm">{{data.gka_schools}}</div>
              <div class="brand-blue font-large font-light uppercase">Education Volunteers</div>
              <div class=" base-spacing-sm">{{data.education_volunteers}}</div>
              <div class="brand-blue font-large font-light uppercase">Teachers Trained</div>
              <div class=" base-spacing-sm">{{data.teachers_trained}}</div>
            </div>
        </div>
      <!--/div>
    </div-->
  </script>

  
  <script type="text/html" id="tpl-smsSummary">
    <h3 class="heading-border brand-green">SMS SUMMARY</h3> 
      <div class="sect-parent center-text">
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">SMS Messages Received</div>
          <div class=" base-spacing-sm">{{ sms.stories }}</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Schools with SMS Messages</div>
          <div class=" base-spacing-sm">{{ sms.schools }} (50%)</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Last SMS</div>
          <div class=" base-spacing-sm">{{ format_lastsms }}</div>
        </div>
    </div>
  </script>

  <script type="text/html" id="tpl-responseTable">
    <div class="container table-responsive-wrap"> 
    <div class="base-spacing-mid"></div>       
    <h5 class="heading-border brand-green">SMS RESPONSES</h3> 
    
    <table class="table-base">
      <thead>
        <tr class="table-base-heading">
          <td class="brand-blue">Question</td>
          <!--td class="brand-blue">Percentage</td-->
          <td class="brand-blue">Yes</td>
          <td class="brand-blue">No</td>
          {% set check=questions|first %}
        </tr>
      </thead>
      <tbody>
        {% for each in questions%}
        <tr class="font-smaller">
          <td width='85%'>
            {{each.question}}
          </td>
          <!--td>
            <div class="bar-graph-wrap">
              {% if each.total != 0 %}
              <div class="bar-graph">
                <div class="bar-percent green-leaf">{{ each.percent }}%</div>
                <div class="bar-custom tooltip" aria-label="{{ each.score }}/{{ each.total }}">
                  <div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
                    <div class="bar-value bar-value-{{ each.percent }} green-leaf-bg" style="width:{{ each.percent }}%;"></div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="no-data">
                No respondents
              </div> 
              {% endif %}
            </div>     
          </td-->
          <td>{{each.score}}</td>
          <td>{{each.total-each.score|int}}</td>
        </tr>
      </tbody>
  </script>


  <script type="text/html" id="tpl-assmtSummary">
        <div class="brand-blue font-large font-light uppercase">Assessments</div>
        <div class=" base-spacing-sm">{{ assmt.count }}</div>
        <div class="brand-blue font-large font-light uppercase">Schools Covered</div>
        <div class=" base-spacing-sm">{{ assmt.schools }} ({{ assmt.schools_perc }}%)</div>
        <div class="brand-blue font-large font-light uppercase">Children Assessed</div>
        <div class=" base-spacing-sm">{{ assmt.children }} ({{ assmt.children_perc }}%)</div>
        <div class="brand-blue font-large font-light uppercase">Last Assessment</div>
        <div class=" base-spacing-sm">{{ assmt.last_assmt }}</div>
  </script>



  <!-- There's probably a cleaner way of doing the below template without this many for loops-->
  <script type="text/html" id="tpl-compareTable">
    <table class="table-base">
      <thead class="table-base-heading">
        <tr>
        <th></th>            
          {% for n in neighbours %}
            <th>{{ n.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Schools</td>
          {% for n in neighbours %}
            <td>{{ n.schools }}</td>
          {% endfor %}
        </tr><tr>
          <td>Surveys</td>
          {% for n in neighbours %}
            <td>{{ n.stories }}</td>
          {% endfor %}
        </tr><tr>
          <td>IVRS Calls</td>
          {% for n in neighbours %}
            <td>{{ n.ivrs }}</td>
          {% endfor %}
        </tr><tr>
          <td>(Volunteers say) Schools need</td>
          {% for n in neighbours %}
            <td>{{ n.needs_volunteer }}</td>
          {% endfor %}
        </tr><tr>
          <td>(Community says) Schools need</td>
          {% for n in neighbours %}
            <td>{{ n.needs_community }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </script>

  <script type="text/html" id="tpl-countSummary">           
    {% for s in summary %}
      <div class="chart-quarter-item">
        <div class="heading-tiny-uppercase align-left" >{{ s.label }}</div>
        <h2 class="heading-secondary black align-left">{{ s.count }}</h2> 
      </div>
    {% endfor %}
  </script>

  <script type="text/html" id="tpl-smsVolume">           
    <div class="heading-tiny-uppercase">Call volumes during {{ acad_year }}</div>
  </script>

  <script type="text/html" id="tpl-gka-filters-modal">
  <div class="modal modal-map-filter">
    <h3 class="heading-border">Filter by Geography</h3>
    <div class="filter-school-block">
 
      <div class="filter-school-each">
        <div class="heading-tiny-uppercase">District</div>
        <input type="hidden" class="filter-dropdown" id="select-district" />
        </select>
      </div>

      <div class="filter-school-each">
        <div class="heading-tiny-uppercase">Block</div>
        <input type="hidden" class="filter-dropdown" id="select-block" />
      </div>

      <div class="filter-school-each">
        <div class="heading-tiny-uppercase">Cluster</div>
        <input type="hidden" class="filter-dropdown" id="select-cluster" />
      </div>

      <div class="filter-school-each">
        <div class="heading-tiny-uppercase">School</div>
        <input type="hidden" class="filter-dropdown" id="select-school" />
      </div>
    </div> <!-- /filter-school-block -->

    <div class="base-spacing"></div>
      <div class="center-text">
      <a href="" class="button" id="search">Search</a>
      </div>
    </div>
 

</script>


{% endverbatim %}

