{% verbatim %}

  <script type="text/html" id="tpl-topSummary">

    <!--div class="container js-entity-data">
          <div class="heading-tiny-uppercase align-left">
            <span class="brand-blue">{{type}}</span>
          </div>
          <h2 class="font-large black align-left">
            {{name}}
          </h2>
    </div-->

    <div class="container">
      <!--div class="sect-parent">
        <div class="sect-third">
          <!--img src="/static/images/gka.png" width="50%">

        </div>
        <div class="sect-two-third"-->
          <div class="sect-parent">
            <div class="sect-half">
              <div class="brand-blue font-large font-light uppercase">Schools</div>
              <div class=" base-spacing-sm">{{data.total_schools}}</div>
              <div class="brand-blue font-large font-light uppercase">Children Impacted</div>
              <div class=" base-spacing-sm">{{data.children_impacted}}</div>
            </div>
            <div class="sect-half">
              <div class="brand-blue font-large font-light uppercase">Schools Covered</div>
              <div class=" base-spacing-sm">{{data.gka_schools}}</div>
              <div class="brand-blue font-large font-light uppercase">Education Volunteers</div>
              <div class=" base-spacing-sm">{{data.education_volunteers}}</div>
            </div>
        </div>
      <!--/div>
    </div-->
  </script>


  <script type="text/html" id="tpl-smsSummary">
    <h3 class="heading-border brand-green">SMS SUMMARY</h3>
      <div class="sect-parent center-text">
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">SMS Messages Received</div>
          <div class=" base-spacing-sm">{{ sms.stories }}</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Schools with SMS Messages</div>
          <div class=" base-spacing-sm">{{ sms.schools }} ({{smsPercentage}}%)</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Latest SMS</div>
          <div class=" base-spacing-sm">{{ format_lastsms }}</div>
        </div>
    </div>
  </script>

  <script type="text/html" id="tpl-csvSummary">
    <h3 class="heading-border brand-purple">SURVEY SUMMARY</h3>
      <div class="sect-parent center-text">
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Surveys Received</div>
          <div class=" base-spacing-sm">{{ csv.stories }}</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Schools with Surveys</div>
          <div class=" base-spacing-sm">{{ csv.schools }} ({{ schoolPerc }}%)</div>
        </div>
        <div class="sect-third">
          <div class="brand-blue font-large font-light uppercase">Latest Survey</div>
          <div class=" base-spacing-sm">{{ format_lastcsv }}</div>
        </div>
    </div>
  </script>
  <script type="text/html" id="tpl-mobResponses">
    <div class="base-spacing-mid"></div>
    <h5 class="heading-border purple-amethyst">SURVEY RESPONSES</h5>
    <div class="sect-parent">
      <div class="sect-half">
      {% set counter=0 %}
      {% for q in questions %}
        <div class="font-small">{{q.question}}</div>
        <div class="bar-graph-wrap">
          <div class="bar-graph">
            <div class="bar-percent grey-gravel">{{ q.percent}}%</div>
            <div class="bar-custom tooltip" aria-label="{{ q.score}}/ {{ window.surveySummaryData.csv.stories}} responses">
              <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
                <div class="bar-value bar-value-{{ q.total}} brand-blue-bg" style="width:{{q.percent}}%;"></div>
              </div>
            </div>
          </div>
        </div>
        {% if counter == questions.length/2-1 %}
          </div>
          <div class="sect-half">
        {% endif %}
        {% set counter = counter + 1 %}
      {% endfor %}
      </div>
    </div>

  </script>
  <script type="text/html" id="tpl-smsResponses">
    <div class="base-spacing-mid"></div>
    <h5 class="heading-border brand-green">SMS RESPONSES</h5>
    <div class="sect-parent">
      <div class="sect-third">
        <div class="brand-blue font-large font-light center-text uppercase">SCHOOL VISITS WITH</div>
        <div class="font-light">Ongoing class 4 and 5 Math sessions</div>

        <div class="bar-graph-wrap">
          <div class="bar-graph">
            <div class="bar-percent grey-gravel">{{ (questions["ivrss-gka-trained"].score / window.smsSummary.sms.stories * 100).toFixed(2) }}%</div>
            <div class="bar-custom tooltip" aria-label="{{ questions["ivrss-gka-trained"].score}}/{{ window.smsSummary.sms.stories }} responses">
              <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
                <div class="bar-value bar-value-{{ questions["ivrss-math-class-happening"].total}} green-leaf-bg" style="width:{{ (questions["ivrss-gka-trained"].score / window.smsSummary.sms.stories * 100).toFixed(2) }}%;"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="font-light">Teachers trained in GKA methodology</div>

        <div class="bar-graph-wrap">
          <div class="bar-graph">
            <div class="bar-percent grey-gravel">{{(questions["ivrss-gka-trained"].score / window.smsSummary.sms.stories * 100).toFixed(2)}}%</div>
            <div class="bar-custom tooltip" aria-label="{{ questions["ivrss-gka-trained"].score}}/{{ window.smsSummary.sms.stories}} responses">
              <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
                <div class="bar-value bar-value-{{ questions["ivrss-gka-trained"].total}} green-leaf-bg" style="width:{{ (questions["ivrss-gka-trained"].score / window.smsSummary.sms.stories * 100).toFixed(2) }}%;"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="sect-two-third">
        <div class="brand-blue font-large font-light center-text uppercase">GKA METHODOLOGY</div>
        <div class="base-spacing-sm"></div>
        <div class="sect-parent">
          <div class="sect-half float-right">
              <div class="font-light">TLM Usage</div>
          </div>
          <div class="sect-half">
            <div class="bar-graph-wrap">
              <div class="bar-graph">
                <div class="bar-percent grey-gravel">{{ questions["ivrss-gka-tlm-in-use"].percent}}%</div>
                <div class="bar-custom tooltip" aria-label="{{ questions["ivrss-gka-tlm-in-use"].score}}/ {{ questions["ivrss-gka-trained"].score}} responses">
                  <div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
                    <div class="bar-value bar-value-{{ questions["ivrss-gka-tlm-in-use"].total}} green-leaf-bg" style="width:{{questions["ivrss-gka-tlm-in-use"].percent}}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sect-half float-right">
              <div class="font-light">Representational Stage</div>
          </div>
          <div class="sect-half">
            <div class="bar-graph-wrap">
              <div class="bar-graph">
                <div class="bar-percent grey-gravel">{{ questions["ivrss-gka-rep-stage"].percent}}%</div>
                <div class="bar-custom tooltip" aria-label="{{ questions["ivrss-gka-rep-stage"].score}}/ {{ questions["ivrss-gka-trained"].score}} responses">
                  <div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
                    <div class="bar-value bar-value-{{ questions["ivrss-gka-rep-stage"].total}} green-leaf-bg" style="width:{{questions["ivrss-gka-rep-stage"].percent}}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sect-half float-right">
              <div class="font-light">Group Work</div>
          </div>
          <div class="sect-half">
            <div class="bar-graph-wrap">
              <div class="bar-graph">
                <div class="bar-percent grey-gravel">{{ questions["ivrss-group-work"].percent}}%</div>
                <div class="bar-custom tooltip" aria-label="{{ questions["ivrss-group-work"].score}}/ {{ questions["ivrss-gka-trained"].score}} responses">
                  <div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
                    <div class="bar-value bar-value-{{ questions["ivrss-group-work"].total}} green-leaf-bg" style="width:{{questions["ivrss-group-work"].percent}}%;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </script>

  <!--script type="text/html" id="tpl-responseTable">
    <div class="container table-responsive-wrap">
    <div class="base-spacing-mid"></div>
    <h5 class="heading-border brand-green">SMS RESPONSES</h5>

    <table class="table-base">
      <thead>
        <tr class="table-base-heading">
          <td class="brand-blue">Question</td>
          <!--td class="brand-blue">Percentage</td>
          <td class="brand-blue">Yes</td>
          <td class="brand-blue">No</td>
          {% set check=questions|first %}
        </tr>
      </thead>
      <tbody>
        {% for each in questions%}
        <tr class="font-smaller">
          <td width='85%'>
            {{each.question}}
          </td>
          <td>{{each.score}}</td>
          <td>{{each.total-each.score|int}}</td>
        </tr>
      </tbody>
  </script-->


  <script type="text/html" id="tpl-assmtSummary">
    <h3 class="heading-border brand-orange">ASSESSMENT SUMMARY</h3>
      <div class="sect-parent center-text">
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Assessment Records</div>
          <div class=" base-spacing-sm">{{ assmt.count }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Schools Covered</div>
          <div class=" base-spacing-sm">{{ assmt.schools }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Children Assessed</div>
          <div class=" base-spacing-sm">{{ assmt.children }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Latest Assessment</div>
          <div class=" base-spacing-sm">{{ assmt.last_assmt }}</div>
        </div>
    </div>
  </script>

  <script type="text/html" id="tpl-assmtCoverage">
      <div class="brand-blue font-large font-light uppercase">Schools - Coverage</div>
      <div class="base-spacing-sm"></div>
      <div class="bar-graph-wrap">
        <div class="bar-graph">
          <div class="bar-percent grey-gravel">{{ assmt.schools_perc }}%</div>
          <div class="bar-custom tooltip" aria-label="{{ assmt.schools }}">
            <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
              <div class="bar-value bar-value-{{ assmt.schools_perc }} pink-salmon-bg" style="width:{{ assmt.schools_perc }}%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base-spacing-mid"></div>
      <div class="brand-blue font-large font-light uppercase">Children - Assessed</div>
      <div class="base-spacing-sm"></div>
      <div class="bar-graph-wrap">
        <div class="bar-graph">
          <div class="bar-percent grey-gravel">{{ assmt.children_perc }}%</div>
          <div class="bar-custom tooltip" aria-label="{{ assmt.children }}">
            <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
              <div class="bar-value bar-value-{{ assmt.children_perc }} brand-orange-bg" style="width:{{ assmt.children_perc }}%;"></div>
            </div>
          </div>
        </div>
      </div>

  </script>

  <script type="text/html" id="tpl-gpcSummary">
    <h3 class="heading-border brand-turquoise">GP CONTEST SUMMARY</h3>
      <div class="sect-parent center-text">
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Gram Panchayat</div>
          <div class=" base-spacing-sm">{{ data.gps }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Schools Covered</div>
          <div class=" base-spacing-sm">{{ data.schools }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Children Assessed</div>
          <div class=" base-spacing-sm">{{ data.children }}</div>
        </div>
        <div class="sect-quarter">
          <div class="brand-blue font-large font-light uppercase">Contests</div>
          <div class=" base-spacing-sm">{{ data.contests }}</div>
        </div>
    </div>
  </script>


  <script type="text/html" id="tpl-genderGpcSummary">
    <br/>
    <div class="brand-blue font-large font-light">Children with full score</div>
    <div class="module-stats-icon module-stats-boygirl">
      <span class="icon-boy-girl"></span>
      <div class="module-stats-info">
        <div class="uppercase">Total</div>
        <p class="module-stats-label">{{data.total_studs}}%</p>
      </div>
    </div>
    <!--br/-->
    <div class="module-stats-icon module-stats-girl">
      <span class="icon-girl"></span>
      <div class="module-stats-info">
        <div class="uppercase">Girls</div>
        <p class="module-stats-label">{{data.girl_perc}}%</p>
      </div>
    </div>
    <!--br/-->
    <div class="module-stats-icon">
      <span class="icon-boy"></span>
      <div class="module-stats-info">
        <div class="uppercase">Boys</div>
        <p class="module-stats-label">{{data.boy_perc}}%</p>
      </div>
    </div>
  </script>

  <!-- There's probably a cleaner way of doing the below template without this many for loops-->
  <script type="text/html" id="tpl-compareTable">
   <h3 class="heading-border brand-red">COMPARISON</h3>
   <div class="table-responsive-wrap">
    <table class="table-base">
      <thead class="table-base-heading">
        <tr>
            <th>Districts/Blocks/Cluster</th>
            <th>Schools</th>
            <th>Total SMS</th>
            <th>SMS Volumes (CRP)</th>
            <th>Assessment Volumes</th>
            <th>GP Contests</th>
            <th>Surveys</th>
        </tr>
      </thead>
      <tbody>
        {% for n in neighbours %}
          <tr class="font-small">
            <td>{{ n.name | capitalize}}</td>
            <td>{{ n.schools }}</td>
            <td>{{ n.sms }}</td>
            <td>
              <div class="base-spacing-sm"></div>
              <div class="bar-graph-wrap">
                <div class="bar-graph">
                  <div class="bar-percent grey-gravel">{{n.sms_govt_percent}}%</div>
                  <div class="bar-custom tooltip" aria-label="{{n.sms_govt}} are from Officials">
                    <div class="bar-value bar-value-100 grey-silver-bg" style="width:100%;">
                      <div class="bar-value bar-value-100 brand-red-bg" style="width:{{n.sms_govt}}%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>{{ n.assmt }}</td>
            <td>{{ n.contests }}</td>
            <td>{{ n.surveys }}</td>
          </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
    </div>
    <!-- <div class="font-smaller center-text">If a block, cluster or school is chosen, the comparison should show the values upward to district for that entity.</div> -->
  </script>

{% endverbatim %}
