{% verbatim %}
    <script type="text/html" id="tpl-sysInfo">
    <p>Share your stories of visits to schools... We are counting 
        <a href="/map" target="_blank">
            <br>
            <span style="color:#26b262;font-weight:bold">
                {{ total_stories }}
            </span>
            shared experiences
            <br>
            <span style="color:#26b262;font-weight:bold"> 
                {{ total_images }}
            </span> 
            shared images
        </a>
        <br>
        as on today!
    </p>
    </script>
{% endverbatim %}