{% verbatim %}
  <script type="text/html" id="tpl-reportDate">
    <div class="heading-tiny date-header"> Primary School Report | {{today.date}}</div>
  </script>

  <script type="text/html" id="tpl-topSummary">

    <div class="heading-secondary heading-border">{{data.boundary.name|capitalize}}</div>
    <div class="base-spacing-mid"></div>
    <div class="sect-parent">
      <div class="sect-third rounded-sect">
          <div class="heading-tiny-uppercase">Boundary</div>
          <h2 class="heading-secondary brand-blue align-left">{{data.boundary.name|capitalize}}</h2> 
          <div class="heading-tiny-uppercase">Type</div>
          <h2 class="heading-secondary brand-blue align-left">{{data.boundary.type}}</h2>
          <div class="heading-tiny-uppercase">Elected Representative</div>
          <h2 class="heading-secondary brand-blue align-left">{{data.boundary.elected_rep |capitalize}} ({{data.boundary.elected_party}})</h2>
      </div><!--sect-third-->
      <div class="sect-two-third grey-mist-bg rounded-sect">
          <div class="sect-parent">
              <div class="sect-half">
                  <div class="heading-tiny-uppercase">Schools</div>
                  <h2 class="heading-secondary black align-left">{{data.school_count}}</h2> 
                  <div class="heading-tiny-uppercase">Teachers</div>
                  <h2 class="heading-secondary black align-left">{{data.teacher_count}}</h2> 
                  <div class="heading-tiny-uppercase">Pupil-to-Teacher Ratio</div>
                  <div class="align-left"> <span class="heading-secondary black"> {{data.ptr}}:1 > <span class="brand-green"> 35:1 </span></span>  <span class="heading-tiny brand-green">(Recommended)</span></div>
              </div><!--sect-half-->
              <div class="sect-half">
                  <div class="heading-tiny-uppercase">Students</div>
                  <div class="module-stats-icon module-stats-boygirl"><!--1-->
                      <span class="icon-boy-girl"></span>
                      <div class="module-stats-info"><!--2-->
                          <div class="uppercase">Total</div>
                          <p class="module-stats-label">{{data.student_total}}</p>
                      </div><!--2-->
                  </div><!--1-->

                  <div class="heading-tiny-uppercase">Gender Profile</div>
                  <div class="module-stats-icon module-stats-girl"><!--2-->
                      <span class="icon-girl"></span>
                      <div class="module-stats-info"><!--3-->
                          <div class="uppercase">Girls</div>
                          <p class="module-stats-label">{{data.gender.girls}}</p>
                      </div><!--3-->          
                  </div><!--2-->    
                  <div class="module-stats-icon"><!--4-->
                      <span class="icon-boy"></span>
                      <div class="module-stats-info"><!--5-->
                          <div class="uppercase">Boys</div>
                          <p class="module-stats-label">{{data.gender.boys}}</p>
                      </div><!--5-->
                  </div><!--4-->   
                  
                  <div class="bar-graph-wrap "><!--1-->
                      <div class="bar-graph"><!--2-->
                          <div class="clear-fix"><!--3-->
                              <div class="float-left pink-salmon">{{data.boy_perc}}%</div>
                              <div class="float-right brand-blue">{{data.girl_perc}}%</div>
                          </div><!--3-->
                          <div class="bar-custom"><!--4-->
                              <div class="bar-value bar-value-100 brand-blue-bg" style="width:100%;"><!--5-->
                                  <div class="bar-value bar-value-{{data.girl_perc}} pink-salmon-bg" style="width:{{data.girl_perc}}%;"></div>
                              </div><!--5-->
                          </div><!--4-->     
                      </div> <!-- /bar-graph --><!--2-->
                  </div> <!-- /bar-graph-wrap --><!--1-->          

              </div><!--sect-half-->
          </div><!-- inner sect-parent-->
        </div><!--sect-two-third-->
      </div><!--sect-parent-->
  </script>


  <script type="text/html" id="tpl-grantSummary">
    
      <h3 class="brand-turquoise heading-border center-text">
         Annual Financial Grant Received
      </h3>
      <table class="table-base table-list-view table-base-comparison">
        <tbody>
          <tr class="table-base-heading">
            <th>School Grant</th>
            <th>School Maintenance Grant</th>
            <th>TLM Grant</th>
            <th>Total Grant</th>
            <th>Per Child</th>
            <th>Per Teacher</th>
          </tr>

          <tr class="font-smaller">
            <td>
              <div>&#8377; {{received.sg}}</div>
            </td>
            <td>
              <div>&#8377; {{received.smg}}</div>    
            </td>
            <td>
              <div>&#8377; {{received.tlm}}</div>  
            </td>
            <td>
              <div>&#8377; {{received.total}}</div>
            </td>
             <td>
              <div>&#8377; {{received.per_student}}</div>
            </td>
            <td>
              <div>&#8377; {{received.per_teacher}}</div>
            </td>
          </tr>
          
        </tbody>
    </table>
  </script>


  <script type="text/html" id="tpl-YearComparison">
      <h3 class="brand-turquoise  heading-border center-text">
        3 year comparison of infrastructure of Primary schools within this region
      </h3>
      <table class="table-base table-list-view">
        <tbody>
          <tr class="table-base-heading">
            <th>Category</th>
            <th colspan='2'>Infrastructure</th>
            <th>2013</th>
            <th>2014</th>
            <th>2015</th>
          </tr>
          {% for key in transpose %}
            {% if key.name == "school_count" %}
              <tr class="font-smaller">
                <td>Total Schools</td>  
                <td> </td>
                <td> </td>
                <td>{{key.yr2013}}</td>
                <td>{{key.yr2014}}</td>
                <td>{{key.yr2015}}</td>
              </tr>
            {% else %}
              {% set counter=1%}
              {%for each in key%}
                {% if counter > 1 %}
                <tr class="font-smaller">
                  {% if counter == 2 %}
                    <td>{{key.name}}</td>
                  {% else %}
                    <td></td>
                  {% endif %} 
                  <td>{% autoescape false %}{{each.icon}}{% endautoescape %}</td> 
                  <td>{{each.name}}</td>
                  <td class="bold {% if each.yr2013 > 50 %} brand-green {% else %} brand-orange {% endif %}">{{each.yr2013 | round}}%</td>
                  <td class="bold {% if each.yr2014 > 50 %} brand-green {% else %} brand-orange {% endif %}">{{each.yr2014 | round}}%</td>
                  <td class="bold {% if each.yr2015 > 50 %} brand-green {% else %} brand-orange {% endif %}">{{each.yr2015 | round}}%</td>
                </tr>
                {% endif %}
                {% set counter = counter|increment %}
                 
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </script>

  <script type="text/html" id="tpl-neighComparison">
    
      <h3 class="brand-turquoise heading-border center-text">
          Comparison of status of Primary school with neighbours
      </h3>
    
      <table class="table-base table-list-view table-base-comparison">
        <tbody>
          <tr class="table-base-heading">
            <th colspan="2"></th>
            {% set counter = 1 %}
            {% for each in neighbours %}
              {% if counter == 1 %}
                {% for key in each %}
                  {% if key.perc %}
                    <th>{{key.name}}</th>
                  {% endif %}
                {% endfor %}
              {% endif %}
              {% set counter = counter | increment %}
            {% endfor %}
          </tr>
          {% for each in neighbours %}
            <tr class="font-smaller">
              {% for key in each %}
                {% if key.perc %}
                  <td class="bold {% if key.perc > 50 %} brand-green {% else %} brand-orange {% endif %}">{{key.perc | round}}%</td>
                {% else %}
                  {%if key.indexOf("</span>") != -1 %}
                    <td style="width:50px">{% autoescape false %}{{key}}{% endautoescape %}</td>
                  {% else %}
                    <td style="width:200px">{{key}}</td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
          
        </tbody>
    </table>
  </script>

{% endverbatim %}