{% verbatim %}

  <script type="text/template" class="tpl-raw" data-tpl="marker_overlay" id="tpl_mobile_place_details">
    <section class="map-pin-details">
      <div class="content">
        <div class="info school">
          <div class="icon-close fr js-close-details"></div>
          <h2 class="name">{{ name }}</h2>
          <div class="item">
            <div class="label">District</div>
            <div class="value">{{ admin1.name|capitalize }}</div>
          </div>
          <div class="item">
            <div class="label">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
            <div class="value">{{ admin2.name|capitalize }}</div>
          </div>
          <div class="item">
            <div class="label">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
            <div class="value">{{ admin3.name|capitalize }}</div>
          </div>
          <div class="clr"></div>
        </div>
        <div class="details">
          <div  class="detail-item">
            <h4 class="purple-heading">Students</h4>
            <div class="gender_icons">
              <div class="stats_gender_item no_width boy">
                <span class="icon"></span>
                <p class="label">Boys</p>
                <p class="value">{{ num_boys }}</p>
                <div class="clr"></div>
              </div>
              <div class="stats_gender_item no_width girl">
                <span class="icon"></span>
                <p class="label">Girls</p>
                <p class="value">{{ num_girls }}</p>
                <div class="clr"></div>
              </div>
              <div class="stats_gender_item no_width total last">
                <span class="icon"></span>
                <p class="label">Total</p>
                <p class="value">{{ num_boys+num_girls }}</p>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="detail-item mar_top_20" style="display:none;">
            <h4 class="purple-heading">Facilities</h4>
            <div class="facility-items ta-c">
              {% if basic_facilities.computer_lab %}<div class="icon computer"></div>{% endif %}
              {% if basic_facilities.library %}<div class="icon books"></div>{% endif %}
              {% if has_volunteer_activities %}<div class="icon events"></div>{% endif %}
              {% if basic_facilities.playground %}<div class="icon football last"></div>{% endif %}
              <div class="clr"></div>
            </div>
          </div>
          <div class="mar_top_10">
            <a class="button blue fl js-trigger-volunteer-map" href="/school/{{ id }}#?tab=volunteer">Volunteer</a>
            <a class="button dark_grey last fr" href="/school/{{ id }}">More Info</a>
            <div class="clr"></div>
          </div>

        </div>
      </div>
    </section>
  </script>



<!-- Map Popup -->

  <script type="text/template" id="tpl-map-popup">
  <div class="map-pin-details">
    <div class="content">
      <div class="info school">
        <div class="icon fr">{% if type.id==1 %} S {% else %} P {% endif %}</div>
        <h2 class="name">{{ name }}</h2>
        <div class="item">
          <div class="label">District</div>
          <div class="value">{{ admin1.name|capitalize }}</div>
        </div>
        <div class="item">
          <div class="label">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
          <div class="value">{{ admin2.name|capitalize }}</div>
        </div>
        <div class="item">
          <div class="label">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
          <div class="value">{{ admin3.name|capitalize }}</div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="details">
        <div class="triangle2"></div>
        <div  class="detail-item">
          <h4 class="purple-heading">Students</h4>
          <div class="gender_icons">
            <div class="stats_gender_item no_width boy">
              <span class="icon"></span>
              <p class="label">Boys</p>
              <p class="value">{{ num_boys }}</p>
              <div class="clr"></div>
            </div>
            <div class="stats_gender_item no_width girl">
              <span class="icon"></span>
              <p class="label">Girls</p>
              <p class="value">{{ num_girls }}</p>
              <div class="clr"></div>
            </div>
            <div class="stats_gender_item no_width total last">
              <span class="icon"></span>
              <p class="label">Total</p>
              <p class="value">{{ num_boys+num_girls }}</p>
              <div class="clr"></div>
            </div>
          </div>
        </div>
        <div  class="detail-item mar_top_20">
          <h4 class="purple-heading">Facilities</h4>
          <div class="facility-items ta-c">
            {% if basic_facilities.computer_lab %}<div class="icon computer" title="Has Computers"></div>{% endif %}
            {% if basic_facilities.library %}<div class="icon books" title="Has a Library"></div>{% endif %}
            {% if has_volunteer_activities %}<div class="icon events" title="Needs Volunteers"></div>{% endif %}
            {% if basic_facilities.playground %}<div class="icon football last" title="Has a Playground"></div>{% endif %}
            <div class="clr"></div>
          </div>
        </div>
        {% if has_volunteer_activities %}
        <a class="button blue mar_top_20 js-trigger-volunteer-map" href="/school/{{ id }}#?tab=volunteer">Volunteer here</a>
        {% endif %}
        <div class="mar_top_10">
          <a class="button dark_grey fl js-trigger-compare" href="">Compare to</a>
          <a class="button dark_grey last fr Xjs-trigger-info" href="/school/{{ id }}">More Information</a>
          <div class="clr"></div>
        </div>

      </div>
    </div>
  </div>
</script>
{% endverbatim %}
