{% verbatim %}

  <script type="text/template" class="tpl-raw" data-tpl="marker_overlay" id="tpl_mobile_place_details">
    <section class="map-pin-details">
      <div class="content">
        <div class="info school">
          <div class="icon-close fr js-close-details"></div>
          <h2 class="name">{{ name }}</h2>
          <div class="item">
            <div class="label">District</div>
            <div class="value">{{ admin1.name|capitalize }}</div>
          </div>
          <div class="item">
            <div class="label">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
            <div class="value">{{ admin2.name|capitalize }}</div>
          </div>
          <div class="item">
            <div class="label">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
            <div class="value">{{ admin3.name|capitalize }}</div>
          </div>
          <div class="clr"></div>
        </div>
        <div class="details">
          <div class="detail-item">
            <h4 class="heading-tiny-uppercase">Students</h4>
            <div class="gender-icons">
              <div class="gender_item boy">
                <span class="k-icon"></span>
                <p class="label">Boys</p>
                <p class="value">{{ num_boys }}</p>
                <div class="clr"></div>
              </div>
              <div class="gender-item girl">
                <span class="k-icon"></span>
                <p class="label">Girls</p>
                <p class="value">{{ num_girls }}</p>
                <div class="clr"></div>
              </div>
              <div class="gender-item total">
                <span class="k-icon"></span>
                <p class="label">Total</p>
                <p class="value">{{ num_boys+num_girls }}</p>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="detail-item mar_top_20" style="display:none;">
            <h4 class="purple-heading">Facilities</h4>
            <div class="facility-items ta-c">
              {% if basic_facilities.computer_lab %}<div class="icon computer"></div>{% endif %}
              {% if basic_facilities.library %}<div class="icon books"></div>{% endif %}
              {% if has_volunteer_activities %}<div class="icon events"></div>{% endif %}
              {% if basic_facilities.playground %}<div class="icon football last"></div>{% endif %}
              <div class="clr"></div>
            </div>
          </div>
          <div class="mar_top_10">
            <a class="button blue fl js-trigger-volunteer-map" href="/school/{{ id }}#?tab=volunteer">Volunteer</a>
            <a class="button dark_grey last fr" href="/school/{{ id }}">More Info</a>
            <div class="clr"></div>
          </div>

        </div>
      </div>
    </section>
  </script>



<!-- Map Popup -->

  <script type="text/template" id="tpl-map-popup">
  <div class="map-pin-details">
    <span class="step-number">{% if type.id==1 %} S {% else %} P {% endif %}</span>
    <h3 class="map-heading-main">{{ name }}</h3>
    <ul class="map-location-labels">  
      <li class="map-label-each">
        <div class="map-label-title">District</div>
        <div class="map-label-name">{{ admin1.name|capitalize }}</div>
      <li class="map-label-each">
        <div class="map-label-title">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
        <div class="map-label-name">{{ admin2.name|capitalize }}</div>
      <li class="map-label-each">
        <div class="map-label-title">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
        <div class="map-label-name">{{ admin3.name|capitalize }}</div>
    </ul>
    <h4 class="gender-icons-title">Students</h4>
    <div class="gender-icons">
      <div class="gender-item gender-item-boy">
        <div class="k-icon"></div>
        <div class="center-text">
          <div class="gender-item-count">{{ num_boys }}</div>
          <div class="font-uppercase font-light font-larger">Boys</div>
        </div> 
      </div>
      <div class="gender-item gender-item-girl">
        <div class="k-icon"></div>
        <div class="center-text">
          <div class="gender-item-count">{{ num_girls }}</div>
          <div class="font-uppercase font-light font-larger">Girls</div>
        </div>
      </div>
      <div class="gender-item gender-item-total">
        <div class="k-icon"></div>
        <div class="center-text">
          <div class="gender-item-count">{{ num_boys+num_girls }}</div>
          <div class="font-uppercase font-light font-larger">Total</div>
        </div>
      </div>
    </div>
    <div class="facility-items">
      <h4 class="facility-icons-title">Facilities</h4>
      {% if basic_facilities.computer_lab %}<div class="k-icon computer" title="Has Computers"></div>{% endif %}
      {% if basic_facilities.library %}<div class="k-icon books" title="Has a Library"></div>{% endif %}
      {% if has_volunteer_activities %}<div class="k-icon events" title="Needs Volunteers"></div>{% endif %}
      {% if basic_facilities.playground %}<div class="k-icon football" title="Has a Playground"></div>{% endif %}
    </div>
    {% if has_volunteer_activities %}
    <div class="center-text">
      <a class="button js-trigger-volunteer-map" href="/school/{{ id }}/#?tab=volunteer">Volunteer here</a>
    </div> 
    <div class="base-spacing"></div>
    {% endif %}
    <div class="center-text">
      <a class="button js-trigger-compare" href="">Compare to</a>
      <a class="button-grey Xjs-trigger-info" href="/school/{{ id }}/">More Info</a>
      <a class="button-grey" href="#close">Close</a>
    </div>
  </div>
  </div>
</script>
{% endverbatim %}
