{% verbatim %}
<script type="text/html" id="tpl-volunteerOpportunity">
  <tr>
    <td>
      <div class="brand-red font-bold">{{ activity_type_details.name }}</div>
      <div class="color-grey-light-2 mt-5">{{ text }}</div>
    </td>
    <td>
      <div class="brand-green table-volunteer-school"><strong>{{ school_details.name }}</strong></div>
      {% if school_details.address_full %}
      <div class="grey-steel font-small"><strong>{{ school_details.address_full }}</strong></div>
      {% endif %}
    </td>
    <td>
      <a href="/organisation/{{ organization }}/volunteer_activity/{{ id }}" class="font-14 brand-blue">{{ users.length }} volunteers</a>
    </td>
    <td class="ta-r">
          <!--
      <div class="action-dropdown fr">
          <a href="#" class="dropdown-trigger small"></a>
          <ul class="action-dropdown-list ta-l">
            <li>
                <a href="#">Option 1</a>
            </li>
            <li>
                <a href="#">Option 2</a>
            </li>
            <li>
                <a href="#">Option 3</a>
            </li>
            <li>
                <a href="#">Option 4</a>
            </li>
          </ul>
      </div>
    -->
      <a href="/organisation/{{ organization }}/volunteer_activity/{{ id }}" class="button-sm button-hollow fr">Edit</a>
      <div class="clr"></div>
    </td>
  </tr>
</script>
<script type="text/html" id="tpl-donationRequirement">
  <tr>
    <td>
      <div class="font-bold">{{ title }}</div>
      <div>
          {{ description }}
      </div>
    </td>
    <td>
      <div class="brand-green table-donation-school">
        <strong>{{ school_details.name }}</strong>
      </div>
      <div class="grey-steel font-small">
        <strong>{{ school_details.address_full }}</strong>
      </div>
    </td>
      <td class="font-14">
        {% for item in items %}
        <div>
          {{ item.quantity }}{{ item.unit }} X 
          <span class="color-blue">{{ item.name }}</span>
        </div>
        {% endfor %}
      </td>
      <td class="ta-r">
        <div class="form-base">
          <div class="form-field-wrap">
            <select>
              <option>Some text here</option>
            </select>
          </div>
        <!--<div class="action-dropdown fr">
            <a href="#" class="dropdown-trigger small"></a>
            <ul class="action-dropdown-list ta-l">
              <li>
                  <a href="#">Option 1</a>
              </li>
              <li>
                  <a href="#">Option 2</a>
              </li>
              <li>
                  <a href="#">Option 3</a>
              </li>
              <li>
                  <a href="#">Option 4</a>
              </li>
            </ul>
          </div>-->

          <a href="/organisation/{{ organization_details.id }}/donation_requirement/{{ id }}" class="button-hollow button-sm">
            Edit
          </a>
        </div> <!-- /form-base -->
      </td>
  </tr>
</script>
{% endverbatim %}