  {% verbatim %}
<script type="text/html" id="tpl-userVolunteerActivity">
  <div class="profile-tab-content">
    <div><a class="brand-green font-larger" href="/schoolpage/school/{{ activity.school_details.id }}">{{ activity.school_details.name }}</a></div> 
        {% if activity.school_details.address_full %}
          <div><span class="heading-tiny">{{ activity.school_details.address_full }}</span></div>
        {% endif %}
    <div class="font-smallest">
      <span class="grey-steel">For</span> 
      <a class="uppercase brand-turquoise" href="/organisation/{{ activity.organization_details.id }}">{{ activity.organization_details.name }}</a>
    </div>
    <div class="profile-volunteer-date-block">
      <div class="profile-volunteer-date">{{ activity.date|date('jS F, Y') }}</div>
    {% if status == 1 %}
    <div class="profile-volunteer-verified"><span class="verified">Verified</span></div>
    {% endif %}
    </div>
  </div>
</script>
<script type="text/html" id="tpl-emptyUserVolunteerActivity">
  <div class="heading-tiny">
    This user has no volunteer activities yet.
  </div>
</script>
<script type="text/html" id="tpl-Organization">
  <div>
    <a class="black font-larger" href="/organisation/{{ id }}">{{ name }}</a>
  </div>
</script>
<script type="text/html" id="tpl-emptyOrganizations">
  <div class="no-data">
    None
  </div>
</script>
{% endverbatim %}