{% verbatim %}
    <script type="text/html" id="tpl-assessment-overall">
      <div class="assessment-class-section">
            {% for a in assessments %}
            <div class="header-strip brand-turquoise-bg center-text">
                <div class="heading-tiny-uppercase">
                    {{ a.assessmentname }}
                </div>
            </div>
            <div class="assessment-container">
                <div class="overall-score-parent">
                    <div class="overall-score center-text">
                        <h5 class="brand-purple">Overall Score</h5>
                        <div class="overall-score-value border-radius-circle border-base pgm-box-demo">
                            <div class="dead-center">
                                {{ a.score|int }}%
                                {% if a.compares.length %}
                                    {% if a.score < a.admin1_score %}
                                        <span class="fa fa-caret-down brand-red"></span>
                                    {% else %}
                                        <span class="fa fa-caret-up brand-green"></span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="base-spacing-sm"></div>
                    </div> <!-- end score -->
                    {% if a.compares.length %}
                        {% for c in a.compares %}
                            <div class="overall-comparison-admin">
                                <div class="grey-gravel center-text">
                                    <a class="js-boundaryLink" href="#" data-type="{{ c.type }}" data-id="{{ c.id }}"><h5>{{ c.name | capitalize }}</h5></a>
                                </div>
                                <div class="padded-text center-text">
                                    {{ c.score|int }}%
                                    {% if c.type != 'admin_1' %}
                                        {% if c.score < a.admin1_score %}
                                            <span class="fa fa-caret-down brand-red"></span>
                                        {% else %}
                                            <span class="fa fa-caret-up brand-green"></span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="padded-text overall-comparison">
                            No comparison available at this boundary.
                        </div>
                    {% endif %}    
                </div><!-- end parent -->
            </div><!-- end assessment container -->
          {% endfor %}
      </div><!-- end container -->

    </script>

    <script type="text/html" id="tpl-assessment-class">
      
      <!--li><a href="#" class='head container grey-silver-bg heading-tiny-uppercase js-accordion-header center-text'> <span class="white"> Class: {{ className }}  <span class="fa fa-angle-down"></span></span></a-->
      <hr/>
      <li><a href="#" class=' heading-tiny-uppercase js-accordion-header align-right'> <span class="brand-turquoise"> Class: {{ className }}  <span class="fa fa-angle-down"></span></span></a>
      <div class="base-spacing-sm"></div>
      
      <div class="content" id="{{className}}">
        <div class="container assessment-class-section">
            {% for a in assessments %}
            <div class="header-strip center-text">
                <div class="heading-tiny-uppercase">
                    {{ a.assessmentname }}
                </div>
            </div>
            <div class="border-base assessment-container">
                <div class="assessment-score-parent">
                    <div class="class-score center-text">
                        <h5 class="brand-purple">Class Score</h5>
                        <div class="overall-score-value border-radius-circle border-base pgm-box-demo">
                            <div class="dead-center">
                                {{ a.score | int}}%
                                {% if a.compares.length %}
                                    {% if c.score < a.admin1_score %}
                                        <span class="fa fa-caret-down brand-red"></span>
                                    {% else %}
                                        <span class="fa fa-caret-up brand-green"></span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if a.compares.length %}
                        {% for c in a.compares %}
                            <div class="class-comparison-admin">
                                <div class="grey-gravel center-text">
                                    <a class="js-boundaryLink" href="#" data-type="{{ c.type }}" data-id="{{ c.id }}"><h5>{{ c.name | capitalize }}</h5></a>
                                </div>
                                <div class="padded-text center-text">
                                    {{ c.score|int }}%
                                    {% if c.type != 'admin_1' %}
                                        {% if c.score < a.admin1_score %}
                                            <span class="fa fa-caret-down brand-red"></span>
                                        {% else %}
                                            <span class="fa fa-caret-up brand-green"></span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="padded-text class-comparison">
                            No comparison available at this boundary.
                        </div>
                    {% endif %}
                </div> <!-- end parent -->
                <hr/>
                <div class="assessment-graph-container">

                    <div class="gender">
                        <h5>Score by Gender</h5>
                        {% for gender in a.genders %}
                        <div>
 
                            <div class="bar-graph-wrap">
                                <div class="module-stats-icon module-stats-{{ gender.icon }} assessment-gender-icon">
                                    <span class="icon-{{ gender.icon }}"></span>
                                    <div class="module-stats-info">
                                        <div class="uppercase">{{ gender.name }}</div>
                                        <p class="module-stats-label">{{ gender.cohorts }}</p>
                                    </div>
                                </div>
                                <div class="bar-graph">
                                  <div class="bar-percent">{{ gender.score |int}}%</div>
                                  <div class="bar-custom tooltip" aria-label="{{ gender.score|int }}">
                                      <div class="bar-value grey-gravel-bg bar-value-{{ gender.score|int }}" style="width:{{ gender.score}}%;">
                                      </div>
                                  </div>
                                </div> 
                            </div>
                        
                        </div>
                        {% endfor %}
                    </div> <!-- end gender -->
                    <div class="languages bar-tab-demo-block">
                        <h5>Score by Mother-Tongue</h5>
                        {% for mt in a.mts %}
                            <div class="bar-graph-wrap">
                                <div class="bar-label heading-tiny-uppercase">
                                    {{ mt.name }}
                                </div>
                                <div class="bar-graph">
                                  <div class="bar-percent">{{ mt.score | int}}%</div>
                                  <div class="bar-custom tooltip" aria-label="{{ mt.score|int }}%">
                                      <div class="bar-value grey-gravel-bg bar-value-{{ mt.score|int }}" style="width:{{ mt.score}}%;">
                                      </div>
                                  </div>
                                </div> 
                            </div>                
                        {% endfor %}            

                    </div> <!-- end languages -->
                </div><!-- end assessment-comparison-container -->
            </div><!-- end assessment-container -->
            {% endfor %}
          </div>
        </div>
      </li>


        <!-- <div class="container assessment-section">
            Assessment name: {{ assessmentname }} <br />
            Class: {{ studentgroup }} <br />
            Academic Year: {{ academicyear_name }} <br />
            Overall Percentage: {{ percentile}}
        </div> -->
    </script>

    <script type="text/html" id="tpl-school">
        <h4 class="school-type-{{ type_name }}">
            <span class="icon-number">
              {% if type_name == 'school' %} S {% else %} P {% endif %}
            </span>
            <a class="school-link" href="/school/{{ id }}">
                {{ name }}
            </a>
        </h4>
  
      <ul class="map-location-labels font-smallest">  
        <li class="map-label-each">
          <div class="map-label-title">District</div>
          <div class="map-label-name">{{ admin1.name|capitalize }}</div>
        <li class="map-label-each">
          <div class="map-label-title">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
          <div class="map-label-name">{{ admin2.name|capitalize }}</div>
        <li class="map-label-each">
          <div class="map-label-title">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
          <div class="map-label-name">{{ admin3.name|capitalize }}</div>
      </ul>
    </script>

    <script type="text/html" id="tpl-boundary">
        <div class="boundary-parent">
            <div class="boundary-type">
                <div class="brand-green">{{ type | capitalize }}</div>
                <div class="heading-tiny-uppercase"> {{ name | capitalize }} </div>
            </div>
        </div>
    </script>

{% endverbatim %}
