{% verbatim %}

<script type="text/html" id="tpl-school-info">
    <div class="en-icon big en-{{ type_name }} school-entity-icon">
        {% if type_name == 'school' %} S {% else %} P {% endif %}
    </div>
    <h2 class="en-{{ type_name }}">{{ name }}</h2>

    <div class="address-block">
        <div class="info-item">
            <div class="label">District</div>
            <div class="value">{{ admin1.name|capitalize }}</div>
        </div>
        <div class="info-item">
            <div class="label">{% if type.id==1 %}Block {% else %} Circle {% endif %}</div>
            <div class="value">{{ admin2.name|capitalize }}</div>
        </div>
        <div class="info-item">
            <div class="label">{% if type.id==1 %}Cluster {% else %} Project {% endif %}</div>
            <div class="value">{{ admin3.name|capitalize }}</div>
        </div>
        <div class="clr"></div>
    </div>
</script>

<script type="text/html" id="tpl-tab-info">
    <div class="fl-desktop">
        {% if address_full %}
        <h4>Address</h4>
        <p>{{ address_full }}</p>
        {% endif %}

        {% if landmark %}
        <h4 class="mar_top_25">Landmark</h4>
        <p>{{ landmark }}</p>
        {% endif %}

        <h4 class="mar_top_25">School Information</h4>
        <table class="info_data_table">
            <tr>
                <td>Category</td>
                <td>{{ type.name }}</td>
            </tr>
            {% if buses %}
            <tr>
                <td>Buses</td>
                <td>{{ buses }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Gender</td>
                <td>{{ sex|capitalize }}</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>{{ moi|capitalize }}</td>
            </tr>
            {% if dise_code %}
            <tr>
                <td>DISE</td>
                <td>{{ dise_code }}</td>
            </tr>
            {% endif %}
        </table>

        <h4 class="mar_top_25">Constituency Information</h4>
        <table class="info_data_table">
            <tr>
                <td>MLA Constituency</td>
                <td>Malleswaram</td>
            </tr>
            <tr>
                <td>MLA Details</td>
                <td>Dr. Ashwath Narayan (BJP)</td>
            </tr>
            <tr>
                <td>MLA Constituency</td>
                <td>Malleswaram</td>
            </tr>
            <tr>
                <td>MLA Details</td>
                <td>DB Chandre Gowada (BJP)</td>
            </tr>
        </table>
    </div>
    <div class="photos-block fr-desktop">
        {% if images.length > 0 %}
        <h4>Photos</h4>
            {% for image in images %}
            <a href="{{ image }}" class="gallery"><img src="{{ image }}" alt=""></a>
            {% endfor %}
        {% endif %}
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
</script>

<script type="text/html" id="tpl-tab-demographics">
    <div class="fl-desktop-tablet">
        <h4>Student Information</h4>

        <div class="pie-chart-wrapper">
            <div id="num_students_piechart" class="chart fl"></div>
            <div class="gender_icons fl">
                <div class="stats_gender_item no_width boy">
                    <span class="icon"></span>
                    <p class="label">Boys</p>
                    <p class="value">{{ percent_boys }}%</p>
                    <div class="clr"></div>
                </div>
                <div class="stats_gender_item no_width girl">
                    <span class="icon"></span>
                    <p class="label">Girls</p>
                    <p class="value">{{ percent_girls }}%</p>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="fr-desktop-tablet">
        <h4>Languages</h4>
        <div class="bar_graph_hor mar_top_25">
            {% for mt, percent in mt_profile_percents %}
            <div class="item">
                <div class="label fl">{{ mt|capitalize }}</div>
                <div class="bar fr"><div class="value" style="width:{{ percent }}%;"></div></div>
                <div class="clr"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clr"></div>

    <h4 class="mar_top_25">DISE Student Profile</h4>
    <table class="info_data_table label_small">
        <tr>
            <td>Source</td>
            <td>KLP Database (2011-2012), <strong>NUEPA-DISE</strong></td>
        </tr>
    </table>

    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=demographics</b></a>
        </p>
    </div>  
</script>

<script type="text/html" id="tpl-tab-programmes">
    <h4>Programme Information</h4>
    <a href="" class="black external"><b>Akshara Foundation-Reading (2006)</b></a><br/>
    <a href="" class="black external"><b>Akshara Foundation-Remedial_Math_Level2 (2008)</b></a>

    <table class="info_data_table label_small mar_top_25">
        <tr>
            <td>Source</td>
            <td>KLP Database (2011-2012), <strong>NUEPA-DISE</strong></td>
        </tr>
    </table>
    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=programmes</b></a>
        </p>
    </div>
</script>

<script type="text/html" id="tpl-tab-finances">
    <h4>SSA GRANTS ALLOCATION</h4>

    <div class="ta_c" id="pie_chart_finance">{ Chart here }</div>

    <table class="info_data_table label_longer mar_top_25 mar_btm_25">
        <tr>
            <td>School Maintence Grant (SMG)</td>
            <td>₹ 5,000 for upto 3 classrooms and ₹ 10,000 for more than 3 classrooms.</td>
        </tr>
        <tr>
            <td>School Grant (SG)</td>
            <td>₹ 5,000 for lower primary schools and ₹ 7,000 for upper and model primary schools.</td>
        </tr>
        <tr>
            <td>Teacher Learning Material Grant (TLM)</td>
            <td>₹ 500 per teacher.</td>
        </tr>
    </table>

    <p>
        This school with 3 classrooms or fewer has 3 teachers as per DISE sources.<br/>
        It is known to receive a total annual SSA grant of ₹ 13,500.
    </p>

    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=finances</b></a>
        </p>
    </div>
</script>

<script type="text/html" id="tpl-tab-infrastructure">
    <h4>Infrastructure</h4>

    <table class="infra_data_table mar_btm_25 fl-desktop">
        {% for title, facilities in dise_facility %}
        <tr>
            <td>{{ title }}</td>
            <td>
                {% for key, value in facilities %}
                <div class="{% if value %}green{% else %}red{% endif %}">
                    {{ key }}
                </div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="infra_data_indicators fr-desktop">
        <div class="green item">Indicates infrastructure present</div>
        <div class="red item">Indicates infrastructure absent</div>
        <div class="grey item">Indicates information unavailable</div>
    </div>
    <div class="clr"></div>

    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=infrastructure</b></a>
        </p>
    </div>
</script>

<script type="text/html" id="tpl-tab-library">

    <div class="hide no-data">
        <p> No data available </p>
    </div>

    <div class="options-wrapper">
        <select name="" id="select_library_browse" class="apply-selectboxit">
            <option value="level" selected>Borrow By Level</option>
            <option value="language">Borrow By Language</option>
            <option value="aggregate">Aggregate</option>
        </select>

        <select name="" id="select_library_year" class="apply-selectboxit">
            {% for year in years %}
                <option data-selectedtext="Year {{ year }}" value={{ year }} selected>{{ year }}</option>
            {% endfor %}
        </select>

        <select name="" id="select_library_class" class="apply-selectboxit">
        {% for klass in klasses %}
            <option data-selectedtext="Class {{ klass }}" value={{ klass }} selected>{{ klass }}</option>
        {% endfor %}
        </select>

        <button class="styled hide" id="library_graph_table_switch">Switch to Table View</button>

    </div>

    <div class="ta_c" id="graph_library">{ Graph here }</div>

    <table id="table_library" class="basic_table mar_top_25" style="display:none;">
        <tr>
            <th>Month</th>
            <th>Kannada</th>
            <th>Urdu</th>
            <th>Telugu</th>
            <th>Tamil</th>
            <th>Hindi</th>
            <th>English</th>
        </tr>
        <tr>
            <td>Jan</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Feb</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Mar</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Apr</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>May</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Jun</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Jul</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Aug</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Sep</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Oct</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Nov</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Dec</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>0.4</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>

    <h4 class="mar_top_25">Akshara Library Details</h4>

    <table class="info_data_table label_long mar_top_25 mar_btm_25">
        {% for value in lib_infra %}
        <tr>
            <td>{{ loop.key }}</td>
            <td>{% if value %} {{ value }} {% else %} - {% endif %}</td>
        </tr>
        {% endfor %}
        <!--
        <tr>
            <td>Number of Books</td>
            <td>1006</td>
        </tr>
        <tr>
            <td>Number of UPS(s)</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Status Library</td>
            <td>Handed over</td>
        </tr>
        <tr>
            <td>Number of Tables</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Number of Racks</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Number of Computers</td>
            <td>-</td>
        </tr>
        -->
    </table>

    <p>DISE Reports Number of Books as : <strong>175</strong></p>

    <table class="info_data_table label_small">
        <tr>
            <td>Source</td>
            <td>KLP Database (2011-2012), <strong>NUEPA-DISE</strong></td>
        </tr>
    </table>


    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=nutrition</b></a>
        </p>
    </div>
</script>

<script type="text/html" id="tpl-tab-nutrition">
    <h4>Mid-day Meal Summary</h4>
    <div class="hide no-data">
        <p> No data available </p>
    </div>
    <div class="hide data">
        <div class="ta_c" id="graph_nutrition">{ Graph here }</div>
        <div class="top_bordered_block">
            <p>
                Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=nutrition</b></a>
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="tpl-tab-share-story">
    <div class="fl-desktop-tablet width-48p-desktop-tablet">
        <h4>Information from schools visits</h4>

        <p>
            This data is gathered from vistors sharing their experiences. It indicates whether or not the school has facilities under the headings below:
        </p>

        <table class="info_data_table label_longer mar_top_25 mar_btm_25">
            <tr>
                <td>Play Material or Sports Equipment</td>
                <td class="green">Yes</td>
            </tr>
            <tr>
                <td>Separate Room For Headmaster</td>
                <td class="red">No or Unknown</td>
            </tr>
            <tr>
                <td>Separate Toilet for Boys and Girls</td>
                <td class="green">Yes</td>
            </tr>
            <tr>
                <td>Library</td>
                <td class="green">Yes</td>
            </tr>
        </table>
    </div>

    <div class="fr-desktop-tablet width-48p-desktop-tablet">
        <div class="share-your-story">
            <a href="" id="trigger_share_story_modal" class="button orange">Share you story</a>
            <br/>
            <div class="stats first">
                <div class="number">4</div>
                <div class="text">Number of School Visits</div>
            </div>
            <div class="stats">
                <div class="number">4</div>
                <div class="text">Shared Stories</div>
            </div>
        </div>
    </div>
    <!-- <div class="clr-phone-tablet"></div> -->

    <div class="fr-desktop-tablet width-48p-desktop-tablet">

        <div class="comments mar_top_25">
            <h4>Visitor Comments</h4>
            <div class="comment-item first">
                <div class="name">Saheem Fatima</div>
                <p class="text">No electricity and no water supply.</p>
                <div class="timestamp">Shared on : July,21 2013</div>
            </div>
            <div class="comment-item">
                <div class="name">Saheem Fatima</div>
                <p class="text">No electricity and no water supply.</p>
                <div class="timestamp">Shared on : July,21 2013</div>
            </div>
            <div class="comment-item last">
                <div class="name">Saheem Fatima</div>
                <p class="text">No electricity and no water supply.</p>
                <div class="timestamp">Shared on : July,21 2013</div>
            </div>
        </div>

    </div>

    <div class="clr"></div>

    <div class="top_bordered_block">
        <p>
            Directly access this page from here <a href=""><b>http://klp.org.in/schoolpage/school/33175?tab=nutrition</b></a>
        </p>
    </div>

</script>

<script type="text/html" id="tpl-tab-volunteer">
    {% for f in features %}
    <div class="required pb-20">
        <div class="fl phn-fn mt-5 mb-5">
            <a href="#" class="font-20 color-red">{{ f.activity_type_details.name }}</a>
            <br/>
            <span class="color-grey-light-2">For </span>
            <span class="color-green-2 uppercase"> {{ f.organization_details.name }}</span>
        </div>
        <div class="tab-items fr ta-r phn-fn phn-ta-l phn-mb-10">
            <!-- 
            <a href="#" class="font-20 color-green">Gian Jyoti Public School</a>
            <br/>
            <div class="color-grey-light-2 mb-5">Street No-4, Banasawadi, Bangalore</div>
            -->
        </div>
        <div class="clr"></div>
        <p>
            {{ f.text }}
        </p>
        <div class="fl phn-fn">
            <div class="color-black bold mt-10">
                Date:
            </div>
            <div class="font-16 color-blue bold">{{ f.date|date('jS F, Y') }}</div>
        </div>
        <a class="button fr phn-fn phn-mt-10 js-volunteerHereBtn" data-id="{{ f.id }}" href="#">
            Volunteer Now
        </a>
        <div class="clr"></div>
    </div>
    {% endfor %}
</script>

{% endverbatim %}