{% verbatim %}

  <script type="text/html" id="tpl-countSummary">
    <h2 class="heading-border grey-steel">Number of Survey Respnses</h2> 
    <div>{{data.count}}</div>
  </script>
  

  <!-- There's probably a cleaner way of doing the below template without this many for loops-->
  <script type="text/html" id="tpl-responseTable">
    <table class="table-base">
      <thead class="table-base-heading">
        <tr>
        <th>Story ID</th>
        <th>Surveyed By</th>    
        <th>Date of Visit</th>
        <th>Survey Created At</th>
        <th>School Name</th>
        <th>KLP School ID</th> 
        </tr>

      </thead>
      <tbody>
  
        {% for each in data.features %}
          <tr>
          <td>{{ each.id }}</td>
          <td>{{ each.name }}</td>
          <td>{{ each.date_of_visit }}</td>
          <td>{{ each.created_at }}</td>
          <td>{{ each.school_name }}</td>
          <td><a href="{{each.school_url}}" target="_blank">{{ each.school }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </script>


{% endverbatim %}

