
<script type="text/template" id="tpl-map-popup-volunteer-opportunity">
	<div class="map-pin-details vol-oppor">
		<div class="content">
			<div class="info school">
				<div class="icon fr">S</div>
				<h2 class="name mr-30"><a href="" class="color-green">Gian Jyoti Public School</a></h2>
				<div class="address">
					Street No-4, Banasawadi, Bangalore
				</div>
			</div>
			<div class="vol-oppor-wrapper">
				<div class="vol-oppor-count ta-c">3 opportunities available</div>
				<div class="vol-oppor-item">
					<img class="thumb fl" src="images/volunteer/activity.png"/>
					<a class="button blue small clickable fr js-trigger-volunteer-confirm">Volunteer</a>
					<div class="item-info">
						<div class="item-title bold color-red">Activity Based</div>
						<div class="item-org">For <span class="uppercase color-green-2">Akshara Foundation</span></div>
					</div>
					<div class="clr"></div>
					<div class="item-desc">
						Truffaut occupy Vice you probably haven't heard of them, selfies roof. Truffaut occupy Vice you probably .Truffaut occupy Vice you probably haven't heard.
					</div>
				</div>
				<div class="vol-oppor-item">
					<img class="thumb fl" src="images/volunteer/activity.png"/>
					<a class="button blue small clickable fr js-trigger-volunteer-confirm">Volunteer</a>
					<div class="item-info">
						<div class="item-title bold color-red">Activity Based</div>
						<div class="item-org">For <span class="uppercase color-green-2">Akshara Foundation</span></div>
					</div>
					<div class="clr"></div>
					<div class="item-desc">
						Truffaut occupy Vice you probably haven't heard of them, selfies roof. Truffaut occupy Vice you probably .Truffaut occupy Vice you probably haven't heard.
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
