{% verbatim %}
<script type="text/template" id="tplVolunteerMapPopup">
	<div class="map-pin-details vol-oppor">
		<div class="content">
			<div class="info school">
				<div class="icon fr">S</div>
				<h2 class="name mr-30">
					<a href="/school/{{ features[0].school_details.id }}" class="color-green">
						{{ features[0].school_details.name }}
					</a>
				</h2>
				<div class="address">
					{% if features[0].school_details.full_address %}
						{{ features[0].school_details.full_address }}
					{% endif %}
				</div>
			</div>
			<div class="vol-oppor-wrapper">
				{% if features.length == 1 %}
				<div class="vol-oppor-count ta-c">1 opportunity available</div>
				{% else %}
				<div class="vol-oppor-count ta-c">{{ features.length }} opportunity available</div>
				{% endif %}
				{% for f in features %}
				<div class="vol-oppor-item">
					<img class="thumb fl" src="{{ f.activity_type_details.image }}"/>
					<a class="button blue small clickable fr js-trigger-volunteer-confirm js-volunteerHereBtn" data-id="{{ f.id }}">Volunteer</a>
					<div class="item-info">
						<div class="item-title bold color-{{ f.activity_type_details.color }}">
							{{ f.activity_type_details.name }}
						</div>
						<div class="item-org">For 
							<span class="uppercase color-green-2">
								<a href="/organisation/{{ f.organization_details.id }}">
									{{ f.organization_details.name }}
								</a>
							</span>
						</div>
					</div>
					<div class="clr"></div>
					<div class="item-desc">
						{{ f.text }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="tplVolunteerListItem">
	<li class="list-sidebar js-volunteerHereBtn" data-id="{{ id }}">
		<div class="font-bold brand-{{ activity_type_details.color }} ellipsis">
			{{ activity_type_details.name }}
		</div>
		<!--
		<div class="stats">
			<span class="distance">800m</span>
		</div>
		-->
		<div class="font-smallest"> 
			<span class="grey-steel">For</span> 
				<a href="/organisation/{{ f.organization_details.id }}" class="font-uppercase brand-turquoise">
					{{ organization_details.name }}
				</a>
		</div>
		<div class="brand-green font-uppercase font-smaller"><strong>{{ school_details.name }}</strong></div>
		<div class="base-spacing-sm"></div>

		<div class="font-smaller grey-steel">
			{{ text|striptags|nl2br|autolink|safe }}
		</div>
	</li>
</script>

<script type="text/html" id="tplVolunteerEmptyList">
	<li class="place_item empty">
		Sorry, we did not find any volunteer opportunities that match your query.
	</li>

</script>
{% endverbatim %}