{% verbatim %}
<script type="text/html" id="tpl-volunteerHereModal">
  <div class="modal volunteer-flow modal-volunteer second-step js-volunteerHereModal">
      <a class="button-close btn-modal-close"></a>
      <div class="content">
          <div class="heading-tiny-uppercase">Volunteer</div>
          <div class="base-spacing-sm"></div>
          <div class="steps-wrapper">
            <div class="modal-block confirmationStep" data-step-name="confirmation">
                <div class="step-confirmation">
                    <h3 class="heading-border">Confirm Details<span></span></h3>
                    <div class="icon-number brand-green">S</div>
                    <div class="h2 font-light brand-green">{{ school_details.name }}</div>
                    <div class="grey-steel font-small">
                        {% if school_details.address_full %}
                            {{ school_details.address_full }}
                        {% endif %}
                    </div>
                    <div class="base-spacing-lg-2x">
                      <div class="icon-button-round"><span class="fa fa-calendar"></span></div>
                      <div class="h1 font-light">{{ date|date('jS F, Y') }}</div>
                    </div>
                    <div class="clearfix">
                      <div class="float-left">
                          <div class="heading-tiny-uppercase">Organisation</div>
                          <div class="brand-turquoise"><strong>{{ organization_details.name }}</strong></div>
                      </div>
                      <div class="float-right">
                          <div class="heading-tiny-uppercase">Opportunity</div>
                          <div class="brand-{{ activity_type_details.color }}">
                              <strong>{{ activity_type_details.name }}</strong>
                          </div>
                      </div>
                    </div>
                    <div>
                      <div class="base-spacing-lg-x"></div> 
                      <a class="button-grey btn-modal-close">Cancel</a>
                      <a class="button btn-next-step-submit jsConfirmVolunteerBtn">Confirm</a>
                    </div>
                </div>
              </div> <!-- Step End -->
  
              <!-- <div class="step-item confirmedStep" data-step-name="submit">
                <div class="step-submit ta-c">
                  <h3 class="bordered-heading blue mb-40">Details<span></span></h3>
                  <div class="address en-school">
                    <div class="tick ma mb-10"></div>
                  <div class="message mt-10">
                    Thank You for Volunteering at
                  </div>
                      <div class="name mb-5">{{ school_details.name }}</div>
                      <div class="details">
                        {% if school_details.address_full %}
                          {{ school_details.address_full }}
                        {% endif %}                                
                      </div>
                    </div>
                    <div class="date mt-40 mb-40">
                      <div class="icon-cal"></div>
                      <div class="value">{{ date|date('jS F, Y') }}</div>
                    </div>
                    <div class="confirm-org">
                      <div>
                        <div class="org-head">Organisation</div>
                        <div class="text color-green-2">{{ organization_details.name }}</div>
                      </div>
                      <div>
                        <div class="org-head">Opportunity</div>
                        <div class="text color-{{ activity_type_details.color }}">
                          {{ activity_type_details.name }}
                        </div>
                      </div>
                    </div>
                    <div class="mt-20">
                      <a class="button  btn-modal-close">Close</a>
                    </div>
                </div>
              </div> --> <!-- Step End -->
          </div>
      </div>
  </div>
</script>
{% endverbatim %}