/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
@import url("html5-doctor-reset.css");

$color_school_map:    #ec6608;
$color_programmes:    #26b262;
$color_volunteer:     #3892e3;
$color_database:      #25b3b6;
$color_reports:       #7676bc;
$color_about:         #cb0012;
$color_maps_school:   #1DA84C;

$color_orange:        #EC6608;
$color_green:         #26b262;
$color_blue:          #3891E3;
$color_turquoise:     #24B2B6;
$color_purple:        #7575BC;
$color_red:           #CB0012;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Lato', sans-serif;
$base-font-weight: $regular;
$base-font-size: 12px;
$base-line-height: 1.4;

$base-text-color: #6d6d6d;
$p-font-size: 16px;
$p-line-height: 28px;

$primary-border-color: #d8d8d8;





