.page-contact{
	padding-bottom: 25px;

	.contact-form-wrapper{
		width:640px; margin:0 auto;

		.contact-form-input{
			width:94%;
		}

		@include if-device(phone-tablet) {
			width:auto;
			.contact-form-input{
				width:94%;
			}
		}
	}
}