/* RESET.CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* end RESET.CSS */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/* FONTS + TYPOGRAPHY */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Reg-webfont.eot");
  src: url("../fonts/lato/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Reg-webfont.woff") format("woff"), url("../fonts/lato/Lato-Reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-RegIta-webfont.eot");
  src: url("../fonts/lato/Lato-RegIta-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-RegIta-webfont.woff") format("woff"), url("../fonts/lato/Lato-RegIta-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bol-webfont.eot");
  src: url("../fonts/lato/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bol-webfont.woff") format("woff"), url("../fonts/lato/Lato-Bol-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Lig-webfont.eot");
  src: url("../fonts/lato/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Lig-webfont.woff") format("woff"), url("../fonts/lato/Lato-Lig-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.font-base-family, .form-base .input-text, .form-base textarea, .form-base select, body {
  font-family: "Lato", sans-serif; }

.font-italic, em, i {
  font-style: italic; }

.font-bold, strong, b, .heading-tertiary, .heading-tiny-uppercase, .heading-section-ul-alt, .step-number, .button, .button-grey, .button-orange, .button-hollow, .alert, .nav li, .nav-footer-menu-links, .home-current-subheading, .volunteer-story-link, .map-location-labels, .gender-icons-title, .facility-icons-title, .gender-item-count {
  font-weight: 700; }

.font-light, .heading-secondary, .banner-full-caption, .module-img-each, .about-map {
  font-weight: 300; }

.font-uppercase, .heading-tertiary, .heading-section-ul-alt, .scroll-smooth-block, .module-img-each h3:first-of-type, .heading-volunteer-box, .map-heading-main, .map-label-title, .gender-icons-title, .facility-icons-title {
  text-transform: uppercase; }

.font-base-size, body {
  font-size: 16px; }

.font-small, .heading-section-ul-alt, .nav-footer .k-icon, .partners-list-block ul, .map-pin-details .step-number, .map-location-labels, .gender-icons-title, .facility-icons-title {
  font-size: 90%; }

.font-smaller, .heading-tiny, .heading-section-block, .step-number, .error-message, .stories-list-each, .home-blog-list, .heading-volunteer-box, .volunteer-story-link {
  font-size: 80%; }

.font-smallest, .button-sm, .scroll-smooth-block, .nav li li, .nav > li > a, .nav-footer-menu-links, .footer-copyright, .subheader-wrapper, .school-type-preschool .step-number, .school-type-school .step-number {
  font-size: 70%; }

.font-large, .alert, .volunteer-story-heading {
  font-size: 110%; }

.font-larger {
  font-size: 120%; }

.font-largest {
  font-size: 130%; }

h6, .h6 {
  font-size: 90%; }

h5, .h5, .heading-tertiary {
  font-size: 120%; }

h4, .h4, .heading-section {
  font-size: 130%; }

h3, .h3, .about-map {
  font-size: 140%; }

h2, .h2, .heading-secondary, .home-current-block h3:first-of-type, .gender-item-count {
  font-size: 150%; }

h1, .h1 {
  font-size: 170%; }

h6, h5, h4, h3, h2, h1 {
  margin: 0 0 15px 0; }

p, ul, ol {
  margin: 0 0 15px 0; }

sub, sup {
  font-size: 65%;
  position: relative;
  line-height: 0; }

sup {
  top: -8px; }

sub {
  bottom: -8px; }

.heading-border:after, .heading-primary:after {
  content: '';
  display: block;
  margin: 10px auto 0;
  width: 80px;
  height: 5px;
  background-color: currentColor; }

.heading-primary {
  font-size: 220%;
  line-height: 1.5;
  margin: 50px 0;
  letter-spacing: 1px;
  text-transform: uppercase; }

.heading-secondary {
  text-transform: uppercase; }

.heading-tertiary {
  color: #4d4d4d;
  margin-bottom: 25px; }

.heading-tiny {
  color: #898989; }

.heading-tiny-uppercase {
  color: #898989;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px; }

.heading-section {
  display: inline-block;
  color: #898989;
  text-transform: uppercase;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 1px 1px 0px #d8d8d8;
  padding: 5px 20px;
  margin: 50px 20px 0;
  letter-spacing: 1px; }

.heading-section-block {
  background: #f6f6f6;
  padding: 15px 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #d8d8d8;
  margin: -10px 0 50px 0; }
  .heading-section-block > ul {
    margin-bottom: 0; }
  .heading-section-block li {
    display: inline-block;
    vertical-align: top;
    padding: 2px 20px 2px 5px;
    position: relative;
    top: 2px; }
    .heading-section-block li:before {
      content: "\f10c";
      font-family: "FontAwesome";
      font-size: 5px;
      position: absolute;
      left: -5px;
      top: 5px; }
  .heading-section-block a {
    display: block; }
    .heading-section-block a:hover {
      color: #7bb6ec; }

.heading-section-block, .heading-section-block a {
  color: #898989; }

.heading-section-ul-alt {
  letter-spacing: 1px;
  margin-bottom: 0; }
  .heading-section-ul-alt li:before {
    content: ""; }
  .heading-section-ul-alt a {
    color: #4d4d4d; }

.ul-base {
  list-style-type: disc;
  margin-left: 20px; }
  .ul-base li {
    padding-left: 10px; }

/*//list: with colored bullets
.list-bullet-colored {

  li {
    &:before {
      content: "\f111";
      font-family: "FontAwesome"; 
      margin-right: $base-spacing;           
    } 

    &:first-of-type:before {
      color: $brand-orange;    
    }

    &:nth-of-type(2):before {
      color: $orange-mild;    
    }

    &:nth-of-type(3):before {
      color: $yellow-mild;    
    }

    &:nth-of-type(4):before {
      color: $green-pista;    
    }
    &:nth-of-type(5):before {
      color: $brand-green;    
    }
  }
}
*/
.text-bordered {
  border: 1px solid #d8d8d8;
  padding: 10px 15px; }

.step-number {
  border: 1px solid;
  display: inline-block;
  padding: 7px 10px;
  line-height: 1; }

/*-------------------------------------*/
/* global SITE styles */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/* COLORS */
.brand-orange, .heading-volunteer-box {
  color: #ec6608; }

.brand-orange-bg, .alert.warning, .home-current-community h3:first-of-type:after {
  background-color: #ec6608; }

.brand-green, .home-help-visit h3:first-of-type, .school-type-school, .map-pin-details .step-number, .map-heading-main {
  color: #26b262; }

.brand-green-bg, .alert.success, .home-help-visit .module-img, .home-current-updates h3:first-of-type:after, .heading-volunteer-box:after {
  background-color: #26b262; }

.brand-blue, .modal .heading-border, .home-help-volunteer h3:first-of-type, .volunteer-works-teach h3:first-of-type, .facility-items .k-icon, .gender-item-boy .gender-item-count {
  color: #3891e3; }

.brand-blue-bg, .button, .button-grey, .button-orange, .alert, .home-help-volunteer .module-img, .home-current-stories h3:first-of-type:after, .volunteer-works-teach .module-img, .gender-item-boy .k-icon {
  background-color: #3891e3; }

.brand-turquoise, .home-help-donate h3:first-of-type, .volunteer-works-share h3:first-of-type, .volunteer-story-heading {
  color: #24b2b6; }

.brand-turquoise-bg, .home-help-donate .module-img, .volunteer-works-share .module-img {
  background-color: #24b2b6; }

.brand-purple, .school-type-preschool {
  color: #7575bc; }

.brand-purple-bg {
  background-color: #7575bc; }

.brand-red, .error-message, .about-map span {
  color: #cb0012; }

.brand-red-bg, .alert.error {
  background-color: #cb0012; }

.white, .link-external:after, .button, .button-grey, .button-orange, .button:hover, .button:focus, .button-grey:hover, .button-orange:hover, .button-grey:focus, .button-orange:focus, a.button, .banner-full-caption, .input-checkbox:checked + .input-checkbox-label:before, .main-footer, .main-footer a, .home-help-block, .gender-item .k-icon:before, .gender-item .k-icon:after {
  color: #fff; }

.white-bg, .heading-section, .step-number, .scroll-smooth-block, .box-info, .input-checkbox + .input-checkbox-label:before, .input-radio + .input-radio-label:before, body, .main-header, .nav, .nav ul {
  background-color: #fff; }

.yellow-mild {
  color: #ffeda0; }

.yellow-mild-bg {
  background-color: #ffeda0; }

.orange-mild {
  color: #faa060; }

.orange-mild-bg {
  background-color: #faa060; }

.green-pista {
  color: #addd8e; }

.green-pista-bg {
  background-color: #addd8e; }

.black {
  color: #000; }

.black-bg {
  background-color: #000; }

.grey-steel {
  color: #898989; }

.grey-steel-bg {
  background-color: #898989; }

.link-color, a {
  color: #3891e3; }

.link-hover-color, a:hover, a:focus, a:active {
  color: #7bb6ec; }

/*-------------------------------------*/
.base-spacing {
  padding: 10px 0; }

.base-spacing-sm {
  padding: 5px 0; }

.base-spacing-mid {
  padding: 15px 0; }

.base-spacing-lg {
  padding: 20px 0; }

.base-spacing-lg-x, .data-each, .volunteer-story-each {
  padding: 25px 0; }

.base-spacing-lg-2x, .home-help-block, .home-current-block, .home-volunteer-request, .volunteer-works-block {
  padding: 50px 0; }

/*-------------------------------------*/
/* BORDER-RADIUS */
.border-radius, .alert {
  border-radius: 6px; }

.border-radius-sm, .heading-section, .text-bordered, .button, .button-grey, .button-orange, .button-hollow, .box-info, .form-base .input-text, .form-base textarea, .form-base select, .input-checkbox + .input-checkbox-label:before {
  border-radius: 3px; }

.border-radius-circle, .step-number, .link-external:after, .module-img, .input-radio + .input-radio-label:before, .about-map-image, .gender-item .k-icon {
  border-radius: 50%; }

/*-------------------------------------*/
a {
  text-decoration: none; }
  a:focus {
    outline: none; }

.link-external {
  color: inherit;
  display: inline-block; }
  .link-external:after {
    content: "\f064";
    font-family: 'FontAwesome';
    font-size: 9px;
    background: #898989;
    padding: 3px;
    margin: 0 5px;
    line-height: 1;
    display: inline-block;
    text-decoration: none; }

.link-external:hover, .link-external:focus {
  text-decoration: underline; }
  .link-external:hover:after, .link-external:focus:after {
    background: #7bb6ec; }

/*-------------------------------------*/
img, video {
  max-width: 100%;
  height: auto; }

.full-width, .form-signup .input-text, .form-login .input-text {
  width: 100%; }

/*.box-shadow-base, %box-shadow-base {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}*/
/* end global SITE styles */
/* GLOBAL HELPER classes */
/* includes helpful site-agnostic classes and placeholders */
.align-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after, .heading-section-block:after {
  content: "";
  display: table;
  clear: both; }

.center-text, .heading-border, .heading-primary:after, .heading-primary, .heading-secondary, .heading-section, .step-number, .button, .button-grey, .button-orange, .button-hollow, .alert, .banner-full, .scroll-smooth-block, .module-img-each, .input-checkbox + .input-checkbox-label:before, .input-radio + .input-radio-label:before, .about-map, .logo-wrapper, .partners-list-block, .facility-items, .gender-icons-title, .facility-icons-title {
  text-align: center; }

.center-element, .box-info, .module-img-each, .module-img {
  margin-left: auto;
  margin-right: auto; }

.center-element-inline {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.vertical-center, .gender-item-total .k-icon:before, .gender-item-total .k-icon:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.dead-center, .module-img img, .gender-item-boy .k-icon:before, .gender-item-girl .k-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* add this to the parent of the element you want to vertically and horizontally center */
.vertical-align-top {
  display: inline-block;
  vertical-align: top; }

.vertical-inline-middle, .button, .button-grey, .button-orange, .button-hollow, .input-checkbox, .radio-checkbox, .input-checkbox-label, .radio-checkbox-label, .input-checkbox + .input-checkbox-label:before, .input-radio + .input-radio-label:before, .banner-reading .banner-full-caption span.h1 {
  display: inline-block;
  vertical-align: middle; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.heading-section-block a:hover, .link-external, .nav, .footer-wrapper a, .breadcrumb a, .banner-home .banner-full-caption a, .volunteer-story-link:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.scroll-smooth-links a:hover, .scroll-smooth-links a:focus {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #d8d8d8;
  margin: 25px 0; }

/*-------------------------------------*/
.button, .button-grey, .button-orange, .button-hollow {
  font-size: 75%;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none; }

.button, .button-grey, .button-orange {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  border: none; }
  .button:hover, .button:focus, .button-grey:hover, .button-orange:hover, .button-grey:focus, .button-orange:focus {
    box-shadow: none;
    top: 1px; }

.button-grey {
  background-color: #898989; }

.button-orange {
  background-color: #ec6608; }

.button-hollow {
  background-color: transparent;
  color: #898989;
  border: 1px solid; }

.button-sm {
  padding: 5px 10px; }

/*-------------------------------------*/
/* NOTIFICATIONS AND ALERTS */
.alert {
  position: fixed;
  top: 42px;
  left: 5%;
  right: 5%;
  opacity: 0.9;
  padding: 10px 30px 10px;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
  .alert:after {
    font-family: 'FontAwesome';
    position: absolute;
    top: 10px;
    right: 10px; }

.alert.success:after {
  content: "\f14a"; }

.alert.warning:after {
  content: "\f071"; }

.alert.error:after {
  content: "\f057"; }

/*-------------------------------------*/
/* VIDEO RESPONSIVE */
.video-iframe-responsive {
  margin-bottom: 50px; }

/*-------------------------------------*/
/* BANNERS: FULLWIDTH; */
.banner-full {
  padding: 25px 20px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #898989;
  background-size: cover;
  position: relative; }

.banner-content {
  position: relative; }

.banner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%; }

.banner-full-caption {
  padding-bottom: 25px; }

/*-------------------------------------*/
/* NAVIGATION: SMOOTH-SCROLL */
.scroll-smooth-block {
  border-bottom: 1px solid #d8d8d8;
  letter-spacing: 1px; }

.scroll-smooth-links {
  margin-bottom: 0; }
  .scroll-smooth-links li, .scroll-smooth-links a {
    display: inline-block;
    vertical-align: top; }
  .scroll-smooth-links a {
    padding: 10px 15px; }
    .scroll-smooth-links a:hover, .scroll-smooth-links a:focus {
      background-color: #f6f6f6; }

.scroll-smooth-links, .scroll-smooth-links a {
  color: #4d4d4d; }

/*-------------------------------------*/
/* BORDERS */
.border-grey-cloud {
  border: 1px solid #d8d8d8; }

/*-------------------------------------*/
/* CIRCULAR BULLETS */
.circle-bullet {
  color: inherit;
  padding-bottom: 7px; }
  .circle-bullet:before {
    content: "\f111";
    font-family: "FontAwesome";
    margin-right: 10px; }
  .circle-bullet.brand-green:before {
    color: #26b262; }
  .circle-bullet.brand-blue:before {
    color: #3891e3; }
  .circle-bullet.green-pista:before {
    color: #addd8e; }
  .circle-bullet.brand-orange:before {
    color: #ec6608; }
  .circle-bullet.orange-mild:before {
    color: #faa060; }
  .circle-bullet.yellow-mild:before {
    color: #ffeda0; }
  .circle-bullet.white:before {
    color: #d8d8d8;
    content: "\f1db"; }

/*-------------------------------------*/
/* BOX INFO */
.box-info {
  padding: 25px;
  line-height: 1.3; }

/*-------------------------------------*/
/* MODULE: IMG */
.module-img-wrapper .heading-secondary {
  margin-bottom: 50px; }

.module-img-each {
  margin-bottom: 50px; }
  .module-img-each:last-of-type {
    margin-bottom: 0; }
  .module-img-each .step-number {
    position: relative;
    top: 10px;
    z-index: 1; }

.module-img-each {
  max-width: 500px; }

.module-img {
  width: 140px;
  height: 140px;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .module-img img {
    max-width: 85%; }

/*-------------------------------------*/
/* TABS */
/*  .tab-wrapper {
    border: 1px solid $grey-cloud;
  }

  .tab-heading {
    text-decoration: none;
    display: block;
    padding: $base-spacing-sm $base-spacing;
    color: inherit;
    text-transform: uppercase;
    border-bottom: 1px solid;
  }

  .tab-each:last-of-type .tab-heading {
    border-bottom: none;
  }

  .tab-each:first-of-type .tab-content {
    display: block;
  }

  .tab-heading, .tab-heading-active {
    border-color: $grey-cloud;
  }

  .tab-heading.tab-heading-active {
    background: $grey-mist;
  }

  .tab-content {
    display: none;
    padding: 10px;
    border-bottom: 1px solid $grey-cloud;
    @extend %white-bg;
    
    &.tab-active {
      display: block;
    }
  }

  @media only screen and (min-width: 600px) {
    .tab-wrap {
      position: relative;
      max-width: 700px;
      border: none;
      border-bottom: 1px solid $grey-cloud;
    }

    .tab-heading.tab-heading-active {
      background: #fff;
    }

    .tab-each {
      display: inline-block;
      vertical-align: top;
    }

    .tab-heading {
      border-bottom: none;
      position: relative;
      top: 1px;
      background: #fff;
    }

    .tab-content {
      position: absolute;
      left: 0;
      right: 0;
      border: 1px solid $grey-cloud;
      border-top: none;
    }

    .tab-heading-active {
      border: 1px solid $grey-cloud;
      border-bottom: none;
    }
  }
*/
/*-------------------------------------*/
/* CMS DEFAULT STYLES */
.float-left-padding, .float-right-padding {
  margin: 25px auto;
  display: block; }

/*.cms-default-styles {
  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }

  a {
    @extend %brand-1-color;

    &:hover {
    }
  }
}*/
/* end CMS DEFAULT STYLES */
/* end GLOBAL HELPER classes */
/*  */
/* GRID STYLING */
.container, .heading-section-block > ul, .scroll-smooth-links, .header-content, .banner-home-container, .container-sm, .banner-full-caption {
  margin-left: auto;
  margin-right: auto; }

.container, .heading-section-block > ul, .scroll-smooth-links, .header-content, .banner-home-container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px; }

.container-sm, .banner-full-caption {
  max-width: 520px; }

.grid-parent, .footer-wrapper, .gender-icons {
  margin-left: -20px;
  margin-right: -20px; }
  .grid-parent:after, .footer-wrapper:after, .gender-icons:after {
    content: "";
    display: table;
    clear: both; }

.grid-child, .main-footer, .gender-item {
  padding-left: 20px;
  padding-right: 20px; }

.main-header, .nav, .nav-trigger, .scroll-smooth-block {
  z-index: 3000; }

.alert {
  z-index: 2500; }

.banner-content {
  z-index: 1; }

.school-map-info {
  z-index: 1; }

/*-------------------------------------*/
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none; }

textarea {
  vertical-align: top; }

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], textarea, select {
  border: 1px solid #d8d8d8; }
  input[type="text"].placeholder, input[type="email"].placeholder, input[type="number"].placeholder, input[type="tel"].placeholder, input[type="password"].placeholder, textarea.placeholder, select.placeholder {
    color: #bbb; }
  input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #bbb; }
  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #bbb; }
  input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #bbb; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    outline: 0; }

.form-base .input-text, .form-base textarea, .form-base select {
  padding: 8px; }
  .form-base .input-text:focus, .form-base textarea:focus, .form-base select:focus {
    border-color: #3891e3; }
.form-base label {
  padding: 10px 0; }

.input-checkbox, .input-radio {
  opacity: 0;
  position: absolute; }

.input-checkbox, .radio-checkbox, .input-checkbox-label, .radio-checkbox-label {
  cursor: pointer; }

.input-checkbox-label, .input-radio-label {
  position: relative;
  cursor: pointer; }

.input-checkbox + .input-checkbox-label:before, .input-radio + .input-radio-label:before {
  border: 2px solid #bbb;
  content: "";
  font-size: 12px;
  line-height: 1.1;
  width: 12px;
  height: 12px;
  padding: 2px;
  margin-right: 5px; }

.input-checkbox:checked + .input-checkbox-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #bbb; }

.input-radio:checked + .input-radio-label:before {
  background: #bbb;
  box-shadow: inset 0px 0px 0px 4px #fff; }

.form-field-wrap {
  padding: 0 0 20px 0; }

/*-------------------------------------*/
input[disabled], input[disabled] + .input-checkbox-label, input[disabled] + .input-radio-label {
  cursor: not-allowed; }

input[disabled], .input-checkbox[disabled] + .input-checkbox-label:before, .input-radio[disabled] + .input-radio-label:before {
  border-color: #e9e9e9; }

input:checked[disabled], .input-checkbox[disabled]:checked + .input-checkbox-label:before, .input-radio[disabled]:checked + .input-radio-label:before {
  background: #e9e9e9;
  border-color: #e9e9e9; }

/*-------------------------------------*/
.error-message {
  padding-top: 5px; }

input.error {
  border-color: #cb0012; }

/*-------------------------------------*/
/*
// currently when i hit submit on the login form, it repeats the error message one below the other. whoops 
// remove all extra classes in _login_modal.html if they're not being used later
//check small jump on mobile when clicking a dropdown   
// ask batpad if we can remove the checked="", disabled, equal part, HTML5 style
// speak to batpad about checked + disabled input radio styling, right now clicking another removes the checked state on the checked + disabled
//what is this reports at the top of reports?
//was the plan for each of the pages to have a different color? seems so in their styleguide. can do stuff accordingly for this.
//background size used without webkit prefix needed only for android 2.3
//on library page, both blue and yellow show 9-10 sentences
//ask sanj if there's an error with volunteer page recently share stories.
//add a class for link-hover-underline for all those sorta links later
//consider adding a separate class for the header in breadcrumb for map and removing 
the css in the head of map.html

//MY Learnings for boilerplate;
-- add better custom radio checkbox styling
-- add disabled styling for radio, checks and inputs
-- change img-fullwidth class to simply full-width
--- give classes to inputs; enough of these attribute selectors

*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #5F5F5F;
  line-height: 1.6;
  font-weight: 400; }

/*-------------------------------------*/
.main-header {
  border-bottom: 1px solid #d8d8d8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 42px; }

.logo, .top-nav {
  display: inline-block;
  vertical-align: top; }

.logo {
  padding: 6px 20px 0 0; }

.nav, .nav-trigger {
  position: fixed; }

.nav-trigger {
  font-size: 22px;
  color: #000;
  right: 10px;
  top: 5px;
  cursor: pointer; }

.nav {
  list-style-type: none;
  width: 220px;
  right: -220px;
  top: 42px;
  bottom: 0;
  overflow: auto;
  box-shadow: 0 2px 2px 0 rgba(77, 77, 77, 0.2);
  border: 1px solid #d8d8d8; }
  .nav ul {
    display: none; }
  .nav li {
    text-transform: uppercase;
    padding: 0 15px;
    cursor: pointer; }
    .nav li li {
      text-transform: capitalize;
      display: block;
      font-weight: normal; }
      .nav li li a {
        line-height: 1;
        padding: 0 10px;
        margin: 20px 0;
        border-left: 2px solid;
        border-color: transparent; }
      .nav li li:hover a {
        border-color: inherit; }
    .nav li.brand-orange a, .nav li.brand-green a, .nav li.brand-blue a, .nav li.brand-turquoise a, .nav li.brand-purple a, .nav li.brand-red a {
      color: inherit; }
  .nav > li > a {
    border-left: 3px solid;
    padding: 0 10px;
    margin: 7px 0; }
  .nav a {
    display: block; }

.nav-open {
  right: 0;
  transition: all 0.35s ease-in; }

/*-------------------------------------*/
.main-footer {
  background: #4d4d4d;
  border-top: 10px solid #343434; }

.footer-wrapper {
  padding-top: 20px;
  padding-bottom: 20px; }

.nav-footer {
  margin-bottom: 10px; }
  .nav-footer li {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 0 0; }
  .nav-footer .k-icon {
    vertical-align: top; }

.nav-footer-menu-links {
  text-transform: uppercase; }

.copyright {
  color: #d8d8d8;
  padding-top: 5px;
  clear: both; }

/*-------------------------------------*/
.main {
  position: relative;
  top: 42px; }

/*-------------------------------------*/
.profile-login-block {
  float: right; }

.profile-options-wrapper {
  position: relative; }
  .profile-options-wrapper.show-drop .profile-options {
    background-color: rgba(0, 0, 0, 0.05); }
  .profile-options-wrapper.show-drop .options-list {
    display: block; }

.profile-options {
  margin: 10px 0 0 0; }

.options-list {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 2;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #fff; }
  .options-list li a {
    display: block;
    color: #5f5f5f;
    padding: 10px; }
    .options-list li a:hover {
      text-decoration: none; }
  .options-list li:hover {
    background-color: #F6F6F6; }

/*-------------------------------------*/
.subheader-wrapper {
  background: #f6f6f6;
  padding: 10px 0;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05); }

.breadcrumb a {
  color: #898989;
  padding: 0 10px 0 0; }
  .breadcrumb a:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-left: 10px; }
  .breadcrumb a:last-of-type:after {
    content: ""; }
  .breadcrumb a:hover {
    color: #7bb6ec; }

/*-------------------------------------*/
.modal .heading-border {
  margin-bottom: 40px; }

/*-------------------------------------*/
.banner-home {
  background-image: url("/static/images/bg_blackboard_big.jpg"); }
  .banner-home .banner-full-caption {
    margin-left: 0; }
    .banner-home .banner-full-caption a:hover, .banner-home .banner-full-caption a:focus {
      text-decoration: underline; }

.banner-home-container {
  text-align: left;
  position: relative; }
  .banner-home-container a {
    color: #bbb; }
    .banner-home-container a:hover {
      color: #7bb6ec; }

.banner-home-student {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 200px;
  display: none; }

.banner-caption-klp {
  margin-top: 20px; }

.home-help-block {
  background-color: #2c3e50; }

.home-current-block .module-img {
  border: 1px solid #5F5F5F; }

.home-current-subheading {
  margin-bottom: 20px; }

.stories-list-each, .home-blog-list {
  text-align: left;
  margin: 10px 0 0 0; }

.home-volunteer-request {
  background-color: #c7e0f7; }

/*-------------------------------------*/
.about-map {
  background: #f6f6f6;
  max-height: 140px;
  margin: 50px 0; }

.about-map-link {
  position: relative;
  top: -22px;
  display: block; }

.about-map-image {
  border: 1px solid #cb0012;
  margin-right: 15px;
  max-width: 100px; }

.about-map-url {
  display: block; }

/*-------------------------------------*/
.logo-wrapper > img {
  padding: 20px;
  max-width: 130px; }

.partners-list-block {
  margin: 50px 0; }
  .partners-list-block ul {
    line-height: 1.8; }
  .partners-list-block .partners-list {
    padding-bottom: 20px; }
    .partners-list-block .partners-list:last-of-type {
      padding-bottom: 0; }

.data-each:first-of-type {
  padding-top: 0; }

.banner-reading, .banner-sikshana {
  background-image: url("/static/images/bg_header_reading_programme.jpg"); }

.banner-reading .banner-full-caption span.h1 {
  font-size: 200%;
  line-height: inherit;
  padding-right: 5px; }

.banner-maths {
  background-image: url("/static/images/bg_header_maths_programme.jpg"); }

.banner-library {
  background-image: url("/static/images/bg_header_library_programme.jpg"); }

.banner-preschool {
  background-image: url("/static/images/bg_header_preschool_programme.jpg"); }

.library-grade-levels li span {
  display: inline-block; }
.library-grade-levels li > span:first-of-type {
  min-width: 120px; }
.library-grade-levels li > span:last-of-type {
  padding-left: 25px; }

.banner-volunteer {
  background-image: url("/static/images/bg_blackboard_big.jpg");
  padding: 50px 0; }
  .banner-volunteer .box-info {
    max-width: 400px; }

.banner-volunteer-info {
  position: relative; }

.heading-volunteer-box {
  letter-spacing: 1px; }

.banner-volunteer-girl, .banner-volunteer-boy {
  display: none; }

.volunteer-works-block {
  background-color: #c7e0f7; }

.volunteer-works-locate .module-img {
  background-color: #e17e5b; }
.volunteer-works-locate h3:first-of-type {
  color: #e17e5b; }

.volunteer-stories {
  background-color: #f6f6f6; }
  .volunteer-stories .heading-tiny {
    color: #bbb; }

.volunteer-story-link {
  color: #5F5F5F; }
  .volunteer-story-link:hover {
    text-decoration: underline; }

.school-map-wrapper {
  height: 300px;
  position: relative; }
  .school-map-wrapper .map-canvas {
    width: 100%;
    height: inherit; }

.school-map-info {
  position: relative;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8); }

.school-type-preschool, .school-type-school {
  letter-spacing: 1px;
  line-height: 1; }
  .school-type-preschool .step-number, .school-type-school .step-number {
    line-height: 1;
    position: relative;
    top: -2px; }

.school-details {
  margin-top: 160px;
  font-size: 85%; }
  .school-details .heading-tiny-uppercase {
    margin-top: 20px; }

.org-tab-content {
  border-bottom: 1px solid #d8d8d8; }

.org-tab-date-block {
  padding: 0 0 20px 0; }

.org-tab-button {
  margin: 10px 0 0 0; }

.map_canvas_full {
  position: fixed;
  top: 79px;
  left: 0;
  right: 0;
  bottom: 0; }
  .map_canvas_full > div {
    height: 100%; }

.map-pin-details .step-number {
  padding: 5px 7px;
  position: absolute;
  right: 20px; }

.map-heading-main {
  padding-right: 40px;
  word-wrap: break-word;
  margin: 0 0 5px 0; }

.map-location-labels {
  word-wrap: break-word; }

.map-label-each {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  padding-right: 10px; }
  .map-label-each:last-of-type {
    padding-right: 0; }

.leaflet-container a.button-grey, .leaflet-container a.button {
  color: white;
  font-size: 85%;
  padding: 10px; }

.map-label-title {
  color: #898989;
  letter-spacing: 1px; }

.facility-items .k-icon {
  display: inline-block;
  vertical-align: top;
  font-family: 'FontAwesome';
  font-size: 18px;
  margin: 0 0 15px 0; }
  .facility-items .k-icon:before {
    margin: 5px; }
.facility-items .computer:before {
  content: "\f109"; }
.facility-items .book:before {
  content: "\f02d"; }
.facility-items .events:before {
  content: "\f073"; }
.facility-items .football:before {
  content: "\f1e3"; }

.gender-icons-title, .facility-icons-title {
  letter-spacing: 1px;
  color: #898989;
  margin-top: 15px; }

.gender-icons {
  margin-bottom: 10px; }

.gender-item {
  width: 33.33%;
  float: left; }
  .gender-item .k-icon {
    width: 44px;
    height: 44px;
    position: relative;
    margin-left: 15px; }
    .gender-item .k-icon:before, .gender-item .k-icon:after {
      font-family: "FontAwesome";
      font-size: 20px; }

.gender-item-count {
  padding: 5px 0 0 0; }

.gender-item-boy .k-icon:before {
  content: "\f183"; }

.gender-item-girl .k-icon {
  background-color: #f87c84; }
  .gender-item-girl .k-icon:before {
    content: "\f182"; }
.gender-item-girl .gender-item-count {
  color: #f87c84; }

.gender-item-total .k-icon {
  background-color: #2c3e50; }
  .gender-item-total .k-icon:before {
    content: "\f182";
    margin-left: 22px; }
  .gender-item-total .k-icon:after {
    content: "\f183";
    margin-left: 9px; }
.gender-item-total .gender-item-count {
  color: #2c3e50; }

.marker-cluster-school {
  background-color: rgba(38, 178, 98, 0.6); }

.marker-cluster-school div {
  background-color: rgba(38, 178, 98, 0.6); }

.marker-cluster-preschool {
  background-color: rgba(133, 100, 216, 0.6); }

.marker-cluster-preschool div {
  background-color: rgba(133, 100, 216, 0.6); }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  margin-left: -20px !important;
  margin-top: -20px !important;
  width: 40px !important;
  height: 40px !important; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none; }

.leaflet-control-layers-toggle {
  background-image: url("../images/map/layers.png");
  width: 36px !important;
  height: 36px !important; }

.en-icon {
  display: inline-block; }

.leaflet-control-layers {
  border-radius: 5px 5px 0px 0px; }

.leaflet-control-layers label {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #CCC; }

.leaflet-control-layers label:last-of-type {
  border-bottom: none; }

.leaflet-control-layers.leaflet-control-layers-expanded {
  box-shadow: 0px 3px 3px 0px rgba(77, 77, 77, 0.3);
  width: 220px;
  border-radius: 0px;
  background: none repeat scroll 0% 0% #F4F4F4; }

.leaflet-container {
  font-family: "Lato",sans-serif; }

.leaflet-control-layers input {
  float: right; }

.filter-control {
  margin-top: 0px !important;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.filter-tool {
  background-color: white;
  background-position: 50% 50%;
  background-image: url("../images/map/filters.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: block; }

.filter-tool.active {
  background-image: url("../images/map/filters_active.png"); }

.search-input {
  padding: 0 !important;
  border: 0 !important; }

.leaflet-draw {
  margin-top: 0 !important; }

.leaflet-bar {
  box-shadow: none !important;
  border-radius: 0 !important; }

.leaflet-draw-draw-circle {
  width: 36px !important;
  height: 36px !important; }

.leaflet-draw-draw-circle {
  background-position: 0 0 !important; }

.leaflet-draw-toolbar a {
  background-image: url("../images/map/radius.png");
  background-position: 50% 50% !important;
  background-repeat: no-repeat; }

.leaflet-draw-toolbar a.active {
  background-image: url("../images/map/radius_active.png"); }

.leaflet-bar a:last-child {
  border-radius: 0px 0px 5px 5px !important; }

.leaflet-right .leaflet-draw-actions {
  right: 36px; }

/* Hide map controls on small devices. */
@media (max-width: 768px) {
  .leaflet-control-container {
    display: none; } }
@media only screen and (max-width: 599px) {
  .banner-full {
    padding-bottom: 25px; }
    .banner-full .heading-primary {
      margin: 25px 0;
      font-size: 140%; } }
@media only screen and (min-width: 600px) {
  .alert {
    left: 20%;
    right: 20%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }

  .banner-full-caption {
    padding-bottom: 100px;
    font-size: 110%; }

  .module-img {
    width: 180px;
    height: 180px; }
    .module-img img {
      max-width: none; }

  .float-left-padding {
    float: left;
    margin: 10px 25px 10px 0; }

  .float-right-padding {
    float: right;
    margin: 10px 0 10px 25px; }

  .nav-footer {
    float: left;
    margin-bottom: 0;
    margin-top: 17px; }

  .footer-copyright {
    float: right; }
    .footer-copyright img {
      float: right; }

  .banner-home {
    padding-bottom: 0; }
    .banner-home .banner-caption-klp, .banner-home .banner-full-caption {
      max-width: 340px; }

  .banner-home-student {
    display: block; }

  .about-map-image {
    max-width: none;
    display: inline-block;
    vertical-align: middle; }

  .about-map-url {
    display: inline-block; }

  .logo-wrapper > img {
    padding: 25px;
    max-width: none; }

  .volunteer-story-block {
    margin-left: -20px;
    margin-right: -20px; }
    .volunteer-story-block:after {
      content: "";
      display: table;
      clear: both; }

  .volunteer-story-each {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    display: inline-block;
    vertical-align: top; }

  .org-tab-date-block:after {
    content: "";
    display: table;
    clear: both; }

  .org-tab-date {
    float: left; }

  .org-tab-button {
    float: right; } }
@media only screen and (min-width: 750px) {
  .nav-trigger {
    display: none; }

  .nav {
    position: static;
    right: auto;
    bottom: auto;
    width: auto;
    overflow: visible;
    border: none;
    box-shadow: none; }
    .nav ul {
      position: absolute;
      left: 0;
      box-shadow: 0 2px 2px 0 rgba(77, 77, 77, 0.2);
      border: 1px solid #d8d8d8;
      border-top: none; }
    .nav > li {
      border-top: 5px solid; }
      .nav > li > a {
        border-left: none; }
    .nav li {
      border-left: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 3px;
      text-align: center;
      position: relative;
      min-width: 125px; }
      .nav li li {
        text-align: left; }

  .module-img-block {
    margin-left: -20px;
    margin-right: -20px; }
    .module-img-block:after {
      content: "";
      display: table;
      clear: both; }

  .module-img-each {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0; }
    .module-img-each h3:first-of-type {
      padding: 10px 0; }

  .banner-home .banner-full-caption {
    max-width: 480px; }

  .partners-list-block {
    margin-left: -20px;
    margin-right: -20px; }
    .partners-list-block:after {
      content: "";
      display: table;
      clear: both; }

  .partners-list {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    float: left;
    padding-bottom: 0; }

  .org-tab-org {
    float: left; }

  .org-tab-school {
    float: right;
    text-align: right;
    width: 60%; } }
@media only screen and (min-width: 950px) {
  .banner-logo-klp {
    width: 170px; }

  .banner-home-student {
    max-width: none; }

  .banner-volunteer-girl, .banner-volunteer-boy {
    display: block;
    position: absolute;
    top: 0; }

  .banner-volunteer-girl {
    left: 10px; }

  .banner-volunteer-boy {
    right: 10px; } }

/*# sourceMappingURL=style.css.map */
