/*
Error: File to import not found or unreadable: dev/select2.
       Load path: /vagrant
        on line 44 of assets/static/sass/style.scss

39: @import "page-volunteer-map";
40: @import "style-guide";
41: @import "dev/sample";
42: @import "dev/helpers";
43: @import "dev/modals";
44: @import "dev/select2";
45: @import "dev/alerts";
46: @import "dev/sys";
47: 
48: 
49: .textarea,

Backtrace:
assets/static/sass/style.scss:44
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/import_node.rb:66:in `import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/import_node.rb:28:in `imported_file'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/import_node.rb:37:in `css_import?'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:295:in `visit_import'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/stack.rb:115:in `with_frame'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/stack.rb:79:in `with_base'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:152:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:151:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/engine.rb:368:in `_render_with_sourcemap'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/engine.rb:285:in `render_with_sourcemap'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/exec/sass_scss.rb:375:in `run'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/exec/sass_scss.rb:62:in `process_result'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/exec/base.rb:40:in `parse'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/../lib/sass/exec/base.rb:19:in `parse!'
/opt/vagrant_ruby/lib/ruby/gems/1.8/gems/sass-3.4.1/bin/sass:13
/opt/vagrant_ruby/bin/sass:19:in `load'
/opt/vagrant_ruby/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: dev/select2.\A        Load path: /vagrant\A         on line 44 of assets/static/sass/style.scss\A \A 39: @import \"page-volunteer-map\";\A 40: @import \"style-guide\";\A 41: @import \"dev/sample\";\A 42: @import \"dev/helpers\";\A 43: @import \"dev/modals\";\A 44: @import \"dev/select2\";\A 45: @import \"dev/alerts\";\A 46: @import \"dev/sys\";\A 47: \A 48: \A 49: .textarea,"; }
