/* RESET.CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, main, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* end RESET.CSS */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/* FONTS + TYPOGRAPHY */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Reg-webfont.eot");
  src: url("../fonts/lato/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Reg-webfont.woff") format("woff"), url("../fonts/lato/Lato-Reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-RegIta-webfont.eot");
  src: url("../fonts/lato/Lato-RegIta-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-RegIta-webfont.woff") format("woff"), url("../fonts/lato/Lato-RegIta-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bol-webfont.eot");
  src: url("../fonts/lato/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Bol-webfont.woff") format("woff"), url("../fonts/lato/Lato-Bol-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Lig-webfont.eot");
  src: url("../fonts/lato/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/Lato-Lig-webfont.woff") format("woff"), url("../fonts/lato/Lato-Lig-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.font-base-family, body {
  font-family: "Lato", sans-serif; }

.font-italic, em, i {
  font-style: italic; }

.font-bold, strong, b, .button, .button-grey, .button-orange, .button-hollow {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.font-base-size, body {
  font-size: 16px; }

.font-small {
  font-size: 90%; }

.font-smaller, .button, .button-grey, .button-orange, .button-hollow {
  font-size: 80%; }

.font-smallest {
  font-size: 70%; }

.font-large {
  font-size: 110%; }

.font-larger {
  font-size: 120%; }

.font-largest {
  font-size: 130%; }

h6, .h6 {
  font-size: 90%; }

h5, .h5 {
  font-size: 120%; }

h4, .h4 {
  font-size: 130%; }

h3, .h3 {
  font-size: 140%; }

h2, .h2 {
  font-size: 150%; }

h1, .h1 {
  font-size: 170%; }

h6, h5, h4, h3, h2, h1 {
  margin: 0 0 10px 0; }

p {
  margin: 0 0 10px 0; }

sub, sup {
  font-size: 65%;
  position: relative;
  line-height: 0; }

sup {
  top: -8px; }

sub {
  bottom: -8px; }

/*-------------------------------------*/
/* global SITE styles */
/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/
/* COLORS */
.brand-orange {
  color: #ec6608; }

.brand-orange-bg {
  background-color: #ec6608; }

.brand-green {
  color: #26b262; }

.brand-green-bg {
  background-color: #26b262; }

.brand-blue {
  color: #3891e3; }

.brand-blue-bg, .button, .button-grey, .button-orange {
  background-color: #3891e3; }

.brand-turquoise {
  color: #24b2b6; }

.brand-turquoise-bg {
  background-color: #24b2b6; }

.brand-purple {
  color: #7575bc; }

.brand-purple-bg {
  background-color: #7575bc; }

.brand-red {
  color: #cb0012; }

.brand-red-bg {
  background-color: #cb0012; }

.white, .button, .button-grey, .button-orange, .button:hover, .button-grey:hover, .button-orange:hover, .form-base .submit-style {
  color: #fff; }

.white-bg, body {
  background-color: #fff; }

.link-color, a {
  color: #3891e3; }

.link-hover-color, a:hover, a:focus, a:active {
  color: #7bb6ec; }

/*-------------------------------------*/
.base-spacing {
  padding: 10px 0; }

.base-spacing-sm, .form-base input[type="text"], .form-base input[type="email"], .form-base input[type="number"], .form-base input[type="password"], .form-base textarea, .form-base select {
  padding: 5px 0; }

.base-spacing-mid {
  padding: 15px 0; }

.base-spacing-lg {
  padding: 20px 0; }

/*-------------------------------------*/
/* BORDER-RADIUS */
.border-radius {
  border-radius: 6px; }

.border-radius-sm, .button, .button-grey, .button-orange, .button-hollow {
  border-radius: 3px; }

.border-radius-circle {
  border-radius: 50%; }

/*-------------------------------------*/
a {
  text-decoration: none; }
  a:focus {
    outline: none; }

/*-------------------------------------*/
img, video {
  max-width: 100%;
  height: auto; }

.img-fullwidth {
  width: 100%; }

/*.box-shadow-base, %box-shadow-base {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}*/
/* end global SITE styles */
/* GLOBAL HELPER classes */
/* includes helpful site-agnostic classes and placeholders */
.align-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.center-text, .button, .button-grey, .button-orange, .button-hollow, .form-base input[type="checkbox"] + .form-checkbox-label:before {
  text-align: center; }

.center-element {
  margin-left: auto;
  margin-right: auto; }

.center-element-inline {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* add this to the parent of the element you want to vertically and horizontally center */
.vertical-align-top {
  display: inline-block;
  vertical-align: top; }

.vertical-inline-middle, .button, .button-grey, .button-orange, .button-hollow, .form-base input[type="checkbox"] + .form-checkbox-label:before {
  display: inline-block;
  vertical-align: middle; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.form-base .submit-style:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

/*-------------------------------------*/
.button, .button-grey, .button-orange, .button-hollow {
  text-transform: uppercase;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  outline: none; }

.button, .button-grey, .button-orange {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
  position: relative;
  border: none; }
  .button:hover, .button-grey:hover, .button-orange:hover {
    box-shadow: none;
    top: 1px; }

.button-grey {
  background-color: #898989; }

.button-orange {
  background-color: #ec6608; }

.button-hollow {
  background-color: transparent;
  color: #898989;
  border: 1px solid; }

/*-------------------------------------*/
/* CMS DEFAULT STYLES */
/*.cms-default-styles {
  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }

  a {
    @extend %brand-1-color;

    &:hover {
    }
  }
}*/
/* end CMS DEFAULT STYLES */
/* end GLOBAL HELPER classes */
/* GRID STYLING */
/*.site-width-max, %site-width-max {
    max-width: 1800px;
}*/
.grid-parent {
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .grid-parent:after {
    content: "";
    display: table;
    clear: both; }

.grid-child {
  padding-left: 7.5px;
  padding-right: 7.5px; }

/* default FORM styles */
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none; }

textarea {
  vertical-align: top; }

input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea, select {
  border: none; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    outline: 0; }

.form-base input[type="text"]:focus, .form-base input[type="email"]:focus, .form-base input[type="number"]:focus, .form-base input[type="password"]:focus, .form-base textarea:focus, .form-base select:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
.form-base label {
  padding: 10px 0; }
.form-base input[type="checkbox"].form-checkbox {
  opacity: 0;
  position: absolute; }
.form-base input[type="checkbox"] + .form-checkbox-label:before {
  content: '';
  font-family: 'icomoon';
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  padding: 4px 2px 2px 2px; }
.form-base .form-checkbox-label {
  cursor: pointer; }
.form-base input[type="submit"] {
  padding: 10px; }
.form-base .submit-style {
  padding: 10px;
  font-family: inherit;
  line-height: 1; }

.form-field-wrap {
  padding: 0 0 10px 0; }

/* end default FORM styles */
/*
//remove main.js if not using

*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  color: #5F5F5F;
  line-height: 1.5;
  font-weight: 400; }

/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/

/*# sourceMappingURL=style.css.map */
