/*-------------------------------------*/
//FORM: DEFAULT STYLES

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
}

textarea {
  vertical-align: top;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], textarea, select {
  border: 1px solid $grey-cloud;

  @include placeholder {
    color: $grey-silver;
  }

  &:focus {
    outline: 0;
  }
}


//form styles for default forms; wrap your form with class of form-base
.form-base {
  .input-text, textarea, select {
    padding: $base-spacing - 2;
    @extend %border-radius-sm;
    @extend %font-base-family;

    &:focus {
      border-color: $brand-blue;
    }
  }
    
  label {
    padding: $base-spacing 0;
  }

  input[type="checkbox"].form-checkbox {
    opacity: 0;
    position: absolute;
  }

  input[type="checkbox"] + .form-checkbox-label:before {
    content: '';
    font-family: 'icomoon';
    border: none;
    //@extend %brand-2-bgcolor;
    @extend %vertical-inline-middle;
    width: 20px;
    height: 20px;
    margin-right: $base-spacing;
    @extend %center-text;
    cursor: pointer;
    padding: 4px 2px 2px 2px;
  }

    input[type="checkbox"]:checked + .form-checkbox-label:before {
    //add your styles here
    }

    .form-checkbox-label {
      cursor: pointer;
    }

    input[type="submit"] {
      padding: $base-spacing;        
    }

    .submit-style {
//      background-color: $grey-dark;
        @extend %white;
        padding: $base-spacing;        
        font-family: inherit;
        line-height: 1;

        &:hover {
//            @extend %brand-3-bgcolor;
            @extend %transition-linear;
        }
    }
}


.form-field-wrap {
    padding: 0 0 $base-spacing-lg 0;
}

/*-------------------------------------*/
//FORM: LOGIN
.form-signup {
  .input-text {
    @extend %full-width;
  }
}

