/* global SITE styles */
//MIXINS: VENDOR PREFIXES only
//box-sizing
@mixin box-sizing($box-model: border-box) {
    -webkit-box-sizing:   $box-model;
    -moz-box-sizing:      $box-model;
    box-sizing:           $box-model;
}

@mixin box-sizing($box-model: border-box) {
    -webkit-box-sizing:   $box-model;
    -moz-box-sizing:      $box-model;
    box-sizing:           $box-model;
}

//placeholders for inputs
@mixin placeholder {
  &.placeholder{
    @content;
  }

  &::-moz-placeholder{
    @content;
  }
    
  &::-webkit-input-placeholder{
    @content;
  }

  &:-ms-input-placeholder{
    @content;
  }
}

//transitions
@mixin transition($tr-values...) {
    -webkit-transition: $tr-values;
    transition: $tr-values;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*-------------------------------------*/


//CLASSES, PLACEHOLDERS AND MIXINS
//mixins may need to be used inside media queries, since placeholders are not supported inside a media query statement unless specified again there

/* COLORS */

//site colors

//orange
.brand-orange, %brand-orange {
    color: $brand-orange;
}

.brand-orange-bg, %brand-orange-bg {
    background-color: $brand-orange;
}

//green
.brand-green, %brand-green {
    color: $brand-green;
}

.brand-green-bg, %brand-green-bg {
    background-color: $brand-green;
}

//blue
.brand-blue, %brand-blue {
    color: $brand-blue;
}

.brand-blue-bg, %brand-blue-bg {
    background-color: $brand-blue;
}

//turquoise
.brand-turquoise, %brand-turquoise {
    color: $brand-turquoise;
}

.brand-turquoise-bg, %brand-turquoise-bg {
    background-color: $brand-turquoise;
}

//purple
.brand-purple, %brand-purple {
    color: $brand-purple;
}

.brand-purple-bg, %brand-purple-bg {
    background-color: $brand-purple;
}


//red
.brand-red, %brand-red {
    color: $brand-red;
}

.brand-red-bg, %brand-red-bg {
    background-color: $brand-red;
}

//white
.white, %white {
    color: $white;
}

.white-bg, %white-bg {
    background-color: $white;
}


//link colors

.link-color, %link-color {
    color: $link-color;
}

.link-hover-color, %link-hover-color {
    color: $link-hover-color;
}

/*-------------------------------------*/

//SPACING CLASSES

.base-spacing, %base-spacing {
    padding: $base-spacing 0;
}

.base-spacing-sm, %base-spacing-sm {
    padding: $base-spacing-sm 0;
}

.base-spacing-mid, %base-spacing-mid {
    padding: $base-spacing-mid 0;
}

.base-spacing-lg, %base-spacing-lg {
    padding: $base-spacing-lg 0;
}

.base-spacing-lg-x, %base-spacing-lg-x {
    padding: $base-spacing-lg-x 0;
}

.base-spacing-lg-2x, %base-spacing-lg-2x {
    padding: $base-spacing-lg-2x 0;
}

/*-------------------------------------*/

/* BORDER-RADIUS */

.border-radius, %border-radius {
    border-radius: $border-radius;
}

.border-radius-sm, %border-radius-sm {
    border-radius: $border-radius-sm;
}

.border-radius-circle, %border-radius-circle {
    border-radius: $border-radius-circle;
}

/*-------------------------------------*/

//LINKS
a {
  text-decoration: none;
  @extend %link-color;

    &:hover, &:focus, &:active {
      @extend %link-hover-color;
    }
    
    &:focus {
    	outline: none;        
    }
}


//links: external 
.link-external {
  color: inherit;
  display: inline-block;
  @extend %transition-linear;

  &:after {
    content: "\f064";
    font-family: 'FontAwesome';
    font-size: 9px;
    @extend %white;
    background: $grey-steel;
    padding: ($base-spacing-sm)-2;
    margin: 0 $base-spacing-sm;
    line-height: 1;
    @extend %border-radius-circle;
  }
}

.link-external:hover, .link-external:focus {
  &:after {
    background: $link-hover-color;
  }
}

/*-------------------------------------*/

//IMAGES, VIDEOS, IFRAMES
img, video {
	max-width: 100%;
	height: auto;
}

//use this when you need a full-width container
.full-width, %full-width {
  width: 100%;
}

//BOX-SHADOW
/*.box-shadow-base, %box-shadow-base {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}*/

/* end global SITE styles */

/* GLOBAL HELPER classes */
/* includes helpful site-agnostic classes and placeholders */

//to use a placeholder, you can simply extend it inside a selector:
//e.g. selector {@extend %clearfix};
//NOTE: placeholders don't work inside media queries unless mentioned once again inside that media query scope

//ALIGNMENT

.align-right, %align-right {
  text-align: right;
}

.float-left, %float-left {
  float: left;
}

@mixin float-left {
  float: left;
}

.float-right, %float-right {
  float: right;
}

@mixin float-right {
  float: right;
}

//clearing floats
.clear {
    clear: both;
}

.clearfix, %clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//centering things
.center-text, %center-text {
    text-align: center;
}

@mixin center-text {
    text-align: center;
}

.center-element, %center-element {
    margin-left: auto;
    margin-right: auto;
}

@mixin center-element {
    margin-left: auto;
    margin-right: auto;
}

.center-element-inline, %center-element-inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin center-element-inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-center, %vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dead-center, %dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
} /* add this to the parent of the element you want to vertically and horizontally center */

@mixin dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

//vertical-alignment
.vertical-align-top, %vertical-align-top {
  display: inline-block;
  vertical-align: top;
}

@mixin vertical-inline-top {
  display: inline-block;
  vertical-align: top;

}

.vertical-inline-middle, %vertical-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin vertical-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

//text-truncation
.text-truncate, %text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//cursor-pointer
%cursor-pointer {
  cursor: pointer;
}

@mixin cursor-pointer {
  cursor: pointer;
}

//transitions
%transition-linear {
  @include transition(all 0.3s linear);
}

%transition-ease-in {
  @include transition(all 0.3s ease-in);
}


//HR
hr {
  display: block;
  height: 1px;
  border-top: 1px solid $grey-cloud;
  margin: $base-spacing-lg-x 0;
}

/*-------------------------------------*/
//BUTTONS
%button-base {
  @extend %font-bold;
  @extend %font-smaller;
  @extend %center-text;
  @extend %border-radius-sm;
  @extend %vertical-inline-middle;
  text-transform: uppercase;
  padding: $base-spacing $base-spacing-lg;
  line-height: 1;
  cursor: pointer;
  outline: none;
}

.button, %button {
  @extend %button-base;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px -3px 0px rgba(0,0,0,0.2) inset;
  position: relative;
  @extend %brand-blue-bg;
  @extend %white;
  border: none;

  &:hover, &:focus {
    @extend %white;
    box-shadow: none;
    top: 1px;
  }
}

.button-grey {
  @extend %button;
  background-color: $grey-steel;
}

.button-orange {
  @extend %button;
  background-color: $brand-orange;
}

.button-hollow {
  @extend %button-base;
  background-color: transparent;
  color: $grey-steel;
  border: 1px solid
}

.button-sm {
  @extend %font-smallest;
  padding: $base-spacing-sm $base-spacing;
}

/*-------------------------------------*/

/* NOTIFICATIONS AND ALERTS */

.alert {
  position: fixed;
  top: $header-height;
  left: 5%;
  right: 5%;
  @extend %brand-blue-bg;
  @extend %center-text;
  @extend %font-bold;
  @extend %font-large;
  opacity: 0.9;
  @extend %border-radius;
  padding: $base-spacing ($base-spacing-lg + 10) $base-spacing;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

  &:after {
    font-family: 'FontAwesome';
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
  }
}

.alert.success {
  @extend %brand-green-bg;

  &:after {
    content: "\f14a";
  }
}

.alert.warning {
  @extend %brand-orange-bg;

  &:after {
    content: "\f071";
  }
}

.alert.error {
  @extend %brand-red-bg;

  &:after {
    content: "\f057";
  }
}


/*-------------------------------------*/

/* VIDEO RESPONSIVE */

.video-wrapper {
  margin-bottom: $base-spacing-lg-2x;
  
  iframe {
    max-width: 100%;
  }
}


/*-------------------------------------*/

/* BANNERS: FULLWIDTH; */

.banner-full { 
  padding: $base-spacing-lg-x $base-spacing-lg $base-spacing-lg-2x;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $grey-steel;
  background-size: cover;
  @extend %center-text;
}

.banner-full-caption {
  @extend %white;
  @extend %font-light;
  @extend %container-sm;
  padding-bottom: $base-spacing-lg-x;

  span.h1 {
    font-size: 220%;
    line-height: inherit;
    @extend %vertical-inline-middle;
    padding-right: $base-spacing-sm;
  }
}



/*-------------------------------------*/

/* NAVIGATION: SMOOTH-SCROLL */
.scroll-smooth-block {
  border-bottom: 1px solid $grey-cloud;
  @extend %white-bg;
  @extend %font-uppercase;
  @extend %font-smallest;
  @extend %center-text;
  @extend %base-spacing;
  letter-spacing: 1px;
}

.scroll-smooth-links {
  @extend %container;
  margin-bottom: 0;

  li {
    display: inline-block;
    vertical-align: top;
  }

  a {
    padding: 0 $base-spacing-mid;

    &:hover, &:focus {
      color: $link-hover-color;
    }
  }
}

.scroll-smooth-links, .scroll-smooth-links a {
  color: $grey-gravel;
}


/*-------------------------------------*/

/* BORDERS */
.border-grey-cloud {
  border: 1px solid $grey-cloud;
}

/*-------------------------------------*/

/* CMS DEFAULT STYLES */
.float-left-padding, .float-right-padding {
  margin: $base-spacing-lg-x 0;
  display: block;
}



/*.cms-default-styles {
  ul, ol {
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }

  a {
    @extend %brand-1-color;

    &:hover {
    }
  }
}*/

/* end CMS DEFAULT STYLES */

/* end GLOBAL HELPER classes */

/*  */
