/*-------------------------------------*/
/* GLOBAL SITE STYLES */


/*-------------------------------------*/
// MIXINS: VENDOR PREFIXES only

// mixin: box-sizing
@mixin box-sizing($box-model: border-box) {
  -webkit-box-sizing:   $box-model;
  -moz-box-sizing:      $box-model;
  box-sizing:           $box-model;
}

// mixin: placeholders for inputs
@mixin placeholder {
  &.placeholder{
    @content;
  }

  &::-moz-placeholder{
    @content;
  }
    
  &::-webkit-input-placeholder{
    @content;
  }

  &:-ms-input-placeholder{
    @content;
  }
}

// mixin: transitions
@mixin transition($tr-values...) {
    -webkit-transition: $tr-values;
    transition: $tr-values;
}


/*-------------------------------------*/
// MIXINS: MEDIA QUERIES

// extra large: 1200px
@mixin media-lg-x {
  @media only print, only screen and (min-width: #{$mq-lg-x}) {
    @content;
  }
}

// large: 990px
@mixin media-lg {
  @media only print, only screen and  (min-width: #{$mq-lg}) {
    @content;
  }
}

// medium: 750px
@mixin media-med {
  @media only print, only screen and  (min-width: #{$mq-med}) {
    @content;
  }
}

// small: max-width: 749px
@mixin media-med-maxwidth {
  @media only screen and (max-width: #{$mq-med - 1}) {
    @content;
  }
}

// small: 600px
@mixin media-sm {
  @media only screen and  (min-width: #{$mq-sm}) {
    @content;
  }
}


/*-------------------------------------*/
// CLASSES, PLACEHOLDERS AND MIXINS
// mixins may need to be used inside media queries, since placeholders are not supported inside a media query statement unless specified again there



/*-------------------------------------*/
/* COLORS */

//colors: brand

// orange
.brand-orange, %brand-orange {
  color: $brand-orange;
}

.brand-orange-bg, %brand-orange-bg {
  background-color: $brand-orange;
}

// green
.brand-green, %brand-green, .brand-school {
  color: $brand-green;
}

.brand-green-bg, %brand-green-bg, .brand-school-bg {
  background-color: $brand-green;
}

// blue
.brand-blue, %brand-blue, .brand-school-cluster {
  color: $brand-blue;
}

.brand-blue-bg, %brand-blue-bg, .brand-school-cluster-bg {
  background-color: $brand-blue;
}

// turquoise
.brand-turquoise, %brand-turquoise, .brand-school-block {
  color: $brand-turquoise;
}

.brand-turquoise-bg, %brand-turquoise-bg, .brand-school-block-bg {
  background-color: $brand-turquoise;
}

// purple
.brand-purple, %brand-purple, .brand-preschool {
  color: $brand-purple;
}

.brand-purple-bg, %brand-purple-bg, .brand-preschool-bg {
  background-color: $brand-purple;
}


// red
.brand-red, %brand-red, .brand-preschool-project {
  color: $brand-red;
}

.brand-red-bg, %brand-red-bg, .brand-preschool-project-bg {
  background-color: $brand-red;
}


// colors: others

// purple-amethyst
.purple-amethyst, %purple-amethyst, .brand-school-district {
  color: $purple-amethyst;
}

.purple-amethyst-bg, %purple-amethyst-bg, .brand-school-district-bg {
  background-color: $purple-amethyst;
}

// maroon 
.maroon, %maroon, .brand-preschool-district {
  color: $maroon;
}

.maroon-bg, %maroon-bg, .brand-preschool-district-bg {
  background-color: $maroon;
}

// pink-salmon
.pink-salmon, %pink-salmon, .brand-preschool-circle {
  color: $pink-salmon;
}

.pink-salmon-bg, %pink-salmon-bg, .brand-preschool-circle-bg {
  background-color: $pink-salmon;
}

// white
.white, %white {
  color: $white;
}

.white-bg, %white-bg {
  background-color: $white;
}

// yellow-mild
.yellow-mild, %yellow-mild {
  color: $yellow-mild;
}

.yellow-mild-bg, %yellow-mild-bg {
  background-color: $yellow-mild;
}

// orange-mild
.orange-mild, %orange-mild {
  color: $orange-mild;
}

.orange-mild-bg, %orange-mild-bg {
  background-color: $orange-mild;
}

// green-pista
.green-pista, %green-pista {
  color: $green-pista;
}

.green-pista-bg, %green-pista-bg {
  background-color: $green-pista;
}

// green-leaf 
.green-leaf, %green-leaf {
  color: $green-leaf;
}

.green-leaf-bg, %green-leaf-bg {
  background-color: $green-leaf;
}
// black
.black, %black {
  color: $black;
}

.black-bg, %black-bg {
  background-color: $black;
}

// grey-mist
.grey-mist, %grey-mist {
  color: $grey-mist;
}

.grey-mist-bg, %grey-mist-bg {
  background-color: $grey-mist;
}

// grey-cloud
.grey-cloud, %grey-cloud {
  color: $grey-cloud;
}

.grey-cloud-bg, %grey-cloud-bg {
  background-color: $grey-cloud;
}

// grey-silver
.grey-silver, %grey-silver {
  color: $grey-silver;
}

.grey-silver-bg, %grey-silver-bg {
  background-color: $grey-silver;
}

// grey-steel
.grey-steel, %grey-steel {
  color: $grey-steel;
}

.grey-steel-bg, %grey-steel-bg {
  background-color: $grey-steel;
}

// grey-gravel
.grey-gravel, %grey-gravel {
  color: $grey-gravel;
}

.grey-gravel-bg, %grey-gravel-bg {
  background-color: $grey-gravel;
}

// colors: link

.link-color, %link-color {
  color: $link-color;
}

.link-hover-color, %link-hover-color {
  color: $link-hover-color;
}

/*-------------------------------------*/
/* BORDER */
.border-base, %border-base {
  border: 1px solid $border-color;
}

/*-------------------------------------*/
/* LOADING */
.loading-icon-base {
  color: $grey-steel;
  padding: $base-spacing-lg;
  &.fa {
    @extend %h1;
  }
}


/*-------------------------------------*/
/* SPACING */

.base-spacing, %base-spacing {
  padding: $base-spacing 0;
}

.base-spacing-sm, %base-spacing-sm {
  padding: $base-spacing-sm 0;
}

.base-spacing-mid, %base-spacing-mid {
  padding: $base-spacing-mid 0;
}

.base-spacing-lg, %base-spacing-lg {
  padding: $base-spacing-lg 0;
}

.base-spacing-lg-x, %base-spacing-lg-x {
  padding: $base-spacing-lg-x 0;
}

.base-spacing-lg-2x, %base-spacing-lg-2x {
  padding: $base-spacing-lg-2x 0;
}


/*-------------------------------------*/
// BORDER-RADIUS

.border-radius, %border-radius {
  border-radius: $border-radius;
}

.border-radius-sm, %border-radius-sm {
  border-radius: $border-radius-sm;
}

.border-radius-circle, %border-radius-circle {
  border-radius: $border-radius-circle;
}


/*-------------------------------------*/
// IMAGES, VIDEOS, IFRAMES
img, video {
	max-width: 100%;
	height: auto;
}

//use this when you need a full-width container
.full-width, %full-width {
  width: 100%;
}


/*-------------------------------------*/
// GLOBAL HELPER classes */

// includes helpful site-agnostic classes and placeholders
//to use a placeholder, you can simply extend it inside a selector:
//e.g. selector {@extend %clearfix};


// Helpers: Floats
.float-left, %float-left {
  float: left;
}

@mixin float-left {
  float: left;
}

.float-right, %float-right {
  float: right;
}

@mixin float-right {
  float: right;
}

//clearing floats
.clear {
  clear: both;
}


// Helpers: Alignment: Right

.align-right, %align-right {
  text-align: right;
}

// Helpers: Alignment: Center
.center-text, %center-text {
  text-align: center;
}

@mixin center-text {
  text-align: center;
}

.center-element, %center-element {
  margin-left: auto;
  margin-right: auto;
}

@mixin center-element {
  margin-left: auto;
  margin-right: auto;
}

.center-element-inline, %center-element-inline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-element-inline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center, %vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dead-center, %dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@mixin dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

// Helpers: Aligment: Vertical
.vertical-inline-top, %vertical-inline-top {
  display: inline-block;
  vertical-align: top;
}

@mixin vertical-inline-top {
  display: inline-block;
  vertical-align: top;
}

.vertical-inline-middle, %vertical-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin vertical-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

// Helpers: text-truncation
.text-truncate, %text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*-------------------------------------*/
/* TRANSITIONS */
// Use these for general linear and ease-in transitions
%transition-linear {
  @include transition(all 0.2s linear);
}

%transition-ease-in {
  @include transition(all 0.3s ease-in);
}


/*-------------------------------------*/
/* DROPDOWNS: GENERIC */
.dropdown-base {
  position: relative;
  @extend %font-smaller;
  text-align: left;
  
  > li {
    display: inline-block;
    @extend %border-radius-sm;
    @extend %border-base;
    @extend %grey-mist-bg;
  }

  ul {
    display: none;
    min-width: 120px;
    @extend %white-bg;
    @extend %border-radius-sm;
    @extend %border-base;
    position: absolute;
    top: 100%;
    left: 0;

    .has_ul {
      position: relative;
      padding-right: $base-spacing-lg;

      &:after {
        content: "\f107";
        @extend %font-icon;
        position: absolute;
        right: $base-spacing-sm;
        top: $base-spacing-sm + 2;
      }
    }
    
    ul {
      position: static;
      border: none;
    }
  }

  li {
    @extend %grey-steel; 
    padding: ($base-spacing-sm + 2) $base-spacing;
    cursor: pointer;

    &:hover {
      @extend %grey-mist-bg; 
    }
  }

  a {
    @extend %grey-steel; 
    display: block; 
  }
}

.dropdown-base-trigger {
  padding: $base-spacing-sm;
  @extend %border-base;
}

/*-------------------------------------*/
/* TABLES */

// table: base
.table-responsive-wrap {
  overflow-y: auto;
  @extend %scrollbar-webkit;
}

.table-base {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: $base-spacing-lg-x;

  th, td {
    border-bottom: 1px solid $border-color;
    padding: $base-spacing;
  }

  th {
    text-align: left;
  }
}

.table-base-heading {
  @extend %heading-tiny-uppercase;
}

// table-data
.table-data {

  td {
    padding: $base-spacing-sm/2 $base-spacing;
  }

  tr {
    td:first-of-type {
      @extend %bold; 
      @extend %grey-gravel;
      padding-left: 0;
    }
  }
}

// table with legend key (with green ticks and red crosses)

%table-infra-icon-legend {
  content: "";
  @extend %font-icon;
  font-size: 10px;
  position: absolute;
  top: 1px;
  @extend %border-base;
  @extend %border-radius-sm;
  @extend %center-text;
  width: $base-spacing-mid;
  height: $base-spacing-mid;  
}

.table-infra-key-color {
  position: relative;
  margin-bottom: $base-spacing-sm;
  text-align: left;

  &:after {
    @extend %table-infra-icon-legend;
  }

  &.brand-green:after {
    content: "\f00c";
  }

  &.brand-red:after {
    content: "\f00d";
  }

  &.brand-grey:after {
    content: "\f111";
    font-size: 8px;
    line-height: 14px;  
  }
}

.table-infra-icon-left {
  padding-left: $base-spacing-lg-x + 10;

  &:after {
    left: 0;
  }
}

.table-infra-icon-right {
  padding-right: $base-spacing-lg-x + 10;

  &:after {
    right: 0;
  }
}

.infra-key-legend {
  @extend %border-base;
  padding: $base-spacing;
  margin-top: ($base-spacing-lg-x) + 15;

  @include media-med {
    float: right;
    width: 30%;
  }
}

/*-------------------------------------*/
//TABLES: LIST VIEW ON SMALLER SCREENS

@include media-med-maxwidth {
  .table-base.table-list-view {
    display: block;

    .table-base-heading {
      display: none;
    }

    tbody, tr, td, th {
      display: block;
      width: 100%;
    }

    tr, td, th {
      padding: $base-spacing-sm 0;
    }
    
    tr td:nth-of-type(1), tr td:nth-of-type(2) {
      width: 100%;
    }

    td {
      border-bottom: none;
    }

    tr {
      border-bottom: 1px solid $border-color;
      padding: $base-spacing-mid $base-spacing;
    }
  }  

//labels for some td cells on smaller screens for list view tables

  .td-label-school {
    &:before {
      content: "School";
      margin-right: $base-spacing-sm;
      color: $grey-silver;
    }
  }

  .td-label-items {
    &:before {
      content: "Items";
      margin-right: $base-spacing-sm;
      color: $grey-silver;
    }
  }  

}

/*-------------------------------------*/
/* HR */

hr {
  display: block;
  height: 1px;
  border-top: 1px solid $border-color;
  margin: $base-spacing-lg-x 0;
}


/*-------------------------------------*/
/* ICONS */

.font-icon, %font-icon {
  font-family: $font-icon;
}

.icon-right, %icon-right {
  margin-left: $base-spacing-sm;
}

.icon-left, %icon-left {
  margin-right: $base-spacing-sm;
}

// icon: round
%icon-button-round {
  padding: $base-spacing-sm;
  @extend %border-radius-circle;
  border: 2px solid;
  @extend %vertical-inline-middle;
  @extend %center-text;
  position: relative;
  margin-right: $base-spacing-sm;

  .fa, .k-icon {
    @extend %dead-center;
  }
}

.icon-button-round {
  @extend %icon-button-round;
  font-size: 14px;
  width: 34px;
  height: 34px;
}

.icon-button-round-sm {
  @extend %icon-button-round;
  font-size: 12px;
  width: 28px;
  height: 28px;
}

.icon-button-round-lg {
  @extend %icon-button-round;
  font-size: 20px;
  width: 70px;
  height: 70px;
}

// icon-number
.icon-number {
  @extend %white-bg;
  @extend %bold; 
  @extend %font-smaller;
  border: 2px solid;
  display: inline-block;
  padding: ($base-spacing - 3) $base-spacing;
  @extend %center-text;
  @extend %border-radius-circle;
  line-height: 1;
}

// icon: verified
.verified {
  @extend %brand-green;
  @extend %uppercase;
  @extend %font-smallest;
  @extend %bold; 
  letter-spacing: 1px;

  &:before {
    content: "\f00c";
    @extend %font-icon;
    @extend %brand-green-bg;
    @extend %white;
    padding: 2px;
    font-size: 12px;
    @extend %border-radius-sm;
    margin-right: $base-spacing-sm;
  }
}

// icons: boy, girl, both
  .icon-boy, .icon-girl, .icon-teacher, .icon-boy-girl {
    width: 45px;
    height: 45px;
    @extend %white;
    padding: $base-spacing;
    line-height: 1;
    display: inline-block;
    @extend %border-radius-circle;
    position: relative;

    &:before, &:after {
      @extend %font-icon;
      font-size: 22px;
    }
  }

  .icon-boy {
    @extend %brand-blue-bg;    
    &:before {
      content: "\f183";
      @extend %dead-center;
    }
  }

  .icon-girl {
    background-color: $pink-salmon;        
    &:before {
      content: "\f182";
      @extend %dead-center;
    }
  }

  .icon-teacher {
    background-color: $green-leaf;        
    &:before {
      content: "\f19d";
      @extend %dead-center;
    }
  }

  .icon-boy-girl {
    background-color: $blue-ink;        

    &:before, &:after {
      @extend %vertical-center;
    }
    
    &:before {
      content: "\f183";
      left: 8px;
    }

    &:after {
      content: "\f182";
      right: 7px;
    }
  }


/*-------------------------------------*/
//BUTTONS

%button-base {
  @extend %bold; 
  font-size: 75%;
  @extend %center-text;
  @extend %border-radius-sm;
  @extend %vertical-inline-middle;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  padding: $base-spacing $base-spacing-lg;
  cursor: pointer;
  outline: none;
}

.button, %button {
  @extend %button-base;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px -3px 0px rgba(0,0,0,0.2) inset;
  position: relative;
  @extend %brand-blue-bg;
  @extend %white;
  border: none;

  &:hover, &:focus {
    @extend %white;
    box-shadow: none;
    top: 1px;
  }
}

a.button {
  @extend %white;
}

.button-grey, %button-grey {
  @extend %button;
  @extend %grey-steel-bg;
}

.button-orange, %button-orange {
  @extend %button;
  background-color: $brand-orange;
}

.button-hollow, %button-hollow {
  @extend %button-base;
  background-color: transparent;
  @extend %grey-steel;
  border: 1px solid;

  &:hover, &:focus {
    @extend %grey-silver;
    @extend %transition-linear;
  }
}

.button--sm, %button--sm {
  @extend %font-smallest;
  padding: $base-spacing-sm $base-spacing;
}

/*-------------------------------------*/
/* NOTIFICATIONS AND ALERTS */

.alert {
  position: fixed;
  top: $header-height;
  left: 5%;
  right: 5%;
  @extend %brand-blue-bg;
  @extend %center-text;
  @extend %bold; 
  @extend %font-large;
  opacity: 0.9;
  @extend %border-radius;
  padding: $base-spacing ($base-spacing-lg + 10) $base-spacing;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

  @include media-sm {
    left: 20%;
    right: 20%;
    @include container;    
  }

  &:after {
    @extend %font-icon;
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
  }
}

.alert.success {
  @extend %brand-green-bg;

  &:after {
    content: "\f14a";
  }
}

.alert.warning {
  @extend %brand-orange-bg;

  &:after {
    content: "\f071";
  }
}

.alert.error {
  @extend %brand-red-bg;

  &:after {
    content: "\f057";
  }
}


/*-------------------------------------*/
/* TOOLTIPS */
.tooltip {
  position: relative;
  text-decoration: none;

  &:before, &:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.25s ease-in-out);
  }

  &:after {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    content: attr(aria-label);
    padding: $base-spacing-sm $base-spacing;
    font-size: 12px;
    white-space: nowrap;
    @extend %center-text;
    @extend %white;
    background: $black;
    @extend %border-radius-sm;
    left: -9999px;
    margin-top: 12px;
    text-transform: initial;
  }

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent $black transparent;
    margin-top: 0;
}

  &:hover, &:focus {
    &:after, &:before {
      visibility: visible;
      opacity: 1;
      top: 80%;
      left: 0;
    }

    &:before {
      left: $base-spacing;
    }
  }
}

/*-------------------------------------*/

/* VIDEO RESPONSIVE */

.video-iframe-responsive {
  margin-bottom: $base-spacing-lg-2x;
}


/*-------------------------------------*/

/* BANNERS: FULLWIDTH */

.banner-full { 
  padding: $base-spacing-lg-x $base-spacing-lg $base-spacing-lg-x;  
  background-repeat: no-repeat;
  background-position: center center;
  @extend %grey-steel-bg;
  background-size: cover;
  @extend %center-text;
  position: relative;

  .heading-primary {
    font-size: 140%;
    margin: $base-spacing-lg-x 0;
  }

  @include media-sm {
    padding-bottom: $base-spacing-lg-2x;  

    .heading-primary {
      font-size: 220%;
      margin: $base-spacing-lg-2x 0;
    }
  }
}

.banner-content {
  position: relative;
}

.banner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}


.banner-full-caption {
  @extend %white;
  @extend %container-sm;
  padding-bottom: $base-spacing-lg-x;
}


/*-------------------------------------*/

/* NAVIGATION: SMOOTH-SCROLL */

.scroll-smooth-block {
  border-bottom: 1px solid $border-color;
  @extend %white-bg;
  @extend %uppercase;
  @extend %font-smallest;
  @extend %center-text;
  letter-spacing: 1px;
  display: none;

  @include media-med {
    display: block;    
  }
}

.scroll-smooth-links {
  @extend %container;
  margin-bottom: 0;
  
  li, a {
    @extend %vertical-inline-top;
  }

  a {
    padding: $base-spacing $base-spacing-mid;

    &:hover, &:focus {
      @extend %grey-mist-bg;
      @extend %transition-ease-in;
    }
  }
}

.scroll-smooth-links, .scroll-smooth-links a {
  @extend %grey-gravel;
}

.scroll-smooth-sticky {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
}

/*-------------------------------------*/
/* CIRCULAR BULLETS */

.circle-bullet {
  color: inherit;
  padding-bottom: ($base-spacing-sm) + 2;
  
  &:before {
    content: "\f111";
    @extend %font-icon;
    margin-right: $base-spacing;           
  }

  &.brand-green:before {
    color: $brand-green;
  }

  &.brand-blue:before {
    color: $brand-blue;
  }

  &.brand-red:before {
    color: $brand-red;
  }

  &.brand-turquoise:before {
    color: $brand-turquoise;
  }

  &.brand-purple:before {
    color: $brand-purple;
  }

  &.green-pista:before {
    color: $green-pista;
  }

  &.brand-orange:before {
    color: $brand-orange;
  }

  &.orange-mild:before {
    color: $orange-mild;
  }

  &.yellow-mild:before {
    color: $yellow-mild;
  }

  &.white:before {
    @extend %grey-cloud;
    content: "\f1db";
  }
}


/*-------------------------------------*/
/* BOX INFO */
.box-info {
  @extend %white-bg;
  @extend %border-radius-sm;
  padding: $base-spacing-lg-x;
  @extend %center-element;
  line-height: 1.3;
}

/*-------------------------------------*/
/* NO DATA */
.no-data {
  @extend %heading-tiny;
}

/*-------------------------------------*/
/* MODULE: IMG */
// e.g. home page and volunteer page

@include media-med {
  .module-img-block {
    @include grid-parent;
  }  
}

.module-img-wrapper {
  .heading-secondary {
    margin-bottom: $base-spacing-lg-2x;
  }  
}

.module-img-each {
  @extend %center-text;
  @extend %font-light;
  margin-bottom: $base-spacing-lg-2x;

  @include media-med {
    width: 33.33%;
    @include vertical-inline-top;
    @include grid-child;
    margin-bottom: 0;    

    h3:first-of-type {
      padding: $base-spacing 0;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon-number {
    position: relative;
    top: $base-spacing;
  }
}

.module-img-each {
  max-width: 500px;
  @extend %center-element;

  h3:first-of-type {
    @extend %uppercase;
  }
}

.module-img {
  width: 180px;
  height: 180px;
  @extend %border-radius-circle;
  @extend %center-element;
  position: relative;
  margin-bottom: $base-spacing-lg-x;
  overflow: hidden;

  img {
    @extend %dead-center;
    max-width: 85%;
  
    @include media-sm {
      max-width: none;  
    }

  }  
}

/*-------------------------------------*/
// MODULE: STATS ICON

.module-stats-icon {
  @extend %vertical-inline-top;
  margin: 0 $base-spacing 0 0;

  &:last-of-type {
    margin: 0;
  }
}

.module-stats-label {
  @extend %brand-blue;
  @extend %bold; 
  line-height: 1;
}

.module-stats-info {
  @extend %vertical-inline-top;
  padding: 0 0 0 $base-spacing-sm;
}

.module-stats-girl {
  .module-stats-label {
    color: $pink-salmon;
  }
}

.module-stats-teacher {
  .module-stats-label {
    color: $green-leaf;
  }
}

.module-stats-boygirl {
  .module-stats-label {
    color: $blue-ink;
  }
}

/*-------------------------------------*/
// BAR GRAPH: CUSTOM
//e.g. school demographics

.bar-graph-wrap {
  @extend %clearfix;
  margin-bottom: $base-spacing-mid;
}

.bar-custom {
  height: $base-spacing-mid;
  @extend %grey-cloud-bg;
  min-width: 180px;
}

.bar-label {
  @extend %font-small;
  @extend %bold; 
  word-wrap: break-word;
}

.bar-value {
  height: 100%;
}

.bar-label, .bar-graph {
  @extend %float-left;
}

.bar-percent, .bar-custom {
  @extend %vertical-inline-middle;
}

.bar-percent {
  width: 65px;
  padding: 0 $base-spacing-sm;
  text-align: right;
  @extend %font-small;
  @extend %bold; 
}

/*-------------------------------------*/
// TABS

.tab-wrap {
  @extend %border-base;
  border-bottom: none;
  margin-top: $base-spacing-lg-x;

  @include media-med {
    border: none;      
  }
}

.tab-wrap-widescreen {
  display: none;
  @extend %container;

  @include media-med {
    display: block;    
  }
}

.tab-heading {
  text-decoration: none;
  display: block;
  padding: $base-spacing-sm $base-spacing;
  @extend %uppercase;
  @extend %font-smallest;
  @extend %bold; 
  border-bottom: 1px solid;
  cursor: pointer;
  color: $white;
  @extend %grey-steel-bg;

  @include media-med {
    @include vertical-inline-top;
    color: $grey-gravel;
    position: relative;
    top: 1px;
    border-bottom: none;
    background: none;      
  }

  &.tab-heading-active {
    @extend %brand-blue-bg;

    @include media-med {
      background: $white;    
    }
  }
}

.tab-heading, .tab-heading-active {
  border-color: $grey-cloud;
}

@include media-med {
  .tab-heading-active {
    border: 1px solid $border-color;
    border-bottom: none;
  }  
}

.tab-each {
  .tab-heading {
    position: relative;
    padding: $base-spacing $base-spacing-lg $base-spacing;

    &:after {
      content: "\f107";
      @extend %font-icon;
      position: absolute;
      right: $base-spacing;
      top: 8px;
      @extend %font-larger;
    }

    @include media-med {
      display: none;
    }
  }
}

.tab-content {
  display: none;
  padding: $base-spacing-lg-x $base-spacing $base-spacing $base-spacing;
  border-bottom: 1px solid $border-color;
  
  @include media-med {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:  $grey-cloud;    
  }

  &.tab-active {
    display: block;
  }
}


/*-------------------------------------*/
// FLOATED LEFT AND RIGHT IMAGES

.float-left-padding, .float-right-padding {
  margin: $base-spacing-lg-x auto;
  display: block;
}

@include media-med {
  .float-left-padding {
    @include float-left;
    margin: $base-spacing $base-spacing-lg-x $base-spacing 0;
  }

  .float-right-padding {
    @include float-right;
    margin: $base-spacing 0 $base-spacing $base-spacing-lg-x;
  }  
}


/*-------------------------------------*/
// HIDE
.hide {
  display: none;
}

/*-------------------------------------*/
// SHOW
.show {
  display: block;
}


/*-------------------------------------*/
/* SCROLLBAR: WEBKIT - NON STANDARD */

.scrollbar-webkit, %scrollbar-webkit {
  &::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
 
  &::-webkit-scrollbar-track {
    background: lighten($grey-cloud, 8%);
    border-radius: 3px;
  }
 
  &::-webkit-scrollbar-thumb {
    background: $grey-cloud;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}
