/* GRID STYLING */

//Site width - maximum
.container, %container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

//Gutters inner
.grid-parent, %grid-parent {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  @include clearfix;
}

@mixin grid-parent {
  margin-left: -$grid-padding;
    margin-right: -$grid-padding;   
    @include clearfix;
}

.grid-child, %grid-child {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

@mixin grid-child {
  padding-left: $grid-padding;
    padding-right: $grid-padding;
}
