/* GRID STYLING */

//Site width - maximum
/*.site-width-max, %site-width-max {
    max-width: 1800px;
}*/

//Gutters inner
.grid-parent, %grid-parent {
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;
  @include clearfix;
}

@mixin grid-parent {
  margin-left: -$grid-padding;
    margin-right: -$grid-padding;   
    @include clearfix;
}

.grid-child, %grid-child {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

@mixin grid-child {
  padding-left: $grid-padding;
    padding-right: $grid-padding;
}
