/*
// currently when i hit submit on the login form, it repeats the error message one below the other. whoops 
// remove all extra classes in _login_modal.html if they're not being used later
//check small jump on mobile when clicking a dropdown   
// ask batpad if we can remove the checked="", disabled, equal part, HTML5 style
// speak to batpad about checked + disabled input radio styling, right now clicking another removes the checked state on the checked + disabled
//what is this reports at the top of reports?
//was the plan for each of the pages to have a different color? seems so in their styleguide. can do stuff accordingly for this.
//background size used without webkit prefix needed only for android 2.3
//on library page, both blue and yellow show 9-10 sentences
//on library, fix the colored list to look like a table


//MY Learnings for boilerplate;
-- add better custom radio checkbox styling
-- add disabled styling for radio, checks and inputs
-- change img-fullwidth class to simply full-width
--- give classes to inputs; enough of these attribute selectors

*/

* {
    @include box-sizing;
}

html, body {
    width: 100%;
    height: 100%;
}

body {

  @extend %white-bg;
  color: $font-base-color;
  @extend %font-base-family;
  @extend %font-base-size;
  line-height: 1.6;
  font-weight: 400;
}


/*-------------------------------------*/
//HEADER
.main-header {
  @extend %white-bg;
  border-bottom: 1px solid $grey-cloud;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
}

.header-content {
  @extend %container;
}

.logo, .top-nav {
  display: inline-block;
  vertical-align: top;
}

.logo {
  padding: ($base-spacing-sm + 1) $base-spacing-lg 0 0;
}

.nav, .nav-trigger {
  position: fixed;
}

.nav-trigger {
	font-size: 22px;
	color: #000;
  right: $base-spacing;
  top: $base-spacing-sm;
  cursor: pointer;
}

.nav {
	list-style-type: none;
	@extend %white-bg;
  width: $nav-width;
  right: -($nav-width);
  top: $header-height;
  bottom: 0;
  overflow: auto;
	box-shadow: 0 2px 2px 0 rgba(77,77,77,0.2);
	border: 1px solid $grey-cloud;
  @extend %transition-linear;
  
  ul {
  	display: none;
  	@extend %white-bg;
	}

	li {
		@extend %font-bold;
		text-transform: uppercase;
		padding: 0 $base-spacing-mid;
    cursor: pointer;

		li {
			text-transform: capitalize;
			display: block;
			@extend %font-smallest;
			font-weight: normal;

			a {
				line-height: 1;
				padding: 0 $base-spacing;
				margin: $base-spacing-lg 0;
				border-left: 2px solid;
				border-color: transparent;
			}

			&:hover a {
				border-color: inherit;
			}
		}

		&.brand-orange, &.brand-green, &.brand-blue, &.brand-turquoise, &.brand-purple, &.brand-red {
			a {
				color: inherit;
			}
		}	
	}

	> li > a {
		border-left: 3px solid;
		@extend %font-smallest;
		padding: 0 $base-spacing;
		margin: ($base-spacing - 3) 0;
	}

	a {
		display: block;
	}

} //ends nav

.nav-open {
  right: 0;
  transition: all 0.35s ease-in;
}

/*-------------------------------------*/
//FOOTER

.main-footer {
  background: $grey-gravel;
  border-top: 10px solid darken($grey-gravel, 10%);
  @extend %white;
  @extend %grid-child;

  a {
    @extend %white;
  }
}

.footer-wrapper {
  @extend %container;
  @extend %clearfix;
  padding-top: $base-spacing-lg;
  padding-bottom: $base-spacing-lg;

  a {
    @extend %transition-linear;
  }
}

.nav-footer {
  margin-bottom: $base-spacing;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 $base-spacing-mid 0 0;
  }

  .k-icon {
    @extend %font-small;
    vertical-align: top;
  }
}

.nav-footer-menu-links {
  @extend %font-bold;
  text-transform: uppercase;
  @extend %font-smallest;
}

.footer-copyright {
  @extend %font-smallest;
}

.copyright {
  color: $grey-cloud;
  padding-top: $base-spacing-sm;
  clear: both; //CLEARFIX EXTEND FAILING SILENTLY
}

/*-------------------------------------*/
//MAIN

.main {
  margin-top: $header-height;
}



/*-------------------------------------*/
//LOGIN

.profile-login-block {
  float: right;
}

.profile-options-wrapper{
  position: relative;

  &.show-drop{
    .profile-options{
      background-color: rgba(0, 0, 0, 0.05);
    }
    .options-list{
      display: block;
    }
  }
}

.profile-options{
  margin: $base-spacing 0 0 0;
}

.options-list{
  display: none;
  position: absolute; top: 32px; left: 0; right: 0; z-index: 2;
  border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #fff;

  li{
  
    a{
      display: block; color: #5f5f5f; padding: 10px;

      &:hover{
        text-decoration: none; 
      }
    }

    &:hover{
      background-color: #F6F6F6; 
    }
  }
}


/*-------------------------------------*/
//BREADCRUMB

.subheader-wrapper {
  background: $grey-mist;
  padding: $base-spacing 0;
  text-transform: uppercase;
  @extend %font-smallest;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.05);  
}

.breadcrumb {
  a {
  color: $grey-steel;
  padding: 0 $base-spacing 0 0;
  @extend %transition-linear;

    &:after {
      content: "\f105";
      font-family: 'FontAwesome';
      padding-left: $base-spacing;
    }

    &:last-of-type:after {
      content: "";
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

/*-------------------------------------*/
//MODALS: INNER ELEMENT STYLES

.modal {
  .heading-border {
    @extend %brand-blue;
    margin-bottom: $base-spacing-lg * 2;
  }
}


/*-------------------------------------*/
//PAGE: ABOUT

.about-map {
  background: $grey-mist;
  @extend %font-light;
  @extend %h2;
  max-height: 140px;
  @extend %center-text;
  margin: $base-spacing-lg-2x 0;

  span {
    @extend %brand-red;
  }
}

.about-map-link {
    position: relative;
    top: -22px;
    display: block;
}

.about-map-image {
  @extend %border-radius-circle;
  border: 1px solid $brand-red;
  margin-right: $base-spacing-mid;
  max-width: 120px;
}


/*-------------------------------------*/
//PAGE: PARTNERS
.logo-wrapper {
  @extend %center-text;

  > img {
    padding: $base-spacing-lg-x;
    max-width: 140px;
  }
}

.partners-list-block {
  margin: $base-spacing-lg-2x 0; 
  @extend %center-text;

  ul {
    @extend %font-small;
    line-height: 1.8;
  }
}

//PAGE: DATA

.data-each {
  @extend %base-spacing-lg-x;

  &:first-of-type {
    padding-top: 0;
  }
}

//PAGE: PROGRAMMES
.banner-reading, .banner-sikshana { 
  background-image: url('/static/images/bg_header_reading_programme.jpg');
}

.banner-maths {
  background-image: url('/static/images/bg_header_maths_programme.jpg');
}

.banner-library {
  background-image: url('/static/images/bg_header_library_programme.jpg');
}

.banner-preschool {
  background-image: url('/static/images/bg_header_preschool_programme.jpg');
}

.library-grade-levels {
  li {
    span {
      display: inline-block;
    }

    > span:first-of-type {
      padding-right: $base-spacing-lg;
      min-width: 180px;
    }
  }
}

//PAGE: VOLUNTEER
.banner-volunteer {
  background-image: url('/static/images/bg_blackboard_big.jpg');
  padding: $base-spacing-lg-2x 0;

  .box-info {
    max-width: 400px;
  }
}

.banner-volunteer-info {
  position: relative;
}

.heading-volunteer-box {
  @extend %brand-orange;
  @extend %font-uppercase;
  @extend %font-smaller;
  letter-spacing: 1px;

  &:after {
    @extend %brand-green-bg;
  }
}

.banner-volunteer-girl, .banner-volunteer-boy {
  display: none;
}

.volunteer-works-block {
  background-color: lighten($brand-blue, 32%);
  @extend %base-spacing-lg-2x;
}

.volunteer-works-each {
  @extend %center-text;
}

.volunteer-works-each {
  width: 33.33%;
  @include vertical-inline-middle;
}

.volunteer-works-img {
  width: 180px;
  height: 180px;
  @extend %border-radius-circle;
  @extend %center-element;
  position: relative;

  img {
    @extend %dead-center;
  }  
}

.volunteer-works-locate {
  .volunteer-works-img {
    background-color: #E17E5B;
  }
}

.volunteer-works-teach {
  .volunteer-works-img {
    @extend %brand-blue-bg;
  }
}

.volunteer-works-share {
  .volunteer-works-img {
    @extend %brand-turquoise-bg;    
  }
}