@media only screen and (max-width: 599px) {
	// banner full-width

	.banner-full {
		padding-bottom: $base-spacing-lg-x;

	  .heading-primary {
	    margin: $base-spacing-lg-x 0;
  	  font-size: 140%;
  	}
	}
}

@media only screen and (max-width: 749px) {
	// table volunteer

	.table-base-volunteer, .table-base-donation, .table-volunteer-oppor {
		display: block;

		.table-base-heading {
			display: none;
		}

		tr, td, th {
			display: block;
			width: 100%;
			padding: $base-spacing-sm 0;
		}

		tr td:nth-of-type(1), tr td:nth-of-type(2) {
			width: 100%;
		}

		td {
			border-bottom: none;
		}

		tr {
			border-bottom: 1px solid $border-color;
			padding: $base-spacing-mid $base-spacing;
		}
	}

	.td-label-school {
		&:before {
			content: "School";
			margin-right: $base-spacing-sm;
			color: $grey-silver;
		}
	}

	.td-label-items {
		&:before {
			content: "Items";
			margin-right: $base-spacing-sm;
			color: $grey-silver;
		}
	}

}

@media only screen and (min-width: 600px) {
	
	//alerts
	.alert {
		left: 20%;
		right: 20%;
		@include container;
	}

	//module img
	.module-img {
	  img {
	    max-width: none;
	  }  
	}

	//float-left and float-right for images in content areas

	.float-left-padding {
	  @include float-left;
	  margin: $base-spacing $base-spacing-lg-x $base-spacing 0;
	}

	.float-right-padding {
	  @include float-right;
	  margin: $base-spacing 0 $base-spacing $base-spacing-lg-x;
	}
	
	//navigation: footer
	.nav-footer {
	  float: left;
	  margin-bottom: 0;
	  margin-top: $base-spacing-mid + 2;

	  ul {
	  	float: left;

	  	&:first-of-type {
	  		padding-right: $base-spacing-lg;
	  	}
	  }
	}
	
	.footer-copyright {
	  float: right;

	  img {
	    float: right;
	  }
  }

  //page: home

  .banner-home {
	  padding-bottom: 0;
	
	  .banner-caption-klp, .banner-full-caption {
			max-width: 340px;
	  } 
  }

	.banner-home-student {
		display: block;
	}

  //page: about
  .about-map-image {
		max-width: none;
	  @include vertical-inline-middle;
	}

	.about-map-url {
		display: inline-block;
	}

	//page: partners
	.logo-wrapper {
		> img {
	    padding: $base-spacing-lg-x;
			max-width: none;
		}
	}

	//page: volunteer
	.volunteer-story-block {
		@include grid-parent;
	}

	.volunteer-story-each {
		@include grid-child;
		width: 50%;
		@include vertical-inline-top;
	}

	//page: organization
	.org-tab-date-block {
		@include clearfix;
	}

	.org-tab-date, .type-activity {
		float: left;
	} 

	.org-tab-button, .type-school {
		float: right;
	}
}
