@media only screen and (min-width: 800px) {
  .nav-trigger {
    display: none;
  }

  .nav {
    position: static;
    right: auto;
    bottom: auto;
    width: auto;
	  overflow: visible;
	  border: none;
	  box-shadow: none;

    ul {
			position: absolute;
			left: 0;
  		box-shadow: 0 2px 2px 0 rgba(77,77,77,0.2);
			border: 1px solid $grey-cloud;
			border-top: none;  
  }

    > li {
    	border-top: 5px solid;

    	> a {
    		border-left: none;
    	}
    }

    li {
    	border-left: none;    	
      display: inline-block;
      vertical-align: top;
      margin: 0 3px;
  		text-align: center;
  		position: relative;
			min-width: 125px; // adapt as per largest li width

  		li {
  			text-align: left;
  		}
    }
  }
}

@media only screen and (min-width: 600px) {
	//alerts

	.alert {
		left: 20%;
		right: 20%;
		@include container;
	}
	
	//navigation: top
	.nav-footer {
	  float: left;
	  margin-bottom: 0;
	  margin-top: $base-spacing-mid + 2;
	}
	
	.footer-copyright {
	  float: right;

	  img {
	    float: right;
	  }
  }

  //page: about
  .about-map {
  	img {
  		max-width: none;
  	}
  }
}

