@media only screen and (max-width: 599px) {
	// banner full-width

	.banner-full {
		padding-bottom: $base-spacing-lg-x;

	  .heading-primary {
	    margin: $base-spacing-lg-x 0;
  	  font-size: 140%;
  	}
	}
}

@media only screen and (max-width: 749px) {
	// table volunteer

	.table-base-volunteer, .table-base-donation, .table-volunteer-oppor {
		display: block;

		.table-base-heading {
			display: none;
		}

		tr, td, th {
			display: block;
			width: 100%;
			padding: $base-spacing-sm 0;
		}

		tr td:nth-of-type(1), tr td:nth-of-type(2) {
			width: 100%;
		}

		td {
			border-bottom: none;
		}

		tr {
			border-bottom: 1px solid $border-color;
			padding: $base-spacing-mid $base-spacing;
		}
	}

	.td-label-school {
		&:before {
			content: "School";
			margin-right: $base-spacing-sm;
			color: $grey-silver;
		}
	}

	.td-label-items {
		&:before {
			content: "Items";
			margin-right: $base-spacing-sm;
			color: $grey-silver;
		}
	}

}

@media only screen and (min-width: 600px) {
	
	//alerts
	.alert {
		left: 20%;
		right: 20%;
		@include container;
	}

	//banner full-width
	.banner-full-caption { 
	  padding-bottom: ($base-spacing-lg-2x) * 2;
	  font-size: 110%;
	  font-weight: 300;
	}

	//module img
	.module-img {
	  img {
	    max-width: none;
	  }  
	}

	//float-left and float-right for images in content areas

	.float-left-padding {
	  @include float-left;
	  margin: $base-spacing $base-spacing-lg-x $base-spacing 0;
	}

	.float-right-padding {
	  @include float-right;
	  margin: $base-spacing 0 $base-spacing $base-spacing-lg-x;
	}
	
	//navigation: footer
	.nav-footer {
	  float: left;
	  margin-bottom: 0;
	  margin-top: $base-spacing-mid + 2;

	  ul {
	  	float: left;

	  	&:first-of-type {
	  		padding-right: $base-spacing-lg;
	  	}
	  }
	}
	
	.footer-copyright {
	  float: right;

	  img {
	    float: right;
	  }
  }

  //page: home

  .banner-home {
	  padding-bottom: 0;
	
	  .banner-caption-klp, .banner-full-caption {
			max-width: 340px;
	  } 
  }

	.banner-home-student {
		display: block;
	}

  //page: about
  .about-map-image {
		max-width: none;
	  @include vertical-inline-middle;
	}

	.about-map-url {
		display: inline-block;
	}

	//page: partners
	.logo-wrapper {
		> img {
	    padding: $base-spacing-lg-x;
			max-width: none;
		}
	}

	//page: volunteer
	.volunteer-story-block {
		@include grid-parent;
	}

	.volunteer-story-each {
		@include grid-child;
		width: 50%;
		@include vertical-inline-top;
	}

	//page: organization
	.org-tab-date-block {
		@include clearfix;
	}

	.org-tab-date, .type-activity {
		float: left;
	} 

	.org-tab-button, .type-school {
		float: right;
	}


}

@media only screen and (min-width: 750px) {

  // tabs
  .tab-wrap {
    border: none;
  }

  .tab-wrap-widescreen {
    display: block;
  }

  .tab-each {
    .tab-heading {
      display: none;
    }
  }

  .tab-heading {
    @include vertical-inline-top;
    color: $grey-gravel;
    position: relative;
    top: 1px;
    border-bottom: none;
    background: none;

	  &.tab-heading-active {
	    background: $white;
	  }
  }

  .tab-content {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:  $grey-cloud;
  }

  .tab-heading-active {
    border: 1px solid $border-color;
    border-bottom: none;
  }

  //Module: Image block
  .module-img-block {
  	@include grid-parent;
  }

  .module-img-each {
	  width: 33.33%;
	  @include vertical-inline-top;
	  @include grid-child;
	  margin-bottom: 0;

	  h3:first-of-type {
	    padding: $base-spacing 0;
	  }
	}

	// Smooth scroll
	.scroll-smooth-block {
		display: block;
	}

	//page: home
	.banner-home {
  	.banner-full-caption {
  		max-width: 480px;
  	}
	}

	//page: partners
  .partners-list-block {
		@include grid-parent;
  }

  .partners-list {
  	@include col-50-flt;
  	padding-bottom: 0;
  }

  //page: Profile and Org Profile

	.profile-meta-block, .org-meta-block {
		@include grid-parent;
	}

  .profile-meta-each, .org-meta-each {
  	@include grid-child;
  	@include float-left;
  }

	.profile-meta-edit, .org-meta-edit {
  	width: 65%;
	}

	.profile-meta-activities, .org-meta-activities {
		width: 35%;
		
	  .heading-tiny-uppercase {
	    &:first-of-type {
	      margin-top: 0;
	    }
	  }
	}

  //page: organization

  .org-tab-org {
  	float: left;
  }

  .org-tab-school {
  	float: right;
	  text-align: right;
	  width: 60%;
  }

	//page: organization-edit
	.form-edit-profile-tab {
  	max-width: 50%;
	}

	.org-profile-img {
		margin: 0;
	}

	//page: Map
	.leaflet-control-container {
		display: block;
	}

	.facility-items {
		display: block;
	}

	//page: Profile edit
	.edit-profile-block {
		@include grid-parent;
	}

	.edit-profile-each {
  	@include grid-child;
  	width: 50%;
  	@include float-left;
	}

	.form-edit-password {
	  margin-top: 0;
	}

	//Page: School

	.school-data-wrap, .tab-school-infra-block, .school-tab-story {
		@include grid-parent;
	}
	
	.school-data-block, .school-photos-block, .school-infra-table, .infra-key-legend, .school-story-visits, .school-share-story {
		@include grid-child;
	}

	.school-data-block, .school-story-visits {
		float: left;
		width: 60%;
	}

	.school-photos-block, .school-share-story {
		float: right;
		width: 40%;
	}

	.school-infra-table {
		float: left;
		width: 70%;		
	}

	.infra-key-legend {
		float: right;
		width: 30%;
	}
}


@media only screen and (min-width: 990px) {
	//profile login
	.profile-login-block {
  	float: right;
  	right: 0;
  	padding-right: $base-spacing-lg;
	}

	//breadcrumb
	.breadcrumb a {
		font-size: 100%;
	}

	//navigation
  .nav-trigger {
    display: none;
  }

  .nav {
    position: static;
    right: auto;
    bottom: auto;
    width: auto;
	  overflow: visible;
	  border: none;
	  box-shadow: none;
	  margin-left: - $base-spacing-lg-x; // hack to center stuff

    ul {
			position: absolute;
			left: 0;
			top: $header-height - 6px;
  		box-shadow: 0 2px 2px 0 rgba(77,77,77,0.2);
			border: 1px solid $border-color;
			border-top: none;
			padding: 0 0 $base-spacing 0;  
  	}

    > li {
    	border-top: 5px solid;
    	border-left: none;    	

    	> a {
    		border-left: none;
    		position: relative;
    		top: 4px;
				margin: ($base-spacing - 3) 0;
    	}
    }

    li {
      @include vertical-inline-top;
      margin: 0 3px;
  		text-align: center;
  		position: relative;
			min-width: 120px; // adapt as per largest li width

  		li {
  			text-align: left;

  			a {
  				padding: $base-spacing;
  				position: relative;

					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: $base-spacing;
						width: 2px;
						height: $base-spacing;
						background: transparent;
					}
  			}

				&:hover a:before {
					background: currentColor;
				}

  		}
    }
  }

  //page: home
  .banner-logo-klp {
  	width: 170px;
	}

	.banner-home-student {
		max-width: none;
	}

  //page: volunteer
  .banner-volunteer-girl, .banner-volunteer-boy {
		display: block;
		position: absolute;
		top: 0;  	
  }

  .banner-volunteer-girl {
  	left: $base-spacing;
  }

  .banner-volunteer-boy {
  	right: $base-spacing;
  }

  //page: map 
	.button-map-compare {
		display: inline-block;
	}

	//page: school
	.button-compare-wrap {
		display: block;
	}



  //page: volunteer-map 

	.button-filter-volunteer {
	  display: none;
	}

  .volunteer-filters-wrapper, .map-volunteer-canvas-full {
		display: block;
  }

  .volunteer-filters-wrapper {
  	border: none;
  	margin: 0;
  	position: static;

  	.filter-item {
  	  padding: 0 $base-spacing 0 0;
  	}
  }

  .filter-item, .volunteer-filters-wrapper, .volunteer-filters-wrapper.filter-toggle {
	  @include vertical-inline-top;
	} 

	.filter-item {
	  padding: 0 $base-spacing 0 0;
	}

	.filter-label, .filter-item .input-text, .filter-item select {
		min-width: 0;
	}

	.sidebar-volunteer-map {
	  width: $sidebar-map-width;
	  position: fixed;
	  left: 0;
	  top: $header-height + $map-subheader-height;  //consolidate later
	  bottom: 0;
	  overflow-x: hidden;
	  overflow-y: auto;
	}
}