.style-block {
  @extend %base-spacing-lg;

  .button-hollow {
    margin: $base-spacing 0;
  }
}

.style-block-code {
  display: none;
  margin: $base-spacing-lg 0 0 0;
}

code {
  @extend %grey-mist-bg;
  border-left: 3px solid $brand-purple;
  overflow-y: auto;
  padding: ($base-spacing-lg) * 2 $base-spacing-lg $base-spacing-lg $base-spacing-lg;
  display: block;
  font-family: monospace;
  @extend %font-small;
}

.box-demo {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

#colors-brand {
  code {
    p, div, span {
      color: $font-base-color;
    }
  }
}

.demo-color-blue {
  color: $brand-blue;
}

.demo-color-blue-extend {
  @extend %brand-blue;
}
