/* FONTS + TYPOGRAPHY */

//default font: regular
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Reg-webfont.eot');
  src: url('../fonts/lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Reg-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//default font: italic
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-RegIta-webfont.eot');
  src: url('../fonts/lato/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-RegIta-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-RegIta-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

//default font: bold
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bol-webfont.eot');
  src: url('../fonts/lato/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Bol-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Bol-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//default font: light
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Lig-webfont.eot');
  src: url('../fonts/lato/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Lig-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Lig-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//font families
.font-base-family, %font-base-family {
  font-family: $font-base-family;
}

//font-styles
.font-italic, %font-italic {
  font-style: italic;
}

.font-bold, %font-bold {
  font-weight: 700;
}

.font-light, %font-light {
  font-weight: 300;
}

//font-sizing
.font-base-size, %font-base-size {
  font-size: $font-base-size;
}

@mixin font-base-size {
  font-size: $font-base-size;  
}

.font-small, %font-small {
  font-size: 90%;
}

@mixin font-small {
  font-size: 90%;  
}

.font-smaller, %font-smaller {
  font-size: 80%;
}

@mixin font-smaller {
  font-size: 80%;  
}

.font-smallest, %font-smallest {
  font-size: 70%;
}

@mixin font-smallest {
  font-size: 70%;  
}

.font-large, %font-large {
    font-size: 110%;
}

@mixin font-large {
  font-size: 110%;  
}

.font-larger, %font-larger {
    font-size: 120%;
}

@mixin font-larger {
  font-size: 120%;  
}

.font-largest, %font-largest {
  font-size: 130%;
}

@mixin font-largest {
  font-size: 130%;  
}

strong, b {
  @extend %font-bold; 
}

em, i {
  @extend %font-italic; 
}

h6, .h6 {
  font-size: 90%;
}

h5, .h5 {
  font-size: 120%;
}

h4, .h4 {
  font-size: 130%;
}

h3, .h3 {
  font-size: 140%;
}

h2, .h2 {
	font-size: 150%;
}

h1, .h1 {
	font-size: 170%;
}

h6, h5, h4, h3, h2, h1 {
  margin: 0 0 $base-spacing 0;
}

p {
    margin: 0 0 $base-spacing 0;
}

sub, sup {
    font-size: 65%;
    position: relative;
    line-height: 0;
}

sup {
    top: -8px;
}

sub {
    bottom: -8px;
}

//heading styles
  .heading-border, %heading-border {
    @extend %center-text;

    &:after {
    content: '';
    display: block;
    margin: $base-spacing auto 0;
    width: 80px;
    height: 5px;
    background: currentColor;
    }
  }

.heading-primary, %heading-primary {
  @extend %center-text;
  font-size: 220%;
  line-height: 1.5;
  margin: 50px 0;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:after {
    @extend %heading-border;
  }
}

.heading-secondary, %heading-secondary {
}

.heading-tiny {
  color: $grey-steel;
  @extend %font-smaller;
}


/*-------------------------------------*/

