/* FONTS + TYPOGRAPHY */

//default font: regular
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Reg-webfont.eot');
  src: url('../fonts/lato/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Reg-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//default font: italic
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-RegIta-webfont.eot');
  src: url('../fonts/lato/Lato-RegIta-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-RegIta-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-RegIta-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

//default font: bold
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bol-webfont.eot');
  src: url('../fonts/lato/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Bol-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Bol-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//default font: light
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Lig-webfont.eot');
  src: url('../fonts/lato/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/Lato-Lig-webfont.woff') format('woff'),
       url('../fonts/lato/Lato-Lig-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//font families
.font-base-family, %font-base-family {
  font-family: $font-base-family;
}

//font-styles
.font-italic, %font-italic {
  font-style: italic;
}

.font-bold, %font-bold {
  font-weight: 700;
}

.font-light, %font-light {
  font-weight: 300;
}

.font-uppercase, %font-uppercase {
  text-transform: uppercase;
}

//font-sizing
.font-base-size, %font-base-size {
  font-size: $font-base-size;
}

@mixin font-base-size {
  font-size: $font-base-size;  
}

.font-small, %font-small {
  font-size: 90%;
}

@mixin font-small {
  font-size: 90%;  
}

.font-smaller, %font-smaller {
  font-size: 80%;
}

@mixin font-smaller {
  font-size: 80%;  
}

.font-smallest, %font-smallest {
  font-size: 70%;
}

@mixin font-smallest {
  font-size: 70%;  
}

.font-large, %font-large {
    font-size: 110%;
}

@mixin font-large {
  font-size: 110%;  
}

.font-larger, %font-larger {
    font-size: 120%;
}

@mixin font-larger {
  font-size: 120%;  
}

.font-largest, %font-largest {
  font-size: 130%;
}

@mixin font-largest {
  font-size: 130%;  
}

strong, b {
  @extend %font-bold; 
}

em, i {
  @extend %font-italic; 
}

h6, .h6, %h6 {
  font-size: 90%;
}

h5, .h5, %h5 {
  font-size: 120%;
}

h4, .h4, %h4 {
  font-size: 130%;
}

h3, .h3, %h3 {
  font-size: 140%;
}

h2, .h2, %h2 {
	font-size: 150%;
}

h1, .h1, %h1 {
	font-size: 170%;
}

h6, h5, h4, h3, h2, h1 {
  margin: 0 0 $base-spacing-mid 0;
}

p, ul, ol {
    margin: 0 0 $base-spacing-mid 0;
}

sub, sup {
    font-size: 65%;
    position: relative;
    line-height: 0;
}

sup {
    top: -8px;
}

sub {
    bottom: -8px;
}

//heading styles
  .heading-border, %heading-border {
    @extend %center-text;

    &:after {
    content: '';
    display: block;
    margin: $base-spacing auto 0;
    width: 80px;
    height: 5px;
    background-color: currentColor;
    }
  }

.heading-primary, %heading-primary {
  @extend %center-text;
  font-size: 220%;
  line-height: 1.5;
  margin: 50px 0;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:after {
    @extend %heading-border;
  }
}

.heading-secondary, %heading-secondary {
  @extend %h2;
  text-transform: uppercase;
  @extend %center-text;
  @extend %font-light;
}

.heading-tertiary {
  @extend %font-bold;
  @extend %h5;
  @extend %font-uppercase;
  color: $grey-gravel;
  margin-bottom: $base-spacing-lg-x;
}

.heading-tiny, %heading-tiny {
  color: $grey-steel;
  @extend %font-smaller;
}

.heading-tiny-uppercase, %heading-tiny-uppercase {
  color: $grey-steel;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  @extend %font-bold;
  margin-bottom: $base-spacing-sm;
}

.heading-section {
  display: inline-block;
  @extend %white-bg;
  color: $grey-steel;
  @extend %h4;
  @extend %center-text;
  @extend %border-radius-sm;
  text-transform: uppercase;
  border: 1px solid $grey-cloud;
  box-shadow: 0px 1px 1px 0px $grey-cloud;
  padding: $base-spacing-sm $base-spacing-lg;
  margin: $base-spacing-lg-2x $base-spacing-lg 0;
  letter-spacing: 1px;
}

.heading-section-block {
  @extend %font-smaller;
  background: $grey-mist;
  padding: $base-spacing-mid $base-spacing;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $grey-cloud;
  margin: -($base-spacing) 0 $base-spacing-lg-2x 0;
  @extend %clearfix;

  > ul {
    @extend %container;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    padding: 2px $base-spacing-lg 2px $base-spacing-sm;
    position: relative;
    top: 2px;

    &:before {
      content: "\f10c";
      font-family: "FontAwesome";
      font-size: 5px;
      position: absolute;
      left: -($base-spacing-sm);
      top: $base-spacing-sm;
    }
  }

  a {
    display: block;

    &:hover {
      color: $link-hover-color;
      @extend %transition-linear;
    }
  }
}

.heading-section-block, .heading-section-block a {
  color: $grey-steel; 
}

.heading-section-ul-alt {
  @extend %font-uppercase;
  letter-spacing: 1px;
  @extend %font-bold;
  @extend %font-small;
  margin-bottom: 0;

  li:before {
    content: "";
  }

  a {
    color: $grey-gravel;
  }
}

//list: ul default
.ul-base {
  list-style-type: disc;
  margin-left: $base-spacing-lg;
  
  li {
    padding-left: $base-spacing;
  }
}

/*//list: with colored bullets
.list-bullet-colored {

  li {
    &:before {
      content: "\f111";
      font-family: "FontAwesome"; 
      margin-right: $base-spacing;           
    } 

    &:first-of-type:before {
      color: $brand-orange;    
    }

    &:nth-of-type(2):before {
      color: $orange-mild;    
    }

    &:nth-of-type(3):before {
      color: $yellow-mild;    
    }

    &:nth-of-type(4):before {
      color: $green-pista;    
    }
    &:nth-of-type(5):before {
      color: $brand-green;    
    }
  }
}
*/
//text-styles
.text-bordered {
  border: 1px solid $grey-cloud;
  padding: $base-spacing $base-spacing-mid;
  @extend %border-radius-sm;

}

//step-number
.step-number {
  @extend %white-bg;
  @extend %font-bold;
  @extend %font-smaller;
  border: 1px solid;
  display: inline-block;
  padding: ($base-spacing - 3) $base-spacing;
  @extend %center-text;
  @extend %border-radius-circle;
  line-height: 1;
}

/*-------------------------------------*/

