//VARIABLES

//grid gutters
$grid-padding: 10px;

/*-------------------------------------*/

//HEADER HEIGHT: used for header height and top margin for rest of content
$header-height: 42px;
$nav-width: 220px;

/*-------------------------------------*/

//COLORS
//color: base font
$font-base-color: #5F5F5F;

//colors: brand
$brand-orange: #ec6608;
$brand-green: #26b262;
$brand-blue: #3891e3;
$brand-turquoise: #24b2b6;
$brand-purple: #7575bc;
$brand-red: #cb0012;

//colors: common
$white: #fff;
$grey-mist: #f6f6f6;
$grey-cloud: #d8d8d8;
$grey-silver: #bbb;
$grey-steel: #898989;
$grey-gravel: #4d4d4d;
$red-mild: #e17e5b;
$yellow-mild: #ffeda0;
$orange-mild: lighten($brand-orange, 20%);
$green-pista: #addd8e;

//colors - links
$link-color: $brand-blue;
$link-hover-color: lighten($brand-blue, 15%);

/*-------------------------------------*/

//spacing, padding, margins
$base-spacing: 10px;
$base-spacing-mid: $base-spacing * 1.5;				//15px
$base-spacing-lg: $base-spacing * 2;					//20px
$base-spacing-lg-x: $base-spacing * 2.5;			//25px
$base-spacing-lg-2x: $base-spacing * 5;				//50px
$base-spacing-sm: $base-spacing / 2;					//5px

/*-------------------------------------*/

//font base styles

$font-base-size: 16px;
$font-base-family: 'Lato', sans-serif;


/*-------------------------------------*/

//border-radius
$border-radius: 6px;
$border-radius-sm: $border-radius / 2;
$border-radius-circle: 50%;
