.color-red{
	color: $color_about !important;
}
.color-red-2{
	color: $color_school_map;
}
.color-black{
	color: #000;
}
.color-black-2{
	color: #393939;
}
.color-blue{
	color: $color_blue;
}
.color-purple{
	color: #7145d2;
}
.color-green{
	color: $color_green !important;
}
.color-green-2{
	color: $color_database;
}
.color-grey{
	color: #6d6d6d;
}
.color-grey-light{
	color: #D0D0D0;
}
.color-grey-light-2{
	color: #8A8B8C;
}