@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url("html5-doctor-reset.css");
@import url("fontello.css");

$color_school_map:    #ec6608;
$color_programmes:    #26b262;
$color_volunteer:     #3892e3;
$color_database:      #25b3b6;
$color_reports:       #7676bc;
$color_about:         #cb0012;

// Map
$color_maps_school:   #1DA84C;
$color_school_district:   #566695;

$entity_color_school: 				#1DA84C;
$entity_color_school_district:   	#566695;
$entity_color_school_block:   		#4ECFC4;
$entity_color_school_cluster:   	#3B96EE;
$entity_color_preschool:   			#7145D2;
$entity_color_preschool_circle:   	#E69DB6;
$entity_color_preschool_district:   #A31460;
$entity_color_preschool_project:   	#DE3212;

$color_orange:        #EC6608;
$color_green:         #26b262;
$color_blue:          #3891E3;
$color_turquoise:     #24B2B6;
$color_purple:        #7575BC;
$color_red:           #CB0012;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Lato', sans-serif;
$base-font-weight: $regular;
$base-font-size: 12px;
$base-line-height: 1.4;

$base-text-color: #6d6d6d;
$p-font-size: 16px;
$p-line-height: 28px;

$primary-border-color: #d8d8d8;


//--- CSS UTILS
$config-paddings: (0 5 10 15 20 25 30 50 60 150);
$config-margins: (0 5 10 15 20 25 30 40 50 60 90);

$config-paddings-use-important: true;
$config-margins-use-important: true;





