

/* --- EASYDROPDOWN FLAT THEME by Jan Cantor --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	float: right; 
	height: 40px;
	cursor: pointer;
	padding: 0 30px 0 15px;
	background: #8e8ca5;
	border-left: 1px solid #fff;
	
	color:  #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover,
.dropdown.focus{
	background: #73718A;
}

/* CARAT */

.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3px;
	border: 6px solid transparent;
	border-top: 6px solid #FFF;
	z-index: 1;
	
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
	
}

.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}

.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}

.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected {
    color: #FFF;
}

.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 12px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown li .bold{
	font-weight: 700;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
}

/*.dropdown:hover .selected::after,
.dropdown.focus .selected::after{
	box-shadow: inset -55px 0 25px -20px #7B7991;
}*/

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 1px;
	background: #8e8ca5;
	overflow: hidden;
	opacity: 0;
	color: #DCDBE6;
	@include border-radius-bottom-left(3px);
	@include border-radius-bottom-left(3px);
}

.dropdown:hover div{
	background: #8e8ca5;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background: #8e8ca5;
}

.dropdown.scrollable:hover div::after{
	background: #8e8ca5;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 0 30px 0 15px;
	height: 40px; line-height: 40px;
	border-bottom: 1px solid #DCDBE6;
}

.dropdown li:last-child {
    border-bottom: 0;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background: #73718A;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	background: #73718A;
	color: #fff;
}