.page-donation{
	&.bg-grey{
		background-color: #F6F6F6;
	}
	&.bg-white{
		background-color: #fff;
	}
	p.link-text{
		font-size: 18px;
	}

	.dropdown{
		width: inherit; padding: 0 30px 0 5px;
		float: none; height: 26px;
		background-color: #F6F6F6;
		border:1px solid #CACACA;
		@include border-radius(3px);

		&.open{
			border-color: #adadad;
		}

		.selected{
			color:#5f5f5f; line-height: 26px; text-transform: none;
			text-overflow:ellipsis;
		}

		.carat, .carat:after{
			border-top: 6px solid #CACACA;
			right:5px;
		}

		> div{
			width: 160px;
			margin-top: 2px; overflow: hidden;
			background: #fff;
			border: 1px solid #CACACA;
			@include border-radius(3px);
		}

		li{
			color:#5f5f5f; border-bottom: 0px solid #CACACA;
			text-transform: none;
			height: 30px;
			line-height: 30px;

			&.focus{
				background: #f6f6f6;
			}
			&.active{
				background: darken(#f6f6f6, 3%);
			}
		}
	}

	&.recently_shared_stories{
		width: 100%; padding: 50px 0;
		background: #f6f6f6;
		h2{
			color: #393939; margin-bottom: 25px;
			span{
				background: #393939;
			}
		}

		.column_item{
			width:420px; padding: 25px 0;
			border-bottom: 1px solid $primary-border-color;
			float:left;
			margin-right:60px;
			&:nth-of-type(odd){
				margin-right:60px;
			}
			&:nth-of-type(even){
				margin-left:60px;
				margin-right:0;
			}
		}

		h3{
			color: $color_database; text-align: left; text-transform:none ; margin: 0;
			font-size: 20px; line-height: 26px; font-weight: $regular; letter-spacing: normal;
		}

		.date{
			color: #adadad;
		}

		p.text{
			margin:15px 0; line-height: 24px;
		}

		a.rm{
			color: $base-text-color; font-weight: $bold; font-size: 14px;
		}

		@include if-device(phone-tablet) {
			.column_item{
				width: 100%; float: none; margin: 0 !important; padding: 15px 0;
			}
		}
	}
}