.page-volunteer-map{

	.map_canvas_full {
		left: 400px;
	}

	.sidebar-wrapper{
		width: 400px;
	}

	.place_item{
		padding: 20px !important;

		.stats{
			width: 49%;

			.school{
				line-height: 20px;
			}
		}
		.details{
			width: 49%;
		}
		.info{
			color: #8C8C8C;
		}
	}

	@include if-device(phone) {
		.map_canvas_full {
			display: none;
		}
		.sidebar-wrapper{
			width: 100%; top: 90px;
		}
	}
}

@include if-device(phone) {
	.map-subheader-wrapper.show-volunteer-filters{
		height: 50px;
	}
	.volunteer-map-subheader-wrapper{
		.search-input{
			width: 55%;
		}
		.volunteer-filters-wrapper{
			display: none !important;
			float: none !important;
			background: #f6f6f6;
			border-top: 1px solid #dedede;
			border-bottom: 1px solid #dedede;
			margin: 10px 0 0; padding-left: 10px;

			&.show-mobile{
				display: block !important;
			}
		}
		.calendar-wrapper{
			left: auto; right: 0; top: 40px;
			margin: 0; width: 280px;

			.Zebra_DatePicker{
				display: block; width: 89%;

				.dp_header{
					width: 100% !important;
				}
			}
		}
	}
}