.school-page{
	margin-bottom: 50px;

	.page-header{
		width:100%; height:300px;
		margin-bottom: 25px; position: relative;
		border-bottom: 1px solid $primary-border-color;

		.map-canvas{
			width:100%; height: inherit; z-index:-1;
			background: url(../images/school_map_sample.jpg) no-repeat;
			background-position: center;
			background-size: cover;
		}

		.school-info{
			position: absolute; left: 0; right: 0; bottom: 0; z-index:1;
			padding: 20px 0 0;
			background-color: #fff;
			background-color: rgba(255,255,255,0.8);
			// @include background-image(linear-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%));
			// @include background-image(linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%));

			h2{
				font-size: 20px; line-height: 32px; margin: 0;
				text-align: left; font-weight: normal; text-transform: none;
				@include text-shadow(1px 1px 0px, rgba(255,255,255,0.5));
			}
		}

		.school-entity-icon{
			position: absolute; margin-left: -40px;
		}

		.info-wrapper{
			float: left;
		}

		.buttons-wrapper{
			float: right;
		}
		.button{
			margin-top: 0; margin-left: 10px;
		}

		.info-item{
			float: left; margin-right: 50px;
			@include text-shadow(1px 1px 0px, #fff);

			.label,.value{
				text-transform: uppercase; font-size: 11px; line-height: 18px; 
				color: #898989; font-weight: bold; letter-spacing: 1px;
			}
			.value{
				text-transform: none; color: #393939; letter-spacing: normal; font-size: 12px;
			}
		}
		
		ul.tabs{
			list-style: none; margin-bottom: -1px; zoom: 1;
			// height: 32px; overflow: hidden;

			&:before, &:after{
				content:"";
				display: table;
			}
			&:after{
				clear: both;
			}
			li{
				float:left; margin-right: 5px; cursor: pointer;
				display: block; font-size: 10px; line-height: 32px; font-weight: bold;
				text-transform: uppercase; color: #393939; letter-spacing: 1px;
				padding: 0 10px; text-decoration: none;

				&:last-child{ margin-right:0; }
			}
			li.current,li:hover{
				background: #fff; border: 1px solid $primary-border-color; border-bottom: none;
				line-height: 31px; padding: 0 9px;
			}
		}
	}

	@include if-device(phone-tablet) {
		.page-header{
			.school-entity-icon{
				display: none;
			}
		}
	}
	@include if-device(tablet) {
		.page-header{
			.buttons-wrapper{
				width:150px;
			}
			.button{
				display: block; padding: 0 5px; text-align: center;
				margin:0;

				&.dark_grey{
					margin-bottom: 10px;
				}
			}
		}
	}
	@include if-device(phone) {
		.page-header{
			.info-wrapper,
			.buttons-wrapper{
				float: none;
			}
			.button{
				margin:10px 10px 0 0;
			}
			.btn-compare{
				display: none;
			}
			ul.tabs{
				display: none;
			}

			.school-info{
				padding: 10px 0 15px;
			}
		}
	}
}

.school-details{
	.dropdown{
		z-index:2;
	}

	#pie_chart_finance,
	#graph_library,
	#graph_nutrition{
		z-index:-1;
	}

	// .info{
	// 	h2{
	// 		font-size: 20px; line-height: 32px; margin: 0;
	// 		text-align: left; font-weight: normal; text-transform: none;
	// 		@include text-shadow(1px 1px 0px, rgba(255,255,255,0.5));
	// 	}

	// 	.address-block{
	// 		margin-left: 43px;
	// 	}
	// 	.item{
	// 		float: left; margin-right: 50px;
	// 		.label,.value{
	// 			text-transform: uppercase; font-size: 11px; line-height: 18px; 
	// 			color: #898989; font-weight: bold; letter-spacing: 1px;
	// 		}
	// 		.value{
	// 			text-transform: none; color: #393939; letter-spacing: normal; font-size: 12px;
	// 		}
	// 	}
	// }

	// ul.tabs{
	// 	list-style: none; margin-left: 25px; margin-bottom: 0; zoom:1;
	// 	&:before, &:after{
	// 		content:"";
	// 		display: table;
	// 	}
	// 	&:after{
	// 		clear: both;
	// 	}
	// 	li{
	// 		float:left; margin-right: 5px;
	// 		&:last-child{ margin-right:0; }
			
	// 			display: block; font-size: 10px; line-height: 32px; font-weight: bold;
	// 			text-transform: uppercase; color: #393939; letter-spacing: 1px;
	// 			padding: 0 10px; text-decoration: none;
	// 		&:hover{
	// 			cursor: pointer;
	// 		}
	// 	}
	// 	li.current,li:hover{
	// 		background: #fff; border: 1px solid $primary-border-color; border-bottom: none;
	// 		line-height: 31px; padding: 0 9px;
	// 	}
	// }

	.fl-desktop,
	.fl-desktop-tablet{
		float: left;
	}
	.fr-desktop,
	.fr-desktop-tablet{
		float: right;
	}
	.width-48p-desktop-tablet{
		width: 48%;
	}

	.tab-heading{
		display: none; background: #f8f8f8;
		font-size: 14px; line-height: 16px; font-weight: $bold;
		color: #393939;
		letter-spacing: 1px; text-transform: uppercase; text-decoration: none;
		padding: 8px 5%; margin: 25px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	.tab-content{
		display: none;

		&.current{
			display: block;
		}

		h4{
			font-size: 12px; line-height: 12px; font-weight: $bold; color: #7B7795;
			text-align: left; margin: 0 0 10px; letter-spacing: 1px;
			&.large{
				font-size: 20px; line-height: 20px; text-transform: none; font-weight: $regular;
			}
			&.black{
				color: #393939;
			}
		}

		p{
			font-size: 13px; line-height: 20px; margin: 0;
		}

		a.black{
			color: #4D4D4D; font-size: 13px;line-height: 24px;
		}

		.green { color: #1DA84B; }
		.red   { color: #BF0002; }

		.top_bordered_block{
			border-top:1px solid #EDEDED; margin-top: 15px; padding-top: 15px;
			p{
				margin: 5px 0;
			}
			b,a{
				color: #4D4D4D;
			}
		}

		.pie-chart-wrapper{
			.chart{
				width:170px; height:170px; margin-right: 25px;
				position: absolute; z-index: 0;
			}
			.gender_icons{
				margin-top: 25px;

				&.absolute{
					position: relative; z-index: 1;
					padding-top: 55px; width: 170px;
					margin-top: 0; margin-left: auto; margin-right: auto;

					.value{
						font-size: 22px;
					}
				}

				@include if-device(phone){
					margin-top: 45px;
				}
			}
		}

		.options-wrapper{
			text-align: center; margin: 15px 0 25px;
			.selectboxit{
				margin-right: 10px;
				margin-top: 10px;
			}
			button.styled{
				vertical-align: top; margin:10px 0 0;

				&:hover{
					background: #e6e6e6;
				}
			}
		}

		.option_item{
			display: inline; background-color: #F9F9F9; font-size: 13px; line-height: 13px;
			border:1px solid $primary-border-color; padding:5px 10px;
			background-position: right center; background-repeat: no-repeat;
			ul{
				list-style: none; position: absolute; width: 100%;
				background: #fff;
			}
		}
		.option_item.dropdown{
			// /*background-image: url("../images/status_dropdown_dark.png");*/
			@include bg-image-2x("../images/status_dropdown_dark", png, 8px, 4px);
		}
	}

	.info-block{
		float: left;
	}

	.photos-block{
		float: right; width:280px;
		h4{
			margin-left: 10px;
		}
		img{
			width:60px; height: 60px; border: none;
			margin: 0 0 10px 10px; float: left;
		}
	}

	.share-your-story{
		text-align: center;
		.button{
			margin: 0 auto 15px;
		}
		.stats{
			display: inline-block;

			&.first{
				margin-right: 15px;
			}

			.number{
				display: inline-block; margin-right: 3px;
				width: 30px; height: 30px; line-height: 30px;
				font-size: 14px; color: #898989; text-align: center;
				border: 1px solid #898989;
				@include border-radius(50%);
			}
			.text{
				display: inline-block; color: #393939;
				font-size: 16px; line-height: 30px;
			}
		}
	}

	.comments{
		.comment-item{
			margin-top: 20px; border-bottom: 1px solid #EDEDED;
			&.first{
				margin-top: 25px;
			}
			&.last{
				border-bottom: none;
			}
		}
		.name{
			margin-bottom: 15px;
			font-size: 14px; font-weight: bold;
			line-height: 17px; color: #393939;
		}
		.text{
			margin-bottom: 15px;
			font-size: 14px; line-height: 20px; color: #393939;
		}
		.timestamp{
			font-size: 12px; line-height: 20px; color: #898989;
		}
	}

	.info_data_table td{
		vertical-align: top;
	}

	.required{
		border-bottom: 1px solid #ddd;
		.icon{
			width: 40px; height: 40px;
			background-color: $color_blue; @include border-radius(50%);
		}
		// p{
		// 	 font-size: 16px; line-height: 40px;
		// 	&.items{
		// 		min-width: 100px; color: $color_blue;
		// 	}
		// }
		.items{
			font-size: 16px;
		}
		.button{
			margin-top: 18px;
		}
	}

	.stats_gender_item{
		&.large{
			width: 150px;
		}
	}

	.tab-volunteer{
		.title{
			font-size: 20px; line-height: 28px;
		}
		.items{
			font-size: 16px; line-height: 22px;
		}
	}

	.tab-items{
		.title{
			font-size: 20px; line-height: 28px;
		}
		.items{
			font-size: 16px; line-height: 22px;
		}
	}

	.lang-marks{
		width: 350px;
		
		.item{
			margin-bottom: 15px; zoom: 1;
		}
		.label{
			width: 30%; text-transform: uppercase; font-weight: 700; color: #393939; font-size: 13px;
		}
		.percent{
			width: 2%; font-weight: bold; text-align: center; padding-right: 2%; text-align: left;
		}
		
		@include if-device(phone){
			.percent{
				text-align: left;
			}
		}
	}

	.bar{
		width: 62%; height: 15px; background: #EDEDED;
		.bar-value{
			width: 32%; height: 100%; background-color: #5f5f5f;
			&.bar-value-47{
				width: 47%;
			}
			&.bar-value-38{
				width: 38%;
			}
			&.bar-value-23{
				width: 23%;
			}
			&.bg-green{
				background-color: #4AC18D;
			}
		}
	}

	@include if-device(phone-tablet) {
		.fl-desktop,
		.fr-desktop{
			float: none;
		}
		.clr-phone-tablet{
			clear: both;
		}

		.photos-block{
			width: auto;
			margin:25px 0 0 -10px;
		}

		.basic_table{
			width:100%;
		}
		.width-48p{
			width:100%;
		}
		.infra_data_table{
			width:100%; min-width: 0; display: table;
		}
		.infra_data_table tr td:first-child, .infra_data_indicators tr td:first-child,
		.info_data_table.label_longer tr td:first-child{
			width:40%; padding-right: 10px;
		}
		.infra_data_indicators{
			margin-right:0;
		}

		// .share-your-story{
		// 	text-align: left;
		// }
	}
	@include if-device(phone) {
		.fl-desktop-tablet,
		.fr-desktop-tablet{
			float: none;
		}
		.clr-phone{
			clear: both;
		}
		.tab-heading{
			display: block;
		}
		.tab-content{
			display: block;

			.pie_chart_wrapper{
				.chart{
					margin-right: 5px;
				}
			}
		}
		.width-48p-desktop-tablet{
			width:100%;
		}
		.info_data_table tr td{
			line-height: 20px;
			padding: 0 0 5px;
		}
		.info_data_table.label_small tr td:first-child,{
			width: 40%;
		}
		.infra_data_table tr td{
			line-height: 20px;
			padding: 5px 0 0;
		}
		.bar_graph_hor{
			width:100%;
			.bar{
				width:60%;
			}
		}
	}
}