.page-donate-item{
	h3{
		color: #393939; text-align: left; letter-spacing: normal; font-size: 26px; line-height: 42px;
		font-weight: normal; text-transform: none;
	}
	.head{
		font-size: 16px;
		&.center{
			line-height: 30px;
		}
	}
	.width-half{
		float: left; width: 49.9%;
		&.border-right{
			border-right: 1px solid #D8D8D8;
		}
		&.border-bottom{
			border-bottom: 1px solid #D8D8D8;
		}
		&:last-child{
			border-bottom: none;
		}
	}
	.title{
		font-size: 20px; line-height: 28px;
	}
	.items{
		font-size: 16px; line-height: 22px;
	}
	.address{
		margin: 6px 0 10px;
	}
	.button{
		margin-top: 23px;
	}
	.desc{
		line-height: 22px;
	}
	.info-item{
		float: left; margin-right: 20px;
		@include text-shadow(1px 1px 0px, #fff);

		.label,.value{
			text-transform: uppercase; font-size: 11px; line-height: 18px; 
			color: #898989; font-weight: bold; letter-spacing: 1px;
		}
		.value{
			text-transform: none; color: #393939; letter-spacing: normal; font-size: 12px;
		}
	}
	.quant-item{
		font-size: 14px; line-height: 32px;
		color: #393939;
	}
	.items-wrapper{
		width: 350px;
	}
	.dropdown{
		height: 30px; border: 1px solid #D7D7D7; background-color: #F6F6F6;
		padding: 0 40px 0 10px;
		@include border-radius(3px);

		.selected{
			color: #898989; font-size: 14px; line-height: 30px;
		}
		.carat{
			border-top: 6px solid #898989;
		}
		> div{
			width: 97%;
			overflow: hidden;
			background: #fff;
			border: 1px solid #D8D8D8;
			border-top: none;
			@include border-radius(2px);
		}

		li{
			color: #5f5f5f; border-bottom: none;
			text-transform: none;
			height: 30px;
			line-height: 30px;
			background: #fff;

			&.focus{
				background: #f6f6f6; color:#5f5f5f;
			}
			&.active{
				background: #eee; color:#5f5f5f;
			}
		}
	}
	.signup-wrapper{
		width: 640px;
		background-color: #F6F6F6; border: 1px solid #D8D8D8;

		.bordered{
			font-size: 22px; line-height: 28px; text-transform: none;
			font-weight: $regular;
		}
	}

	.signup-inner{
		width: 450px;
		
		.label{
			font-size: 14px; line-height: 20px;
			color: #393939;
		}
		.already-user{
			color: #898989; font-size: 14px; line-height: 30px;
			vertical-align: top;
		}
		// .input{
		// 	@include box-sizing(border-box);
		// 	width: 97%;
		// }
	}
	.input{
		&.small{
			width: 38px; height: 30px; font-size: 14px;
			padding: 0 10px;
		}
	}
	@include if-device(phone){
		.width-half{
			&.border-right{
				border-right: none;
			}
		}
		.signup-inner{
			width: 90%;
		}
		.input{
			&.small{
				width: 38px;
			}
		}
	}
}