.page-data{
	h1{
		color: $color_database;
		&::after{
			background: $color_database !important;
		}
	}
	h3{
		color: #393939; text-align: left; letter-spacing: normal;
		font-size: 18px; font-weight: 700; margin: 50px 0 25px;
	}
	.below-head a{
		color: $color_database;
	}
	a.csv_link{
		display: inline-block; font-size: 14px; line-height: 30px; color: #4D4D4D;
		vertical-align: top;
	}
	a.button.green2{
		margin-top: 0;
	}
}