.volunteer-flow{

	.teaching{
		color: #23BA89;
	}
	.activity{
		color: #FB4C2F;
	}
	.skill{
		color: #7A63D6;
	}

	.steps-wrapper{
		position: relative; height: 500px;
		overflow: hidden; overflow-y: scroll;
	}
	.step-item{
		position: absolute; top: 0; left: 0; right: 0;
		visibility: hidden;
		@include opacity(0);
		@include transform(translateX(0) translateY(0));

		&.visible{
			visibility: visible;
		}
	}

	.fadein, .fadeout{
		@include transition(all 300ms ease-in-out);
	}
	.fadeout{
		@include opacity(0);
	}
	.fadein{
		@include opacity(1);
	}

	.move-left{
		@include transform(translateX(-50px) translateY(0));
	}
	.move-right{
		@include transform(translateX(50px) translateY(0));
	}

	.step-details,
	.step-date,
	.step-confirmation,
	.step-submit{
		width: 320px; margin: 0 auto;
	}
	.step-confirmation{
		.confirm-org{
			width: 100%; margin-top: 50px;
			.confirm-org-1{
				width: 48%; padding-right: 2%;
			}
			.confirm-org-2{
				width: 48%; padding-left: 2%;
			}
			.org-head{
				font-size: 12px; text-transform: uppercase; color: #8D8D8D;
			}
			.text{
				font-size: 16px; font-weight: bold;
			}
		}
		.btn-modal-close{
			margin-right: 10px;
		}
	}
	.cal{
		width: 320px; height: 280px; margin: 30px auto 0;
	}
	.input-wrapper{
		position: relative;
		.icon-location{
			position: absolute; right: 0; top: 0;
			width: 36px; height: 36px; text-align: center;
			background-repeat: no-repeat; background-position: center;
			@include bg-image-2x("../images/volunteer/icon_location", png, 14px, 14px);
			@include opacity(0.5);

			&:hover{
				@include opacity(1);
			}
		}
	}
	.opportunities-list{

		.list-item {
			display: block; cursor: pointer;
			background-color: #f8f8f8; padding: 25px 15px;
			padding-left: 112px; text-decoration: none;
			background-repeat: no-repeat; background-position: 20px center;
			border-top: 1px solid $primary-border-color;

			&:last-of-type{
				border-bottom: 1px solid $primary-border-color;
			}

			.left-col{
				margin-right: 50px;
			}
			.title{
				margin-bottom: 5px;
				font-size: 16px; font-weight: $bold;
				line-height: 17px;
			}
			.detail{
				font-size: 12px; line-height: 15px;
				color: #898989;
			}
			.available{
				font-size: 12px; line-height: 17px; color: #8D8D8D; text-align: right;
				width:50px;

				.count{
					display: block;
					font-size: 24px; line-height: 32px; font-weight: $bold;
				}
			}

			&.teaching{
				@include bg-image-2x("../images/volunteer/teaching", png, 72px, 72px);

				.title,
				.available .count{
					color: #23BA89;
				}
			}
			&.activity{
				@include bg-image-2x("../images/volunteer/activity", png, 72px, 72px);

				.title,
				.available .count{
					color: #FB4C2F;
				}
			}
			&.skill{
				@include bg-image-2x("../images/volunteer/skill", png, 72px, 72px);

				.title,
				.available .count{
					color: #7A63D6;
				}
			}
			&.show-all{
				padding: 10px; color: #6D6D6D;
				font-size: 16px;
				text-align: center; text-decoration: none;
			}

			&.active,
			&:hover{
				background-color: #fff;
			}
		}

		&.organizations-list{
			.list-item {
				padding: 15px;
				&.show-all{
					padding: 10px;
				}

				.org-logo{
					height: 45px;
				}
			}
		}
	}

	.or-text{
		padding: 5px 0; margin: 0;
		font-size: 14px; color: #adadad;
		text-align: center; text-transform: uppercase;
		border-top: 1px solid $primary-border-color;

		&.no-border{
			border:none;
		}
	}

	.address{
		.en-icon{
			margin: 0 auto;
		}
		.name{
			font-size: 24px; font-weight: $light;
			line-height: 29px;
		}
		.details{
			margin-top: 5px;
			font-size: 12px; font-weight: $bold;
			line-height: 15px; letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.date{
		margin-top: 50px;
		color: #393939;
		.icon-cal{
			margin: 0 auto;
			height: 30px; width: 30px;
			border: 1px solid;
			background-repeat: no-repeat; background-position: center;
			@include bg-image-2x("../images/volunteer/icon_calendar", png, 15px, 15px);
			@include border-radius(50%);
		}
		.value{
			font-size: 30px; font-weight: $light;
			line-height: 32px;
		}
	}

	.message{
		margin-top: 50px;
		font-size: 18px; color: #000000;
		line-height: 22px;
		.text{
			font-size: 14px; color: #6D6D6D;
			line-height: 16px;
		}
	}

	.bordered-heading{
		margin-bottom: 30px;
		text-align: center; text-transform: none;
		font-size: 20px; font-weight: normal;
		letter-spacing: 0px;
		span{
			margin-top: 10px;
		}
	}

	.alternate-text{
		display: inline-block;
		vertical-align: baseline;
		zoom: 1;
		color: #9B9B9B;
		vertical-align: top;
		line-height: 28px;
		height: 24px;
		margin-right: 5px;
	}

	@include if-device(phone-tablet) {
		.opportunities-list{
			.list-item {
				background-size: 50px !important;
				padding-left: 90px;
			}
		}
	}
}

.page-volunteer-register{
	padding: 60px 0;

	.volunteer-flow{
		height:540px; position: relative;

		.step-details{
			width:inherit;
		}
	}
	.button-back {
		position: absolute; left: 15px; top: 5px; display: none;
		width: 10px; height: 15px; z-index: 1;
		background-repeat: no-repeat; background-position: center center;
		@include bg-image-2x("../images/icon_back", png, 10px, 15px);
		@include border-radius(50%);
		@include opacity(0.5);
		cursor:pointer;

		&:hover{
			@include opacity(1);
		}
	}
	.bordered-heading{
		span{
			display: none;
		}
	}
}