@import 'bourbon/bourbon';
@import "config";
@import "config";
@import "sass-css-utilities/sass-css-utilities";
@import "mixins";
@import "colors";
@import "base";
@import "grid";
@import "navigation";
@import "footer";
@import "common";
@import "page-section-menu";
@import "form";
@import "easydropdown.flat";
@import "selectBoxIt";
@import "selectize";
@import "select2";
@import "volunteer-flow";
@import "modal";
@import "token-input";
@import "page-home";
@import "page-volunteer";
@import "page-partners";
@import "page-programmes";
@import "page-programme-details";
@import "page-about";
@import "page-contact";
@import "page-disclaimer";
@import "page-status";
@import "page-data";
@import "page-profile";
@import "page-organisation-profile";
@import "page-donation";
@import "page-donate-item";
@import "page-thank-you";
@import "datepicker";
@import "map";
@import "modal-school-comparison";
@import "page-school";
@import "page-assessments";
@import "page-volunteer-map";
@import "style-guide";
@import "dev/sample";

.textarea,
.input-text{
	height: 32px; line-height: 20px;
	border: 1px solid #CACACA; color: $base-text-color;
	@include border-radius(3px); padding-left: 5px; padding-right: 5px;

	&:focus{
		border-color: #adadad;
		box-shadow: none;
		outline: none;
	} 

	&.width-100p{
		width: 96%;
	}
}

.textarea{
	height: 64px;
}

.width-48p{
	width: 48%;
}
.width-75p{
	width: 75%;
}

.purple-heading{
	line-height: 12px; 
	font-size: 12px; letter-spacing: 1px;
	font-weight: bold; color: #7B7795; 
	text-align: left; text-transform: uppercase;
}

.stat-ratio{
	display: inline-block; text-align: center; text-transform: uppercase; 
	font-size: 18px; line-height: 18px; font-weight: $bold; letter-spacing: 1px;
	.stat-item{
		float: left; padding: 0 10px;
		span{
			display: inline-block; margin-top: 25px;
			width:40px; height: 18px; padding: 11px 0;
			border: 2px solid #ccc;
			@include border-radius(50%);
		}
	}
	.teacher{
		color: #f79514;
		span{	border-color: #f79514;	}
	}
	.student{
		color: #da5765;
		span{	border-color: #da5765;	}
	}
	.boy{
		color: #609adf;
		span{	border-color: #609adf;	}
	}
	.girl{
		color: #f87c84;
		span{	border-color: #f87c84;	}
	}
}

.basic_table{
	width: 80%; border: none; margin: 0 auto; border-collapse: collapse;
	border: 1px solid $primary-border-color;
	tr{
		
		th,td{
			width:14.285%; 
			text-align: center; padding: 10px 0; font-size: 13px;
		}
		th{
			background: #f6f6f6; line-height: 20px;
		}
		td{
			&:first-child{
				text-transform:uppercase;
			}
		}
	}
}

// Color classes

.purple{ color: #7B7795; }
.very-good{ color: #417D14; }
.good{ color: #5EA733; }
.average{ color: #FDB92C; }
.bad{ color: #FD7823; }
.very-bad{ color: #DB211E; }