<script type="text/html" id="tpl-compare-flow">
  <section id="compare_flow" class="school-comparison-flow hide">
    <div class="compare-block">
      <div class="label-compare-block">
        <span class="label-compare label-compare-clear js-comparison-clear-right">clear</span>
        <span class="label-compare label-compare-compare">Comparing</span>
        <div class="vr"></div>
        <div class="icon-button-round icon-button-compare"><span class="k-icon">vs</span></div>
      </div>
      <div class="grid-parent">
        <div class="school-compare-each js-comparison-option-left">
        </div>
        <div class="school-compare-each school-compare-search hide js-comparison-option-right">
        </div>        

        <div class="school-compare-each school-compare-search js-comparison-default-right">
          <div id="dropdown_wrapper" class="school-compare-select">
            <input type="text" id="comparison-search-select" class="select2 input-text" placeholder="Search to compare">
          </div>
        </div>
      </div>      
    </div> <!-- /compare-block --> 

    <div class="compare-button-block">
      <a href="" class="js-btn-compare purple-amethyst-bg">Compare now</a>
      <a href="" class="js-btn-cancel grey-steel-bg js-comparison-close show">Cancel</a>        
    </div>

    <div class="comparison-result-wrapper js-comparison-result-wrapper"></div>
  </section>
</script>