<script id="loginModalTemplate" type="text/html">
  <div class="modal-block" id="signupContainer" data-step-name="signup">
    <h3 class="heading-border">Signup</h3>
    <form id="signupForm" class="form-base form-signup">
      <div class="form-field-wrap">
        <input type="text" id="signupFirstName" data-required="true" placeholder="First Name" class="input-text" aria-label="First Name">
      </div>
      <div class="form-field-wrap">
        <input type="text" id="signupLastName" placeholder="Last Name" class="input-text" aria-label="Last Name">
      </div>
      <div class="form-field-wrap">
        <input type="email" id="signupEmail" data-required="true" placeholder="Email" class="input-text" aria-label="Email">
      </div>
      <div class="form-field-wrap">
        <input type="tel" id="signupPhone" data-required="true" placeholder="Phone Number" class="input-text" aria-label="Phone Number">
      </div>
      <div class="form-field-wrap">
        <input type="password" id="signupPassword" data-required="true" placeholder="Password" class="input-text" aria-label="Password">
      </div>
      <div class="form-field-wrap">
        <input type="checkbox" name="opted_email" id="signupOptedEmail" class="input-checkbox" checked>
        <label for="signupOptedEmail" class="input-checkbox-label heading-tiny">Receive updates from KLP and its partners</label>
      </div>
      <div class="form-field-wrap">
        <input type="submit" value="Submit" class="button js-submit-btn" id="signupFormSubmit">
      </div>
      <div class="js-submit-loading" style="display:none;">
        Sending...
      </div>
    </form>
  <div class="form-field-wrap">
    <span class="heading-tiny">Already a registered user?</span>
    <a class="button-grey button--sm js-showLogin">Login</a>
  </div>
</div>
<!-- Step End -->

<div class="modal-block" id="loginContainer" data-step-name="login" style="display:none;">
  <h3 class="heading-border">Login</h3>
  <form id="loginForm" class="form-base form-login">
    <div class="form-field-wrap">
      <input type="email" id="loginEmail" data-required="true" class="input-text" placeholder="Email or Phone Number" aria-label="Email or Phone Number">
    </div>
    <div class="form-field-wrap">
      <input type="password" id="loginPassword" data-required="true" class="input-text" placeholder="Password" aria-label="Password">
    </div>
    <div class="form-field-wrap">
      <input type="submit" value="Submit" class="button js-submit-btn" id="loginFormSubmit">
      <div class="js-submit-loading" style="display:none;">
        Sending...
      </div>
    </div>
  </form>
  <div class="form-field-wrap">
    <a class="button-grey button--sm js-showForgotPassword">Forgot Password?</a>
  </div>
  <div class="form-field-wrap">
    <span class="heading-tiny">Not a registered user?</span>
    <a class="button-grey button--sm js-showSignup">Signup</a>
  </div>
</div>
<!-- Step End -->

<div class="modal-block" id="forgotPasswordContainer" data-step-name="forgot_password" style="display:none;">
  <h3 class="heading-border">Forgot Password</h3>
  <form id="forgotPasswordForm" class="form-base form-login">
    <div class="form-field-wrap">
      <input type="text" id="forgotPasswordEmail" data-required="true" class="input-text" placeholder="Email" aria-label="Email">
    </div>
    <div class="form-field-wrap">
      <a class="button js-submit-btn" id="forgotPasswordFormSubmit">Reset Password</a>
      <div class="js-submit-loading" style="display:none;">
        Sending...
      </div>
    </div>
  </form>
</div>
<!-- Step End -->
</script>