<div class="modal js-login-modal volunteer-flow">
    <a class="button-close btn-modal-close"></a>
    <div class="content">
        <div class="steps-wrapper">
            <div class="step-item login-step-item" id="signupContainer" data-step-name="signup">
                <div class="step-details">
                    <h3 class="bordered-heading blue">Signup<span></span></h3>
                    <form id="signupForm">
                        <input type="text" id="signupFirstName" data-required="true" class="input-text input width-100p" placeholder="First Name">
                        <input type="text" id="signupLastName" class="input-text input width-100p mar_top_30" placeholder="Last Name">
                        <input type="text" id="signupEmail" data-required="true" class="input-text input width-100p mar_top_30" placeholder="Email">
                        <input type="text" id="signupPhone" data-required="true" class="input-text input width-100p mar_top_30" placeholder="Phone Number">
                        <input type="password" id="signupPassword" data-required="true" class="input-text input width-100p mar_top_30" placeholder="Password">
                        <div class="ta-c mar_top_20">
                            <a class="button blue btn-next-step-confirmation js-submit-btn" id="signupFormSubmit">
                                Submit
                            </a>
                            <div class="js-submit-loading" style="display:none;">
                                Sending...
                            </div>
                        </div>
                    </form>
                    <div class="ta-c mar_top_20">
                        <span class="alternate-text">Already a registered user?</span>
                        <a class="button no-mar filled-shadow small clickable dark_grey btn-next-step-login js-showLogin">Login</a>
                    </div>
                </div>
            </div> <!-- Step End -->

            <div class="step-item login-step-item" id="loginContainer" data-step-name="login" style="display:none;">
                <div class="step-details">
                    <h3 class="bordered-heading blue">Login<span></span></h3>
                    <form id="loginForm">
                        <input type="text" id="loginEmail" data-required="true" class="input-text width-100p mar_top_100" placeholder="Email">
                        <input type="password" id="loginPassword" data-required="true" class="input-text width-100p mar_top_30" placeholder="Password">
                        <div class="ta-c mar_top_20">
                            <a class="button blue btn-next-step-confirmation js-submit-btn" id="loginFormSubmit">Login</a>
                            <div class="js-submit-loading" style="display:none;">
                                Sending...
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- Step End -->
        </div>
    </div>      
</div>