<div class="modal js-login-modal volunteer-flow">
    <a class="button-close btn-modal-close"></a>
    <div class="content">
        <div class="steps-wrapper">
            <div class="step-item login-step-item" id="signupContainer" data-step-name="signup">
                <div class="step-details">
                    <h3 class="heading-border">Signup<span></span></h3>
                    <form id="signupForm" class="form-base form-signup">
                        <div class="form-field-wrap">
                            <input type="text" id="signupFirstName" data-required="true" placeholder="First Name" class="input-text">                       
                        </div>
                        <div class="form-field-wrap">
                            <input type="text" id="signupLastName" placeholder="Last Name" class="input-text">
                        </div>
                        <div class="form-field-wrap">
                            <input type="email" id="signupEmail" data-required="true" placeholder="Email" class="input-text">
                        </div>
                        <div class="form-field-wrap">
                            <input type="tel" id="signupPhone" data-required="true" placeholder="Phone Number" class="input-text">
                        </div>
                        <div class="form-field-wrap">
                            <input type="password" id="signupPassword" data-required="true" placeholder="Password" class="input-text">
                        </div>
                        <div class="form-field-wrap">
                            <input type="checkbox" name="opted_email" id="signupOptedEmail" class="input-checkbox" checked="">
                            <label for="signupOptedEmail" class="input-checkbox-label heading-tiny">Receive updates from KLP and its partners</label>
                        </div>
                        <div class="form-field-wrap">
                            <input type="submit" value="Submit" class="button blue btn-next-step-confirmation js-submit-btn" id="signupFormSubmit">
                        </div>                            
                        <div class="js-submit-loading" style="display:none;">
                            Sending...
                        </div>
                    </form>
                        </div>
                        <div class="form-field-wrap">
                        <span class="heading-tiny">Already a registered user?</span>
                        <a class="button-grey button-sm btn-next-step-login js-showLogin">Login</a>
                    </div>
                </div>  
            </div> <!-- Step End -->

            <div class="step-item login-step-item" id="loginContainer" data-step-name="login" style="display:none;">
                <div class="step-details">
                    <h3 class="heading-border">Login<span></span></h3>
                    <form id="loginForm" class="form-base form-login">
                        <div class="form-field-wrap">
                            <input type="email" id="loginEmail" data-required="true" class="input-text" placeholder="Email">
                        </div>

                        <div class="form-field-wrap">
                            <input type="password" id="loginPassword" data-required="true" class="input-text" placeholder="Password">
                        </div>

                        <div class="form-field-wrap">
                            <input type="submit" value="Submit" class="button blue btn-next-step-confirmation js-submit-btn" id="loginFormSubmit" />
                            <div class="js-submit-loading" style="display:none;">
                                Sending...
                            </div>
                        </div>
                    </form>
                    <div class="form-field-wrap">
                        <a class="button-grey button-sm js-showForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="form-field-wrap">
                        <a class="button-grey button-sm js-showSignup">Back to Signup</a>
                    </div>
                </div>
            </div> <!-- Step End -->

            <div class="step-item login-step-item" id="forgotPasswordContainer" data-step-name="forgot_password" style="display:none;">
                <div class="step-details">
                    <h3 class="heading-border">Forgot Password<span></span></h3>
                    <form id="forgotPasswordForm" class="form-base form-login">
                        <div class="form-field-wrap">
                            <input type="text" id="forgotPasswordEmail" data-required="true" class="input-text" placeholder="Email">                        
                        </div>
                        <div class="form-field-wrap">
                            <a class="button btn-next-step-confirmation js-submit-btn" id="forgotPasswordFormSubmit">Reset Password</a>
                            <div class="js-submit-loading" style="display:none;">
                                Sending...
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- Step End -->

        </div>
    </div>      
</div>