<div class="profile-login-block">
    <div class="profile-options-wrapper">
        <div class="profile-options button-grey" id="authUsername" data-state="anonymous">Login</div>
        <ul class="options-list">
            <li>
                <a href="#" id="userProfileBtn">Profile</a>
            </li>
            <li>
                <a href="#" id="userEditProfileBtn">Edit Profile</a>
            </li>
            <li>
                <a href="#" id="logoutUser">Logout</a>
            </li>
        </ul>
    </div> <!-- /profile-options-wrapper -->   
</div> <!-- /profile-login-block -->
