<ul class="profile-login-block" id="preloginContainer">
  <li><div class="profile-options js-login-trigger" id="authUsername" data-state="anonymous"><span class="fa fa-login"></span>Login</div></li>
</ul>

<ul class="dropdown-base js-dropdown profile-login-block" id="postloginContainer" style="display:none;">

  <li>
    <div id="signupModalTrigger" style="display:none"></div>
    <span class="fa fa-user"></span>
    <ul>
      <li>
        <a href="#" id="userProfileBtn">
          <span class="fa fa-user icon-left"></span>Profile
        </a>
      </li>
      <li>
        <a href="#" id="userEditProfileBtn">
          <span class="fa fa-edit icon-left"></span>Edit Profile
        </a>
      </li>
      <li>
        <a href="#" id="logoutUser">
          <span class="fa fa-sign-out icon-left"></span>Logout
        </a>
      </li>
    </ul>
  </li>
</ul>