<!-- <div class="profile-login-block">
  <div class="profile-options-wrapper">
    <div class="profile-options" id="authUsername" data-state="anonymous">Login</div>
    <div id="signupModalTrigger" style="display:none;"></div>
    <ul class="options-list">
      <li>
        <a href="#" id="userProfileBtn"><span class="fa fa-user icon-left"></span>Profile</a>
      </li>
      <li>
        <a href="#" id="userEditProfileBtn"><span class="fa fa-edit icon-left"></span>Edit Profile</a>
      </li>
      <li>
        <a href="#" id="logoutUser"><span class="fa fa-sign-out icon-left"></span>Logout</a>
      </li>
    </ul>
  </div>
</div> --> <!-- /profile-login-block -->

<ul class="dropdown-base js-dropdown profile-login-block">
  <!-- <div class="profile-options" id="authUsername" data-state="anonymous">Login</div> -->
  <li>
    <div id="signupModalTrigger" style="display:none"></div>
    <span class="fa fa-user js-login-trigger" id="authUsername" data-state="anonymous">Login</span>
    <ul>
      <li><span class="fa fa-user icon-left"></span>Profile</li>
      <li><span class="fa fa-edit icon-left"></span>Edit Profile</li>
      <li><span class="fa fa-sign-out icon-left"></span>Logout</li>
    </ul>
  </li>
</ul>