<ul id="navigation">
	{% if not homepage %}
	<li class="home">
		<a href="index.php"><h1>Karnataka Learning Partnership</h1></a>
	</li>
	{% endif %}
	<li class="school_map">
		<a href="map.html" title="">School Map</a>
	</li>
	<li class="programmes">
		<a href="programmes.php" title="">Programmes</a>
		<ul>
			<li><a href="reading_programme.php" title=""><span></span>Reading</a></li>
			<li><a href="maths_programme.php" title=""><span></span>Math</a></li>
			<li><a href="library_programme.php" title=""><span></span>Library</a></li>
			<li><a href="preschool_programme.php" title=""><span></span>Pre-School</a></li>
		</ul>
	</li>
	<li class="volunteer"><a href="volunteer.php" title="">Volunteer</a></li>
	<li class="database">
		<a href="status_1.php" title="">Database</a>
		<ul>
			<li><a href="status_1.php" title=""><span></span>Status 1</a></li>
			<li><a href="status_2.php" title=""><span></span>Status 2</a></li>
			<li><a href="status_3.php" title=""><span></span>Status 3</a></li>
			<li><a href="#" title=""><span></span>Raw Data</a></li>
			<li><a href="#" title=""><span></span>Github</a></li>
		</ul>
	</li>
	<li class="reports"><a href="#" title="">Reports</a></li>
	<li class="about">
		<a href="about.php" title="">About</a>
		<ul>
			<li><a href="about.php" title=""><span></span>About</a></li>
			<li><a href="partners.php" title=""><span></span>Partners</a></li>
			<li><a href="disclaimer.php" title=""><span></span>Disclaimer</a></li>
		</ul>
	</li>
</ul>