<ul class="js-dropdown nav">
  <li class="brand-orange">
    <a href="{% url 'map' %}">School Map</a>
  <li class="brand-green">
    <a href="">Programmes</a>
    <ul>
      <li><a href="{% url 'reading_programme' %}"><span></span>Akshara</a></li>
      <li><a href="{% url 'sikshana_programme' %}"><span></span>Sikshana</a></li>
    </ul>
  <li class="brand-blue">
    <a href="{% url 'volunteer' %}">Volunteer</a>
  <li class="brand-turquoise">
    <a href="">Data</a>
    <ul>
      <li><a href="http://status.klp.org.in" target="_blank"><span></span>Status</a></li>
      <li><a href="{% url 'data' %}"><span></span>Data</a></li>
      <li><a href="{% url 'django.swagger.base.view' %}#!/v1/"><span></span>API</a></li>
      <li><a href="http://github.com/klpdotorg" target="_blank"><span></span>Code</a></li>
    </ul>
  <li class="brand-purple">
    <a href="">Reports</a>
    <ul>
      <li><a href="http://dise.klp.org.in" target="_blank"><span></span>DISE</a></li>
      <li><a href="http://reports.klp.org.in" target="_blank"><span></span>KLP Reports</a></li>
      <li><a href="http://sslc.klp.org.in" target="_blank"><span></span>SSLC</a></li>
      <li><a href="http://ivrs.klp.org.in/" target="_blank"><span></span>IVRS</a></li>
      <li><a href="{% url 'reports' %}"><span></span>Other Reports</a></li>
    </ul>
  <li class="brand-red">
    <a href="">About</a>
    <ul>
      <li><a href="{% url 'aboutus' %}"><span></span>About</a></li>
      <li><a href="{% url 'partners' %}"><span></span>Partners</a></li>
      <li><a href="{% url 'disclaimer' %}"><span></span>Disclaimer</a></li>
    </ul>
</ul>