.alert {
    position: fixed;
    top: 25px;
    left: 20%;
    right: 20%;
    z-index: 9999;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 120%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.9);

}

.alert.success {
    background-color: #75CF7E;
}

.alert.warning {
    background-color: #EC6608;
}

.alert.error {
    background-color: #CB0012;
}