.klp-filter-select.v-border .select2-container {
    border: none;
}

//For select2 on compare modal

.school-comparison-flow .dropdown-wrapper {
    background: transparent;
    box-shadow: none;
    top: 111px;

    .search-box .input-search {
        background: transparent;
        border-bottom: none;
    }   
}

.school-comparison-flow .dropdown-wrapper .search-box .input-search {
    padding: 4px 0;
    height: 31px;
    line-height: 31px;     
}
