{% extends "base.html" %}
{% block page_title %}Library Programme{% endblock %}
{% block content %}

<div class="page-programme-details">
	<section class="banner-full banner-library">
    <div class="banner-content">
			<h1 class="heading-primary white">Library Programme</h1>
			<div class="banner-full-caption">
				<p>The School-based Library Programme is a key part of Akshara’s approach, as we believe that books and reading impact children’s learning outcomes by helping them become better readers. The Programme has set up nearly 400 libraries in the 1417 Government Primary Schools in Bangalore Urban district covering a total of 215,000 children. Every child in every government primary school (Classes 2-7 ) in Bangalore has access to library facilities</p>
			</div>
    </div> <!-- /banner-content -->
    <div class="banner-overlay"></div>
	</section>

<nav class="scroll-smooth-block js-scroll-smooth-block">
  <ul class="scroll-smooth-links">
		<li><a href="#section-project-goals">Project Goals</a></li>
		<li><a href="#section-methodology">Methodology</a></li>
	</ul>
</nav>

<section id="section-project-goals">
  <div class="center-text">
    <h2 class="heading-section">Project Goals</h2>
    <div class="heading-section-block"></div>
  </div>
	<div class="container">
		<p>The Library Programme aims to make every child in every government primary school a Library member and bring in methodologies to ensure that they are reading well. To this end, the goals of the Programme are:</p>
		<img src="/static/images/lib-manuals.jpg" class="float-right-padding" width="500" height="375">
		<ul class="ul-base">
			<li>Provide support to institutionalize, structure, co-ordinate and organize sustainable library services for every child in all government primary schools in Bangalore – all 215,000 children from grades 2-7 should have regular access to library facilities.</li>
			<li>Provide good and strong "curriculum" (Books, Computers, Innovative Learning activities) to these Libraries.</li>
			<li>Create tools to measure impact of efforts – both process data and child assessment data gathered as part of our Research efforts, will be collected and analysed.</li>
			<li>Create the library network by leveraging existing facilities and institutions where possible, and, facilitate additional facilities where they do not exist. We will work with the state Education Department and over time with the Department of Public Libraries in the state.</li>
			<li>Transition and hand over the libraries to the Education Department who can sustain this beyond the grant period.</li>
			<li>To make the results of the Programme available in the public domain at the KLP website (http://www.karnatakalearningpartnership.org).</li>
			<li>To document the efforts to enable replication in other parts of the state and indeed in other states.</li>
			<li>To create a knowledge base and expertise for libraries within Akshara to assist in replication across the state and the country.</li>
		</ul>
	</div> <!-- /container -->
</section>

<section id="section-methodology">
  <div class="center-text">
    <h2 class="heading-section">Methodology</h2>
    <div class="heading-section-block">
			<ul>
				<li><a href="#subsection-content" class="js-scroll-smooth-link">Content</a></li>
				<li><a href="#subsection-curriculum" class="js-scroll-smooth-link">Curriculum</a></li>
				<li><a href="#subsection-research-design" class="js-scroll-smooth-link">Research Design</a></li>
				<li><a href="#subsection-assessments" class="js-scroll-smooth-link">Assessments</a></li>						
			</ul>    	
	  </div>
  </div>
	
	<div class="container">
		<h3 id="subsection-content" class="heading-tertiary">Content</h3>
		<p>All books in the Library are graded using a heuristic procedure defined by the Hippocampus Reading Foundation, called "GROW BY". According to this procedure, books are graded into 6 bins or levels based on the number of sentences per page. Each book receives a coloured sticker on its spine to indicate the level. The scheme is as given below:</p>
		<img src="/static/images/lib-2.jpg" class="float-left-padding" width="333" height="500">

		<ul class="library-grade-levels">
			<li class="circle-bullet brand-green">
				<span>Green level</span>
				<span>0 to 2 sentences per page</span>
			</li>
			<li class="circle-bullet brand-red">
				<span>Red level</span>
				<span>3 to 4 sentences per page</span>
			</li>
			<li class="circle-bullet orange-mild">
				<span>Orange level</span>
				<span>5 to 6 sentences per page</span>
			</li>
			<li class="circle-bullet white">
				<span>White level</span>
				<span>7 to 8 sentences per page</span>
			</li>
			<li class="circle-bullet brand-blue">
				<span>Blue level</span>
				<span>9 to 10 sentences per page</span>
			</li>
			<li class="circle-bullet yellow-mild">
				<span>Yellow level</span>
				<span>9 to 10 sentences per page</span>
			</li>
		</ul>

		<p>As a child reads books in the Library, it is expected to read simple books at the start (G or R level books). As its reading skill improves, the child reads more complex books (O, W, B and Y books).</p>

    <section class="base-spacing-lg">
			<h3 id="subsection-curriculum" class="heading-tertiary">Curriculum</h3>
			<p>The children participate in a variety of activities in the Libraries. Loud Reading, Story Telling, Book based Projects are part of the game. We also run special immersive activities in the Libraries that reinforce aspects of their own classroom curriculum ( Minimum Learning Levels). </p>
		</section>

    <section class="base-spacing-lg">
			<h3 id="subsection-research-design" class="heading-tertiary">Research Design</h3>
			<p>To measure the results of the program using quantifiable indicators, Akshara has partnered with Assistant Professor Leigh Linden of the Columbia University Department of Economics to implement a large-scale 3-year longitudinal randomized evaluation of the library program. The primary purpose of the research endeavor is to investigate the effects of providing children with access to reading material either through access to an Akshara sponsored library facility, teacher membership to a nearby Akshara library, or the direct monthly receipt of books.</p>

			<p>The research methodology was designed by Prof. Leigh Linden's team after studying the survey results and the past performance results of the KLP Reading programme.</p>
			<p>About 400 schools were selected randomly to participate in the study and these were broken up into two sets of 200 schools, representing Treatment and Control groups.</p>
		</section>
		
    <section class="base-spacing-lg">
			<h3 id="subsection-assessments" class="heading-tertiary">Assessments</h3>
			<img src="/static/images/lib-1.jpg" class="float-right-padding" width="500" height="332">
			<p>As part of the Research we made a few assessments of the children's learning outcomes in the selected 400 schools.</p>
			<p>The baseline assessment, conducted before the Libraries were switched on, consisted of separate language and math tests for the study sample of students in grades 3-5. Students in grades 4-5 received the exact same tests whereas students in grade 3 received a slightly abbreviated language test but the same exact math test. There were Urdu and Kannada versions that were administered in Urdu and Kannada medium schools respectively.</p>
			<p>The Post test, conducted on the same set of children used the classroom competencies (MLLs) to check if the children in the Treatment Group were ahead of those in the Control Group.</p>
		</section>
	</div> <!-- /container -->
</section>

	<section>
		<div class="center-text">
			<h2 class="heading-section">Other Programmes</h2>
			<div class="heading-section-block">
				<ul class="heading-section-ul-alt">
					<li><a href="{% url 'reading_programme' %}">Reading Programme</a></li>
					<li><a href="{% url 'maths_programme' %}">Maths Programme</a></li>
					<li><a href="{% url 'preschool_programme' %}">Pre-School Programme</a></li>
				</ul>
			</div>
		</div>
	</section>
</div>

{% endblock %}
