{% extends "base.html" %}
{% load static %}
{% block page_title %}Akshara Ganitha Programme{% endblock %}
{% block content %}
<div class="page-programme-details">
  <section class="banner-full banner-maths">
    <div class="banner-content">
      <h1 class="heading-primary white">Akshara Ganitha Programme</h1>
      <div class="banner-full-caption">
        <p>
          A support program conceptualized and developed by Akshara Foundation to aid Maths learning among children in government schools using an activity based approach.
        </p>
        <p>
          Only <span class="h1">25.6%</span> of children in a class V could solve a three-digit by one-digit division problem – ASER (2013)
        </p>
        <div class="base-spacing-lg-2x"></div>
      </div>
    </div> <!-- /banner-content -->
    <div class="banner-overlay"></div>
  </section>

  <nav class="scroll-smooth-block js-scroll-smooth-block">
    <ul class="scroll-smooth-links">
      <li><a href="#section-overview">Overview</a></li>
      <li><a href="#section-methodology">Methodology</a></li>
      <li><a href="#section-monitoring">Monitoring</a></li>
    </ul>
  </nav>

  <section id="section-overview">
    <div class="center-text">
      <h2 class="heading-section">Overview</h2>
      <div class="heading-section-block"></div>
    </div>
    <div class="container">
      <p>
        Mathematics is largely considered by students - and some teachers - as a "dreaded subject”, and is being taught without experiential learning. Akshara Ganitha program is designed keeping principles of constructivism in mind for joyful learning of math in classes 1 to 5.
      </p>
      <p>
        It is designed as a support for primary school Maths teachers to ensure that the key goals set by National Curriculum Framework-2005 for teaching of Mathematics. This is achieved without being a burden on the teachers themselves as the programme dovetails with the current textbooks, classroom instruction practices, examinations and reporting requirements in government schools.
      </p>
      <p>The objective of Akshara Ganitha program is:</p>
      <ul class="ul-base">
        <li>Children understand math through exploration
        <li>Able to retain this learning
        <li>Apply it in real life
        <li>Can solve problems with ease
      </ul>
      <div class="center-text">
        <img src="{% static 'images/partners/AksharaMathTLM.jpg' %}" width="600" height="450">
      </div>
    </div>
  </section>

  
  <section id="section-methodology">
    <div class="center-text">
      <h2 class="heading-section">Methodology</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#subsection-linkage" class="js-scroll-smooth-link">Linkage with Syllabus &amp; Textbook</a></li>
          <li><a href="#subsection-constructivism" class="js-scroll-smooth-link">Constructivism</a></li>
          <li><a href="#subsection-cooperative-learning" class="js-scroll-smooth-link">Cooperative Learning</a></li>
          <li><a href="#subsection-continuous-evaluation" class="js-scroll-smooth-link">Continuous Evaluation</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <section class="base-spacing-lg">
        <h3 id="subsection-linkage" class="heading-tertiary">
          Linkage with Syllabus &amp; Textbook
        </h3>
        <p>
          The program will cover all the topics prescribed in the textbook / syllabus, however, the sequence of introduction may be altered. It will be divided in four areas (aligning broadly with the areas defined in the syllabus): Number Concepts, Money &amp; Measurements, Geometry and Data Handling. 
        </p>
      </section>
      <section class="base-spacing-lg">
        <h3 id="subsection-constructivism" class="heading-tertiary">
          Constructivism
        </h3>
        <p>
          A child creates her own knowledge by engaging with the concrete teaching learning materials in the kit while the teacher facilitates the process.  The methodology introduces concepts in a graded manner focussing on the broader vision of mathematics. The focus is on the activity based experiential learning that enhances child’s ability to think mathematically, see patterns and structures and handle abstractions rather than rote memorisation or mastering procedures.
        </p>
      </section>

      <section class="base-spacing-lg">
        <h3 id="subsection-cooperative-learning" class="heading-tertiary">
          Cooperative Learning
        </h3>
      <div class="center-text">
        <img src="{% static 'images/partners/AksharaMath3.jpg' %}" width="600" height="396">
      </div>
        <p>
          Once the teacher introduces a concept, children explore it further (reinforcement) in a group of 4-6 children using concrete material with the help of a group leader.
        </p>
      </section>

      <section class="base-spacing-lg">
        <h3 id="subsection-continuous-evaluation" class="heading-tertiary">
          Continuous Evaluation
        </h3>
        <p>
          Once a set of linked concepts are introduced, children’s understanding is evaluated by providing further hands on group exercises and by inter-group quizzes in the form of a chapter end evaluation.
        </p>
      </section>
    </div>
  </section>
  
  <section id="section-assessments">
    <div class="center-text">
      <h2 class="heading-section">Monitoring</h2>
      <div class="heading-section-block"></div>
    </div>
    <div class="container">
      <p>
        Akshara has appointed the Cluster facilitators (CFs)- the ‘foot soldiers’ who will be monitoring the programme interms of usage of TLM, Group activities and extend their on the spot support to the teachers in each geograpghy. CFs are typically qualified in Education Program and Akshara has an in-built capacity building strategis for them. CFs invest significant effort in educating the community on their role in school functioning as well as they drive the attentions of the parents on the Learning status of the concerned school and the imputs given by Akshara. They work closely with self help group, local leaders, School Development and Monitoring Committee (SDMC), parents etc.
      </p>
      <section class="base-spacing-lg">
        <h3 class="heading-tertiary">
          Assessments and Evaluation
        </h3>
        <div class="center-text">
          <img src="{% static 'images/partners/AksharaMath0.jpg' %}" width="600" height="400">
        </div>
        <p>
          To find out the impact of the program a longitudinal research study (for three years) - Randomized Controlled Trial (RCT) - is designed to evaluate program effectiveness right at the beginning and just before the implementation of the project started in 2012-13 in geographies where the program was implemented. The research methodology considers an educational cluster randomly selected from all the clusters of treatment block as treatment group and another cluster with homogeneous parameters in terms of number of schools, teachers, children and teacher qualification, from an adjacent educational block as control group to compare and contrast the effectiveness of the program. The RCT design follows an approach of collecting learning outcomes of children, classroom process data and the ethnographic data for multiple cycles during the school academic year to get a sense of their progress, or the grey areas.
        </p>
      </section>
    </div>
  </section>
  
  <section>
    <div class="center-text">
      <h2 class="heading-section">Other Programmes</h2>
      <div class="heading-section-block">
        <ul class="heading-section-ul-alt">
          <li><a href="{% url 'reading_programme' %}">Reading Programme</a></li>
          <li><a href="{% url 'library_programme' %}">Library Programme</a></li>
          <li><a href="{% url 'preschool_programme' %}">Pre-School Programme</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}
