{% extends "base.html" %}
{% block page_title %}Pre-school Programme{% endblock %}
{% block content %}

<div class="page-programme-details">
  <section class="banner-full banner-preschool">
    <div class="banner-content">
      <h1 class="heading-primary white">Pre-school Programme</h1>
      <div class="banner-full-caption">
        <p>In early 2000, Akshara set up its pre-school (Balwadi) programme in Bangalore. The focus was on children from underprivileged, under-served communities, with the goal of universal enrollment to primary schools. We believed that to achieve this, we needed to start with children who were not yet of formal school age. Balwadis are especially important for slum children as a preschool atmosphere of joyful learning enables the imparting of early learning and social skills which results in better school readiness.</p>
      </div>
    </div> <!-- /banner-content -->
    <div class="banner-overlay"></div>
  </section>

  <nav class="js-scroll-smooth-block scroll-smooth-block">
    <ul class="scroll-smooth-links">
      <li><a href="#section-coverage">Coverage</a></li>
      <li><a href="#section-teaching-learning-material">Teaching Learning Material</a></li>
      <li><a href="#section-capacity-building">Capacity building</a></li>
      <li><a href="#section-assessments">Assessments</a></li>
    </ul>
  </nav>
  
  <section id="section-coverage">
    <div class="center-text">
      <h2 class="heading-section">Coverage</h2>
      <div class="heading-section-block"></div>
    </div>
    <div class="container">
      <img src="/static/images/ps-1.jpg" width="470" height="301" class="float-right-padding">
      <p>This refers to:</p>
      <p>Number of centres across the geography <br>
        Number of children across the geography
      </p>
      <p>For example, in Bangalore, pre-school centres are being run by:<br>
        The state-run ICDS which runs centres called anganwadis. There are 1552 anganwadis. Anganwadis are also responsible for health and nutrition but our initiative is limited to education.<br>
        Independent balwadis initiated by Akshara Foundation. In December 2009. there were about 110 centres. This is a self- sustaining model and is provided with training, TLM and financial assistance for the first six months; beyond that period, assistance in the form of follow up training is provided.
      </p>
    </div>
  </section>
  
  <section id="section-teaching-learning-material">
    <div class="center-text">
      <h2 class="heading-section">Teaching Learning Material</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#subsection-play-material" class="js-scroll-smooth-link">Play material</a></li>
          <li><a href="#subsection-charts" class="js-scroll-smooth-link">Charts</a></li>
          <li><a href="#subsection-language-numerical-skills" class="js-scroll-smooth-link">Language/Numerical skills</a></li>
          <li><a href="#subsection-creative-work" class="js-scroll-smooth-link">Creative work</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container">
      <p>To develop high quality content and curriculum and prepare best in class Teaching Learning Material (TLM). The content, curriculum and TLM will be peer reviewed to ensure that this is of the highest quality. Metrics are mainly qualitative and based on:</p>
      <p>Documented feedback from peers and subject matter experts (SMEs)
        Feedback from teachers who manage anganwadis and independent balwadis
        Reactions from children
      </p>
      <p>The TLM for the programme was developed using the help of preschool Subject Matter Experts (SME’s). The TLM was finalized in consultation with the Government. The kits include the following material:</p>
      
      <section class="base-spacing-lg">
        <h3 id="subsection-play-material" class="heading-tertiary">Play material</h3>
        <img src="/static/images/ps-2.jpg" class="float-right-padding" width="470" height="259">
        <p>
          Rope <br>
          Big ball<br>
          Peg Board<br>
          Seriation rings<br>
          Construction squares<br>
          Lacing Board<br>
          Number Blocks<br>
          Vegetable/Fruit basket<br>
          Colours and Shapes Kit<br>
        </p>
      </section>
    
      <section class="base-spacing-lg">
        <h3 id="subsection-charts" class="heading-tertiary">Charts</h3>
        <p>Alphabet Charts (Kannada and English).<br>
          Number Charts.
        </p>
      </section>
    
      <section class="base-spacing-lg">
        <h3 id="subsection-language-numerical-skills" class="heading-tertiary">Language/Numerical skills</h3>
        <img src="/static/images/ps-3.jpg" class="float-right-padding" width="470" height="300">
        <p>
          A set of readers <br>
          Conversation cards<br>
          Workbook<br>
          Flash cards – Kannada and English alphabet, numbers<br>
          Alphabet strips, Number strips<br>
          Counting Board<br>
          Slates/Chalk<br>
          Book of rhymes (for teacher)<br>
        </p>
        <h3 id="subsection-creative-work" class="heading-tertiary">Creative work</h3>
        <p>
          Drawing Book <br>
          Paint Box <br>
          Crayons <br>
          Pencils <br>
        </p>
      </section>
    </div> <!-- /container -->
  </section>

  <section id="section-capacity-building">
    <div class="center-text">
      <h2 class="heading-section">Capacity building</h2>
      <div class="heading-section-block"></div>
    </div>
    <div class="container">
      <p>For pre-school teachers and monitoring of activities.</p>
    </div>
  </section>

  <section id="section-assessments">
    <div class="center-text">
      <h2 class="heading-section">Assessments</h2>
      <div class="heading-section-block"></div>
    </div>
    <div class="container">
      <p>Assessments are an essential part of tracking the effectiveness of the initiative and this has to be done in a non-intrusive manner. Each assessment covers aspects of child development like motor skills; cognitive skills; social and emotional skills; language skills. Assessment formats have been designed. Progress of every child will be measured - reports will however, be aggregated and distributed. Performance benchmarks by centre; by area; by project and each compared to district averages will be tracked and made available. Children have been assessed on 7 sets of competencies using 56 indicators:</p>
      <p>
        General Awareness <br>
        Gross Motor Development<br>
        Fine Motor Development<br>
        Language Development<br>
        Intellectual Development<br>
        Social and Emotional Development<br>
        Pre-academic Skills
      </p>
    </div>
  </section>
  
  <section>
    <div class="center-text">
      <h2 class="heading-section">Other Programmes</h2>
      <div class="heading-section-block">
        <ul class="heading-section-ul-alt">
          <li><a href="{% url 'reading_programme' %}">Reading Programme</a></li>
          <li><a href="{% url 'maths_programme' %}">Maths Programme</a></li>
          <li><a href="{% url 'library_programme' %}">Library Programme</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>

{% endblock %}