{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block page_title %}{{ action }} Donation Request{% endblock %}

{% block endbody %}
	{% compress js %}
	<script src="{% static 'js/donation_add_edit/init.js' %}"></script>
	<script src="{% static 'js/donation_add_edit/donation_form.js' %}"></script>
	<script src="{% static 'js/donation_add_edit/donation_items.js' %}"></script>
	{% endcompress %}

{% endblock %}


{% block content %}

	<section class="phn-pb-30">
		<div class="container">
			<h1 class="bordered blue">{{ action }} Donation Request</h1>
		</div>
	</section>

	<section class="page-donation pt-30 pb-60 phn-pt-0">
		<div class="container">
			<div class="width-400 ma">
				<form id="donationForm" class="" data-id="{{ donation_requirement.id }}">
					<input type="hidden" name="organization" id="donationOrganization" value="{{ org.id }}" />
					<div class="mb-30">
						<label class="block bold mb-5">Title</label>
						<input type="text" name="title" id="donationTitle" class="input" value="{{ donation_requirement.title }}">
					</div>
					<div class="mb-30">
						<label class="block bold mb-5">School</label>
						<input id="donationSchool" class="select2 width-full" value="{{ donation_requirement.school.id }}"/>
						<!--
						<select id="donationSchool" class="select2 width-full">
							<option value="3537">Gian Jyoti Public School</option>
							<option value="3662">Manav Mangal School</option>
							<option value="3537">Dav Public School</option>
						</select>
						-->
					</div>
					<div class="mb-30">
						<label class="block bold mb-5">End Date</label>
						<input type="date" id="donationEndDate" class="input" value="{{ donation_requirement.end_date|date:"Y-m-d" }}">
					</div>
					<div class="mb-30">
						<label class="block bold mb-5">Text</label>
						<textarea class="input textarea" id="donationText">{{ donation_requirement.description }}</textarea>
					</div>
					<div class="ta-c mb-30">
						<input type="submit" value="Submit" class="button blue" id="donationFormSubmitBtn">
					</div>
				</form>
			</div>

			<div class="hr mt-60 mb-60"></div>

			<div class="ma">
				<form id="donationItemsForm" class="add-req-form">
					<h2 class="tile-head blue mb-30">Donation Items</h2>
					<table id="donationItemsTable" class="tbl-common ta-l cell-pl-10 cell-pr-10">
						<tr>
							<th class="cell-width-5">S.No.</th>
							<th class="cell-width-25">Item Name</th>
							<th class="cell-width-10">Quantity</th>
							<th class="cell-width-10">Unit</th>
							<th class="cell-width-20">Category</th>
							<th class="cell-width-25">Item Description</th>
							<th class="cell-width-5"></th>
						</tr>
					</table>
					<input type="submit" id="addDonationItemBtn" value="Add another" class="button-hollow fr mt-10 mr-10">
					<div class="clr"></div>
				</form>
			</div>
			<div class="clr"></div>
		</div>
	</section>
	{% include 'frontend_templates/donation_form.html' %}
{% endblock %}
