{% extends "base.html" %}

{% block page_title %}{{ heading }}{% endblock %}

{% block breadcrumb %}
	<a href="/">Home</a><span></span>
	<a href="{% url 'donate' %}">Donation</a><span></span>
	<a href="">{{ heading }}</a>
{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<h1 class="bordered blue">{{ heading }}</h1>
		</div>
	</section>

	<section class="page-donate-item pb-60">
		<div class="container">
			<div>
				<div class="fl phn-fn phn-mb-20">
					<div class="title color-black-2">Required for Library</div>
					<div class="color-black bold mt-5 mb-5">Needed Items:</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Chairs </span> x 5,
					</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Tables </span> x 5,
					</div>
					<div class="items fl">
						<span class="color-blue bold">Cupboards </span> x 5,
					</div>
					<div class="clr"></div>
				</div>
				<div class="fr phn-fn">
					<div class="ta-r fl phn-ta-l phn-fn">
						<div class="title color-green">Gian Jyoti Public School</div>
						<div class="address color-grey-light-2">Street No-4, Banasawadi, Bangalore</div>
						<div>
							<span class="color-grey-light-2">For </span>
							<span class="color-green-2 uppercase"> Akshara Foundation</span>
						</div>
					</div>
					<a class="button fr phn-fn ml-30 phn-ml-0 phn-mt-20" href="donate-required-for-library.php">Donate</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="hr mt-20 mb-20"></div>
			<div>
				<div class="fl phn-fn phn-mb-20">
					<div class="title color-black-2">Required for Library</div>
					<div class="color-black bold mt-5 mb-5">Needed Items:</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Chairs </span> x 5,
					</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Tables </span> x 5,
					</div>
					<div class="items fl">
						<span class="color-blue bold">Cupboards </span> x 5,
					</div>
					<div class="clr"></div>
				</div>
				<div class="fr phn-fn">
					<div class="ta-r fl phn-ta-l phn-fn">
						<div class="title color-green">Gian Jyoti Public School</div>
						<div class="address color-grey-light-2">Street No-4, Banasawadi, Bangalore</div>
						<div>
							<span class="color-grey-light-2">For </span>
							<span class="color-green-2 uppercase"> Akshara Foundation</span>
						</div>
					</div>
					<a class="button fr phn-fn ml-30 phn-ml-0 phn-mt-20" href="donate-required-for-library.php">Donate</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="hr mt-20 mb-20"></div>
			<div>
				<div class="fl phn-fn phn-mb-20">
					<div class="title color-black-2">Required for Library</div>
					<div class="color-black bold mt-5 mb-5">Needed Items:</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Chairs </span> x 5,
					</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Tables </span> x 5,
					</div>
					<div class="items fl">
						<span class="color-blue bold">Cupboards </span> x 5,
					</div>
					<div class="clr"></div>
				</div>
				<div class="fr phn-fn">
					<div class="ta-r fl phn-ta-l phn-fn">
						<div class="title color-green">Gian Jyoti Public School</div>
						<div class="address color-grey-light-2">Street No-4, Banasawadi, Bangalore</div>
						<div>
							<span class="color-grey-light-2">For </span>
							<span class="color-green-2 uppercase"> Akshara Foundation</span>
						</div>
					</div>
					<a class="button fr phn-fn ml-30 phn-ml-0 phn-mt-20" href="donate-required-for-library.php">Donate</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="hr mt-20 mb-20"></div>
			<div>
				<div class="fl phn-fn phn-mb-20">
					<div class="title color-black-2">Required for Library</div>
					<div class="color-black bold mt-5 mb-5">Needed Items:</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Chairs </span> x 5,
					</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Tables </span> x 5,
					</div>
					<div class="items fl">
						<span class="color-blue bold">Cupboards </span> x 5,
					</div>
					<div class="clr"></div>
				</div>
				<div class="fr phn-fn">
					<div class="ta-r fl phn-ta-l phn-fn">
						<div class="title color-green">Gian Jyoti Public School</div>
						<div class="address color-grey-light-2">Street No-4, Banasawadi, Bangalore</div>
						<div>
							<span class="color-grey-light-2">For </span>
							<span class="color-green-2 uppercase"> Akshara Foundation</span>
						</div>
					</div>
					<a class="button fr phn-fn ml-30 phn-ml-0 phn-mt-20" href="donate-required-for-library.php">Donate</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="hr mt-20 mb-20"></div>
			<div>
				<div class="fl phn-fn phn-mb-20">
					<div class="title color-black-2">Required for Library</div>
					<div class="color-black bold mt-5 mb-5">Needed Items:</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Chairs </span> x 5,
					</div>
					<div class="items fl mr-10">
						<span class="color-blue bold">Tables </span> x 5,
					</div>
					<div class="items fl">
						<span class="color-blue bold">Cupboards </span> x 5,
					</div>
					<div class="clr"></div>
				</div>
				<div class="fr phn-fn">
					<div class="ta-r fl phn-ta-l phn-fn">
						<div class="title color-green">Gian Jyoti Public School</div>
						<div class="address color-grey-light-2">Street No-4, Banasawadi, Bangalore</div>
						<div>
							<span class="color-grey-light-2">For </span>
							<span class="color-green-2 uppercase"> Akshara Foundation</span>
						</div>
					</div>
					<a class="button fr phn-fn ml-30 phn-ml-0 phn-mt-20" href="donate-required-for-library.php">Donate</a>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="hr mt-20"></div>
		</div>
	</section>

{% endblock %}
