{% extends "base.html" %}
{% block page_title %}Sikshana Programme{% endblock %}
{% block content %}
<div class="page-programme-details">
  <section class="banner-full banner-sikshana">
    <div class="banner-content">
      <h1 class="heading-primary white">Sikshana Programme</h1>
      <div class="banner-full-caption">
        <p>Sikshana believes that by providing need based resources to the schools, the quality of education can be improved. Decentralization and empowerment of the schools can lead to a healthy public education system. At present, the expense incurred by the government in educating a child in this system works out to anywhere between Rs 7000 to Rs 10,000 per annum. A program which seeks to get optimum learning levels at a cost of Rs 300 per child - inclusive of the direct and monitoring costs- is an eminently desirable one, if the targets are realized.</p>
      </div>
    </div> <!-- /banner-content -->
    <div class="banner-overlay"></div>
  </section>

  <nav class="js-scroll-smooth-block scroll-smooth-block">
    <ul class="scroll-smooth-links">
      <li><a href="#section-overview">Overview</a></li>
      <li><a href="#section-methodology">Methodology</a></li>
      <li><a href="#section-assessment">Assessments and Evaluation</a></li>
      <li><a href="#section-high-schools">High Schools</a></li>
    </ul>
  </nav>
  
  <section id="section-overview">
    <div class="center-text">
      <h2 class="heading-section">Overview</h2>
      <div class="heading-section-block"></div>
    </div>
  
    <div class="container">
      <p><img src="/static/images/Sikshana_Logo.jpg" alt="Sikshana" class="float-left-padding" width="274" height="213">Sikshana is a unique effort started by the Sikshana Foundation (a unit of Sivasri Charitable Trust) that aims at improving learning levels in the government primary schools through better access and delivery of education. Sikshana Program enters its tenth year of inception with several milestones to its credit. Being a child centric Program, Sikshana today reaches out to 1,80,000 children across 1115 schools in the State of Karnataka, Andhra Pradesh, Maharashtra and Gujarat. </p>
      <p>Sikshana aims to improve the quality of education in Government primary schools at a typical cost of Rs. 300 per annum per child. The improvement is measured in quantified scales in each school under standard test conditions. The program is essentially focused on decentralization and empowerment of the adopted schools. Sikshana acts primarily as a facilitator and not as provider of solutions.</p>
      <p>According to data, 76% of the rural households in India send their children to government or government aided schools. The recent ASER assessment data of all Indian states submitted by Pratham states that only 40% of the children studying in V class in rural government schools in India can read level 2 (Class II) texts and only 20% of them can do division. In Karnataka, only 50% of children in class V standard can read level II (Class II) Kannada text, while less than 20% of them can do division. Sikshana felt the need to improve the quality of education in government schools.</p>
    </div>
  </section>
  
  <section id="section-methodology">
    <div class="center-text">
      <h2 class="heading-section">Methodology</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#subsection-reading" class="js-scroll-smooth-link">Reading Program</a></li>
          <li><a href="#subsection-resources" class="js-scroll-smooth-link">Resources</a></li>
          <li><a href="#subsection-encourage" class="js-scroll-smooth-link">Encouragement</a></li>
          <li><a href="#subsection-mentoring" class="js-scroll-smooth-link">Mentoring and Monitoring</a></li>
        </ul>
      </div>
    </div>
  
    <div class="container">
      <section class="base-spacing-lg">
        <h3 id="subsection-reading" class="heading-tertiary">Reading Program</h3>
        <img src="/static/images/sikshana2.jpg" alt="Reading programme" class="float-right-padding border-base" width="470" height="300">
        <p>The focus of the primary school initiative is to make every child acquire the basic skill of reading and writing in regional language (Kannada) and English and perform basic computation. Sikshana conducts programs that improve /track learning levels, provide resources that improve learning levels, encourage children to learn and perform better in academics, required mentoring, monitoring, evaluation and assessments.</p>
        <p>Reading Program: A month long program aimed at improving Kannada language reading skills among students of 7th standard. Students lagging behind in reading skills are tagged with their peers who are good in Kannada reading skills and are helped to improve their reading skills.</p>
      </section>
  
      <section class="base-spacing-lg">
        <h3 id="subsection-resources" class="heading-tertiary">Resources</h3>
        <p><strong>Writing material:</strong> Several schools lack writing material. Such schools are identified and provided with writing sheets. Children are given a set of sheets every week and are encouraged to document their academic work and use them up by the end of the week. The ‘used sheets’ are exchanged for a fresh set. This has helped in improving the speed and quality of writing.</p>
        <p><strong>Diaries:</strong> Diaries are designed by Sikshana taking into consideration the needs of the children. The diaries are provided to children studying in all Sikshana adopted Government Primary schools. Children are encouraged to document their day-to-day activities in the diary to keep track of their work. In addition the diary has additional information including child’s rights, important facts and figures and quick references which help the children in their academic work. The diaries have enabled the children to systematize their work.</p>
        <p><strong>Knowledge building Dictionaries:</strong> Children studying in government schools are introduced to English language only in 5th class. In order to encourage them to learn and improve English, Sikshana has brought a unique dictionary which will not only help them know meanings of new and complex words but also will enable the students to build the dictionaries themselves by adding new words to it. This dictionary is customized for the children and is based on the words they encounter on a day-to-day basis in the academic text books. It also consists of designated pages where the child can write a new word with its meaning every day, thus building his/her own dictionary.</p>
        <p><strong>Library initiative:</strong> Many schools have libraries but have remained unused while some of them lack them altogether. Realizing the importance of reading books, Sikshana helped schools in setting up libraries and providing books to children. Visits to libraries, book fairs have helped children develop interest in books. Children are encouraged to pick their own books for their library, which has increased their interest levels in reading books.</p>
      </section>
  
      <section class="base-spacing-lg">
        <h3 id="subsection-encourage" class="heading-tertiary">Encouragement and Incentives</h3>
        <img src="/static/images/sikshana1.jpg" alt="Reading programme" class="float-left-padding border-base" width="470" height="300">
        <p>Encouraging the children to learn and appreciating their skills have proved to be successful efforts. Through Sikshana’s intervention, the child’s learning skills are appreciated and encouraged by rewards such as prizes, star badges or paid trips.</p>
        <p><strong>Star badges:</strong> As a token of appreciation, children are rewarded with a star badge for their skills, which can be redeemed for a gift. This intervention has helped in sustenance of interest in learning and has motivated them to attend school regularly.</p>
        <p><strong>Delhi Trip:</strong> As an incentive, winners of intra Sikshana school quiz competition are sent on a trip to Delhi for a week. The idea of visiting Delhi for a child from rural area catches the child’s imagination. The purpose of the quiz is to motivate children to improve their general knowledge, develop newspaper reading habit and to develop a competitive spirit among the children. The trip serves the purpose of being an educational tour for the students.</p>
      </section>
  
      <section class="base-spacing-lg">
        <h3 id="subsection-mentoring" class="heading-tertiary">Mentoring and Monitoring</h3>
        <p>Children studying in Government schools lack attention and guidance. Sikshana addresses these issues by providing human resources in the form of ‘school mentors’ and para-teachers, who help the children and the school in their development. The mentors monitor the child’s and school’s progress and guide them in their endeavour.</p>
        <p>Conventional teaching follows a slow progression - from alphabet to word, slowly to simple sentences and finally to paragraphs. The Accelerated Reading Programme reverses this process. The new technique starts with 'reading' -(bordering at imitations of reading, as children do in homes where they are read to regularly) from the very first day. Children imagine &amp; wonder trying to make sense of what they see. They stumble, 'read', guess what the words may be, try and make meaning of it - eventually learn to read and the teachers do not interfere with criticism or over-enthusiastic assistance. They just facilitate the process and ask an occasional question to help the child correct himself/herself.</p>
      </section>
    </div> <!-- /container -->
  </section>

  <section id="section-assessment">
    <div class="center-text">
      <h2 class="heading-section">Assessments and Evaluations</h2>
      <div class="heading-section-block"></div>
    </div>

    <div class="container">
      <p><strong>Reading and arithmetic skill assessment:</strong> It is necessary to assess the progress of child’s learning abilities, which will help in taking steps to improve learning. Sikshana has been evaluating the child’s regional language (Kannada) and arithmetic skills through ASER (www.asercentre.org) based assessment since 2010. All the children studying in classes 4th to 7th are assessed twice a year in two metrics namely Arithmetic skills and Kannada language reading skills.</p>
      <p><strong>The skills are graded into 4 levels:</strong>
        Reading levels for standard 7:
        Below minimum: Unable to read Standard 2 level text
        Minimum: Ability to read Standard 2 level text. This corresponds to the ability to read standard 2 text as published in the ASER report.
        Average: Ability to read grade appropriate text
        Above Average: Ability to read, understand a paragraph and orally answer related questions. This was introduced in academic year 2013-14.
      </p>
      <p><strong>Maths levels for standard 7:</strong>
        Below minimum: Unable to divide a 3 digit number by single digit number.
        Minimum: Ability to divide a 3 digit number by single digit number.This corresponds to division ability as published in the ASER report.
        Average: Ability to do decimal division, basic fractions, read clock and calendar.
        Above Average: Ability to do basic algebra, geometry and word problems. This was introduced in academic year 2013-14.
      </p>
    </div>
  </section>

  <section id="section-high-schools">
    <div class="center-text">
      <h2 class="heading-section">Sikshana in High Schools</h2>
      <div class="heading-section-block"></div>
    </div>

    <div class="container">
      <p>In the High School initiative, the effort is to ensure that every child is able to pass 10th class board exam. In addition to mentoring and monitoring the students, Sikshana has started a few initiatives to help the students pass the Secondary School Leaving Certificate Exams (SSLC) without difficulty.</p>
      <p><strong>Home Visits:</strong> Sikshana mentors along with teachers undertake home visits of each and every student studying in 10th class and counsel the parents on the importance of passing SSLC exam. They are requested to help their child reach the goal.</p>
      <p><strong>Motivation classes:</strong> A majority of the rural students do not know the importance of passing SSLC exams. Resource persons are invited to counsel students and are made aware of the opportunities that are available after clearing SSLC exams.</p>
      <p><strong>Supplementary Teachers:</strong> Most schools experience shortage of teachers. Such schools are provided with teachers for short periods of time as per the requirement. </p>
      <p><strong>Workbooks for practice:</strong> Mathematics and English workbooks, which are basically books with questions and answers covering the entire syllabus, are given to all SSLC students to practice and prepare for the Board examinations. In addition, a question bank called Pariksha Mitra is given to all those students who are lagging behind in academics. This will help students in knowing the pattern and type of questions and the best method to answer them.</p>
      <p><strong>Early class initiative:</strong> Classes are conducted earlier than the usual reopening of the schools to help 10th class students focus on the academics. This gives the students a head start and gives them enough time to prepare for the Board examinations.</p>
    </div>
  </section>
</div>
{% endblock %}