{% extends "base.html" %}

{% block page_title %}404{% endblock %}

{% block content %}

	<section class="error-page pb-30">
		<div class="container">
			<h1 class="bordered red">Error 404</h1>
			<div class="ta-c">
				<img src="/static/images/kid_sad@2x.jpg" class="error-img">
			</div>
			<p class="font-20 ta-c mt-60 mb-20">
				Sorry, the page you are looking for doesn't exist.
			</p>
			<p class="ta-c mb-60">
				Go to <a href="/">Home page</a>.
			</p>
		</div>
	</section>

{% endblock %}
