<div id="searchmodal" class="modalDialog">
  <div class="container">
    <div class="scrollbar-webkit search-scroll">
      <a href="#close" title="Close" class="close">X</a>
      <div class="heading-secondary heading-border brand-turquoise">ADVANCED SEARCH </div>
        <div class="base-spacing-mid"></div>
        <form class="form-base">
            <div class="text-bordered"> 
              <div class="form-field-wrap">
                <div class="search-parent">
                  <div class="search-half-col align-right">
                    <label class="label required">Pick the type of Institution </label> 
                  </div>
                  <div class="search-half-col ">
                    <div class="form-field-wrap">
                      <input type="radio" class="input-radio" id="school" name="radios">
                      <label for="school" class="input-radio-label">School</label>
                    </div>
                    <div class="form-field-wrap">
                      <input type="radio" class="input-radio" id="preschool" name="radios" checked="">
                      <label for="preschool" class="input-radio-label">Preschool</label>
                    </div>
                  </div>
                </div><!-- end search parent-->
              </div><!-- end form-field-wrap-->
              <div class="form-field-wrap">
                <div class="search-parent">
                  <div class="search-half-col align-right">
                    <label class="label required">Select the academic year </label>
                  </div>
                  <div class="search-half-col ">
                    <select>
                      <option>2012-2013</option>
                      <option>2013-2014</option>
                      <option>2014-2015</option>
                    </select>
                  </div>
                </div><!-- end search parent-->
              </div><!-- end form-field-wrap-->
            </div><!--end center-text-->

             <div class="base-spacing-sm"></div>

            <div class="center-text">
              <h5 class="brand-red">Find institutions by making selections below</h5> 
              <div class="heading-secondary">Select by programs</div>
              <label class="label brand-green">First pick a Partner</label>
              <div class="form-field-wrap">         
                <input type="radio" class="input-radio" id="1" name="radios" checked="checked">
                <label for="1" class="input-radio-label">Akshara Foundation</label>
              </div>
              <div class="form-field-wrap">
                <input type="radio" class="input-radio" id="2" name="radios" >
                <label for="2" class="input-radio-label">Akshaya Patra</label>
              </div>
              <div class="form-field-wrap">
                <input type="radio" class="input-radio" id="3" name="radios">
                <label for="3" class="input-radio-label">Sikshana Foundation</label>
              </div>
              
              <div class="form-field-wrap center-text">
                <div>
                <label class="label brand-green">Then select a Program</label>         
                <select class="js-select-multiple program-select" multiple="multiple">
                  <option value="option1">Akshara Ganitha</option>
                  <option value="option2">Akshara GKA</option>
                  <option value="option3">Akshara Reading</option>
                  <option value="option4">Library</option>
                </select>
                </div>
              </div><!-- end form-field-wrap-->
            </div>
            <div class="base-spacing-sm"></div>
            <hr/>
            <div class="center-text"> 
              <div class="heading-secondary">Select by profile</div>
              <div class="search-parent">
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Category</label>         
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Upper Primary</option>
                      <option value="option2">Lower Primary</option>
                      <option value="option3">Model Primary</option>
                    </select>
                  </div><!-- end form-field-wrap-->
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Management</label>         
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Government</option>
                      <option value="option2">Private</option>
                      <option value="option3">Government Aided</option>
                    </select>
                  </div><!-- end form-field-wrap-->
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Medium of Instruction</label>         
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Kannada</option>
                      <option value="option2">Tamil</option>
                      <option value="option3">Urdu</option>
                      <option value="option3">Telugu</option>
                      <option value="option3">Marathi</option>
                      <option value="option3">English</option>
                    </select>
                  </div><!-- end form-field-wrap-->
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Gender</label>         
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Girls Only</option>
                      <option value="option2">Boys Only</option>
                      <option value="option3">Co-education</option>
                    </select>
                  </div><!-- end form-field-wrap-->
                </div>
              </div><!-- End search Parent -->
            </div><!-- end text-bordered-->
            <div class="base-spacing-sm"></div>
            <hr/>
            <div class="center-text">
              <div class="heading-secondary">Select by infrastructure</div>
              <label class="label">Find institutions </label>
              <div class="form-field-wrap ">       
                <input type="radio" class="input-radio" id="with" name="radios" checked="checked">
                <label for="with" class="input-radio-label">with</label>
                <input type="radio" class="input-radio" id="without" name="radios">
                <label for="without" class="input-radio-label">without</label>
              </div><!-- end form-field-wrap-->
              <div class="search-parent align-left grey-steel">
                <div class="search-quarter-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="building">
                    <label for="building" class="input-checkbox-label"><span class="fa fa-university"></span> Pucca building</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="water">
                    <label for="water" class="input-checkbox-label"><span class="fa fa-tint"></span> Drinking water</label>
                  </div>
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="playground">
                    <label for="playground" class="input-checkbox-label"><span class="fa fa-futbol-o"></span> Playground</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="toilets">
                    <label for="toilets" class="input-checkbox-label"><span class="fa fa-male fa-female"></span> Toilets</label>
                  </div>
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="library">
                    <label for="library" class="input-checkbox-label"><span class="fa fa-book"></span> Library</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="electricity">
                    <label for="electricity" class="input-checkbox-label"><span class="fa fa-plug"></span> Electricity</label>
                  </div>
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="mdm">
                    <label for="mdm" class="input-checkbox-label"><span class="fa fa-spoon"></span> Mid day Meal</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="computers">
                    <label for="comouters" class="input-checkbox-label"><span class="fa fa-laptop"></span> Computers</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="center-text">
              <div class="button">Show as map markers</div>
              <div class="button-orange">Show as a list</div>
            </div>
        </form>
      </div><!-- scroll -->
    </div><!-- container-->
  </div><!-- end modal-dialog -->