<div id="searchmodal" class="modalDialog">
  <div class="container">
    <div class="scrollbar-webkit search-scroll">
      <a href="#close" title="Close" class="close">X</a>
      <div class="heading-secondary heading-border brand-blue">ADVANCED SEARCH </div>
      <div class="base-spacing-mid"></div>
      <h6 class="grey-steel center-text">Find institutions by making selections below</h6>

        <form class="form-base" id="form_advanced_search">
            <div class="text-bordered center-text">
              <label class="label required brand-green">Pick the type of Institution </label>
              <div class="form-field-wrap">
                <input type="radio" class="input-radio" id="stype_school" value="primaryschools" name="school_type">
                <label for="stype_school" class="input-radio-label">School</label>
                <input type="radio" class="input-radio" id="stype_preschool" value="preschools" name="school_type">
                <label for="stype_preschool" class="input-radio-label">Preschool</label>
                <input type="radio" class="input-radio" id="stype_both" value="both" name="school_type" checked>
                <label for="stype_both" class="input-radio-label">Both</label>
              </div>
              <label class="label required brand-green">Select the academic year </label>
              <div class="form-field-wrap">
                <select name="academic_year">
                  <option value="2010-2011">2010-2011</option>
                  <option value="2011-2012">2011-2012</option>
                  <option value="2012-2013">2012-2013</option>
                  <option value="2013-2014">2013-2014</option>
                  <option value="2014-2015">2014-2015</option>
                </select>
              </div><!-- end form-field-wrap-->
            </div><!--end center-text-->

             <div class="base-spacing-sm"></div>

            <div class="center-text">
              <div class="heading-secondary">Select by programs</div>
              <label class="label brand-green">First pick a Partner</label>
              <div class="base-spacing-sm"></div>
              <div class="search-parent">
                <div class="search-half-col form-field-wrap">
                  <input type="radio" class="input-radio" id="partner_akshara" name="partner_id" value="1">
                  <label for="partner_akshara" class="input-radio-label">Akshara Foundation</label>
                </div>
                <div class="search-half-col form-field-wrap">
                  <input type="radio" class="input-radio" id="partner_akshaya_patra" name="partner_id" value="2">
                  <label for="partner_akshaya_patra" class="input-radio-label">Pratham Mysore</label>
                </div>
              </div>

              <div class="form-field-wrap center-text">
                <div>
                <label class="label brand-green">Then select a Program</label>
                <div class="base-spacing-sm"></div>
                <select class="js-select-multiple program-select" id="multi_programmes" name="programmes" multiple="multiple">
                </select>
                </div>
              </div><!-- end form-field-wrap-->
            </div>
            <div class="base-spacing-sm"></div>
            <hr/>
            <div class="center-text">
              <div class="heading-secondary">Misc Filters</div>
              <div class="search-parent align-left grey-steel">
                <div class="search-half-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" value="yes" id="meetingreport" name="meetingreport">
                    <label for="meetingreport" class="input-checkbox-label"><span class="fa fa-university"></span>SDMC Meeting Minutes</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr/>
            <div class="center-text">
              <div class="heading-secondary">Select by profile</div>
              <div class="base-spacing-sm"></div>
              <div class="search-parent">
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Category</label>
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Upper Primary</option>
                      <option value="option2">Lower Primary</option>
                      <option value="option3">Model Primary</option>
                    </select>
                  </div>end form-field-wrap
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Management</label>
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Government</option>
                      <option value="option2">Private</option>
                      <option value="option3">Government Aided</option>
                    </select>
                  </div>end form-field-wrap
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Medium</label>
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Kannada</option>
                      <option value="option2">Tamil</option>
                      <option value="option3">Urdu</option>
                      <option value="option3">Telugu</option>
                      <option value="option3">Marathi</option>
                      <option value="option3">English</option>
                    </select>
                  </div>end form-field-wrap
                </div>
                <div class="search-quarter-col">
                  <div class="form-field-wrap ">
                    <label class="label">Gender</label>
                    <select class="js-select-multiple" multiple="multiple">
                      <option value="option1">Girls Only</option>
                      <option value="option2">Boys Only</option>
                      <option value="option3">Co-education</option>
                    </select>
                  </div>end form-field-wrap
                </div>
              </div>End search Parent
            </div>end text-bordered
            <div class="base-spacing-sm"></div>
            <hr/>
            <div class="center-text">
              <div class="heading-secondary">Select by infrastructure</div>
              <label class="label brand-green">Find institutions </label>
              <div class="base-spacing-sm"></div>
              <div class="form-field-wrap ">
                <input type="radio" class="input-radio" id="with" name="radios" checked="checked">
                <label for="with" class="input-radio-label">with</label>
                <input type="radio" class="input-radio" id="without" name="radios">
                <label for="without" class="input-radio-label">without</label>
              </div>end form-field-wrap
              <div class="search-parent align-left grey-steel">
                <div class="search-third-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="building">
                    <label for="building" class="input-checkbox-label"><span class="fa fa-university"></span>Pucca building</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="water">
                    <label for="water" class="input-checkbox-label"><span class="fa fa-tint"></span> Drinking water</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="boundary">
                    <label for="boundary" class="input-checkbox-label"><span class="fa fa-circle-o-notch"></span> Boundary wall</label>
                  </div>
                </div>
                <div class="search-third-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="playground">
                    <label for="playground" class="input-checkbox-label"><span class="fa fa-futbol-o"></span> Playground</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="toilets">
                    <label for="toilets" class="input-checkbox-label"><span class="fa fa-male fa-female"></span> Toilets</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="computers">
                    <label for="comouters" class="input-checkbox-label"><span class="fa fa-laptop"></span> Computers</label>
                  </div>
                </div>
                <div class="search-third-col">
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="library">
                    <label for="library" class="input-checkbox-label"><span class="fa fa-book"></span> Library</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="electricity">
                    <label for="electricity" class="input-checkbox-label"><span class="fa fa-plug"></span> Electricity</label>
                  </div>
                  <div class="form-field-wrap">
                    <input type="checkbox" class="input-checkbox" id="mdm">
                    <label for="mdm" class="input-checkbox-label"><span class="fa fa-spoon"></span> Mid day Meal</label>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="center-text">
              <button type="submit" class="button">Search</button>
            </div>
        </form>
      </div><!-- scroll -->
    </div><!-- container-->
  </div><!-- end modal-dialog -->
