{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}Boundary Details{% endblock %}

{% block css_extra %}
{% endblock %}

{% block endbody %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'js/lib/leaflet-0.7.3/leaflet.css' %}" />  
  {% endcompress %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/common/dise_api.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/boundary/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/boundary/utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/leaflet-0.7.3/leaflet.js' %}"></script>
  <!-- <script src="{% static 'js/inline-school.js' %}"></script> -->  
  {% endcompress %}
  <script>
    BOUNDARY_ID = {{ object.id }};
  </script>
{% endblock %}

{% block subheader %}
  <div class="subheader-wrapper">
    <div class="subheader-content">
      {% include 'includes/_breadcrumb.html' %}        
    </div>
  </div>
{% endblock %}

{% block content %}
<section class="boundary-page">
  <div class="school-map-wrapper">
    <div class="map-canvas" id="map-canvas"></div>
      <div class="school-map-info">
        <div class="container">
          <div class="grid-parent">
            <div class="info-wrapper" id="boundary-info-wrapper">
            </div>
            <!--<div class="button-compare-wrap">
              <a class="button-grey js-trigger-compare" href="">Compare to</a>
            </div>-->
        </div>
      </div> <!-- /container -->
    </div> <!-- /school-map-info -->      
  </div> <!-- /boundary-map-wrapper -->


  <div class="container hidden" id="school-data">
    <div class="base-spacing-mid"></div>
    <div id="school-summary" class="container"></div> 
    <hr/>

    <h2 class="heading-border brand-turquoise">Demographics</h2> 
    <div class="page-parent">
      <div class="half-column">
        <div class="heading-tiny-uppercase align-left" >Source</div>
        <h2 class="heading-secondary brand-blue align-left">KLP</h2> 
      </div>
      <div class="half-column">
        <div class="heading-tiny-uppercase align-right" >Source</div>
        <h2 class="heading-secondary brand-blue align-right">DISE</h2>
      </div>
    </div>
    <div class="base-spacing-mid"></div>
    <h2 class="heading-secondary">GENDER</h2>
    <div class="page-parent">
      <div class="half-column">
        <div id="klp-gender"></div>   
      </div>
      <div class="half-column">
        <div id="dise-gender"></div>   
      </div>
    </div>     
    <div class="base-spacing-mid"></div>
    <h2 class="heading-secondary">CATEGORY</h2>
    <div class="container page-parent">
      <div class="cat-margin"></div>
      <div class="category">
        <div id="category-summary"></div>  
      </div>
      <div class="cat-margin"></div>
    </div>
    <div class="base-spacing-mid"></div>
    
    <h2 class="heading-secondary">AVERAGE ENROLLMENT</h2>
    <div class="container page-parent">
      <div id="dise-enrolment"></div>  
    </div>
    <div class="base-spacing-mid"></div>
    <div class="page-parent">
      <div class="half-column">
        <div class="heading-tiny-uppercase align-left" >Source</div>
        <h2 class="heading-secondary brand-blue align-left">KLP</h2> 
      </div>
      <div class="half-column">
        <div class="heading-tiny-uppercase align-right" >Source</div>
        <h2 class="heading-secondary brand-blue align-right">KLP</h2>
      </div>
    </div>
    <div class="page-parent">
      <div class="half-column">
        <h2 class="heading-secondary align-left">MOTHER TONGUE</h2>
      </div>
      <div class="half-column">
        <h2 class="heading-secondary align-right">MEDIUM OF INSTRUCTION</h2>   
      </div>
    </div>
    <div class="container page-parent">
      <div class="cat-margin"></div>
      <div class="category">
        <div id="klp-language"></div>  
      </div>
      <div class="cat-margin"></div>
    </div>
    <hr/>
    <h2 class="heading-border brand-turquoise">Finances</h2> 
    <div class="page-parent">
      <div class="half-column">
        <div class="heading-tiny-uppercase align-left" >Source</div>
        <h2 class="heading-secondary brand-blue align-left">DISE</h2> 
      </div>
      <div class="half-column">
        <div class="heading-tiny-uppercase align-right" >Source</div>
        <h2 class="heading-secondary brand-blue align-right">DISE</h2>
      </div>
    </div>
    <div class="page-parent">
      <div class="half-column">
        <h2 class="heading-secondary align-left">RECEIVED GRANT</h2>
        <div id="chart-received" class="ct-chart"></div>  
        <div id="dise-received" class="grant-text"></div>   
      </div>
      <div class="half-column">
        <h2 class="heading-secondary align-right">EXPENDITURE</h2>
        <div id="chart-expenditure" class="ct-chart"></div>  
        <div id="dise-expenditure" class="grant-text"></div>   
      </div>
    </div>
    <hr/>
    <h2 class="heading-border brand-turquoise">Infrastructure</h2> 
    <div class="heading-tiny-uppercase align-left" >Source</div>
    <h2 class="heading-secondary brand-blue align-left">DISE</h2> 
    <div id="infra-summary"></div>
    <hr/>
    <h2 class="heading-border brand-turquoise">Programmes</h2> 
    <div id="program-summary"></div>
  </div>


  <div class="container hidden" id="preschool-data">
    <div class="base-spacing-mid"></div>
    <div id="preschool-summary"></div> 
    <hr/>

    <h2 class="heading-border brand-turquoise">Demographics</h2> 

    <div class="heading-tiny-uppercase align-left" >Source</div>
    <h2 class="heading-secondary brand-blue align-left">KLP</h2> 
    <div class="base-spacing-mid"></div>
    <div class="page-parent">
      <div class="half-column">
        <h2 class="heading-secondary align-left">GENDER</h2>
        <div id="ang-klp-gender"></div>   
      </div>
      <div class="half-column">
        <h2 class="heading-secondary align-right">CATEGORY</h2>
        <div id="ang-category-summary"></div>
      </div>
    </div>     
    <div class="base-spacing-mid"></div>
    <div class="page-parent">
      <div class="half-column">
        <h2 class="heading-secondary align-left">AVERAGE ENROLLMENT</h2>
        <div id="ang-enrolment"></div>   
      </div>
      <div class="half-column">
        <h2 class="heading-secondary align-right">MOTHER TONGUE</h2>
        <div id="ang-klp-language"></div>   
      </div>    
    </div>
    <hr/>
    <h2 class="heading-border brand-turquoise">Infrastructure</h2> 
    <div class="heading-tiny-uppercase align-left" >Source</div>
    <h2 class="heading-secondary brand-blue align-left">KLP</h2> 
    <div id="ang-infra-summary"></div>
    <hr/>
    <h2 class="heading-border brand-turquoise">Programmes</h2> 
    <div id="ang-program-summary"></div>
  </div>        
    
</section>
{% include 'frontend_templates/boundary.html' %}
{% endblock %}