{% extends "base.html" %}
{% block page_title %}Coming Soon{% endblock %}
{% block content %}

	<section class="error-page pb-30">
		<div class="container center-text">
			<h1 class="heading-primary brand-red">Shiny New Page</h1>
				<img src="/static/images/coming_soon@2x.png" width="240">
				<div class="base-spacing-mid"></div>
				<div class="font-large italic">
					<p>
						We are improving things here!
					</p>					
				</div>
				<div class="base-spacing-sm"></div>
				<p>
					<a href="/" class="button icon-left">Back to home</a>
				</p>
		</div>
	</section>

{% endblock %}
