{% extends "base_static.html" %}

{% load static %}
{% load compress %}
{% block css_extra %}
{% endblock %}

{% block endbody %}
  {% compress js %}
      <script type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/reports/demographics.js' %}"></script>  
  {% endcompress %}
{% endblock %}
{% block content %}
  <div class="container"><!--outer-->
    <!-- Summary section -->
    <div id="summary" class="container">

      <div class="top-band brand-green"></div>
      <div class="flap-right brand-green-bg white center-text">DEMOGRAPHICS</div>
      <a href="/" class="logo"><img src="/static/images/KLP_logo@2x.png" alt="logo-klp" width="52"></a>
      <div id="report-date"></div>
      <hr/>
      <div id="top-summary"></div>
      
    </div><!--summary container -->
    <div id="category" class="container">
        <div class="base-spacing-sm"></div>
        <hr/>
        <div id="category-profile"></div>
        
    </div><!-- category container-->
    <div id="language" class="container">
      <div class="base-spacing-sm"></div>
      <hr/>
      <div id="language-profile"></div>
    </div><!-- language container-->

    <div id="comparison" class="container">
      <div class="base-spacing-sm"></div>
      <hr/>
      <div class="heading-secondary heading-border"> Comparison </div>
      <div class="base-spacing-sm"></div>
      <h3 class="brand-turquoise  heading-border center-text">
        3 year comparison of status of Primary school status in this region
      </h3>
      <table class="table-base table-list-view table-base-comparison">
      <tbody><tr class="table-base-heading">
        <th>Year</th>
        <th>Average Enrollment <br/>in Upper Primary</th>
        <th>Average Enrollment <br/>in Lower Primary</th>
        <th>PTR</th>
        <th>Schools</th>
      </tr>

      <tr>
        <td class="td-label-year">
          <div class="bold td-label-year">2013</div>
        </td>
        <td>
          <div class="td-label-enrolu">180</div>    
        </td>
        <td>
          <div class="td-label-enroll">72</div>  
        </td>
        <td>
          <div class="td-label-ptr">35:1</div>
        </td>
        <td>
          <!-- Value is percentage of the nearest 100 to the highest value-->
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:80%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">290</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold td-label-year">2014</div>
        </td>
        <td>
          <div class="td-label-enrolu">176</div>    
        </td>
        <td>
          <div class="td-label-enroll">70</div>  
        </td>
        <td>
          <div class="td-label-ptr">30:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:90%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">300</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold td-label-year">2015</div>
        </td>
        <td>
          <div class="td-label-enrolu">200</div>    
        </td>
        <td>
          <div class="td-label-enroll">72</div>  
        </td>
        <td>
          <div class="td-label-ptr">20:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value brand-green-bg" style="width:95%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">314</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

    </tbody>
    </table>
      <h3 class="brand-turquoise heading-border center-text">
          Comparison of status of Primary school with neighbours
      </h3>
    
      <table class="table-base table-list-view table-base-comparison">
      <tbody><tr class="table-base-heading">
        <th>Boundary</th>
        <th>Average Enrollment <br/>in Upper Primary</th>
        <th>Average Enrollment <br/>in Lower Primary</th>
        <th>PTR</th>
        <th>Schools</th>
      </tr>

      <tr>
        <td>
          <div class="bold td-label-boundary">Bangalore North</div>
        </td>
        <td>
          <div class="td-label-enrolu">180</div>    
        </td>
        <td>
          <div class="td-label-enroll">72</div>  
        </td>
        <td>
          <div class="td-label-ptr">35:1</div>
        </td>
        <td>
          <!-- Value is percentage of the nearest 100 to the highest value-->
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:80%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">290</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold td-label-boundary">Bangalore South</div>
        </td>
        <td>
          <div class="td-label-enrolu">176</div>    
        </td>
        <td>
          <div class="td-label-enroll">70</div>  
        </td>
        <td>
          <div class="td-label-ptr">30:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:90%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">300</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

      <tr>
        <td>
          <div class="bold td-label-boundary">Bangalore Rural</div>
        </td>
        <td>
          <div class="td-label-enrolu">176</div>    
        </td>
        <td>
          <div class="td-label-enroll">70</div>  
        </td>
        <td>
          <div class="td-label-ptr">30:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:90%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">300</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>


      <tr>
        <td>
          <div class="bold td-label-boundary">Chikkabalapur</div>
        </td>
        <td>
          <div class="td-label-enrolu">176</div>    
        </td>
        <td>
          <div class="td-label-enroll">70</div>  
        </td>
        <td>
          <div class="td-label-ptr">30:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value grey-gravel-bg" style="width:90%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">300</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>
      <tr>
        <td>
          <div class="bold td-label-boundary">Bangalore Central</div>
        </td>
        <td>
          <div class="td-label-enrolu">200</div>    
        </td>
        <td>
          <div class="td-label-enroll">72</div>  
        </td>
        <td>
          <div class="td-label-ptr">20:1</div>
        </td>
        <td>
          <div class="bar-graph-wrap">
            <div class="bar-custom">
              <div class="bar-value brand-green-bg" style="width:95%;"></div>
            </div><!--bar-custom-->
            <div class="bar-percent">314</div>
          </div><!--bar-graph-wrap-->
        </td>
      </tr>

    </tbody>
    </table>
    </div><!-- comparison -->
  </div> <!-- outer container -->
{% include 'frontend_templates/demographics.html' %} 
{% endblock %}