{% extends "base.html" %}
{% block page_title %}Disclaimer{% endblock %}
{% block content %}
<section class="page-disclaimer">
  <div class="container">
    <h1 class="heading-primary brand-red">Disclaimer</h1>
    <p>KLP has released raw data for public use as and should be used only with appropriate caution. The user assumes the entire risk related to its use of these data.</p>
    <p>KLP is providing these data "as is," and disclaims any and all warranties, whether express or implied, including (without limitation) any implied warranties of merchantability or fitness for a particular purpose. In no event will KLP be liable to you or to any third party for any direct, indirect, incidental, consequential, special or exemplary damages or lost profit resulting from any use or misuse of this data. </p>
    <p>KLP requests that attribution be given whenever KLP material is reproduced and re-disseminated.</p>
  </div>
</section>
{% endblock %}