{% extends "base_static.html" %}

{% load static %}
{% load compress %}
{% block css_extra %}
{% endblock %}

{% block endbody %}
  {% compress js %}
      <script type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/common/dise_api.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lib/chartist/chartist.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/reports/finance.js' %}"></script>  
      <script type="text/javascript" src="{% static 'js/reports/utils.js' %}"></script> 
      <script type="text/javascript" src="{% static 'js/reports/common.js' %}"></script> 
  {% endcompress %}
{% endblock %}
{% block content %}
  <div class="container"><!--outer-->
    <!-- Summary section -->
    <div id="summary" class="container">

      <div class="top-band brand-red"></div>
      <div class="flap-right brand-red-bg white center-text">FINANCES</div>
      <a href="/" class="logo"><img src="/static/images/KLP_logo@2x.png" alt="logo-klp" width="52"></a>
      <div id="report-date"></div>
      <hr/>
      <div id="top-summary"></div>
    </div><!--summary container -->

    <div id="allocation" class="container">
      <div class="base-spacing-sm"></div>
      <hr/>
      <h2 class="heading-border brand-turquoise">Expected Allocation Summary</h2>
      <div id="sg-alloc"></div>
      <hr/>
      <div id="smg-alloc"></div> 
      <hr/>
    </div><!--close allocation container-->

    <div id="grant" class="container">
        <div class="base-spacing-sm"></div>
        <h2 class="heading-border brand-turquoise">Grant Summary</h2>
        <div class="sect-parent center-text">
          <div class="sect-third grey-mist-bg rounded-sect">
            <h2 class="heading-tiny-uppercase">EXPECTED GRANT</h2>
            <div id="expected"></div>
          </div>
          <div class="sect-third">
            <h2 class="heading-tiny-uppercase">RECEIVED GRANT</h2>
            <div id="received"></div>
          </div>
          <div class="sect-third">
            <h2 class="heading-tiny-uppercase">EXPENDITURE</h2>
            <div id="expenditure"></div>   
          </div>
        </div>
    </div><!-- grant container-->

    
    <div id="comparison" class="container">
      <div class="base-spacing-sm"></div>
      <hr/>
      <div class="heading-secondary heading-border"> Comparison </div>
      <div class="base-spacing-sm"></div>
      <div id="comparison-neighbour"></div>
    </div><!-- comparison -->
    <div id="disclaimer" class="container">
      <div class="base-spacing-sm"></div>
      <div class="center-text grey-steel font-smaller">Data Sources: District Information System for Education (<a href="http://www.dise.in" target="_blank">www.dise.in</a>). <br/>Please read our data disclaimer at <a href="https://klp.org.in/disclaimer/" target="_blank">klp.org.in/disclaimer/.</a> </div>
    </div>
  </div> <!-- outer container -->

{% include 'frontend_templates/finance.html' %} 
{% endblock %}
