{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}GKA SMS Dashboard{% endblock %}

{% block css_extra %}

{% endblock %}

{% block endbody %}
  {% compress js %}  
  <!--script type="text/javascript" src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script-->
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist-plugin-tooltip.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/ivrs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/jquery.yearMonthSelect.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/gka_filters_modal.js' %}"></script>
  
  {% endcompress %}
{% endblock %}


{% block content %}
<div id="datemodal" class="modalDialog">
	<div class="grey-mist-bg">
		<a href="#close" title="Close" class="close">X</a>
		<div class="center-text">
			<div class="base-spacing-sm"></div>					
			<form class="form-base">
				<div class="form-field-wrap">
				  	<div class="chart-parent dateform">
						<div class="chart-half-item align-fromdate">
							<!--input name="from" id="fromdate" type="date" class="js-input-date input-text calendar-icon" placeholder="Start Date"--> 
							<div class="form-field-wrap" id="startDate">
							    <label class="label-inline bold">Start Date</label><br/>
							    <select class="month">

							    </select>
							    <select class="year">

							    </select>
							 </div>
						</div>
						<div class="chart-half-item align-left">
							<!--input name="to" id="todate" type="date" class="js-input-date input-text calendar-icon" placeholder="End Date"--> 
							<div class="form-field-wrap" id="endDate">
							    <label class="label-inline bold">End Date</label><br/>
							    <select class="month">

							    </select>
							    <select class="year">

							    </select>
							 </div>
						</div>
					</div>    
					<div class="button-orange" id="dateSummary">Apply Date Filter</div>       
				</div>
			</form>
		</div>
	</div>
</div>

<div class="side-button-bar no-print">
	<a id="searchModal" href="#searchModal"><div class="button square sq-tooltip" aria-label="Search"><span class="white fa fa-search"></span></div></a>
	<div class="base-spacing-sm"></div>
	<a href="#resetButton"><div class="button-orange square sq-tooltip" aria-label="Reset" ><span class="white fa fa-refresh"></span></div></a>
	<div class="base-spacing-sm"></div>
	<a href="#datemodal"><div class="button-grey square sq-tooltip" aria-label="Date Filter"><span class="white fa fa-calendar"></span></div></a>
	<div class="base-spacing-sm"></div>
	<!-- <a href="#datemodal"><div class="button square green-leaf-bg sq-tooltip" aria-label="Compare"><span class="white fa fa-columns"></span></div></a> -->
</div>
<section class="clearfix">
	<div id="primarySchoolContainer">
		<section class="container" id="school_summary">
			<div id="topSummary" class="js-detail-container"></div>
			<div id="smsSummary" class="js-detail-container"></div>
			<!--div id="disclaimer" class="heading-tiny center-text grey-steel">We are transitioning to a new version of the IVRS for the GKA program. Meanwhile this dashboard reflects current data combined with data from the previous versions.</div-->
			<!--div class="chart-parent container">
				<div class="chart-half-item">
					<div id="smsSummary" class="js-detail-container"></div>
				</div>
				<div class="chart-half-item">
					<div id="smsyears" class="js-volume-container base-spacing-mid"></div>
					<div id="chart_sms" class="ct-chart ct-major-sixth js-volume-container chartist-container"></div>
				</div>
		    </div-->
		</section>
			<!--div class="accordion-toggle"><img class="img-symbol" src="{% static 'images/triangle_down.png' %}" alt="accordion 1"/></div-->

		<section class="container">
			<!--ul id='improved' class="js-accordion-container">
			  <hr/>
				<li><a href='#' class='head js-accordion-header brand-turquoise align-right'>VIEW DETAILS  <span class="fa fa-angle-down"></span></a-->
					<!--div class='content' id="sms"-->
					<div id="sms">
					  <div class="base-spacing-mid"></div>
						<!--h2 class="heading-border brand-turquoise">Response Summary</h2-->
					  	<div id="smsquestions" class="js-detail-container"></div>	
					  <div class="base-spacing-mid"></div>
					</div>
				<!--/li>
					
			</ul-->
			<div class="center-text font-smaller grey-silver">This report is generated for <a href="http://akshara.org.in" target="_blank">Akshara Foundation</a>  by KLP.</div>
		</section>
		<!--/div-->
	</div>
	
</section>
{% include 'frontend_templates/gka_ivrs.html' %} 
{% endblock %}