{% extends "base.html" %}
{% load static %}
{% block css_extra %}
<style>
  .main-footer {
    margin-top: 0;
  }

  .logo {
    visibility: hidden;
  }
</style>
{% endblock %}
{% block page_title %}KLP{% endblock %}
{% block endbody %}
<script src="{% static 'js/home/init.js' %}"></script>
{% endblock %}
{% block content %}
<div class="banner-full banner-home">
  <div class="base-spacing">
    <img src="/static/images/home_klp_logo@2x.png" alt="logo-klp" width="120" class="banner-logo-klp">
  </div>
  <div class="banner-home-container">
    <img src="/static/images/home_headline_text@2x.png" alt="Come Engage With Us And Help Us Make Our Schools Better For Our Children." class="banner-caption-klp" width="1046" height="366">
    <div class="banner-full-caption">
      <div class="base-spacing"></div>
      <div>
        <p>The Karnataka Learning Partnership is a public platform where all stakeholders involved in public education participate and help ensure better schools and education for all children in Karnataka.</p>
        <p><a href="{% url 'aboutus' %}">Read more</a></p>
      </div>
    </div>
    <img src="/static/images/hp_student.png" alt="student-image" class="banner-home-student" width="383" height="598">
  </div> <!-- /banner-home-container -->
</div> <!-- /banner-full -->

<section class="module-img-wrapper home-help-block">
  <div class="container">
    <h2 class="heading-secondary heading-border">How you can help</h2>
    <ul class="home-help module-img-block">
      <li class="module-img-each home-help-visit">
        <div class="module-img">
          <img src="/static/images/auto.png" alt="Icon: Auto" width="120" height="81">
        </div>
        <h3>Pay a visit</h3>
        <p>Got some free time?<br>
          Visit a school in your local area.<br>
          Look around and offer to help.
        </p>
      <li class="module-img-each home-help-volunteer">
        <div class="module-img">
          <img src="/static/images/helpout.png" alt="Icon: Volunteer" width="154" height="192">
        </div>
        <h3>Volunteer</h3>
        <p>Show your volunteer Spirit!
          <br>
          Spend some of your time teaching and helping children in nearby schools and make a difference to their lives.</p>
      <li class="module-img-each home-help-donate">
        <div class="module-img">            
          <img src="/static/images/books.png" alt="Icon: Share" width="120" height="86">
        </div>
        <h3>Donate</h3>
        <p>Donate books, computers, chairs, tables, sports equipment, etc. Your donations help the school provide a better learning environment for the children.</p>
    </ul> <!-- /home-help -->
  </div> <!-- /container -->
</section>

<section class="module-img-wrapper home-current-block">
  <div class="container">
    <ul class="module-img-block home-current">
      <li class="module-img-each home-current-stories">
        <h3 class="heading-border">Shared Stories</h3>
        <img src="/static/images/volunteer_stories@2x.jpg" class="module-img" alt="Image: Home shared stories" width="384" height="384">
        <div class="font-larger">Recent Visits</div>
        <p id="sysCounts" class="brand-blue home-current-subheading"></p>
        <div id="sysInfo"></div>
      <li class="module-img-each home-current-updates">
        <h3 class="heading-border">Updates</h3>
        <img src="/static/images/updates@2x.jpg" alt="Image: Home updates" class="module-img" width="384" height="384">
        <div class="font-larger">From the KLP Blog</div>
        <p class="brand-green home-current-subheading">Recent Blog Posts</p>
        <div id="js-blog" class="home-blog-list">
          <!--
            <script>
                    function processReq(root)
                    {
                            var feed= root.feed;
                            klp.utils.processRequest(feed);
                    }
            </script>
            <script src=http://blog.klp.org.in/feeds/posts/default?alt=json-in-script&callback=processReq></script>   
            -->
        </div>
      <li class="module-img-each home-current-community">
        <h3 class="heading-border">Community<span></span></h3>
        <img src="/static/images/schools_around_you@2x.jpg" alt="Image: Home community" class="module-img" width="384" height="384">
        <div class="font-larger">Namma Makkala Surakshate</div>
        <p class="brand-orange home-current-subheading">Take the Pledge</p>
        <p>Namma Makkala Surakshate platform invites Schools to pledge making their schools extremely safe for children, follow through with their action plans and report on what's being done. <a href="http://nmsbengaluru.org/" target="_blank"> Read more... </a></p>
    </ul>
  </div> <!-- /container -->
</section> <!-- /home-current-block -->

<section class="home-volunteer-request">
  <div class="container">
    <h2 class="heading-secondary heading-border">Come Volunteer Now!</h2>
    <div class="center-text">
      <img src="/static/images/home_children.png" alt="Image: Children" width="570" height="147" class="base-spacing-lg-x">
      <p>Help your local community by volunteering at schools nearby you.<br>
        Your little efforts can make a difference in someone's life.
      </p>
      <div class="base-spacing"><a href="/volunteer-map" class="button">Volunteer now</a></div>
    </div>
  </div>
</section>
{% include 'frontend_templates/home.html' %}
{% endblock %}
