{% extends "base.html" %}
{% load static %}
{% block css_extra %}
<style>
    .logo {
        visibility: hidden;
    }
</style>
{% endblock %}

{% block page_title %}KLP{% endblock %}

{% block endbody %}
    <script src="{% static 'js/home/init.js' %}"></script>

{% endblock %}

{% block content %}

<section class="home-section how-you-can-help">
    <div class="container">
        <h2>How you can help<span></span></h2>

        <div class="grid_item grid_4 alpha col_pay_a_visit">
            <h3>Pay a visit</h3>
            <p>
                Got some free time?<br/>
                Visit a school in your local area.<br/>
                Look around and offer to help.
            </p>
        </div>
        <div class="grid_item grid_4 col_volunteer">
            <h3>Volunteer</h3>
            <p>
                Show your volunteer Spirit!<br/>
                Spend some of your time teaching and helping children in nearby schools and make a difference to their lives. 
            </p>
        </div>
        <div class="grid_item grid_4 omega col_donate">
            <h3>Donate</h3>
            <p>
                Donate books, computers, chairs, tables, sports equipment, etc. Your donations help the school provide a better learning environment for the children.
            </p>
        </div>
        <div class="clr"></div>
    </div>
</section>

<section class="home-section recent-activities">
    <div class="container">
            
            <div class="grid_item grid_4 col_volunteer_stories">
                    <h2>Shared Stories<span></span></h2>
                    <h3>Recent Visits</h3>
                    <h4 id="sysCounts"></h4>
                    <div id="sysInfo"></div>
            </div>
            <div class="grid_item grid_4 omega col_updates">
                    <h2>Updates<span></span></h2>
                    <h3>From the KLP Blog</h3>
                    <h4>Recent Blog Posts</h4>
                    <p>
                            <div id="blog">
                            <!--
                            <script>
                                    function processReq(root)
                                    {
                                            var feed= root.feed;
                                            klp.utils.processRequest(feed);
                                    }
                            </script>
                            <script src=http://blog.klp.org.in/feeds/posts/default?alt=json-in-script&callback=processReq></script>   
                            -->
                            </div> 
                    </p>
            </div>
            <div class="grid_item grid_4 alpha col_schools_around_you">
                    <h2>Community<span></span></h2>
                    <h3>Namma Makkala Surakshate</h3>
                    <h4>Take the Pledge</h4>
                    <p>
                            Namma Makkala Surakshate platform invites Schools to pledge making their schools extremely safe for children, follow through with their action plans and report on what's being done. <a href="http://nmsbengaluru.org/" target="_blank"> Read more... </a>
                    </p>
            </div>
            <div class="clr"></div>
    </div>

</section>

<section class="home-section come-volunteer">
    <div class="container">
        <h2>Come Volunteer Now!<span></span></h2>
        <p class="png24">
            Help your local community by volunteering at schools nearby you.<br/>
            Your little efforts can make a difference in someone's life.
        </p>
        <div class="ta_c"><a href="/volunteer-map" class="button">Volunteer now</a></div>
    </div>
</section>

{% include 'frontend_templates/home.html' %}

{% endblock %}