{% extends 'base.html' %}
{% block page_title %} Partner Reports {% endblock %}
{% block content %}
<div class="container">
  <h1 class="heading-primary brand-purple" id="top">Reports</h1>
</div>

<div class="center-text">
  <h2 class="heading-section">Reports</h2>
  <div class="heading-section-block">
    <ul>
      <li>
        <a href="#mp_reports" class="js-scroll-smooth-link">
          MP Reports - Basic Sanitation
        </a>
      </li>
      <li>
        <a href="#mla_reports" class="js-scroll-smooth-link">
          MLA Reports - Basic Sanitation
        </a>
      </li>
      <li>
        <a href="#rte_reports" class="js-scroll-smooth-link">
          RTE Reports
        </a>
      </li>
    </ul>
  </div>
</div>

<section>
  <div class="center-text">
    <h2 class="heading-section" id="mp_reports">MP Reports - Basic Sanitation</h2>
<!--     <div class="heading-section-block">
      <ul>
        <li><a href="#mp" class="js-scroll-smooth-link">Akshara Foundation</a></li>
      </ul>
    </div> -->
  </div>
</section>

<div class="container">
  <ul class="ul-base">
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bagalkot.pdf" target="_blank">Bagalkot</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bangalore_Central.pdf" target="_blank">Bangalore_Central</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bangalore_North.pdf" target="_blank">Bangalore_North</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bangalore_Rural.pdf" target="_blank">Bangalore_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bangalore_South.pdf" target="_blank">Bangalore_South</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Belgaum.pdf" target="_blank">Belgaum</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bellary.pdf" target="_blank">Bellary</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bidar.pdf" target="_blank">Bidar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Bijapur.pdf" target="_blank">Bijapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Chamarajanagar.pdf" target="_blank">Chamarajanagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Chikkballapur.pdf" target="_blank">Chikkballapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Chikkodi.pdf" target="_blank">Chikkodi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Chitradurga.pdf" target="_blank">Chitradurga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Dakshina_Kannada.pdf" target="_blank">Dakshina_Kannada</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Davanagere.pdf" target="_blank">Davanagere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Dharwad.pdf" target="_blank">Dharwad</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Gulbarga.pdf" target="_blank">Gulbarga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Hassan.pdf" target="_blank">Hassan</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Haveri.pdf" target="_blank">Haveri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Kolar.pdf" target="_blank">Kolar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Koppal.pdf" target="_blank">Koppal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Mandya.pdf" target="_blank">Mandya</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Mysore.pdf" target="_blank">Mysore</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Raichur.pdf" target="_blank">Raichur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Shimoga.pdf" target="_blank">Shimoga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Tumkur.pdf" target="_blank">Tumkur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Udupi_Chikmagalur.pdf" target="_blank">Udupi_Chikmagalur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mp/Uttara_Kannada.pdf" target="_blank">Uttara_Kannada</a></li>
  </ul>
  <div class="clearfix"></div>
</div>

<section>
  <div class="center-text">
    <h2 class="heading-section" id="mla_reports">MLA Reports - Basic Sanitation</h2>
  </div>
</section>

<div class="container">
  <ul class="ul-base">
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Afzalpur.pdf" target="_blank">Afzalpur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Aland.pdf" target="_blank">Aland</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Anekal.pdf" target="_blank">Anekal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Arabhavi.pdf" target="_blank">Arabhavi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Arkalgud.pdf" target="_blank">Arkalgud</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Arsikere.pdf" target="_blank">Arsikere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Athani.pdf" target="_blank">Athani</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Aurad.pdf" target="_blank">Aurad</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Babaleshwar.pdf" target="_blank">Babaleshwar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Badami.pdf" target="_blank">Badami</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bagalkot.pdf" target="_blank">Bagalkot</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bagepalli.pdf" target="_blank">Bagepalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bailhongal.pdf" target="_blank">Bailhongal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bangalore_South.pdf" target="_blank">Bangalore_South</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bangarapet.pdf" target="_blank">Bangarapet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bantval.pdf" target="_blank">Bantval</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Basavakalyan.pdf" target="_blank">Basavakalyan</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Basavana_Bagevadi.pdf" target="_blank">Basavana_Bagevadi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Basavanagudi.pdf" target="_blank">Basavanagudi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Belgaum_Dakshin.pdf" target="_blank">Belgaum_Dakshin</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Belgaum_Rural.pdf" target="_blank">Belgaum_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Belgaum_Uttar.pdf" target="_blank">Belgaum_Uttar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bellary_City.pdf" target="_blank">Bellary_City</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bellary.pdf" target="_blank">Bellary</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Belthangady.pdf" target="_blank">Belthangady</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Belur.pdf" target="_blank">Belur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bhadravati.pdf" target="_blank">Bhadravati</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bhalki.pdf" target="_blank">Bhalki</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bhatkal.pdf" target="_blank">Bhatkal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bidar.pdf" target="_blank">Bidar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bidar_South.pdf" target="_blank">Bidar_South</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bijapur_City.pdf" target="_blank">Bijapur_City</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bilgi.pdf" target="_blank">Bilgi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Bommanahalli.pdf" target="_blank">Bommanahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/B.T.M._Layout.pdf" target="_blank">B.T.M._Layout</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Byadgi.pdf" target="_blank">Byadgi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Byatarayanapura.pdf" target="_blank">Byatarayanapura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Byndoor.pdf" target="_blank">Byndoor</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Challakere.pdf" target="_blank">Challakere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chamarajanagar.pdf" target="_blank">Chamarajanagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chamaraja.pdf" target="_blank">Chamaraja</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chamrajpet.pdf" target="_blank">Chamrajpet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chamundeshwari.pdf" target="_blank">Chamundeshwari</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Channagiri.pdf" target="_blank">Channagiri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Channapatna.pdf" target="_blank">Channapatna</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chickpet.pdf" target="_blank">Chickpet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chikkaballapur.pdf" target="_blank">Chikkaballapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chikkodi-Sadalga.pdf" target="_blank">Chikkodi-Sadalga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chikmagalur.pdf" target="_blank">Chikmagalur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chiknayakanhalli.pdf" target="_blank">Chiknayakanhalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chincholi.pdf" target="_blank">Chincholi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chintamani.pdf" target="_blank">Chintamani</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chitradurga.pdf" target="_blank">Chitradurga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Chittapur.pdf" target="_blank">Chittapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/C.V._Raman_Nagar.pdf" target="_blank">C.V._Raman_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Dasarahalli.pdf" target="_blank">Dasarahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Davanagere_North.pdf" target="_blank">Davanagere_North</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Davanagere_South.pdf" target="_blank">Davanagere_South</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Devadurga.pdf" target="_blank">Devadurga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Devanahalli.pdf" target="_blank">Devanahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Devar_Hippargi.pdf" target="_blank">Devar_Hippargi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Dharwad.pdf" target="_blank">Dharwad</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Doddaballapur.pdf" target="_blank">Doddaballapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gadag.pdf" target="_blank">Gadag</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gandhi_Nagar.pdf" target="_blank">Gandhi_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gangawati.pdf" target="_blank">Gangawati</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gauribidanur.pdf" target="_blank">Gauribidanur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gokak.pdf" target="_blank">Gokak</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Govindraj_Nagar.pdf" target="_blank">Govindraj_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gubbi.pdf" target="_blank">Gubbi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gulbarga_Dakshin.pdf" target="_blank">Gulbarga_Dakshin</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gulbarga_Rural.pdf" target="_blank">Gulbarga_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gulbarga_Uttar.pdf" target="_blank">Gulbarga_Uttar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gundlupet.pdf" target="_blank">Gundlupet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Gurmitkal.pdf" target="_blank">Gurmitkal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hadagalli.pdf" target="_blank">Hadagalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hagaribommanahalli.pdf" target="_blank">Hagaribommanahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hangal.pdf" target="_blank">Hangal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hanur.pdf" target="_blank">Hanur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Harapanahalli.pdf" target="_blank">Harapanahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Harihar.pdf" target="_blank">Harihar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hassan.pdf" target="_blank">Hassan</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Haveri.pdf" target="_blank">Haveri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hebbal.pdf" target="_blank">Hebbal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Heggadadevankote.pdf" target="_blank">Heggadadevankote</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hirekerur.pdf" target="_blank">Hirekerur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hiriyur.pdf" target="_blank">Hiriyur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Holalkere.pdf" target="_blank">Holalkere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Holenarasipur.pdf" target="_blank">Holenarasipur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Homnabad.pdf" target="_blank">Homnabad</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Honnali.pdf" target="_blank">Honnali</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hosadurga.pdf" target="_blank">Hosadurga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hosakote.pdf" target="_blank">Hosakote</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hubli-Dharwad-Central.pdf" target="_blank">Hubli-Dharwad-Central</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hubli-Dharwad-East.pdf" target="_blank">Hubli-Dharwad-East</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hubli-Dharwad-West.pdf" target="_blank">Hubli-Dharwad-West</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hukkeri.pdf" target="_blank">Hukkeri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hungund.pdf" target="_blank">Hungund</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Hunsur.pdf" target="_blank">Hunsur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Indi.pdf" target="_blank">Indi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Jagalur.pdf" target="_blank">Jagalur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Jamkhandi.pdf" target="_blank">Jamkhandi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Jayanagar.pdf" target="_blank">Jayanagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Jevargi.pdf" target="_blank">Jevargi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kadur.pdf" target="_blank">Kadur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kagwad.pdf" target="_blank">Kagwad</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kalghatgi.pdf" target="_blank">Kalghatgi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kampli.pdf" target="_blank">Kampli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kanakagiri.pdf" target="_blank">Kanakagiri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kanakapura.pdf" target="_blank">Kanakapura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kapu.pdf" target="_blank">Kapu</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Karkal.pdf" target="_blank">Karkal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Karwar.pdf" target="_blank">Karwar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Khanapur.pdf" target="_blank">Khanapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kittur.pdf" target="_blank">Kittur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kolar_Gold_Field.pdf" target="_blank">Kolar_Gold_Field</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kolar.pdf" target="_blank">Kolar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kollegal.pdf" target="_blank">Kollegal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Koppal.pdf" target="_blank">Koppal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Koratagere.pdf" target="_blank">Koratagere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Krishnarajanagara.pdf" target="_blank">Krishnarajanagara</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Krishnaraja.pdf" target="_blank">Krishnaraja</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Krishnarajpet.pdf" target="_blank">Krishnarajpet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/K.R._Pura.pdf" target="_blank">K.R._Pura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kudachi.pdf" target="_blank">Kudachi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kudligi.pdf" target="_blank">Kudligi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kumta.pdf" target="_blank">Kumta</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kundapura.pdf" target="_blank">Kundapura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kundgol.pdf" target="_blank">Kundgol</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kunigal.pdf" target="_blank">Kunigal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Kushtagi.pdf" target="_blank">Kushtagi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Lingsugur.pdf" target="_blank">Lingsugur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Maddur.pdf" target="_blank">Maddur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Madhugiri.pdf" target="_blank">Madhugiri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Madikeri.pdf" target="_blank">Madikeri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Magadi.pdf" target="_blank">Magadi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mahadevapura.pdf" target="_blank">Mahadevapura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mahalakshmi_Layout.pdf" target="_blank">Mahalakshmi_Layout</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Malavalli.pdf" target="_blank">Malavalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Malleshwaram.pdf" target="_blank">Malleshwaram</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Malur.pdf" target="_blank">Malur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mandya.pdf" target="_blank">Mandya</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mangalore_City_North.pdf" target="_blank">Mangalore_City_North</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mangalore_City_South.pdf" target="_blank">Mangalore_City_South</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mangalore.pdf" target="_blank">Mangalore</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Manvi.pdf" target="_blank">Manvi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Maski.pdf" target="_blank">Maski</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mayakonda.pdf" target="_blank">Mayakonda</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Melukote.pdf" target="_blank">Melukote</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Molakalmuru.pdf" target="_blank">Molakalmuru</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Moodabidri.pdf" target="_blank">Moodabidri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Muddebihal.pdf" target="_blank">Muddebihal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mudhol.pdf" target="_blank">Mudhol</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mudigere.pdf" target="_blank">Mudigere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Mulbagal.pdf" target="_blank">Mulbagal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nagamangala.pdf" target="_blank">Nagamangala</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nagthan.pdf" target="_blank">Nagthan</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nanjangud.pdf" target="_blank">Nanjangud</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Narasimharaja.pdf" target="_blank">Narasimharaja</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nargund.pdf" target="_blank">Nargund</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Navalgund.pdf" target="_blank">Navalgund</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nelamangala.pdf" target="_blank">Nelamangala</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Nippani.pdf" target="_blank">Nippani</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Padmanaba_Nagar.pdf" target="_blank">Padmanaba_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Pavagada.pdf" target="_blank">Pavagada</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Piriyapatna.pdf" target="_blank">Piriyapatna</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Pulakeshinagar.pdf" target="_blank">Pulakeshinagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Puttur.pdf" target="_blank">Puttur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Raichur.pdf" target="_blank">Raichur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Raichur_Rural.pdf" target="_blank">Raichur_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Rajaji_Nagar.pdf" target="_blank">Rajaji_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Rajarajeshwarinagar.pdf" target="_blank">Rajarajeshwarinagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Ramanagaram.pdf" target="_blank">Ramanagaram</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Ramdurg.pdf" target="_blank">Ramdurg</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Ranibennur.pdf" target="_blank">Ranibennur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Raybag.pdf" target="_blank">Raybag</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Ron.pdf" target="_blank">Ron</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sagar.pdf" target="_blank">Sagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sakleshpur.pdf" target="_blank">Sakleshpur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sandur.pdf" target="_blank">Sandur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sarvagnanagar.pdf" target="_blank">Sarvagnanagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Saundatti_Yellamma.pdf" target="_blank">Saundatti_Yellamma</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sedam.pdf" target="_blank">Sedam</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shahapur.pdf" target="_blank">Shahapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shanti_Nagar.pdf" target="_blank">Shanti_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shiggaon.pdf" target="_blank">Shiggaon</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shikaripura.pdf" target="_blank">Shikaripura</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shimoga.pdf" target="_blank">Shimoga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shimoga_Rural.pdf" target="_blank">Shimoga_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shirahatti.pdf" target="_blank">Shirahatti</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shivajinagar.pdf" target="_blank">Shivajinagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shorapur.pdf" target="_blank">Shorapur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shravanabelagola.pdf" target="_blank">Shravanabelagola</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Shrirangapattana.pdf" target="_blank">Shrirangapattana</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sidlaghatta.pdf" target="_blank">Sidlaghatta</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sindgi.pdf" target="_blank">Sindgi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sindhanur.pdf" target="_blank">Sindhanur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sira.pdf" target="_blank">Sira</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sirsi.pdf" target="_blank">Sirsi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Siruguppa.pdf" target="_blank">Siruguppa</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sorab.pdf" target="_blank">Sorab</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sringeri.pdf" target="_blank">Sringeri</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Srinivaspur.pdf" target="_blank">Srinivaspur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Sullia.pdf" target="_blank">Sullia</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Tarikere.pdf" target="_blank">Tarikere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Terdal.pdf" target="_blank">Terdal</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Tiptur.pdf" target="_blank">Tiptur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Tirthahalli.pdf" target="_blank">Tirthahalli</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/T.Narasipur.pdf" target="_blank">T.Narasipur</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Tumkur_City.pdf" target="_blank">Tumkur_City</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Tumkur_Rural.pdf" target="_blank">Tumkur_Rural</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Turuvekere.pdf" target="_blank">Turuvekere</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Udupi.pdf" target="_blank">Udupi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Varuna.pdf" target="_blank">Varuna</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Vijayanagara.pdf" target="_blank">Vijayanagara</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Vijay_Nagar.pdf" target="_blank">Vijay_Nagar</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Virajpet.pdf" target="_blank">Virajpet</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Yadgir.pdf" target="_blank">Yadgir</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Yelahanka.pdf" target="_blank">Yelahanka</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Yelburga.pdf" target="_blank">Yelburga</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Yemkanmardi.pdf" target="_blank">Yemkanmardi</a></li>
    <li><a href="https://klp.org.in/public/adhoc-reports/mla/Yeshvanthapura.pdf" target="_blank">Yeshvanthapura</a></li>
  </ul>
</div> <!-- /container -->

<section>
  <div class="center-text">
    <h2 class="heading-section" id="rte_reports">RTE Reports</h2>
  </div>
</section>

<div class="container">
  <ul class="ul-base">
    <li>bangalore_rural
      <ul class="ul-base">
        <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote.pdf" target="_blank">hosakote</a>
          <ul class="ul-base">
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/alappanahalli.pdf" target="_blank">alappanahalli</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/beguru.pdf" target="_blank">beguru</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/bendiganahalli.pdf" target="_blank">bendiganahalli</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/bilanarasapura.pdf" target="_blank">bilanarasapura</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/devanagundi.pdf" target="_blank">devanagundi</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/doddagattinabbe.pdf" target="_blank">doddagattinabbe</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/doddanallala.pdf" target="_blank">doddanallala</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/doddanhulluru.pdf" target="_blank">doddanhulluru</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/hosakote_town.pdf" target="_blank">hosakote_town</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/jadigenahalli.pdf" target="_blank">jadigenahalli</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/kalkunte.pdf" target="_blank">kalkunte</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/mugbala.pdf" target="_blank">mugbala</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/nandagudi.pdf" target="_blank">nandagudi</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/nelavagilu.pdf" target="_blank">nelavagilu</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/samethanahalli.pdf" target="_blank">samethanahalli</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/shivanapura.pdf" target="_blank">shivanapura</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/sulibele.pdf" target="_blank">sulibele</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/t_agrahara.pdf" target="_blank">t_agrahara</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/thavarekere.pdf" target="_blank">thavarekere</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/bangalore_rural/hosakote/vagata.pdf" target="_blank">vagata</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>gadag
      <ul class="ul-base">
        <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi.pdf" target="_blank">mundaragi</a>
          <ul class="ul-base">
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/bagewadi.pdf" target="_blank">bagewadi</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/dambal.pdf" target="_blank">dambal</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/kadampur.pdf" target="_blank">kadampur</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/korlahalli.pdf" target="_blank">korlahalli</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/mundaragi_city_west.pdf" target="_blank">mundaragi_city_west</a></li>
            <li><a href="https://klp.org.in/public/adhoc-reports/RTE/gadag/mundaragi/mundaragi_east.pdf" target="_blank">mundaragi_east</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>koppal
      <ul class="ul-base">
        <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi.pdf" target="_blank">kustagi</a>
          <ul class="ul-base">
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/adavibhavi.pdf" target="_blank">adavibhavi</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/bijakal.pdf" target="_blank">bijakal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/chalageri.pdf" target="_blank">chalageri</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/dotihal.pdf" target="_blank">dotihal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/hanumanal.pdf" target="_blank">hanumanal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/hanumasagar.pdf" target="_blank">hanumasagar</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/hiregonnagar.pdf" target="_blank">hiregonnagar</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/hiremannapur.pdf" target="_blank">hiremannapur</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/hoolagera.pdf" target="_blank">hoolagera</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/j.gudadoor.pdf" target="_blank">gudadoor</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/jumalapur.pdf" target="_blank">j.jumalapur</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/killarhatti.pdf" target="_blank">killarhatti</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/koradakera.pdf" target="_blank">koradakera</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/kustagi.pdf" target="_blank">kustagi</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/menedhal.pdf" target="_blank">menedhal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/mudenur.pdf" target="_blank">mudenur</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/nilogal.pdf" target="_blank">nilogal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/sanghanal.pdf" target="_blank">sanghanal</a></li>
              <li><a href="https://klp.org.in/public/adhoc-reports/RTE/koppal/kustagi/thavaragera.pdf" target="_blank">thavaragera</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>


<div class="backToTop">
  <a href="#top">Back to top</a>
</div>

{% endblock %}
