{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}School Map{% endblock %}

{% block endbody %}

    <link type="text/css" rel="stylesheet" href="{% static 'js/lib/iCheck/skins/minimal/minimal.css' %}" media="all"/>
    <script type="text/javascript" src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zebra_datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/iCheck/jquery.icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/jquery.easydropdown.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/lib/director.min.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/lib/klprouter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swig.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swig.filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/klp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/comparison.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/volunteer_date_filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/share_story.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/router.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/volunteer_modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/place_info.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map/option_items.js' %}"></script>


    <!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  -->

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- <script type="text/javascript" src="{% static 'js/inline-map.js' %}"></script> -->
{% endblock %}

{% block subheader %}
  <div class="map-subheader-wrapper">
    <div class="subheader-content">
      <input type="text" name="search" placeholder="Search" class="search-input fl"/>

      <div class="volunteer-btn-wrapper fr">
        <a class="button blue js-volunteer-trigger">Volunteer</a>
      </div>

      <div class="volunteer-filters-wrapper fl">
        <div class="label fl">Location</div>
        <div class="filter-item fl">
          <select name="location" class="dropdown">
            <option>Banaswadi</option>
            <option>Malleswaram</option>
            <option>Banaswadi</option>
            <option>Malleswaram</option>
          </select>
        </div>

        <div class="label fl">Date</div>
        <div class="filter-item fl">
          <span class="js-volunter-date-input-wrapper">
            <input type="text" name="date" readonly="readonly" value="15-07-2014" class="input date-input" id="vol-date-input">
          </span>

          <div class="calendar-wrapper js-volunteer-cal">
            <div class="cal">
                <!-- <input class="js-datepicker-input" id="datepicker-input" type="hidden" readonly="readonly"> -->
                <div id="vol-datepicker-wrapper"></div>
              </div>
          </div>
        </div>

        <div class="label fl">Organization</div>
        <div class="filter-item fl">
          <select name="organization" class="dropdown">
            <option selected>All</option>
            <option>Akshara Foundation</option>
            <option>Akshaya Patra</option>
            <option>KSEEB</option>
            <option>NUEPA</option>
          </select>
        </div>

        <div class="label fl">Opportunity</div>
        <div class="filter-item fl">
          <select name="activity" class="dropdown">
            <option selected>All</option>
            <option>Teaching Based</option>
            <option>Activity Based</option>
            <option>Skill Based</option>
          </select>
        </div>
        <div class="clr"></div>
      </div>

      <div class="clr"></div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="modal modal-map-filter">
    <a class="button-close btn-modal-close"></a>
    <h3 class="modal-heading">Filter Schools</h3>
    <div class="page-section-menu">

      <div class="options-wrapper">
        <div class="option-item">
          <div class="inactive-overlay"></div>
          <span class="option-label">School Type</span>
          <select name="type" class="dropdown">
            <option>Primary School</option>
            <option>Preschool</option>
          </select>
        </div>

        <div class="option-item">
          <div class="inactive-overlay"></div>
          <span class="option-label">District</span>
          <select name="type" class="dropdown">
            <option>Bagalkot</option>
            <option>Bangalore</option>
            <option>Bangalore Rural</option>
            <option>Belgaum</option>
            <option>Bellary</option>
          </select>
        </div>

        <div class="option-item inactive">
          <div class="inactive-overlay"></div>
          <span class="option-label">Block</span>
          <select name="type" class="dropdown">
            <option>Badami</option>
            <option>Bilagi</option>
            <option>Hunagund</option>
            <option>Jamakhandi</option>
          </select>
        </div>

        <div class="option-item inactive">
          <div class="inactive-overlay"></div>
          <span class="option-label">Cluster</span>
          <select name="type" class="dropdown">
            <option>Badami</option>
            <option>Halakurki</option>
            <option>Haligeri</option>
            <option>Hebballi</option>
            <option>Katageri</option>
          </select>
        </div>

        <div class="option-item inactive">
          <div class="inactive-overlay"></div>
          <span class="option-label">School</span>
          <select name="type" class="dropdown">
            <option>GOVT Hps</option>
            <option>GOVT Kblps</option>
            <option>GOVT Kgs</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="map_page no-sidebar">
    <section class="map_canvas_full">
      <div id="map_canvas"></div>
    </section>

    <div class="filter-layers-list" id="filter-layers-list">
      <label class="legend-item first">
        <input type="checkbox" class="checkbox" />
        <div class="en-icon small en-school">s</div>
        <div class="label en-school">School</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox" class="checkbox"/>
        <div class="en-icon small en-school-block">sb</div>
        <div class="label en-school-block">School Block</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox"  class="checkbox"/>
        <div class="en-icon small en-school-cluster">sc</div>
        <div class="label en-school-cluster">School Cluster</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox"  class="checkbox"/>
        <div class="en-icon small en-school-district">sd</div>
        <div class="label en-school-district">School District</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox"  class="checkbox"/>
        <div class="en-icon small en-preschool">p</div>
        <div class="label en-preschool">Preschool</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox" class="checkbox"/>
        <div class="en-icon small en-preschool-circle">pc</div>
        <div class="label en-preschool-circle">Preschool Circles</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox" class="checkbox" />
        <div class="en-icon small en-preschool-district">pd</div>
        <div class="label en-preschool-district">Preschool District</div>
        <div class="clr"></div>
      </label>

      <div class="hr"></div>

      <label class="legend-item">
        <input type="checkbox" class="checkbox" />
        <div class="en-icon small en-preschool-project">pp</div>
        <div class="label en-preschool-project">Preschool Project</div>
        <div class="clr"></div>
      </label>
    </div>

    <div class="map-tools">
      <a class="tool tool-filter" id="filter-button"></a>
      <div class="divider"></div>
      <a class="tool tool-radius" id="filter-radius-button"></a>
      <div class="divider"></div>
      <a class="tool tool-layers js-toggle-layers-list"></a>
    </div>

    <section id="sidebar_wrapper" class="sidebar-wrapper">
      <ul>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Gian Jyoti Public School" data-entity-type="school">
          <div class="stats">
            <div class="en-icon small en-school">s</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-school">Gian Jyoti Public School</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Bangalore" data-entity-type="school-district">
          <div class="stats">
            <div class="en-icon small en-school-district">sd</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-school-district">Bangalore</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="North - 2" data-entity-type="school-block">
          <div class="stats">
            <div class="en-icon small en-school-block">sb</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-school-block">North - 2</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Malleswaram" data-entity-type="school-cluster">
          <div class="stats">
            <div class="en-icon small en-school-cluster">sc</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-school-cluster">Malleswaram</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Gian Jyoti Public School" data-entity-type="preschool">
          <div class="stats">
            <div class="en-icon small en-preschool">p</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-preschool">Gian Jyoti Public School</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Malleswaram" data-entity-type="preschool-circle">
          <div class="stats">
            <div class="en-icon small en-preschool-circle">pc</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-preschool-circle">Malleswaram</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item Xjs-trigger-marker-overlay js-trigger-info" data-name="Bangalore" data-entity-type="preschool-district">
          <div class="stats">
            <div class="en-icon small en-preschool-district">pd</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-preschool-district">Bangalore</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
        <li class="place_item js-trigger-info" data-name="Gian Jyoti Public School" data-entity-type="preschool-project">
          <div class="stats">
            <div class="en-icon small en-preschool-project">pp</div>
            <span class="distance">400m</span>
            <div class="clr"></div>
          </div>
          <div class="details">
            <h3 class="en-preschool-project">Gian Jyoti Public School</h3>
            <div class="info">
              Street No-4, Banasawadi<br/>
              Bangalore
            </div>
          </div>
        </li>
      </ul>
      </ul>
    </section>

    <div class="msg-filter-radius hide" id="msg-filter-radius">Click and drag on the map to draw circle</div>

    <section class="map-legend hide">
      <div class="content">
        <div class="legend">
          <label class="legend-item first">
            <input type="checkbox" class="checkbox" />
            <div class="en-icon small en-school">s</div>
            <div class="label en-school">School</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox"  class="checkbox" />
            <div class="en-icon small en-school-block">sb</div>
            <div class="label en-school-block">School Block</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox"  class="checkbox" />
            <div class="en-icon small en-school-cluster">sc</div>
            <div class="label en-school-cluster">School Cluster</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox"  class="checkbox" />
            <div class="en-icon small en-school-district">sd</div>
            <div class="label en-school-district">School District</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox"  class="checkbox" />
            <div class="en-icon small en-preschool">p</div>
            <div class="label en-preschool">Preschool</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox" class="checkbox" />
            <div class="en-icon small en-preschool-circle">pc</div>
            <div class="label en-preschool-circle">Preschool Circles</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox" class="checkbox" />
            <div class="en-icon small en-preschool-district">pd</div>
            <div class="label en-preschool-district">Preschool District</div>
            <div class="clr"></div>
          </label>

          <div class="hr"></div>

          <label class="legend-item">
            <input type="checkbox" class="checkbox" />
            <div class="en-icon small en-preschool-project">pp</div>
            <div class="label en-preschool-project">Preschool Project</div>
            <div class="clr"></div>
          </label>

          <div class="hr last"></div>

        </div>
        <div class="tool">
          <a href="" class="tool-item first">
            <div class="tool-icon">f</div>
            <div class="label">Filter</div>
            <div class="clr"></div>
          </a>
          <a href="" class="tool-item">
            <div class="tool-icon">r</div>
            <div class="label">Radius</div>
            <div class="clr"></div>
          </a>
        </div>
      </div>
    </section>

    <section id="compare_flow" class="compare-flow hide">
      <div class="content">
        <div class="compare-box">
          <a href="#" class="button-close js-comparison-close" title="Close"><span></span></a>

          <div class="vs-separator">
            <a href="" class="label fl js-comparison-clear-left">clear</a>
            <div class="label bg fl">Comparing</div>
            <a href="" class="label fl js-comparison-clear-right">clear</a>
            <div class="vr"></div>
            <div class="vs-label">vs</div>
          </div>

          <div class="info school left-align js-comparison-option-left">
            <div class="en-icon big en-school fl">S</div>
            <div class="ml">
              <h2 class="name en-school">Gian Jyoti Public School</h2>
              <div class="item">
                <div class="label">District</div>
                <div class="value">Bangalore</div>
              </div>
              <div class="item">
                <div class="label">Block</div>
                <div class="value">North-2</div>
              </div>
              <div class="item">
                <div class="label">Cluster</div>
                <div class="value">Malleswaram</div>
              </div>
            </div>
            <div class="clr"></div>
          </div>

          <div class="info school-district right-align hide js-comparison-option-right">
            <div class="en-icon big en-school-district fr">SD</div>
            <div class="mr">
              <h2 class="name en-school-district ta-r">Bangalore</h2>
              <div class="item">
                <div class="label">State</div>
                <div class="value">Karnataka</div>
              </div>
            </div>
            <div class="clr"></div>
          </div>

          <div class="info default right-align js-comparison-default-right">
            <a href="" class="title-select ta-r mar_top_15 js-comparison-show-options-right">Click to select an entity</a>
            <div class="text-select ta-r">or select one by clicking a pin on the map below</div>

            <div class="clr"></div>
          </div>
          <div class="clr"></div>

          <a href="" class="btn compare-now js-btn-compare">Compare now</a>
          <a href="" class="btn cancel js-btn-cancel js-comparison-close show">Cancel</a>
        </div>

        <div class="comparison-result-wrapper js-comparison-result-wrapper">

        </div>

      </div>

      <div class="dropdown-wrapper" id="dropdown_wrapper">
        <div class="triangle"></div>
        <div class="search-box">
          <input type="text" class="input-search" placeholder="Search"/>
          <a href="" class="icon"><i class="icon-search"></i></a>
          <div class="clr"></div>
        </div>

        <a href="" class="info school js-dropdown-option-right">
          <div class="en-icon small en-school fl">S</div>
          <div class="name en-school">Delhi Public School</div>
          <div class="clr"></div>
        </a>
        <a href="" class="info school-district js-dropdown-option-right">
          <div class="en-icon small en-school-district fl">SD</div>
          <div class="name en-school-district">Bangalore</div>
          <div class="clr"></div>
        </a>
    </section>

    <section id="map_overlay" class="map_overlay hide">
      <a href="" class="button-close js-close-info" title="Close"><span></span></a>
      <div class="content"></div>
    </section>

    <div class="mobile-details-wrapper" id="mobile-details-wrapper"></div>
    <section class="map-pin-details sample hide">
      <div class="content">
        <div class="info school">
          <div class="icon-close fr js-close-details"></div>
          <!-- <div class="icon fr">S</div> -->
          <h2 class="name">{{place_name}}</h2>
          <div class="item">
            <div class="label">District</div>
            <div class="value">Bangalore</div>
          </div>
          <div class="item">
            <div class="label">Block</div>
            <div class="value">North-2</div>
          </div>
          <div class="item">
            <div class="label">Cluster</div>
            <div class="value">Malleswaram</div>
          </div>
          <div class="clr"></div>
        </div>
        <div class="details">
          <div  class="detail-item">
            <h4 class="purple-heading">Students</h4>
            <div class="gender_icons">
              <div class="stats_gender_item no_width boy">
                <span class="icon"></span>
                <p class="label">Boys</p>
                <p class="value">120</p>
                <div class="clr"></div>
              </div>
              <div class="stats_gender_item no_width girl">
                <span class="icon"></span>
                <p class="label">Girls</p>
                <p class="value">130</p>
                <div class="clr"></div>
              </div>
              <div class="stats_gender_item no_width total last">
                <span class="icon"></span>
                <p class="label">Total</p>
                <p class="value">250</p>
                <div class="clr"></div>
              </div>
            </div>
          </div>
          <div class="detail-item mar_top_20" style="display:none;">
            <h4 class="purple-heading">Facilities</h4>
            <div class="facility-items ta-c">
              <div class="icon computer"></div>
              <div class="icon books"></div>
              <div class="icon events"></div>
              <div class="icon football last"></div>
              <div class="clr"></div>
            </div>
          </div>
          <div class="mar_top_10">
            <a class="button blue fl js-trigger-volunteer-map" href="volunteer_register.php">Volunteer</a>
            <a class="button dark_grey last fr" href="school.php">More Info</a>
            <div class="clr"></div>
          </div>

        </div>
      </div>
    </section>
  </div>

  {% include 'frontend_templates/map.html' %}

  <div id="modal_overlay" class="modal-overlay"></div>
  <div id="modal_wrapper"></div>

  {% include 'frontend_templates/volunteer.html' %}
{% endblock %}
