{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block page_title %}School Map{% endblock %}

{% block endbody %}
    {% compress js %}
      <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script> 
      <script type="text/javascript" src="{% static 'js/common/comparison.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/common/charts.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/common/share_story.js' %}"></script>
      <script src="{% static 'js/common/dise_api.js' %}"></script>
      <script src="{% static 'js/common/dise_infra.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/map/init.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/map/router.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/map/map.js' %}"></script>
      <!-- <script type="text/javascript" src="{% static 'js/map/volunteer_modal.js' %}"></script> -->
      <script type="text/javascript" src="{% static 'js/map/place_info.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/map/filters_modal.js' %}"></script>
      <!-- <script type="text/javascript" src="{% static 'js/map/volunteer_filters.js' %}"></script> -->
      <script type="text/javascript" src="{% static 'js/lib/leaflet-0.7.3/leaflet.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lib/marker-cluster/leaflet.markercluster.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lib/leaflet-draw/leaflet.draw.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lib/spin.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/lib/leaflet.spin.js' %}"></script>
    {% endcompress %}

    <!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  -->

    <link rel="stylesheet" href="{% static 'js/lib/leaflet-0.7.3/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'js/lib/marker-cluster/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'js/lib/marker-cluster/MarkerCluster.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/lib/leaflet-draw/leaflet.draw.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <!-- <script type="text/javascript" src="{% static 'js/inline-map.js' %}"></script> -->
{% endblock %}

{% block css_extra %}
  <style>
    .subheader-wrapper {
      position: fixed;
      left: 0;
      right: 0;
      top: 42px; /* must match sass variable $header height */
      z-index: 1;
    }
  </style>
{% endblock %}

{% block subheader %}
  {% include 'advanced_search.html' %}
  <div class="map-subheader-wrapper subheader-wrapper">
    <div class="subheader-content">

      <div class="search-input-map">
        <input type="text" name="search" placeholder="Search" class="search-input input-text">
<!--       <div class="volunteer-btn-wrapper fr">
          <a class="button blue js-volunteer-trigger">Volunteer</a>
        </div> -->
      </div>
      <a href="{% url 'advanced_map' %}">
      <div class="adv-search-btn tooltip" aria-label="Advanced Search">
          <span class="fa fa-search-plus"></span>
      </div>
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}


  <div class="map_page no-sidebar">
    <section class="map-canvas-full">
      <div id="js-map-canvas"></div>
    </section>

<!--     <div class="map-tools">
      <a class="tool tool-filter" id="filter-button"></a>
      <div class="divider"></div>
      <a class="tool tool-radius" id="filter-radius-button"></a>
      <div class="divider"></div>
      <a class="tool tool-layers js-toggle-layers-list"></a>
    </div> -->


    <div class="msg-filter-radius hide" id="msg-filter-radius">Click and drag on the map to draw circle</div>

    {% include 'includes/_compare_flow.html' %}

    <div class="mobile-details-wrapper" id="mobile-details-wrapper"></div>

  </div>

  {% include 'frontend_templates/map.html' %}

  {% include 'frontend_templates/compare.html' %}

{% endblock %}
