{% extends "base.html" %}

{% block page_title %}Maths Programme{% endblock %}

{% block content %}

<div class="page-programme-details">

    <section class="programmes-header maths_programme">
        <div class="content">
            <h1>Maths Programme<span></span></h1>
            <p class="text_1">
                The Mathematics Support Programme makes math fun for children. Simple concepts like numbers, place value, mathematical functions are taught using an activity based method with tools like a counting board and number grids, which help children comprehend mathematics.
            </p>
        </div>
    </section>

    <div class="page_subnav_wrapper">
        <nav class="subnav" id="page_sticky_nav" data-stickyType="window">
            <ul>
                <li><a href="#section_methodology" title="">Methodology</a></li>
                <li><a href="#section_assessments" title="">Assessments and Evaluation</a></li>
            </ul>
        </nav>
    </div>

    <section id="section_methodology">
        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Methodology</h2></div>
                <ul class="decimal hidden-phone hidden-tablet">
                    <li><a href="#subsection_the_thinking" title="">The Thinking Strategic Approach</a></li>
                    <li><a href="#subsection_the_basic_plan" title="">The Basic Plan</a></li>
                    <li><a href="#subsection_for_concrete" title="">For Concrete Experiences</a></li>
                    <li><a href="#subsection_for_representational" title="">For Representational Experiences</a></li>
                    <li><a href="#subsection_for_abstract" title="">For Abstract Thinking Experiences</a></li>
                    <li><a href="#subsection_principles" title="">Principles</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <p>
                Nagu Nagutha Ganitha is a mathematics programme for building number concepts among lower primary school children. The approach is based on sequential thinking strategies - Concrete, Representational and Abstract levels, in that order. The programme covers a wide range of mathematical concepts and operations focusing on both Quantitative Literacy and Quantitative Thinking.
            </p>
            <h3 id="subsection_the_thinking">The Thinking Strategic Approach</h3>
            <p>
                Thinking strategies can be taught for developing Arithmetic Skills.
                Strategic instruction becomes a valuable 'tool of the mind' promoting mental arithmetic.
                Thinking strategies allow 'Divergent Thinking,' that is, finding different ways to solve a single problem, and reduce rote learning.
                Thinking strategies allow 'individual progression' with respect to pace of learning among differently-abled children.
            </p>
            <h3 id="subsection_the_basic_plan">The Basic Plan</h3>
            <p>
                Nagu Nagutha Ganitha is organized as a twelve-week programme, six days a week, ninety minutes a day with a series of mathematical activities, tasks and games through which experiences are provided for all the three modes of thinking. Planned sessions in groups of 10 to 15 children provide for activity oriented learning with a team spirit.
            </p>
            
            <h3 id="subsection_for_concrete">For Concrete Experiences</h3>
            <p>
                The Padmini Counting Board (PCB) provides learning through counting beads up to five-digit numeracy skills.
            </p>

            <h3 id="subsection_for_representational">For Representational Experiences</h3>
            <p>
                A variety of Number Grids provides identification of number gradation, number patterns etc. A Number Grid used as an aid or a reference card to perform different arithmetical tasks helps children to develop representational thinking by absorbing into visual memory the number patterns made available in the grid.
            </p>

            <h3 id="subsection_for_abstract">For Abstract Thinking Experiences</h3>
            <p>
                A series of mathematical games and puzzles and interactive sessions to solve the mathematical problems of daily life situations provides oral and mental arithmetic skills.
            </p>
            <h3 id="subsection_principles">Principles</h3>
            <p>
                Emphasise 'Reversible Thinking' at every stage through 'counting on' and 'counting back' the numerals in all the three modes of thinking.
                Adopt Strategy. 'Reach ten or multiples of ten,' in both forward and backward counting to solve different arithmetic tasks, first with counting beads and later with the aid of the Number Grid and finally without any external aid, thus enabling the child to carry out Mental Mathematics.
                Integrate four basic operations of arithmetic - addition, subtraction, multiplication and division as inverse operational strategies without isolating them, as is usually considered in textbooks. For example, 4+3=7; 7-3=4 are learnt together as inverse operations.
                Involve children in Quantitative Reasoning activities with 'hands on' experiences for concepts of Money, Time, Measurement and Shapes.
            </p>
            <p>
                Thus Nagu Nagutha Ganitha provides everyday experiences for all the three modes of thinking for selected concepts and operations through a variety of activities, and children emerge competent and confident in mathematics skills. Learning mathematics would be a joyful experience for every child through Nagu Nagutha Ganitha if its approach, plan and principles are adopted carefully and with concerted effort.
            </p>

            <p class="ta_c"><img src="images/programmes_maths_flowchart.jpg" /></p>
            
        </div>
    </section>

    <section id="section_assessments">
        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Assessments and Evaluations</h2></div>
            </div>
        </div>
        <div class="container">
            <p>
                Children who require remedial intervention with mathematics are identified by the teachers and enrolled into the programme. Once enrolled, the children go through 20 sessions to familiarize themselves with the basic concepts and the new tools in the math kit. After completing 20 sessions, the children are administered a baseline test where they are assessed on the four math competencies, namely, numeracy - comprising of number concepts and place value; four operations, quantitative reasoning and mental math. The main objective of this testing to measure the children at their 'entry level' and therefore to measure the impact of the programme at the end of 60 sessions. A similar test on the four competencies is given at the end of 60 sessions. A comparative analysis between the 20th and 60th day testing would be conducted to study the impact of the programme.
            </p>
        </div>
    </section>

    <section>
        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Other Programmes</h2></div>
                    <div>
                        <ul class="other_links">
                            <li><a href="{% url 'reading_programme' %}" title="">Reading Programme</a></li>
                            <li><a href="{% url 'library_programme' %}" title="">Library Programme</a></li>
                            <li><a href="{% url 'preschool_programme' %}" title="">Pre-School Programme</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>

</div>

<script type="text/javascript">

    $(document).ready(function(){
        resizeProgrammesHeader();
        $(window).resize(function() {
            resizeProgrammesHeader();
        });
    });

    function resizeProgrammesHeader(){

        if($(window).width() >=980){
            // Its a desktop device

            if($(window).height() <725){
                var header_height = $(window).height() - (125);
                $(".programmes-header").css({
                    'height': header_height + 'px',
                });
                $(".programmes-header").addClass('desktop_smaller_height');
            } else {
                $(".programmes-header").removeClass('desktop_smaller_height');
                $(".programmes-header").css({
                    'height': 600 + 'px',
                });
            }
        }
    }

</script>
    
{% endblock %}
