{% extends "base.html" %}
{% load static %}

{% block page_title %}Organisation Profile: {{ object.name }}{% endblock %}
{% block endbody %}
  <script type="text/javascript" src="/static/js/lib/jquery.easydropdown.min.js"></script>
  <script type="text/javascript" src="{% static 'js/organization/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/volunteer_here.js' %}"></script>

  <script>
  	ORGANIZATION_ID = {{ object.id }};
  </script>
{% endblock %}

{% block content %}

	<section class="page-org-profile">
		<div class="container">
			<div class="org-meta-block">
				<div class="org-meta-each org-meta-edit">
					<h3 class="heading-tertiary brand-turquoise">{{ object.name }}</h3>
					{% if object.url %}
					<p><a class="heading-tiny" href="{{ object.url }}" target="_blank">{{ object.url }}</a></p>
					{% endif %}
					<div>
						<a href="/organisation/{{ object.id }}/edit" class="button-hollow button-sm" id="editOrganizationBtn">Edit Profile</a>				
					</div>

					<div>
						<div class="base-spacing"></div>
						<div class="font-small">
							{{ object.about }}
						</div>
							{% if object.has_links %}
							<div>
								<div class="heading-tiny-uppercase">Links</div>
								<div>
									{% if object.twitter_handle %}
									<span>
										<a href="https://twitter.com/{{ object.twitter_handle }}" target="_blank" class="icon-button-round qtip" title="TWITTER">
											<span class="fa fa-twitter"></span>
										</a>
									</span>
									{% endif %}
									{% if object.fb_url %}
									<span>
										<a href="{{ object.fb_url }}" target="_blank" class="icon-button-round qtip" title="FACEBOOK">
											<span class="fa fa-facebook"></span>
										</a>
									</span>
									{% endif %}
									{% if object.website %}
									<span>
										<a href="{{ object.website }}" target="_blank" class="icon-button-round qtip" title="WEBSITE">
											<span class="fa fa-laptop"></span>
										</a>
									</span>
									{% endif %}
									{% if object.photos_url %}
									<span>
										<a href="{{ object.photos_url }}" target="_blank" class="icon-button-round qtip" title="PHOTOS">
											<span class="fa fa-image"></span>
										</a>
									</span>
									{% endif %}
									{% if object.youtube_url %}
									<span>
										<a href="{{ object.youtube_url }}" target="_blank" class="icon-button-round qtip" title="VIDEOS">
											<span class="fa fa-video-camera"></span>
										</a>
									</span>
									{% endif %}
								</div>

							</div>
							{% endif %}
					</div>
				</div> <!-- /org-meta-edit -->

			  <div class="org-meta-each org-meta-activities">
					{% if object.logo %}
					<div><img src="{{ object.logo.url }}" class="org-profile-img"></div>				
					{% endif %}

					<div class="heading-tiny-uppercase">Total Opportunities</div>
					
					<div class="module-stats-icon">
						<img src="/static/images/icon_donation@2x.png" width="50">
						<div class="module-stats-info">
							<div>Donation</div>
							<p class="module-stats-label" id="donationCount"></p>
						</div>
					</div>
					
					<div class="module-stats-icon">
						<img src="/static/images/icon_volunteer@2x.png" width="50">
						<div class="module-stats-info">
							<div>Volunteer</div>
							<p class="module-stats-label" id="volunteerCount"></p>
						</div>
					</div>

			  </div> <!--/org-meta-activities -->
				
			</div> <!-- /org-meta-block -->

			<ul class="tabs phn-hide">
				<li data-tab="volunteer" class="js-tab-link current">Volunteer</li>
				<li data-tab="donation" class="js-tab-link">Donation</li>
			</ul>
		</div>
	</section>

	<section class="page-organisation-profile pt-30 pb-30 phn-pt-0">
		<div class="js-tabs-wrapper">
			<div class="tab-heading">Volunteer</div>
			<div class="tab-content container current" data-tab="volunteer">
				<div class="grid_3 omega fr phn-width-full phn-mar-0 phn-mb-40">
					<!--
					<div class="profile-title bold uppercase mb-20">Filters</div>
					<div class="page-section-menu">
						<div class="options-wrapper">
							<div class="option-item mb-20">
								<span class="option-label bold">District</span>
								<select name="type" class="dropdown">
									<option>Davangere</option>
									<option>Other</option>
								</select>
							</div>
							<div class="option-item">
								<span class="option-label bold">Opportunties</span>
								<select name="type" class="dropdown">
									<option>Teaching</option>
									<option>Other</option>
								</select>
							</div>
						</div>
					</div>
					-->
				</div>
				<div class="grid_9 alpha phn-width-full phn-mar-0" id="volunteerActivitiesList">
					<div class="heading-tiny-uppercase">Volunteering opportunties</div>
				</div>
				<div class="clr"></div>
			</div>	<!-- Volunteer Tab END -->
			
			<div class="tab-heading">Donation</div>
			<div class="tab-content container" data-tab="donation" id="donationRequirementsList">

			</div>	<!-- Donation Tab END -->
		</div>
	</section>
	{% include 'frontend_templates/organization.html' %}
	{% include 'frontend_templates/volunteer_here.html' %}

	<script type="text/javascript">

		function init_tabs(){
  		$(document).on("click", ".js-tab-link", function(e){
  			var $wrapper = $(".js-tabs-wrapper");
				var $trigger = $(this).closest(".js-tab-link");
				var tab_id = $trigger.attr('data-tab');

				// Change current tab link
				$trigger.parent().find("li.current").removeClass('current');
				$trigger.addClass("current");

				// Change current tab content
				$wrapper.find(".tab-content.current").removeClass('current');
				$wrapper.find('.tab-content[data-tab="'+ tab_id +'"]').addClass('current');
			});
  	}

  	$(document).ready(function(){
		init_tabs();
	});

  </script>

{% endblock %}
