{% extends "base.html" %}
{% load static %}
{% block page_title %}Partners{% endblock %}
{% block content %}
<section class="page-partners">
  <div class="container">
    <h1 class="heading-primary brand-red">Partners</h1>
    <div class="center-text">
      <p>The Karnataka Learning Partnership is, fundamentally, built on a collaborative model with inputs from multiple partners. <br>Currently, the following organisations are partners and have shared data within the platform:</p>

      <div class="logo-wrapper">
        <img src="{% static 'images/partners_logo_akshara.png' %}" alt="Akshara Foundation">
        <img src="{% static 'images/partners_logo_nuepa.png' %}" alt="NUEPA">
        <img src="{% static 'images/partners_logo_kseeb.png' %}" alt="KSEEB">
        <img src="{% static 'images/partners_logo_akshaya_patra.png' %}" alt="Akshaya Patra">
      </div>

      <div class="base-spacing-lg-x">
        <p class="text-bordered center-text">If your organisation is interested in partnering with the <span>KLP</span>, please do write to us at <a href="mailto:team@klp.org.in">team@klp.org.in</a></p>
      </div>

      <p class="center-text">When the original KLP project was conceived, we had many local partners across Karnataka who helped with data collection and assessments across multiple districts in Karnataka. They are:</p>

      <div class="partners-list-block">
        <div class="partners-list">
          <h2 class="heading-secondary brand-red">Gulbarga</h2>
          <ul>
            <li>Arunnodaya resource Center (Myrada), Nagaidalai</li>
            <li>Bhoruka Charities</li>
            <li>Development Resource Center (Myrada), Mudhol</li>
            <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
            <li>Janani Resource Center (Myrada), Kamlapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
            <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
            <li>Janani Resource Center (Myrada), Kamlapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
            <li>Local Resource Center (Myrada), Ratakal</li>
            <li>Shri. Charbasaveshwar Mutt, Shapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
            <li>Development Resource Center (Myrada), Mudhol</li>
            <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
            <li>Janani Resource Center (Myrada), Kamlapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
          </ul>
        </div>
        <div class="partners-list">
          <h2 class="heading-secondary brand-red">Bangalore</h2>
          <ul>
            <li>Bhoruka Charities</li>
            <li>Development Resource Center (Myrada), Mudhol</li>
            <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
            <li>Janani Resource Center (Myrada), Kamlapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
            <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
            <li>Janani Resource Center (Myrada), Kamlapur</li>
            <li>Jyoti Resource Center (Myrada), Kodli</li>
          </ul>
        </div>
      </div> <!-- /partners-list-block -->
    </div> <!-- /center-text -->
  </div> <!-- /container -->
</section>
{% endblock %}
