{% extends "base.html" %}

{% block page_title %}Partners{% endblock %}

{% block content %}

<section class="page-partners">
    <div class="container">
        <h1 class="bordered red">Partners</h1>

        <p class="ta_c">
            The Karnataka Learning Partnership is, fundamentally, build on a collaborative model with inputs from multiple partners. <br/>Currently, the following organisations are partners and have shared data within the platform:
        </p>

        <div class="logos_wrapper">
            <div class="grid_4 alpha omega col_logo">
                <img src="{% static 'images/partners_logo_akshara.png' %}" alt="Akshara Foundation" />
            </div>
            <div class="grid_4 alpha omega col_logo">
                <img src="{% static 'images/partners_logo_nuepa.png' %}" alt="NUEPA" />
            </div>
            <div class="grid_4 alpha omega col_logo">
                <img src="{% static 'images/partners_logo_kseeb.png' %}" alt="KSEEB" />
            </div>
            <div class="clr"></div>
            <div class="col_logo">
                <img src="{% static 'images/partners_logo_akshaya_patra.png' %}" alt="Akshaya Patra" />
            </div>
        </div>

        <div class="clr"></div>

        <div class="ta_c">
            <p class="bordered_text">If your organisation is interested in partnering with the <span class="text_orange">KLP</span>, please do write to us at <a href="mailto:team@klp.org.in" class="text_orange">team@klp.org.in</a></p>
        </div>

        <p class="ta_c">
            When the original KLP project was conceived, we had many local partners across Karnataka who helped with data collection and assessments across multiple districts in Karnataka. They are:
        </p>

        <!-- Left side list -->
        <div class="district_list_column fl">
            <div class="list_block">
                <h2>Gulbarga</h2>
                <ul>
                    <li>Arunnodaya resource Center (Myrada), Nagaidalai</li>
                    <li>Bhoruka Charities</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Local Resource Center (Myrada), Ratakal</li>
                    <li>Shri. Charbasaveshwar Mutt, Shapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                </ul>
            </div>

            <div class="list_block">
                <h2>Bangalore</h2>
                <ul>
                    <li>Bhoruka Charities</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                </ul>
            </div>
        </div>

        <!-- Right side list -->
        <div class="district_list_column fr">
            <div class="list_block">
                <h2>Gulbarga</h2>
                <ul>
                    <li>Arunnodaya resource Center (Myrada), Nagaidalai</li>
                    <li>Bhoruka Charities</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Local Resource Center (Myrada), Ratakal</li>
                    <li>Shri. Charbasaveshwar Mutt, Shapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                </ul>
            </div>

            <div class="list_block">
                <h2>Bangalore</h2>
                <ul>
                    <li>Bhoruka Charities</li>
                    <li>Development Resource Center (Myrada), Mudhol</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                    <li>Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
                    <li>Janani Resource Center (Myrada), Kamlapur</li>
                    <li>Jyoti Resource Center (Myrada), Kodli</li>
                </ul>
            </div>
        </div>

        <div class="clr"></div>

    </div>

</section>

{% endblock %}
