{% extends "base.html" %}
{% load static %}

{% block page_title %}Profile: {{ object.first_name }} {{ object.last_name }}{% endblock %}
{% block endbody %}
	<script type="text/javascript" src="{% static 'js/profile/init.js' %}"></script>
  <script>
  	USER_ID = {{ object.id }}
  </script>
{% endblock %}

{% block content %}

	<section class="page-profile">
		<section>
			<div class="container">
				<div class="profile-meta-block">
					<div class="profile-meta-each profile-meta-edit">
						{% if object.image %}
							<img class="profile-meta-img" src="{{ object.image.url }}">
						{% endif %}
						<h3 class="heading-tertiary">{{ object.first_name }} {{ object.last_name }}</h3>
							<!-- <p class="location mb-5">
								Malleswaram, Bangalore, India
							</p> -->
						<a href="/profile/{{ object.id }}/edit" class="button-hollow button--sm" id="editProfileBtn" style="display:none;">Edit Profile</a>
						<div class="base-spacing"></div>
						{% if object.about %}
						<p class="font-small">
						{{ object.about }}
						</p>
						{% endif %}

						{% if object.has_links %}
						<div>
							<div class="heading-tiny-uppercase"><strong>Links:</strong></div>
							<div class="social-link-block">
								{% if object.twitter_handle %}
								<a href="https://twitter.com/{{ object.twitter_handle }}" target="_blank" class="icon-button-round tooltip" aria-label="Twitter">
									<span class="fa fa-twitter"></span>
								</a>
								{% endif %}
								{% if object.fb_url %}
								<a href="{{ object.fb_url }}" target="_blank" class="icon-button-round tooltip" aria-label="Facebook">
									<span class="fa fa-facebook"></span>
								</a>
								{% endif %}
								{% if object.website %}
								<a href="{{ object.website }}" target="_blank" class="icon-button-round tooltip" aria-label="Website">
									<span class="fa fa-laptop"></span>
								</a>
								{% endif %}
								{% if object.photos_url %}
								<a href="{{ object.photos_url }}" target="_blank" class="icon-button-round tooltip" aria-label="Photos">
									<span class="fa fa-image"></span>
								</a>
								{% endif %}
								{% if object.youtube_url %}
								<a href="{{ object.youtube_url }}" target="_blank" class="icon-button-round tooltip" aria-label="Videos">
									<span class="fa fa-video-camera"></span>
								</a>
								{% endif %}
							</div> <!--/social-link-block -->
						</div>
							{% endif %}
					</div> <!-- /profile-meta-each -->

					<div class="profile-meta-each profile-meta-activities">
						<div class="heading-tiny-uppercase">Activities</div>
						<!--
						<div class="stats_opportunities fl">
							<span class="icon donation"></span>
							<p class="label">Donation</p>
							<p class="value" id="userDonationCount"></p>
						</div>
						-->
						<div class="module-stats-icon">
							<img src="/static/images/icon_volunteer@2x.png" width="50">
							<div class="module-stats-info">
								<div>Volunteer</div>
								<p class="module-stats-label" id="userVolunteerCount"></p>						
							</div>
						</div>

						<div class="heading-tiny-uppercase">Organisations</div>
						<div id="userOrganizations">

						</div>
					</div> <!-- /profile-meta-each -->
				</div> <!-- /profile-meta-block -->
			</div> <!-- /container -->
		</section>

		<section>
			<div class="container">
				<div id="jsUserVolunteeringActivities">
					<div class="heading-tiny-uppercase">Volunteering Activities</div>

					</div>

				<!--
				<div class="right-column fr pt-30 pb-30 phn-width-full phn-pl-0 phn-pt-0">
					<div class="profile-title bold uppercase ta-c">Donation Activities</div>
					<div class="column-sections mt-30 mb-30 pb-15">
						<div class="column-content mb-10">
							<span class="desc-title blue">3 chairs</span> to <a class="desc-title green" href="school.php">Gian Jyoti Public School</a> in <span class="desc-title">Malleswaram, Bangalore</span>
						</div>
						<div class="mb-10">
							For <a class="uppercase color-green-2" href="organisation-profile.php">Akshara Foundation</a>
						</div>
						<div class="color-grey-light fl">July 21, 2013</div>
						<div class="clr"></div>
					</div>
					<div class="column-sections mt-30 mb-30 pb-15">
						<div class="column-content mb-10">
							<span class="desc-title blue">1 computer</span> to <a class="desc-title green" href="school.php" href="#">Gian Jyoti Public School</a> in <span class="desc-title">Davanagere</span>
						</div>
						<div class="mb-10">
							For <a class="uppercase color-green-2" href="organisation-profile.php">Akshaya Patra</a>
						</div>
						<div class="color-grey-light fl">July 21, 2013</div>
						<div class="clr"></div>
					</div>
				</div>
				-->
			</div> <!-- /container -->
		</section>
	</section> <!-- /page-profile -->

	{% include 'frontend_templates/profile.html' %}

{% endblock %}
