{% extends "base.html" %}
{% load static %}

{% block page_title %}Profile: {{ object.first_name }} {{ object.last_name }}{% endblock %}
{% block endbody %}
	<script type="text/javascript" src="{% static 'js/profile/init.js' %}"></script>
    <script>
    	USER_ID = {{ object.id }}
    </script>
{% endblock %}

{% block content %}

	<section class="page-profile profile-head pt-30 pb-30">
		<div class="container">
			<div class="grid_8 alpha phn-tab-width-full phn-tab-mar-0">
				<img class="profile-img fl mr-10" src="images/thumb_reading_programme.jpg" style="visibility:hidden;">
				<div class="fl mt-5 mr-10">
					<h3 class="desc-title">{{ object.first_name }} {{ object.last_name }}</h3>
					<p class="location mb-5">
						<!-- Malleswaram, Bangalore, India -->
					</p>
					<a href="/profile/{{ object.id }}/edit" class="button-hollow mt-0" id="editProfileBtn" style="display:none;">Edit Profile</a>
				</div>
				<div class="clr"></div>
				<!--
				<p class="profile-description">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				-->
			</div>
			<div class="grid_4 omega phn-tab-width-full phn-tab-mar-0">
				<div class="profile-title bold uppercase">Activities</div>
				<div class="stats_opportunities fl">
					<span class="icon donation"></span>
					<p class="label">Donation</p>
					<p class="value" id="userDonationCount"></p>
				</div>
				<div class="stats_opportunities fl">
					<span class="icon volunteer"></span>
					<p class="label">Volunteer</p>
					<p class="value" id="userVolunteerCount">2</p>
				</div>
				<div class="clr mb-20"></div>
				<div class="profile-title bold uppercase mb-5">Organisations</div>
				<div id="userOrganizations">

				</div>
			</div>
			<div class="clr"></div>
		</div>
	</section>

	<section class="page-profile profile-content">
		<div class="container">
			<div class="left-column fl pt-30 pb-30 phn-width-full phn-pl-0" id="userVolunteeringActivities">
				<div class="profile-title bold uppercase ta-c">Volunteering Activities</div>

			</div>

			<div class="right-column fr pt-30 pb-30 phn-width-full phn-pl-0 phn-pt-0">
				<div class="profile-title bold uppercase ta-c">Donation Activities</div>
				<div class="column-sections mt-30 mb-30 pb-15">
					<div class="column-content mb-10">
						<span class="desc-title blue">3 chairs</span> to <a class="desc-title green" href="school.php">Gian Jyoti Public School</a> in <span class="desc-title">Malleswaram, Bangalore</span>
					</div>
					<div class="mb-10">
						For <a class="uppercase color-green-2" href="organisation-profile.php">Akshara Foundation</a>
					</div>
					<div class="color-grey-light fl">July 21, 2013</div>
					<div class="clr"></div>
				</div>
				<div class="column-sections mt-30 mb-30 pb-15">
					<div class="column-content mb-10">
						<span class="desc-title blue">1 computer</span> to <a class="desc-title green" href="school.php" href="#">Gian Jyoti Public School</a> in <span class="desc-title">Davanagere</span>
					</div>
					<div class="mb-10">
						For <a class="uppercase color-green-2" href="organisation-profile.php">Akshaya Patra</a>
					</div>
					<div class="color-grey-light fl">July 21, 2013</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="clr"></div>

		</div>
	</section>

	{% include 'frontend_templates/profile.html' %}

{% endblock %}
