{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Programme: {{ object.name }}
{% endblock %}

{% block endbody %}
    <script>
        PROGRAMME_ID = {{ object.id }};
    </script>
    <script src="{% static 'js/programme/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/accordion.js' %}"></script>

{% endblock %}
    

    
{% block content %}
    <div class="container">
        <h2 class="brand-turquoise heading-border">{{ object.name }}</h2>
        <div class="programme-meta-parent">
            <div class="programme-partner">
                <div class="heading-secondary brand-blue align-left">Partner</div>
                {{ object.partner.name }}
            </div>
            <div class="programme-academic-year">
                <div class="heading-secondary brand-blue align-left">Academic Year</div>
                {{ object.academic_year.name }}
            </div>
        </div>
        <div class="search-bar">
            <input id="select2search" />
        </div>
        <div class="entity-container container">
            <div id="entityDetails" class="entity-detail">
            </div>
            <div id="legend" class="legend align-right">
                <span class="fa fa-caret-down brand-red"></span> Lower than District score<br/>
                <span class="fa fa-caret-up brand-green"></span> Better than District score
            </div>
        </div>
        <hr/>
        <div id="methodology" class="container">
            <p class="center-text font-small">
            A pre-test is conducted before the the program and a post-test after.
            Where a program has more than one assessment, we only considerer
            cohorts - students present in all tests.  Scores have been normalised
            so that they can be compared and the full methodology is  <a href="https://klp.org.in/public/docs/KLP_Aggregating_Test_Scores.pdf" target="_blank">available.</a></p>
        </div>
        <div id="overallContainer">
        </div>
        <div id="assessmentsContainer">
        </div>
    </div>

    {% include 'frontend_templates/programme.html' %}
{% endblock %}
