{% extends 'base.html' %}
{% load static %}

{% block endbody %}
    <script>
        PROGRAMME_ID = {{ object.id }};
    </script>
    <script src="{% static 'js/programme/init.js' %}"></script>

{% endblock %}
    

    
{% block content %}
    <div class="container">
        <h2>Programme: {{ object.name }}</h2>
        <div class="search-bar">
            <input id="select2search" />
        </div>
        <div id="assessmentsContainer">

        </div>
    </div>

    {% include 'frontend_templates/programme.html' %}
{% endblock %}