{% extends "base.html" %}

{% block page_title %}Reading Programme{% endblock %}

{% block content %}

<div class="page-programme-details">

    <section class="banner-full banner-reading">
        <div class="content">
            <h1 class="heading-primary white">Reading Programme</h1>
            
            <div class="banner-caption">
                <p>
                    The Reading Support Programme focuses on making reading a key activity within the existing school system and uses a simple story based methodology to facilitate the reading process for children.
                </p>
                <div class="base-spacing-lg"></div>
                <p>
                    <span class="h1">40%</span> children in a class cannot read at an age appropriate level.
                </p>                
            </div>
        </div>
    </section>

    <div class="page_subnav_wrapper">
        <nav class="subnav" id="page_sticky_nav" data-stickyType="window">
            <ul>
                <li><a href="#section_overview" title="">Overview</a></li>
                <li><a href="#section_methodology" title="">Methodology</a></li>
                <li><a href="#section_assessment" title="">Assessments and Evaluation</a></li>
                <li><a href="#section_programme_reports" title="">Programme Reports</a></li>
            </ul>
        </nav>
    </div>

    <section id="section_overview">

        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Overview</h2></div>
            </div>
        </div>

        <div class="container">
            <p>
                Reading is the gateway to all other knowledge. If children do not learn to read efficiently, the path is blocked to every subject they encounter in their school years. And yet 40% of children between Classes 2 and 7 in government schools cannot read a simple unseen passage.
            </p>
            <p>
                Research shows that when children fall behind in school, they become frustrated and disinterested and other links related to poverty become active. This results in them dropping out or being withdrawn from school by parents. These children, as uneducated adults, find it difficult to obtain rewarding employment and are effectively prevented from drawing on the power of education to improve and enrich their lives. Researchers speak of this syndrome as the "Matthew Effect" - the rich get richer and the poor get poorer.
            </p>
            <p>
                Over the years, though the government has laboured to improve enrollment through various programmes like Chinnara Angala, Coolie Inda Shalege and Baa Marali Shalege; the learning achievement inside the classroom has continued to be dismal & disappointing. It is against this background that Akshara Foundation conceived the Accelerated Reading Programme: the programme aims to enable children to learn to read in a short period of time. The Programme is conducted over 45 working days. It is based on a technique that comes naturally to children and uses an integrated approach where saying, doing and reading are combined like a game. Instead of learning sequentially, children are engaged in a variety of activities, which are interconnected and allow for a child to learn to "read" all on his own.
            </p>
        </div>
    </section>

    <section id="section_methodology">
        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Methodology</h2></div>
                <ul class="fix"></ul>
                <ul class="decimal hidden-phone hidden-tablet">
                    <li><a href="#subsection_teaching_learning_material" title="">Teaching Learning Material</a></li>
                    <li><a href="#subsection_reading_the_story_card" title="">Reading the Story Card</a></li>
                    <li><a href="#subsection_using_the_kagunitha_chart" title="">Using the Kagunitha Chart</a></li>
                    <li><a href="#subsection_role_play" title="">Role-play</a></li>
                    <li><a href="#subsection_reason_for_success" title="">Reason for Sucess</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <p>
                Conventional teaching follows a slow progression - from alphabet to word, slowly to simple sentences and finally to paragraphs. The Accelerated Reading Programme reverses this process. The new technique starts with 'reading' -(bordering at imitations of reading, as children do in homes where they are read to regularly) from the very first day. Children imagine & wonder trying to make sense of what they see. They stumble, 'read', guess what the words may be, try and make meaning of it - eventually learn to read and the teachers do not interfere with criticism or over-enthusiastic assistance. They just facilitate the process and ask an occasional question to help the child correct himself/herself.
            </p>
            <img src="/static/images/programmes_reading.jpg" alt="Reading programme" class="img_fr bordered" />
            <p>
                The technique is neither complex nor does it involve expensive teaching material. A set of reading cards designed with careful content is all that is required. A fortnightly assessment monitors the child's progress or lack of it. The teaching materials include sets of story cards with illustration, alphabet charts and a set of alphabet cards.
            </p>

            <h3 id="subsection_teaching_learning_material">Teaching Learning Material</h3>
            <p>
                A set of 45 simple stories printed on separate sheets, of a slightly higher degree of difficulty than the simple paragraphs. Each story has illustrations. Each child gets one story card a day. The teacher has the same story card in a bigger form factor.
            </p>
            <p>
                The "kaagunitha" chart - one chart for each child. This has consonants in the first column and each row starting with the consonant shows how vowel signs are added to the consonant to make letters for each sound such as ka, kaa, ki, kee, ku, koo, kay, kai, ko, kow etc.
            </p>
            <p>
                Lots of sentence cards (about 20-30 sentence cards/20 children class) or papers with 3 line simple sentences without "gunithakshara" and "otthakshara".
            </p>

            <h3 id="subsection_reading_the_story_card">Reading the Story Card</h3>
            <img src="/static/images/programmes_reading.jpg" alt="Reading programme" class="img_fl bordered" />
            <p>
                The teacher begins by showing the illustrations on the card to the children to trigger their imagination. The writing in the card is covered using another sheet of paper. Children begin by guessing the story, interpreting the illustration in his/her own way. Four or five of them are given a chance to tell their stories but the teacher makes no comment on their version. Then the teacher volunteers to narrate the story using words printed in the story card.
            </p>
            <p>
                Now it is the children's turn to attempt to read. Some children raise their hands while others don't. Every one is given a chance. When one reads the others look at their own cards. The teacher does not correct the child even if blatant errors are committed. But as the days pass children mutually begin to correct each other when mistakes are made. Even the children who were shy to volunteer and read now ask to read. Once they come forward, they are given 5 minutes to consult their friends and learn. This facilitates peer learning making way for a unique social reading bond to be formed in the group. Children with lower reading levels often try to imitate their teacher or peers while trying to recall the exact words of the story. Of course, on day one, the finger is pointing at different places but the children help each other and learn.
            </p>
            <p>
                A new story is picked up every day rather than waiting for everyone to 'master' the previous story.
            </p>

            <h3 id="subsection_using_the_kagunitha_chart">Using the Kagunitha Chart</h3>
            <p>
                The teacher asks the children to listen carefully as she recites the sequence of sounds derived from consonants and then asks children to try the corresponding sequence with other consonants. The children are also asked to read vertically and horizontally from the Kagunitha chart.<br/>
                The teacher selects some simple words from the story. A word is said and the children are asked to identify the alphabets in the Kagunitha chart. Eight to ten words are selected each day.
            </p>
            <p>
                Similarly, a word is given and the children are asked to find it in the story. This helps in familiarizing with the alphabets.<br/>
                The children who do not know consonants are given a few (any) alphabet cards to take home so that they can learn to associate the sound with the shape. Within a few days they know how to use the Kagunitha chart.
            </p>

            <h3 id="subsection_role_play">Role-play</h3>
            <p>
                Children are asked to act out the story choosing characters of their liking. This kindles the creative quotient and makes the entire 'learning to read' activity fun and interesting.<br/>
                The class is often composed of children of different age groups and learning levels. There is a possibility of some of them not coping well for being irregular to the sessions or fear of being verbal in a big group might stop them. These children are grouped together and the teachers plan additional activities with them after the scheduled daily classes if found feasible and useful.<br/>
                The steps detailed above essentially form a broad framework. The methodology is flexible in nature. Teachers are given the freedom to modify the steps involved to suit their need.
            </p>

            <h3 id="subsection_reason_for_success">Reason for Success</h3>
            <p>
                Individual Opportunity for each child to read.<br/>
                Heterogeneous (mix of all reading levels) class facilitates peer group learning.<br/>
                Free time for children to copy, discuss & learn from each other.<br/>
                Finger pointing - a must when children read.<br/>
                Kagunitha exercise, flashcards important to reinforce knowledge about letters.<br/>
                Noise, chatter, indiscipline in class kindles learning & creativity; teachers must guarantee a free learning environment.
            </p>
        </div>
    </section>

    <section id="section_assessment">
        <div class="page-section-heading">
            <div class="container centered">
                <div class="heading"><h2>Assessments and Evaluations</h2></div>
            </div>
        </div>
        <div class="container">
            <p>
                All the children are assessed using a standardized baseline test at the start of the programme and based on their reading competency they are divided into 5 levels:
            </p>
            <ul class="levels">
                <li class="red png24"><span>Zero level</span> where the child can barely identify 25% of the alphabet</li>
                <li class="orange png24"><span>Letter level</span> where the child identify most of the alphabet</li>
                <li class="yellow png24"><span>Word level</span> where the child can identify words</li>
                <li class="light_green png24"><span>Sentence level</span> where the child can read sentences</li>
                <li class="dark_green png24"><span>Paragraph level</span> where the child can read the entire paragraph</li>
            </ul>
            <p>
                All the children at zero level, letter level and word level are then put through the Programme. They are then regularly assessed through the 45 day programme and their progress is recorded. They are assessed on the 15th day, the 30th day and the 45th day of the programme.<br/>
                The results of the assessments are available on this website.
            </p>
        </div>
    </section>

    <section id="section_programme_reports">
        <div class="page-section-heading">
            <div class="container centered">
                <div class="heading"><h2>Programme Reports</h2></div>
            </div>
        </div>
        <div class="container reports">
            <p>
                <a href="" title="" class="external">Reading Support Programme Report: Banglore, 2006.pdf</a><br/>
                <a href="" title="" class="external">Reading Support Programme: Bacckground and Methodology.pdf</a><br/>
                <a href="" title="" class="external">Pupil Teacher Ratio and the Accelerated Reading Programme in Karnataka's government schools.pdf</a>
            </p>
        </div>
    </section>

    <section>
        <div class="page-section-heading">
            <div class="container">
                <div class="heading"><h2>Other Programmes</h2></div>
                <div>
                    <ul class="other_links">
                        <li><a href="{% url 'maths_programme' %}" title="">Maths Programme</a></li>
                        <li><a href="{% url 'library_programme' %}" title="">Library Programme</a></li>
                        <li><a href="{% url 'preschool_programme' %}" title="">Pre-School Programme</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
