{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block page_title %}Search for Reports{% endblock %}
{% block endbody %}
    {% compress js %}
		 	<script type="text/javascript" src="{% static 'js/reports/search.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block subheader %}
	<div class="map-subheader-wrapper subheader-wrapper">
		<div class="form-base subheader-content center-text">
			<div class="filter-item">
				<span class="filter-label">Academic Year</span>	
				<select>
			      <option>2015-2016</option>
			      <option>2014-2015</option>
			      <option>2013-2014</option>
			      <option>2012-2013</option>
			    </select>							
			</div>
			<div class="filter-item">
				<span class="filter-label">Report Type</span>	
				<select>
			      <option>KLP and DISE data</option>
			      <option>DISE data only</option>
			    </select>	
			</div>
			
		</div> <!-- /subheader-content -->
	</div> <!-- /map-subheader-wrapper -->


{% endblock %}

{% block content %}

	<div class="center-text container">
		<form class="form-base">
			<div class="base-spacing-mid"></div>
			<div class="form-field-wrap">
			    <label class="label">Search by Name or Pincode</label>
			    <input type="text" id="select2search" name="search" placeholder="Start typing to search" class="search-input input-text full-width">
			</div> 
			<h2>OR</h2>
			<span> Search by  selecting a geography </span>
			<fieldset id="boundary" class="sect-parent">
				<div class="form-field-wrap sect-half">
					<input type="radio" class="input-radio" value="edu" id="radio3" name="radios">
				    <label for="radio3" class="input-radio-label">Educational Boundary</label>
				</div>
				<div class="form-field-wrap sect-half">
				    <input type="radio" class="input-radio" value="elec" id="radio4">
				    <label for="radio4" class="input-radio-label">Electoral Region</label>
				</div>
			 </fieldset>
			 <div class="electoral box sect-parent"> 
			 	<div class="sect-third">
				 	<label class="label inline">MP : </label>
				 	<select class="js-example-basic-single" id="select-mp">
				 		<option value="AL">Type to Select</option>
	  					<option value="AL">Bangalore Central</option>
	  					<option value="WY">Bangalore North</option>
	  					<option value="AL">Bangalore South</option>
	  					<option value="AL">Chikkaballapur</option>
					</select>
				</div>
				<div class="sect-third">
					<label class="label inline">MLA : </label>
				 	<select class="js-example-basic-single" id="select-mla">
				 		<option value="AL">Type to Select</option>
	  					<option value="AL">Jayanagar</option>
	  					<option value="WY">Malleshwaram</option>
	  					<option value="AL">Rajajinagar</option>
	  					<option value="AL">Pulakeshinagar</option>
					</select>
				</div>
				<div class="sect-third">
					<label class="label inline">WARD : </label>
				 	<select class="js-example-basic-single" id="select-ward">
				 		<option value="AL">Type to Select</option>
	  					<option value="AL">Puttenhalli</option>
	  					<option value="WY">Srirampura</option>
	  					<option value="AL">Sampangiramanagar</option>
	  					<option value="AL">Chikkaballapur</option>
					</select>
				</div>
			</div>
			<div class="educational box sect-parent">
				<div class="sect-third"> 
				 	<label class="label inline">DISTRICT : </label>
				 	<input class="js-example-basic-single" id="select-district">
				</div>
				<div class="sect-third">
					<label class="label inline">BLOCK : </label>
				 	<input class="js-example-basic-single" id="select-block">
				</div>
				<div class="sect-third">
					<label class="label inline">CLUSTER : </label>
				 	<input class="js-example-basic-single" id="select-cluster">
				</div>
			</div>
		</form>
	</div>
	<div class="report-list container">
		<table class="table-base">
		  <thead class="table-base-heading">
		    <tr>
		      <th colspan=3>List of Reports</th>
		      <th></th>
		      <th></th>
		  	</tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td colspan="3">Demographics</td>
		      <td><span class="fa fa-file-pdf-o"></span>  Download</td>
		      <td><span class="fa fa-external-link">  View</span></td>
		    </tr>
		    <tr>
		      <td colspan="3">Finance</td>
		      <td><span class="fa fa-file-pdf-o"></span>  Download</td>
		      <td><span class="fa fa-external-link"></span>  View</td>
		    </tr>
		    <tr>
		      <td colspan="3">Infrastructure</td>
		      <td><span class="fa fa-file-pdf-o"></span>  Download</td>
		      <td><span class="fa fa-external-link"></span>  View</td>
		    </tr>
		  </tbody>
		</table>
	</div>

{% endblock %}
