{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}School{% endblock %}

{% block endbody %}
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'js/lib/selectBoxIt.min.js' %}"></script>
    <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/lib/swig.min.js' %}"></script>
    <script src="{% static 'js/lib/swig.filters.js' %}"></script>
    <script src="{% static 'js/klp.js' %}"></script>
    <script src="{% static 'js/common/api.js' %}"></script>
    <script src="{% static 'js/school/init.js' %}"></script>
    <script src="{% static 'js/school/tabs.js' %}"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <!-- <script src="{% static 'js/inline-school.js' %}"></script> -->

    <script>
        SCHOOL_ID = {{ object.id }};
    </script>

{% endblock %}

{% block content %}

    <section class="school-page">
        <div class="page-header">
            <div class="map-canvas" id="map-canvas"></div>

            <div class="school-info">
                <div class="container">
                    <div class="info-wrapper">
                        <div class="en-icon big en-school school-entity-icon">S</div>
                        <h2 class="en-school">{{ object.name }}</h2>

                        <div class="address-block">
                            <div class="info-item">
                                <div class="label">District</div>
                                <div class="value">Bangalore</div>
                            </div>
                            <div class="info-item">
                                <div class="label">Block</div>
                                <div class="value">North-2</div>
                            </div>
                            <div class="info-item">
                                <div class="label">Cluster</div>
                                <div class="value">Malleswaram</div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <div class="buttons-wrapper">
                        <a class="button dark_grey btn-compare js-trigger-compare" href="">Compare to</a>
                        <a class="button js-trigger-volunteer" href="volunteer_register.php">Volunteer here</a>
                    </div>
                    <div class="clr"></div>

                    <ul class="tabs">
                        <li data-tab="info" class="current js-tab-link">Info</li>
                        <li data-tab="demographics" class="js-tab-link">Demographics</li>
                        <li data-tab="programmes" class="js-tab-link">Programmes</li>
                        <li data-tab="finances" class="js-tab-link">Finances</li>
                        <li data-tab="infrastructure" class="js-tab-link">Infrastructure</li>
                        <li data-tab="library" class="js-tab-link">Library</li>
                        <li data-tab="nutrition" class="js-tab-link">Nutrition</li>
                        <li data-tab="share-story" class="js-tab-link">Share your story</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="school-details js-tabs-wrapper">

            <div class="tab-heading">Info</div>
            <div class="tab-content container" data-tab="info">
            </div>  <!-- Info Tab END -->

            <div class="tab-heading">Demographics</div>
            <div class="tab-content container" data-tab="demographics">
            </div>  <!-- Demographics Tab END -->

            <div class="tab-heading">Programmes</div>
            <div class="tab-content container" data-tab="programmes">
            </div>  <!-- Programme Tab END -->

            <div class="tab-heading">Finances</div>
            <div class="tab-content container" data-tab="finances">
            </div>  <!-- Finances Tab END -->

            <div class="tab-heading">Infrastructure</div>
            <div class="tab-content container" data-tab="infrastructure">
            </div>  <!-- Infrastructure Tab END -->

            <div class="tab-heading">Library</div>
            <div class="tab-content container" data-tab="library">
            </div>  <!-- Library Tab END -->

            <div class="tab-heading">Nutrition</div>
            <div class="tab-content container" data-tab="nutrition">
            </div>  <!-- Nutrition Tab END -->

            <div class="tab-heading">Share your story</div>
            <div class="tab-content container" data-tab="share-story">
            </div>  <!-- Share your story Tab END -->

        </div>

    </section>

    {% include 'frontend_templates/school.html' %}
{% endblock %}
