{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}School: {{ object.name }}{% endblock %}
{% block endbody %}
<script src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script src="{% static 'js/common/charts.js' %}"></script>
<script src="{% static 'js/common/dise_api.js' %}"></script>
<script src="{% static 'js/common/dise_infra.js' %}"></script>
<script src="{% static 'js/common/comparison.js' %}"></script>
<script src="{% static 'js/common/volunteer_here.js' %}"></script>
<script src="{% static 'js/common/jquery.max_chars.js' %}"></script>
<script src="{% static 'js/school/init.js' %}"></script>
<script src="{% static 'js/school/tabs.js' %}"></script>
<script src="{% static 'js/school/share_story.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/leaflet-0.7.3/leaflet.js' %}"></script>
<!-- <script src="{% static 'js/inline-school.js' %}"></script> -->
<link rel="stylesheet" href="{% static 'js/lib/leaflet-0.7.3/leaflet.css' %}" />

<script>
  SCHOOL_ID = {{ object.id }};
  SCHOOL_TYPE_ID = {{ object.schooldetails.type.id }};
  {% if object.dise_info_id %}
    DISE_CODE = {{ object.dise_info_id }};
  {% else %}
    DISE_CODE = null;
  {% endif %}

</script>
{% endblock %}


{% block subheader %}
  <div class="subheader-wrapper">
    <div class="subheader-content">
      {% include 'includes/_breadcrumb.html' %}
    </div>
  </div>
{% endblock %}

{% block content %}
{% include 'includes/_compare_flow.html' %}
<section class="school-page">
  <div class="school-map-wrapper">
    <div class="map-canvas" id="map-canvas"></div>
      <div class="school-map-info">
        <div class="container">
          <div class="grid-parent">
            <div class="info-wrapper" id="school-info-wrapper">
            </div>
            <div class="button-compare-wrap">
              <a class="button-grey js-trigger-compare" href="">Compare to</a>
            </div>
        </div>
      </div> <!-- /container -->
    </div> <!-- /school-map-info -->
  </div> <!-- /school-map-wrapper -->

  <div class="tab-wrap">
    <div class="tab-wrap-widescreen">
      <div data-tab="info" class="js-tab-link tab-heading tab-heading-active">Info</div>
      <div data-tab="demographics" class="js-tab-link tab-heading">Demographics</div>
      <div data-tab="programmes" class="js-tab-link tab-heading">Programmes</div>
      {% if object.schooldetails.type.id == 1 %}
      <div data-tab="finances" class="js-tab-link tab-heading">Finances</div>
      {% endif %}
      <div data-tab="infrastructure" class="js-tab-link tab-heading">Infrastructure</div>
      {% if object.schooldetails.type.id == 1 %}
      <div data-tab="library" class="js-tab-link tab-heading">Library</div>
      <div data-tab="nutrition" class="js-tab-link tab-heading">Nutrition</div>
      {% endif %}
      <div data-tab="share-story" class="js-tab-link tab-heading">Share your story</div>
      <div data-tab="volunteer" class="js-tab-link tab-heading">Volunteer</div>
    </div> <!-- /tab-wrap-widescreen -->

    <div class="tab-each">
      <div class="tab-content font-small" data-tab="info">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Info Tab END -->
    </div>
    <div class="tab-each">
      <div class="tab-content tab-active" data-tab="demographics">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Demographics Tab END -->
    </div>
    <div class="tab-each">
      <div class="tab-content" data-tab="programmes">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Programme Tab END -->
    </div>
    {% if object.schooldetails.type.id == 1 %}
    <div class="tab-each">
      <div class="tab-content" data-tab="finances">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Finances Tab END -->
    </div>
    {% endif %}
    <div class="tab-each">
      <div class="tab-content" data-tab="infrastructure">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Infrastructure Tab END -->
    </div>
    {% if object.schooldetails.type.id == 1 %}
    <div class="tab-each">
      <div class="tab-content" data-tab="library">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Library Tab END -->
    </div>
    <div class="tab-each">
      <div class="tab-content" data-tab="nutrition">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Nutrition Tab END -->
    </div>
    {% endif %}
    <div class="tab-each">
      <div class="tab-content" data-tab="share-story">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Share your story Tab END -->
    </div>
    <div class="tab-each">
      <div class="tab-content" data-tab="volunteer">
        <div class="container">
          Loading...
        </div>
      </div>
      <!-- Share your story Tab END -->
    </div>

  </div> <!-- /tab-wrap -->
</section>
{% include 'frontend_templates/school.html' %}
{% include 'frontend_templates/volunteer_here.html' %}
{% include 'frontend_templates/compare.html' %}
{% endblock %}
