{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}Story Dashboard{% endblock %}

{% block css_extra %}
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
<style>
  code {
    font-family: 'Source Code Pro';
  }

  .alert {
    position: static;
  }
</style>
{% endblock %}

{% block endbody %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/lib/swig.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/swig.filters.js' %}"></script>
  <!--script type="text/javascript" src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script-->
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/accordion.js' %}"></script>

  {% endcompress %}
{% endblock %}

{% block subheader %}
  <div class="map-subheader-wrapper subheader-wrapper">
    <div class="subheader-content">
      <div class="search-input-map">
        <input type="text" name="search" id="select2search" placeholder="Search" class="search-input input-text">
      </div>
    </div>
  </div>
{% endblock %} <!-- Currently unsure what CSS is needed. JS is in map.js so we need to move that to common -->

{% block content %}

<section class="clearfix">
	<div class="bar-charts">    
		<section class="container" id="summary">
			<div class="chart-parent">
				<h2 class="heading-primary">Summary</h2> 
				<div class="chart-half-item">
					<div class="heading-tiny-uppercase align-left" >MP Constituency</div>
		  		<h2 class="heading-secondary brand-blue align-left">BANGALORE SOUTH</h2> 
		  		<div class="heading-tiny-uppercase align-left" >Stories</div>
		  		<h2 class="heading-secondary brand-blue align-left">5000</h2> 
		  		<div class="chart-parent">
		  			<div class="chart-half-item">
				  		<div class="heading-tiny-uppercase align-left" >Schools</div>
				  		<h2 class="heading-secondary brand-blue align-left">1500</h2> 
				  	</div>
				  	<div class="chart-half-item">
				  		<div class="heading-tiny-uppercase align-left" >Schools with Stories</div>
				  		<h2 class="heading-secondary brand-blue align-left">1000</h2> 
				  	</div>
			  	</div><!--end inner parent-->
		  	</div> 
		  	<div class="chart-half-item">
		  		<div class="chart-parent">
		  			<div class="chart-athird-item">
		  				<img class="img-symbol" src="{% static 'images/story/ivrs.png' %}" alt="IVRS">
		  				<div class="heading-tiny-uppercase center-text" >Stories</div>
		  				<h2 class="heading-secondary brand-blue">1200</h2> 
		  			</div>
		  			<div class="chart-athird-item">
		  				<img class="img-symbol" src="{% static 'images/story/survey.png' %}" alt="Surveys">
		  				<div class="heading-tiny-uppercase center-text" >Stories</div>
		  				<h2 class="heading-secondary brand-blue">2800</h2> 
		  			</div>
		  			<div class="chart-athird-item">
		  				<img class="img-symbol" src="{% static 'images/story/website.png' %}" alt="Website">
		  				<div class="heading-tiny-uppercase center-text" >Stories</div>
		  				<h2 class="heading-secondary brand-blue">1000</h2> 
		  			</div>
		  		</div>
		  	</div>
		  </div><!--end outer parent-->
		  <hr/>
		  <div class="chart-parent">
		  	
		  	<div class="chart-half-item">
		  		<div class="heading-tiny-uppercase">Quick Summary</div>
					<div id="quicksummary"></div>
		  	</div><!--end half item-->
		  	<div class="chart-half-item">
		  		<div class="heading-tiny-uppercase">Types of Respondents</div>
					<div id="chart_respondent" class="ct-chart ct-minor-seventh"></div>
		  	</div>
		  </div>
		</section>
			<!--div class="accordion-toggle"><img class="img-symbol" src="{% static 'images/triangle_down.png' %}" alt="accordion 1"/></div-->
		<section class="container">
			<ul id='improved' class="js-accordion-container">
			  <hr/>
				<li><a href='#' class='head js-accordion-header align-right'>IVRS  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="ivrs">
						<h2 class="heading-border brand-turquoise">IVRS Summary</h2> 
						<div class="chart-parent">
			  	    <div id="ivrssummary"></div>
				  	</div><!--end inner parent-->
					  <div class="chart-parent">
					  	<div class="chart-half-item">
					  		<div id="ivrsquestions"></div>
							</div><!-- /chart-half-item -->

							<div class="chart-half-item">
								<div class="heading-tiny-uppercase">Call Volume distribution</div>
								<div id="chart_ivrs" class="ct-chart ct-minor-octave"></div>
					    </div> <!-- /chart-half-item -->
					  </div> <!--/chart-parent-->
					  <hr/>
					  <div class="bar-label">How would you categorize schools in this boundary?</div>
					  <div class="chart-parent">
				  		<div id="ivrsgrades" class="taller"></div>
				  	</div> <!--/chart-parent-->
					</div>
				</li>
				<hr/>
				<li><a href='#' class='head js-accordion-header align-right'>SURVEYS  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="surveys">
						<h2 class="heading-border brand-turquoise">Community Surveys</h2> 
						<div class="chart-parent">
			  	   	<div id="surveysummary"></div>
					  </div><!--end inner parent-->
					 	<div class="chart-parent">
			  	    <div id="surveyquestions"></div>
			  	  </div> <!-- End of Chart Parent -->
					</div>
				</li>	
				<hr/>
				<li><a href='#' class='head js-accordion-header align-right'>WEBSITE  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="website">
						<h2 class="heading-border brand-turquoise">Volunteer Observations</h2> 
						<div class="chart-parent">
			  	    <div id="websummary"></div>				  	
					  </div><!--end inner parent-->			
					  <div class="chart-parent">
					  	<div class="heading-tertiary center-text">What percentage of schools have these facilities?</div>	
					  	<div id="webfacilities"></div>
				  	</div> <!--/chart-parent-->	
				  	<hr/>
				  	<div class="chart-parent">
				  		<div class="heading-tertiary center-text">On the day of the visit, the percentage of schools</div>	
					  	<div id="webquestions" class="taller"></div>
				  	</div> <!--/chart-parent-->	
					</div>
				</li>	
				<hr/>
				<li><a href='#' class='head js-accordion-header align-right'>COMPARISON  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="comparison">
						<div class="table-responsive-wrap">        
							<div id="comparison"></div>
						</div><!-- end of table wrap-->
					</div>
				</li>	
			</ul>

		</section>

		
	</div>
</section>
{% include 'frontend_templates/story_dashboard.html' %} 
{% endblock %}