{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}Story Dashboard{% endblock %}

{% block css_extra %}

{% endblock %}

{% block endbody %}
  {% compress js %}  
  <!--script type="text/javascript" src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script-->
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/chartist/chartist-plugin-tooltip.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/accordion.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/common/jquery.yearMonthSelect.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block subheader %}
<div id="searchmodal" class="modalDialog">
 <div class="map-subheader-wrapper subheader-wrapper">
 	<a href="#close" title="Close" class="close">X</a>
    <div class="subheader-content">
      <div class="top-search search-input-map">
        <input type="text" name="search" id="select2search" placeholder="Search by primary school, preschool or boundary" class="search-input input-text"/>
      </div>
    </div>
  </div>
</div>

{% endblock %} <!-- Currently unsure what CSS is needed. JS is in map.js so we need to move that to common -->

{% block content %}
<div id="datemodal" class="modalDialog">
	<div class="grey-mist-bg">
		<a href="#close" title="Close" class="close">X</a>
		<div class="center-text">
			<div class="base-spacing-sm"></div>					
			<form class="form-base">
				<div class="form-field-wrap">
				  	<div class="chart-parent dateform">
						<div class="chart-half-item align-fromdate">
							<!--input name="from" id="fromdate" type="date" class="js-input-date input-text calendar-icon" placeholder="Start Date"--> 
							<div class="form-field-wrap" id="startDate">
							    <label class="label-inline bold">Start Date</label><br/>
							    <select class="month">

							    </select>
							    <select class="year">

							    </select>
							 </div>
						</div>
						<div class="chart-half-item align-left">
							<!--input name="to" id="todate" type="date" class="js-input-date input-text calendar-icon" placeholder="End Date"--> 
							<div class="form-field-wrap" id="endDate">
							    <label class="label-inline bold">End Date</label><br/>
							    <select class="month">

							    </select>
							    <select class="year">

							    </select>
							 </div>
						</div>
					</div>    
					<div class="button-orange" id="dateSummary">Apply Date Filter</div>       
				</div>
			</form>
		</div>
	</div>
</div>
<div class="side-button-bar">
	<a href="#searchmodal"><div class="button square sq-tooltip" aria-label="Search"><span class="white fa fa-search"></span></div></a>
	<div class="base-spacing-sm"></div>
	<a href="#resetButton"><div class="button-orange square sq-tooltip" aria-label="Reset" ><span class="white fa fa-refresh"></span></div></a>
	<div class="base-spacing-sm"></div>
	<a href="#datemodal"><div class="button-grey square sq-tooltip" aria-label="Date Filter"><span class="white fa fa-calendar"></span></div></a>
	<div class="base-spacing-sm"></div>
	<!-- <a href="#datemodal"><div class="button square green-leaf-bg sq-tooltip" aria-label="Compare"><span class="white fa fa-columns"></span></div></a> -->
</div>
<section class="clearfix">
	<div id="primarySchoolContainer">
		<section class="container" id="school_summary">
			<div class="base-spacing-mid"></div>
			<div class="chart-parent" id="topSummary" class="js-summary-container">
		  	</div><!--end outer parent-->
		    <hr/>
		    <div class="chart-parent">
		  	
		  		<div class="chart-half-item">
		  			<div class="heading-tiny-uppercase">Quick Summary</div>
					<div id="quicksummary" class="js-detail-container"></div>
		  		</div><!--end half item-->
		  		<div class="chart-half-item">
		  			<div class="heading-tiny-uppercase">Types of Respondents</div>
					<div id="chart_respondent" class="ct-chart ct-minor-seventh js-summary-container chartist-container"></div>
		  		</div>
		  	</div>
		</section>
			<!--div class="accordion-toggle"><img class="img-symbol" src="{% static 'images/triangle_down.png' %}" alt="accordion 1"/></div-->
		<section class="container">
			<ul id='improved' class="js-accordion-container">
			  <hr/>
				<li><a href='#' class='head js-accordion-header brand-turquoise align-right'>IVRS  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="ivrs">
						<h2 class="heading-border brand-turquoise">IVRS Summary</h2> 
						<div class="chart-parent">
			  	    <div id="ivrssummary" class="js-summary-container"></div>
				  	</div><!--end inner parent-->
				  	<div class="base-spacing-mid"></div>
					  <div class="chart-parent">
					  	<div class="chart-half-item">
					  		<div id="ivrsquestions" class="js-detail-container"></div>
							</div><!-- /chart-half-item -->

							<div class="chart-half-item">
								<div id="ivrsyears" class="js-volume-container base-spacing-sm"></div>
								<div id="chart_ivrs" class="ct-chart ct-major-second js-volume-container chartist-container"></div>
					    </div> <!-- /chart-half-item -->
					  </div> <!--/chart-parent-->
					  <hr/>
					  <div class="bar-label">How would you categorize schools in this boundary?</div>
					  <div class="chart-parent">
				  		<div id="ivrsgrades" class="js-detail-container"></div>
				  	</div> <!--/chart-parent-->
				  	<div class="base-spacing-mid"></div>
					</div>
				</li>
				<hr/>
				<li><a href='#' class='head js-accordion-header brand-purple align-right'>WEBSITE  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="website">
						<h2 class="heading-border brand-purple">Volunteer Observations</h2> 
						<div class="chart-parent">
			  	    <div id="websummary" class="js-summary-container"></div>			  	
					  </div><!--end inner parent-->	
					  <div class="base-spacing-mid"></div>
					  <!--
					  <div class="chart-parent">
					  	<div class="heading-tertiary center-text">What percentage of schools have these facilities?</div>	
					  	<div id="webfacilities" class="js-detail-container"></div>
				  	  </div> --><!--/chart-parent-->	
				  	<hr/>
				  	<div class="chart-parent">
				  		<div class="heading-tertiary center-text">On the day of the visit...</div>	
					  	<div id="webquestions" class="js-detail-container"></div>
				  	</div> <!--/chart-parent-->	
					</div>
				</li>
				<hr/>
				<li><a href='#' class='head js-accordion-header brand-blue align-right'>COMMUNITY  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="surveys">
						<h2 class="heading-border brand-blue">Community Feedback</h2> 
						<div class="chart-parent">
			  	   	<div id="surveysummary" class="js-summary-container"></div>
					  </div><!--end inner parent-->
					   <div class="base-spacing-mid"></div>
					 	<div class="chart-parent">
			  	    <div id="surveyquestions" class="js-detail-container"></div>
			  	  </div> <!-- End of Chart Parent -->
					</div>
				</li>	
				<hr/>
				<!--
				<hr/>
				<li><a href='#' class='head js-accordion-header align-right'>COMPARISON  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="comparison">
						<div class="table-responsive-wrap">        
							<div id="compare_table"></div>
						</div>
					</div>
				</li>
				-->	
			</ul>

		</section>
	</div>
	<div id="preschoolContainer">
		<section class="container" id="ang_summary">
			<div class="chart-parent" id="topSummary_ang">
		  	</div><!--end outer parent-->
		    <hr/>
		    <div class="chart-parent">
		  	
		  		<div class="chart-half-item">
		  			<div class="heading-tiny-uppercase">Quick Summary</div>
					<div id="quicksummary_ang" class="js-detail-container"></div>
		  		</div><!--end half item-->
		  		<div class="chart-half-item">
		  			<div class="heading-tiny-uppercase">Types of Respondents</div>
					<div id="chart_respondent_ang" class="ct-chart ct-minor-seventh js-summary-container chartist-container"></div>
		  		</div>
		  	</div>
		</section>
			<!--div class="accordion-toggle"><img class="img-symbol" src="{% static 'images/triangle_down.png' %}" alt="accordion 1"/></div-->
		<section class="container">
			<ul id='improved' class="js-accordion-container">
			  <hr/>
				<li><a href='#' class='head js-accordion-header brand-turquoise align-right'>IVRS  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="ivrs">
						<h2 class="heading-border brand-turquoise">IVRS Summary</h2> 
						<div class="chart-parent">
			  	    <div id="ivrssummary_ang" class="js-summary-container"></div>
				  	</div><!--end inner parent-->
				  	<div class="base-spacing-mid"></div>
					  <div class="chart-parent">
					  	<div class="chart-half-item">
					  		<div id="ivrsquestions_ang" class="js-detail-container"></div>
							</div><!-- /chart-half-item -->

							<div class="chart-half-item">
								<div class="heading-tiny-uppercase">Call Volume distribution</div>
								<div id="chart_ivrs_ang" class="ct-chart ct-minor-octave js-volume-container chartist-container"></div>
					    </div> <!-- /chart-half-item -->
					  </div> <!--/chart-parent-->
					  <hr/>
					  <div class="bar-label">How would you categorize preschools in this boundary?</div>
					  <div class="chart-parent">
				  		<div id="ivrsgrades_ang" class="js-detail-container"></div>
				  	</div> <!--/chart-parent-->
				  	<div class="base-spacing-mid"></div>
					</div>
				</li>
				<hr/>
				<li><a href='#' class='head js-accordion-header brand-purple align-right'>WEBSITE  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="website">
						<h2 class="heading-border brand-purple">Volunteer Observations</h2> 
						<div class="chart-parent">
			  	    <div id="websummary_ang" class="js-summary-container"></div>
					  </div><!--end inner parent-->	
					  <div class="base-spacing-mid"></div>
					  <!--		
					  <div class="chart-parent">
					  	<div class="heading-tertiary center-text">What percentage of preschools have these facilities?</div>	
					  	<div id="webfacilities_ang" class="js-detail-container"></div>
				  	</div> --><!--/chart-parent-->	
				  	<hr/>
				  	<div class="chart-parent">
				  		<div class="heading-tertiary center-text">On the day of the visit...</div>	
					  	<div id="webquestions_ang" class="js-detail-container"></div>
				  	</div> <!--/chart-parent-->	
					</div>
				</li>
				<!--	
				<hr/>
				<li><a href='#' class='head js-accordion-header align-right'>COMPARISON  <span class="fa fa-angle-down"></span></a>
					<div class='content' id="comparison_ang">
						<div class="table-responsive-wrap">        
							<div id="compare_table"></div>
						</div>
					</div>
				</li>
				-->
			</ul>

		</section>
	</div>
</section>
{% include 'frontend_templates/story_dashboard.html' %} 
{% endblock %}