{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}Chart Guide{% endblock %}

{% block css_extra %}
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
<style>
  code {
    font-family: 'Source Code Pro';
  }

  .alert {
    position: static;
  }
</style>
{% endblock %}

{% block endbody %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/story/chartist/chartist-plugin-pointlabels.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/chartist/chartist.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/story/story_dashboard.js' %}"></script>
  {% endcompress %}
{% endblock %}


{% block content %}
<section class="clearfix">
	<div class="bar-charts">    
    <h1 class="heading-primary">Charts Guide</h1>

    
		<section class="container">
		  <div class="chart-parent">
		  	<h2 class="heading-secondary brand-blue">With Custom Graphs</h2>  

		    <div class="chart-half-item">
		      <div class="bar-graph-wrap">
						<div class="bar-label">How many schools were open on the Day of Visit?</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent green-leaf">53%</div>
		    			<div class="bar-custom tooltip" aria-label=" 530/1000">
			        	<div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
			        		<div class="bar-value bar-value-53 green-leaf-bg" style="width:53%;"></div>
			        	</div>
		        	</div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
					<div class="bar-graph-wrap">
						<div class="bar-label">How many schools had teachers present on the Day of Visit?</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent green-leaf">73%</div>
		    			<div class="bar-custom tooltip" aria-label="730/1000">
			        	<div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
			        		<div class="bar-value bar-value-73 green-leaf-bg" style="width:73%;"></div>
			        	</div>
			        </div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
					<div class="bar-graph-wrap">
						<div class="bar-label">How many schools had classes going on?</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent green-leaf">67%</div>
		    			<div class="bar-custom tooltip" aria-label="670/1000">
			        	<div class="bar-value bar-value-100 orange-mild-bg" style="width:100%;">
			        		<div class="bar-value bar-value-67 green-leaf-bg" style="width:67%;"></div>
			        	</div>
			        </div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
				</div> <!-- /chart-half-item -->
				<div class="chart-half-item">
				  
	  			<div class="heading-tiny-uppercase ">How would you categorize schools in this boundary?</div>
	  			<div class="bar-graph-wrap">
						<div class="bar-label green-leaf">A Grade</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent green-leaf">44%</div>
		    			<div class="bar-custom tooltip" aria-label="440/1000">
			        	<div class="bar-value bar-value-44 green-leaf-bg" style="width:44%;">
			        	</div>
			        </div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
					<div class="bar-graph-wrap">
						<div class="bar-label orange-mild">B Grade</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent orange-mild">36%</div>
		    			<div class="bar-custom tooltip" aria-label="360/1000">
			        	<div class="bar-value bar-value-360 orange-mild-bg" style="width:36%;">
			        	</div>
			        </div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
					<div class="bar-graph-wrap">
						<div class="bar-label pink-salmon">C Grade</div>
		  			<div class="bar-graph">
		    			<div class="bar-percent pink-salmon">20%</div>
		    			<div class="bar-custom tooltip" aria-label="200/1000">
			        	<div class="bar-value bar-value-20 pink-salmon-bg" style="width:20%;">
			        	</div>
			        </div>
				  	</div> <!-- /bar-graph -->
					</div> <!-- /bar-graph-wrap -->
				</div>
	  	</div> <!--/chart-parent-->
	  	<div class="chart-parent">
	  		<h2 class="heading-secondary brand-blue">With Chartist.js</h2>  
	  		<div class="chart-half-item">
	  			<div class="heading-tiny-uppercase center-text">Library books borrowed by level</div>
					<div id="chart2" class="ct-chart ct-minor-seventh"></div>
	  		</div>
	  		<div class="chart-half-item">
	  			<div class="heading-tiny-uppercase center-text">Call volumes in 6 months</div>
					<div id="chart1" class="ct-chart ct-minor-seventh"></div>
	  		</div>
	  	</div>
	  	
		</section>
	</div>
</section>
{% endblock %}