{% extends "base.html" %}
{% block page_title %}About{% endblock %}

{% block css_extra %}
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
<style>
  code {
    font-family: 'Source Code Pro';
  }

  p {
    margin-bottom: 5px;
  }

  .alert {
    position: static;
  }
</style>
{% endblock %}

{% block content %}
<section class="container">
  <h1 class="heading-primary">Styleguide</h1>

  <h2 class="heading-secondary brand-blue">CSS</h2>  
</section>
  
<section class="clearfix">
  <div class="demo-sidebar">
    <div class="dropdown-base js-dropdown dropdown-styleguide">
      <li>
        Menu
        <ul style="display: block !important;">
          <li><a href="#demo-block-setup">CSS: Setup</a></li>
          <li><a href="#demo-block-conventions">CSS: Conventions</a></li>
          <li><a href="#demo-block-colors" class="js-scroll-smooth-link">Colors</a></li>
          <li><a href="#demo-block-grid" class="js-scroll-smooth-link">Grid</a></li>
          <li><a href="#demo-block-typography" class="js-scroll-smooth-link">Typography</a></li>
          <li><a href="#demo-block-forms" class="js-scroll-smooth-link">Forms</a></li>
          <li><a href="#demo-block-buttons" class="js-scroll-smooth-link">Buttons</a></li>
          <li><a href="#demo-block-alerts" class="js-scroll-smooth-link">Alerts</a></li>
          <li><a href="#demo-block-tooltips" class="js-scroll-smooth-link">Tooltips</a></li>
          <li><a href="#demo-block-tabs" class="js-scroll-smooth-link">Tabs</a></li>
          <li><a href="#demo-block-banners" class="js-scroll-smooth-link">Banners</a></li>
          <li><a href="#demo-block-img" class="js-scroll-smooth-link">Images</a></li>
          <li><a href="#demo-block-imgtext" class="js-scroll-smooth-link">Module: Img Text</a></li>
          <li><a href="#demo-block-iframes" class="js-scroll-smooth-link">Responsive Iframe Videos</a></li>
          <li><a href="#demo-block-tables" class="js-scroll-smooth-link">Tables</a></li>
          <li><a href="#demo-block-hr" class="js-scroll-smooth-link">Horizontal Rules</a></li>
          <li><a href="#demo-block-dropdowns" class="js-scroll-smooth-link">Dropdowns</a></li>
          <li><a href="#demo-block-icons" class="js-scroll-smooth-link">Icons</a></li>
          <li><a href="#demo-block-bar" class="js-scroll-smooth-link">Bar Graphs: Custom</a></li>
          <li><a href="#demo-block-scrollbars" class="js-scroll-smooth-link">Scrollbars: Custom: Webkit</a></li>
          <li><a href="#demo-block-variables" class="js-scroll-smooth-link">Variables: Sass</a></li>
        </ul>
      </li>
    </div>
  </div> <!-- /demo-sidebar -->

  <div class="demo-main">    
    <div class="container">
      <p class="bold">The project uses Sass to provide the CSS with some structure.</p>
      <ul class="ul-base">
        <li>You need to install Ruby (unfortunately) and Sass</li>
        <li>Watching and compiling can be done by running one single command: sass --watch assets/static/sass/style.scss:assets/static/css/style.css. Doing this outside the vagrant box is a bit faster (practically realtime) and is hence recommended.</li>
        <li>Don't edit the generated style.css in /assets/static/css</li>
        <li>The partials folder inside the sass folder contains all the small Sass files that are imported into the style.scss folder</li>
        <li>The lib folder inside the partials folder, contains all third party plugin files</li>
        <li>Conventions: 2 spaces, avoid ids.</li>
      </ul>
    </div> <!-- /container -->

    <div class="center-text" id="demo-block-colors">
      <h2 class="heading-section">Colors</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#colors-brand" class="js-scroll-smooth-link">Brand</a></li>
          <li><a href="#colors-common" class="js-scroll-smooth-link">Common</a></li>
          <li><a href="#colors-school" class="js-scroll-smooth-link">Schools</a></li>
          <li><a href="#probe" class="js-scroll-smooth-link">Links</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple" id="colors-brand">Colors: Brand</h2>
      <div class="base-spacing-lg center-text">
        <div class="vertical-inline-top">
          <div class="box-demo brand-blue-bg"></div>   
          <div class="font-smaller brand-blue">$brand-blue</div>   
        </div>

        <div class="vertical-inline-top">
          <div class="box-demo brand-green-bg"></div>
          <div class="font-smaller brand-green">$brand-green</div>   
        </div>

        <div class="vertical-inline-top">
          <div class="box-demo brand-turquoise-bg"></div>
          <div class="font-smaller brand-turquoise">$brand-turquoise</div>   
        </div>

        <div class="vertical-inline-top">
          <div class="box-demo brand-purple-bg"></div>
          <div class="font-smaller brand-purple">$brand-purple</div>   
        </div>

        <div class="vertical-inline-top">
          <div class="box-demo brand-red-bg"></div>
          <div class="font-smaller brand-red">$brand-red</div>   
        </div>

        <div class="vertical-inline-top">
          <div class="box-demo brand-orange-bg"></div>
          <div class="font-smaller brand-orange">$brand-orange</div>   
        </div>
      </div> <!-- /center-text -->
    
      <div class="base-spacing"></div>
     <!--  <div class="heading-tertiary center-text">Colors: Options</div>
      
      <div class="style-block">
        <p class="bold">You can do this in 3 ways:</p>
        <div class="style-block-demo">
  <p class="brand-blue">By adding a class in the template</p>

  <p class="demo-color-blue">By adding a variable in the Sass file, example below (of course, 
  you can't use Sass in an HTML/template file)</p>

  <style>
  .demo-color-blue {
  color: $brand-blue;
  }
  </style>

  <p class="demo-color-blue-extend">By extending a placeholder in the Sass file</p>
  <style>
  .demo-color-blue-extend {
  @extend %brand-blue;
  }
  </style>
        </div> <!-- /style-block-demo
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Colors: Brand</div>
        <div class="style-block-demo center-text">
  <p class="brand-blue">$brand-blue</p>
  <p class="brand-green">$brand-green</p>
  <p class="brand-turquoise">$brand-turquoise</p>
  <p class="brand-purple">$brand-purple</p>
  <p class="brand-red">$brand-red</p>
  <p class="brand-orange">$brand-orange</p>  
          </div> <!-- /style-block-demo -->

          <div class="center-text">
            <div class="button-hollow js-toggle">&lt;Code&gt;</div>
          </div>
        </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Colors: Background: Brand</div>
        <div class="style-block-demo white demo-color-background">
  <p class="brand-blue-bg">$brand-blue-bg</p>
  <p class="brand-green-bg">$brand-green-bg</p>
  <p class="brand-turquoise-bg">$brand-turquoise-bg</p>
  <p class="brand-purple-bg">$brand-purple-bg</p>
  <p class="brand-red-bg">$brand-red-bg</p>
  <p class="brand-orange-bg">$brand-orange-bg</p>  
          </div> <!-- /style-block-demo -->
          <div class="center-text">
            <div class="button-hollow js-toggle">&lt;Code&gt;</div>
          </div>
        </div> <!-- /style-block -->

      <div class="style-block">
      <h2 class="heading-secondary brand-purple" id="colors-common">Colors: Common</h2>
      <div class="heading-tertiary center-text">Colors: Common</div>
        <div class="style-block-demo center-text">
  <p class="purple-amethyst">$purple-amethyst</p>
  <p class="maroon">$maroon</p>
  <p class="pink-salmon">$pink-salmon</p>
  <p class="yellow-mild">$yellow-mild</p>
  <p class="orange-mild">$orange-mild</p>  
  <p class="green-pista">$green-pista</p>  
  <p class="green-leaf">$green-leaf</p>  
  <p class="white" style="background: black;">$white</p>
  <p class="black">$black</p>  
  <p class="grey-gravel">$grey-gravel</p>
  <p class="grey-steel">$grey-steel</p>
  <p class="grey-silver">$grey-silver</p>  
  <p class="grey-mist">$grey-mist</p>  


        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>
      </div> <!-- /style-block -->


      <div class="style-block">
        <div class="heading-tertiary center-text">Colors: Background: Common</div>
        <div class="style-block-demo center-text white demo-color-background">
  <p class="purple-amethyst-bg">$purple-amethyst</p>
  <p class="maroon-bg">$maroon</p>
  <p class="pink-salmon-bg">$pink-salmon</p>
  <p class="yellow-mild-bg">$yellow-mild</p>
  <p class="orange-mild-bg">$orange-mild</p>  
  <p class="green-pista-bg">$green-pista</p>  
  <p class="green-leaf-bg">$green-leaf</p>  
  <p class="white-bg" style="color: black;">$white</p>
  <p class="black-bg">$black</p>  
  <p class="grey-gravel-bg">$grey-gravel</p>
  <p class="grey-steel-bg">$grey-steel</p>
  <p class="grey-silver-bg">$grey-silver</p>  
  <p class="grey-mist-bg">$grey-mist</p>  


        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>
      </div> <!-- /style-block -->

      <h2 class="heading-secondary brand-purple" id="colors-school">Colors: Schools</h2>
      <div class="style-block">
        <div class="heading-tertiary center-text">Colors: Schools</div>
        <div class="style-block-demo center-text">
  <p class="brand-school">$brand-school</p>
  <p class="brand-preschool">$brand-preschool</p>
  <p class="brand-school-district">$brand-school-district</p>  
  <p class="brand-preschool-district">$brand-preschool-district</p>  
  <p class="brand-school-cluster">$brand-school-cluster</p>
  <p class="brand-school-block">$brand-school-block</p>
  <p class="brand-preschool-project">$brand-preschool-project</p>
  <p class="brand-preschool-circle">$brand-preschool-circle</p>  
          </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Colors: Background: Schools</div>
        <div class="style-block-demo white demo-color-background">
  <p class="brand-school-bg">$brand-school-bg</p>
  <p class="brand-preschool-bg">$brand-preschool-bg</p>
  <p class="brand-school-district-bg">$brand-school-district-bg</p>  
  <p class="brand-preschool-district-bg">$brand-preschool-district-bg</p>  
  <p class="brand-school-cluster-bg">$brand-school-cluster-bg</p>
  <p class="brand-school-block-bg">$brand-school-block-bg</p>
  <p class="brand-preschool-project-bg">$brand-preschool-project-bg</p>
  <p class="brand-preschool-circle-bg">$brand-preschool-circle-bg</p>  
        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>
      </div> <!-- /style-block -->
      
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-grid">Grid</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="container">
      
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-typography">Typography</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#font-families" class="js-scroll-smooth-link">Font Families</a></li>
          <li><a href="#typo-headings" class="js-scroll-smooth-link">Headings</a></li>
          <li><a href="#typo-links" class="js-scroll-smooth-link">Links</a></li>
          <li><a href="#typo-html" class="js-scroll-smooth-link">Other Html Elements</a></li>
          <li><a href="#typo-helpers" class="js-scroll-smooth-link">Font Helpers</a></li>
          <li><a href="#typo-lists" class="js-scroll-smooth-link">Lists</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple">Typography</h2>
      <div class="style-block">
        <div class="heading-tertiary center-text" id="font-families">Typography: Font Families</div>
        <div class="style-block-demo center-text">
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="typo-headings">Typography: Headings</div>
        <div class="style-block-demo center-text">
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="typo-links">Typography: Links</div>
        <div class="style-block-demo center-text">
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-forms">Forms</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#form-base" class="js-scroll-smooth-link">Form: Base: Text Inputs</a></li>
          <li><a href="#form-block-inline" class="js-scroll-smooth-link">Form: Base: Block Or Inline</a></li>
          <li><a href="#form-errors" class="js-scroll-smooth-link">Form: Base: Errors</a></li>
          <li><a href="#form-selects" class="js-scroll-smooth-link">Form: Base: Selects</a></li>
          <li><a href="#form-submits" class="js-scroll-smooth-link">Form: Base: Submit</a></li>
          <li><a href="#form-check" class="js-scroll-smooth-link">Custom Checkboxes</a></li>
          <li><a href="#form-radio" class="js-scroll-smooth-link">Custom Radio Buttons</a></li>
          <li><a href="#form-datepickers" class="js-scroll-smooth-link">Custom Datepicker</a></li>
          <li><a href="#form-selects-custom" class="js-scroll-smooth-link">Custom selects</a></li>
        </ul>
      </div>
    </div>


    <div class="container">
      <h2 class="heading-secondary brand-purple">Forms</h2>
      <div>All forms are styled inside _forms.scss (/assets/static/sass/partials)</div>
      <div>All forms on the site have a class of form-base to provide default styling options</div>
      <div>DO: Add an additional class to the form tag, prefixed with -form to override styling</div>
      <div>DO: Add HTML types for input like email, tel, number and url where required, as seen in the demo below</div>
      <div>You can then add additional styling for making labels bold, changing input padding, etc. Ideally, you could add the styling via CSS, for all inputs of a particular form.</div>

      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-base">Forms: Base: Text Inputs </div>
        <div class="style-block-demo">
          <form class="form-base">
            <div class="form-field-wrap">
              <input type="text" class="input-text" placeholder="Input: Text">
            </div>

            <div class="form-field-wrap">
              <input type="email" class="input-text" placeholder="Input: Email">
            </div>

            <div class="form-field-wrap">
              <input type="tel" class="input-text" placeholder="Input: Telephone">
            </div>

            <div class="form-field-wrap">
              <input type="number" class="input-text" placeholder="Input: Number">
            </div>

            <div class="form-field-wrap">
              <input type="url" class="input-text" placeholder="Input: URL">
            </div>
          </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-block-inline">Form: Block or Inline</div>
        <div class="style-block-demo">
          <form class="form-base">
            <div class="form-field-wrap">
              <label>Block</label>
              <input type="text" class="input-text full-width">
            </div>            

            <div class="form-field-wrap">
              <label class="label-inline">Inline</label>
              <input type="text" class="input-text">
            </div>            
          </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-errors">Form: Errors</div>
        <div class="style-block-demo">
          <form class="form-base">
            <div class="form-field-wrap">
              <label>Input with error</label>
              <input type="text" class="input-text error full-width" placeholder="Input with error styling">
              <div class="js-error-message error-message">This field is required.</div>
            </div>
          </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-selects">Form Base: Select</div>
        <div class="style-block-demo center-text">
        <form class="form-base">
          <div class="form-field-wrap">
            <label class="bold">Select: Full-width</label>
            <select class="full-width">
              <option>Option 1</option>
              <option>Option 2</option>
            </select>            
          </div>

          <div class="form-field-wrap">
            <label class="label-inline bold">Select: Inline</label>
            <select>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
          </div>
        </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-submits">Form Base: Submit</div>
        <div class="style-block-demo center-text">
          <form class="form-base">
            <div class="form-field-wrap center-text">
              <input type="submit" value="Submit Button" class="button">
            </div>

            <div class="form-field-wrap center-text">
              <input type="submit" value="Submit Button: Centered" class="button">
            </div>

            <div class="form-field-wrap">
              <input type="submit" value="Submit Button: Full-width" class="button full-width">
            </div>          
          </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="center-text">
        <h2 class="heading-section" id="demo-block-buttons">Buttons</h2>
        <div class="heading-section-block">
        </div>
      </div>
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-check">Checkboxes: Custom</div>
        <div class="style-block-demo">
          <div class="form-field-wrap">
            <input type="checkbox" class="input-checkbox" id="check1">
            <label for="check1" class="input-checkbox-label">Checkbox: Custom: Unchecked</label>
          </div>
          <div class="form-field-wrap">
            <input type="checkbox" class="input-checkbox" id="check2" checked>
            <label for="check2" class="input-checkbox-label">Checkbox: Custom: Checked</label>
          </div>
          <div class="form-field-wrap">
            <input type="checkbox" class="input-checkbox" id="check3" disabled>
            <label for="check3" class="input-checkbox-label">Checkbox: Custom: Disabled</label>
          </div>
          <div class="form-field-wrap">
            <input type="checkbox" class="input-checkbox" id="check4" checked disabled>
            <label for="check4" class="input-checkbox-label">Checkbox: Custom: Disabled and Checked</label>
          </div>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-radio">Radio Buttons: Custom</div>
        <div class="style-block-demo">
          <div class="form-field-wrap">
            <input type="radio" class="input-radio" id="radio1" name="radios">
            <label for="radio1" class="input-radio-label">Radio: Custom: Unchecked</label>
          </div>
          <div class="form-field-wrap">
            <input type="radio" class="input-radio" id="radio2" name="radios" checked>
            <label for="radio2" class="input-radio-label">Radio: Custom: Checked</label>
          </div>
          <div class="form-field-wrap">
            <input type="radio" class="input-radio" id="radio3" name="radios" disabled>
            <label for="radio3" class="input-radio-label">Radio: Custom: Disabled</label>
          </div>
          <div class="form-field-wrap">
            <input type="radio" class="input-radio" id="radio4" checked disabled>
            <label for="radio4" class="input-radio-label">Radio: Custom: Disabled and Checked</label>
          </div>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="form-datepickers">Datepicker: Custom</div>
        <p class="center-text">Documentation <a href="http://amsul.ca/pickadate.js">here</a></p>
        <div class="base-spacing"></div>
        <div class="style-block-demo center-text">
          <form class="form-base">
            <div class="form-field-wrap">
              <label class="bold">Datepicker: Custom</label>
              <input type="date" class="js-input-date input-text full-width">          
            </div>
          </form>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
      <div class="base-spacing-lg"></div>
    </div> <!-- /container -->

    <div class="container">
      <h2 class="heading-secondary brand-purple">Buttons</h2>
      
      <div class="style-block">
        <div class="heading-tertiary center-text">Buttons: Default</div>
        <div class="style-block-demo center-text">
          <div class="button">Button: Default</div>    
          <div class="button-orange">Button: Orange</div>    
          <div class="button-grey">Button: Grey</div>    
          <div class="button-hollow">Button: Hollow</div>    
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Buttons: Small</div>
        <div class="style-block-demo center-text">
          <div class="button button--sm">Button: Default: Small</div>    
          <div class="button-orange button--sm">Button: Orange: Small</div>    
          <div class="button-grey button--sm">Button: Grey: Small</div>
          <div class="button-hollow button--sm">Button: Hollow: Small</div>        
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-alerts">Alerts</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#paisa" class="js-scroll-smooth-link">Linear</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Ease in</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple">Alerts</h2>
      <div>All alerts are fixed to the top of the screen (below the header) and slide up after a few seconds. They are neither fixed nor slide up on the styleguide, purely for demo purposes.</div>
      <div class="style-block">
        <div class="heading-tertiary center-text">Alert: Default</div>
        <div class="style-block-demo center-text">
          <div class="alert">
            Alert: Default
          </div>
        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Alert: Success</div>
        <div class="style-block-demo center-text">
          <div class="alert success">
            Alert: Success
          </div>
        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Alert: Warning</div>
        <div class="style-block-demo center-text">
          <div class="alert warning">
            Alert: Warning
          </div>
        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Alert: Error</div>
        <div class="style-block-demo center-text">
          <div class="alert error">
            Alert: Error
          </div>
        </div> <!-- /style-block-demo -->
        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-tooltips">Tooltips</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple">Tooltips</h2>
      <div class="style-block">
        <div class="heading-tertiary center-text">Tooltip: Text</div>
        <div class="style-block-demo center-text">
          <p><span class="tooltip" role="tooltip" aria-label="I am a tooltip">Hover over or tap me</span></p>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->


      <div class="style-block">
        <div class="heading-tertiary center-text">Tooltip: Button icon</div>
        <div class="style-block-demo center-text">
          <p><span class="icon-button-round tooltip" role="tooltip" aria-label="I am a tooltip"><span class="fa fa-check"></span></span></p>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->

      <div class="style-block">
        <div class="heading-tertiary center-text">Tooltip: Button</div>
        <div class="style-block-demo center-text">
          <p class="button tooltip" role="tooltip" aria-label="I am a tooltip">Hover hover hover</p>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-tabs">Tabs</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-banners">Banners: Full-width</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>
  
    <div class="container">
      <h2 class="heading-secondary brand-purple">Banners: Full width</h2>
      <div>DO: Add an additional class to the div with class banner-full and add your background image to it. Currently uses an inline style for demo.</div>
    </div> <!-- /container -->
    <div class="style-block">
      <div class="style-block-demo center-text">
        <section class="banner-full" style="background: url('/static/images/bg_header_reading_programme.jpg');">
          <div class="banner-content">
            <h1 class="heading-primary white">Banner Heading</h1>
            <div class="banner-full-caption">
              <p>Banner caption content: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore numquam quos aut earum id ratione.</p>
              <div class="base-spacing"></div>
            </div>
          </div> <!-- /banner-content -->
          <div class="banner-overlay"></div>
        </section>
      </div> <!-- /style-block-demo -->

      <div class="center-text">
        <div class="button-hollow js-toggle">&lt;Code&gt;</div>
      </div>    
    </div> <!-- /style-block -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-imgtext">Module Img Text</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-banners">Full-width banners</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>
    <div class="container">
      <h2 class="heading-secondary brand-purple">Buttons</h2>
      <div class="style-block">
        <div class="heading-tertiary center-text">Buttons: Default</div>
        <div class="style-block-demo center-text">
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-img">Images</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#img-responsive" class="js-scroll-smooth-link">Responsive</a></li>
          <li><a href="#img-fullwidth" class="js-scroll-smooth-link">Full-width</a></li>
          <li><a href="#img-floated" class="js-scroll-smooth-link">Floated</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple">Images</h2>
      <div class="style-block">
        <div class="heading-tertiary center-text" id="img-responsive">Images: Responsive</div>
        <p class="center-text">All images are responsive by default. No need to add any classes. You can resize the window to test.</p>
        <div class="base-spacing"></div>
        <div class="style-block-demo center-text">
<img src="/static/images/bg_header_reading_programme.jpg" alt="img-responsive">
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="style-block">
      <div class="heading-tertiary center-text" id="img-fullwidth">Images: Full-width</div>
      <p class="center-text">Add the relevant class and ensure images are not inside a 'container' div</p>
      <div class="base-spacing"></div>
      <div class="style-block-demo center-text">
<img src="/static/images/bg_header_reading_programme.jpg"  class="full-width">
      </div> <!-- /style-block-demo -->

      <div class="center-text">
        <div class="button-hollow js-toggle">&lt;Code&gt;</div>
      </div>    
    </div> <!-- /style-block -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text" id="img-floated">Images: Floated: Left</div>
        <div class="style-block-demo">
<img src="/static/images/lib-2.jpg" width="200" class="float-left-padding">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magnam omnis nam tenetur dolor distinctio explicabo fugiat quae, ullam blanditiis velit voluptatibus facere non quod, aliquid laudantium iure dolore et!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aperiam molestias natus suscipit doloribus distinctio accusamus quisquam mollitia, voluptates minima voluptate officia ipsam expedita nobis quibusdam placeat tempora officiis dolorem!</p>
<div class="clear"></div>
        </div> <!-- /style-block-demo --> 

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="container">
      <div class="style-block">
        <div class="heading-tertiary center-text">Images: Floated: Right</div>
        <div class="style-block-demo">
<img src="/static/images/lib-2.jpg" width="200" class="float-right-padding">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magnam omnis nam tenetur dolor distinctio explicabo fugiat quae, ullam blanditiis velit voluptatibus facere non quod, aliquid laudantium iure dolore et!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum aperiam molestias natus suscipit doloribus distinctio accusamus quisquam mollitia, voluptates minima voluptate officia ipsam expedita nobis quibusdam placeat tempora officiis dolorem!</p>
<div class="clear"></div>
        </div> <!-- /style-block-demo --> 

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-iframes">Responsive iframe videos</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="container">
      <h2 class="heading-secondary brand-purple">Iframe: Responsive</h2>
      <div class="brand-red bold">FIX DEMO</div>
      <div class="style-block">
        <div class="heading-tertiary center-text">Buttons: Default</div>
        <div class="style-block-demo center-text">
          <div class="video-iframe-responsive">
            <iframe src="https://www.youtube.com/embed/BQBsAjlBTHw" allowfullscreen="" frameborder="0" width="850" height="500" class="video_frame"></iframe>
          </div>
        </div> <!-- /style-block-demo -->

        <div class="center-text">
          <div class="button-hollow js-toggle">&lt;Code&gt;</div>
        </div>    
      </div> <!-- /style-block -->
    </div> <!-- /container -->

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-tables">Tables</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-hr">Horizontal rules</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-dropdowns">Dropdowns</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-icons">Icons</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#paisa" class="js-scroll-smooth-link">Linear</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Ease in</a></li>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-helpers">Global Helpers</h2>
      <div class="heading-section-block">
        <ul>
          <li><a href="#paisa" class="js-scroll-smooth-link">Transitions</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Centering</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Alignment</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Borders</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Border-radius</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Spacing</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Show and Hide</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Alignment</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Ellipsis</a></li>
          <li><a href="#aser" class="js-scroll-smooth-link">Floats and Clearing</a></li>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-bar">Custom Bar Graphs</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-scrollbars">Custom Scrollbars for Webkit</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>

    <div class="center-text">
      <h2 class="heading-section" id="demo-block-variables">Sass Variables</h2>
      <div class="heading-section-block">
        <ul>
        </ul>
      </div>
    </div>
  </div> <!-- /demo-main -->
</section>

<script>
// Escape HTML strings
function escapeHtml(str) {
  var div = document.createElement('div');
  div.appendChild(document.createTextNode(str));
  return div.innerHTML;
};
</script>
{% endblock %}