{% extends "base.html" %}
{% block page_title %}About{% endblock %}
{% block content %}

<section>
  <h1 class="heading-primary">Styleguide</h1>

  <h2 class="heading-secondary">CSS</h2>

  <p>The project uses Sass to provide the CSS with some structure.</p>
  <ul>
    <li>You need to install Ruby (unfortunately) and Sass</li>
    <li>Watching and compiling can be done by running one single command: sass --watch assets/static/sass/style.scss:assets/static/css/style.css. Doing this outside the vagrant box is a bit faster (practically realtime) and is hence recommended.</li>
    <li>Don't edit the generated style.css in /assets/static/css</li>
  </ul>

  <div class="center-text">
    <h2 class="heading-section">Colors</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Font Families</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Links</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Headings</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Other Html Elements</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Font Helpers</a></li>
        <li><a href="#ig" class="js-scroll-smooth-link">Lists</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Typography</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Font Families</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Links</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Headings</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Other Html Elements</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Font Helpers</a></li>
        <li><a href="#ig" class="js-scroll-smooth-link">Lists</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Grid</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Typography</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Font Families</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Links</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Headings</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Other Html Elements</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Font Helpers</a></li>
        <li><a href="#ig" class="js-scroll-smooth-link">Lists</a></li>
      </ul>
    </div>
  </div>

</section>
{% endblock %}