{% extends "base.html" %}
{% block page_title %}About{% endblock %}

{% block css_extra %}
<style>
  .box-demo {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
  }
</style>
{% endblock %}

{% block content %}

<section>
  <h1 class="heading-primary">Styleguide</h1>

  <h2 class="heading-secondary brand-blue">CSS</h2>
  
  
  <div class="container">
    <p class="bold">The project uses Sass to provide the CSS with some structure.</p>
    <ul class="ul-base">
      <li>You need to install Ruby (unfortunately) and Sass</li>
      <li>Watching and compiling can be done by running one single command: sass --watch assets/static/sass/style.scss:assets/static/css/style.css. Doing this outside the vagrant box is a bit faster (practically realtime) and is hence recommended.</li>
      <li>Don't edit the generated style.css in /assets/static/css</li>
      <li>The partials folder inside the sass folder contains all the small Sass files that are imported into the style.scss folder</li>
      <li>The lib folder inside the partials folder, contains all third party plugin files</li>
    </ul>
    
  </div> <!-- /container -->

  <div class="center-text">
    <h2 class="heading-section">Colors</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#colors-brand" class="js-scroll-smooth-link">Brand</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Common</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Links</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="colors-brand">
      <div class="box-demo brand-blue-bg">
        
      </div>
    </div>
    
  </div> <!-- /container -->

  <div class="center-text">
    <h2 class="heading-section">Grid</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="container">
    
  </div> <!-- /container -->

  <div class="center-text">
    <h2 class="heading-section">Typography</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Font Families</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Links</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Headings</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Other Html Elements</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Font Helpers</a></li>
        <li><a href="#ig" class="js-scroll-smooth-link">Lists</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Forms</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Default form styling</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Base form styling</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Custom Checkboxes and radios</a></li>
        <li><a href="#probe" class="js-scroll-smooth-link">Custom Datepicker</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Custom selects</a></li>
        <li><a href="#efa" class="js-scroll-smooth-link">Error States</a></li>
      </ul>
    </div>
  </div>


  <div class="center-text">
    <h2 class="heading-section">Buttons</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Linear</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Ease in</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Notifications</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Linear</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Ease in</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Tooltips</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Tabs</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Mpdule Img Text</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Full-width banners</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Images</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Responsive</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Full-width</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Floated</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Responsive iframe videos</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Tables</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Horizontal rules</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Dropdowns</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Icons</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Linear</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Ease in</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Global Helpers</h2>
    <div class="heading-section-block">
      <ul>
        <li><a href="#paisa" class="js-scroll-smooth-link">Transitions</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Centering</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Alignment</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Borders</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Border-radius</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Spacing</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Show and Hide</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Alignment</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Ellipsis</a></li>
        <li><a href="#aser" class="js-scroll-smooth-link">Floats and Clearing</a></li>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Custom Bar Graphs</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Custom Scrollbars for Webkit</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

  <div class="center-text">
    <h2 class="heading-section">Sass Variables</h2>
    <div class="heading-section-block">
      <ul>
      </ul>
    </div>
  </div>

</section>
{% endblock %}