{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}Share Your Story{% endblock %}

{% block css_extra %}
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
<style>
  code {
    font-family: 'Source Code Pro';
  }

  .alert {
    position: static;
  }
</style>
 <!--link href='http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css' rel='stylesheet' type='text/css'-->
{% endblock %}

{% block endbody %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/lib/swig.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/swig.filters.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sys/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/dropzone.js' %}"></script>

  {% endcompress %}
{% endblock %}


{% block content %}


<section class="clearfix">
  <div class="base-spacing-mid"></div>
    <section class="container" id="school_sys">
      <div class="form-parent">
        <div class="threefourth-item">
          <div class="info-wrapper" id="school-info-wrapper">
            <h4 class="school-type-school">
              <span class="icon-number">
                 S 
              </span>
              GKLPS RAJBHAVAN ROAD
            </h4>
            
            <ul class="map-location-labels font-smallest">  
              <li class="map-label-each">
                <div class="map-label-title">District</div>
                <div class="map-label-name">Bangalore</div>
              </li><li class="map-label-each">
                <div class="map-label-title">Block </div>
                <div class="map-label-name">North-3</div>
              </li><li class="map-label-each">
                <div class="map-label-title">Cluster </div>
                <div class="map-label-name">Vasanthnagar</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="quarter-item">
          <div class="module-img">
            <img src="/static/images/auto.png" class="auto-img" alt="Icon: Auto">
          </div>
        </div>                  
      </div>      

      <div class="form-parent container">
       <h2 class="heading-border brand-green">Share a story on your Visit</h2>
        <hr/> 
        <div id="userinfo">
          <form id="sys_school" action="/sysuserinfo" name="sys_school" class="form-base form-share-story">
            <div class="half-item">

              <div class="base-spacing-mid"></div>
              <div class="heading-tiny-uppercase">Please provide accurate information</div>
              
              <div class="form-field-wrap required">
                <input type="text" class="input-text" placeholder="Type Full Name">
              </div>

              <div class="form-field-wrap required">
                <input type="email" class="input-text" placeholder="Type Email">
              </div>

              <div class="form-field-wrap required">
                <input type="tel" class="input-text" placeholder="Type Mobile Phone">
              </div>

            </div><!-- end of half-item -->
            <div class="half-item">
              <div class="base-spacing-mid"></div>
              <div class="form-field-wrap required">
                <div class="heading-tiny-uppercase">Date of Visit <span class="fa fa-calendar"></span></div>
                <input type="date" class="js-input-date input-text" placeholder=''>
              </div>

              <div class="form-field-wrap required">
                <div class="heading-tiny-uppercase">Additional Comments <span class="fa fa-comments"></span></div>
                <textarea class="input-text"></textarea>
              </div>
            </div> <!-- end of half-item -->
          </form>
        </div><!-- end of userinfo-->    
      </div><!-- end of Parent-->

      <div id="fileupload" class="container">
        <div class="heading-tiny-uppercase">Upload images from your visit</div>
        <form action="/upload-target" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
        <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
        <div class="base-spacing-mid"></div>
      </div>

      <div id="sysq_school"></div>
    </section>
</section>

{% include 'frontend_templates/sys_form.html' %} 
{% endblock %}