<p>Hello {{ user.first_name }},</p>

<p>Thank you for signing up for an account and welcome to the Karnataka Learning Partnership platform.</p>

<p>Please click <a href="http://{{ site_url }}{{ url }}">http://{{ site_url }}{{ url }}</a> to verify your email ID and account.</p>

<p>You can look around the KLP site <a href="http://{{ site_url }}/map">http://{{ site_url }}/map</a>, find open volunteering opportunities at <a href="http://{{ site_url }}/volunteer">http://{{ site_url }}/volunteer</a>.

<p>We’re thrilled that you are a part of our mission to improve schools and learning in Karnataka!</p>

<p>~ Team KLP</p>
