<p>Dear {{ user.first_name }},</p>

<p>Thank you for volunteering for {{ org.name }} and helping on {{ activity.date }} at {{ school.name }}.</p>

<p>We’d be grateful if you could take a moment of your time to fill in your observations about the school and post a few photos you might have taken, at <a href="http://{{ site_url }}{{ school_url }}#?tab=share-story">http://{{ site_url }}{{ school_url }}#?tab=share-story</a>.</p>

<p>We hope to see you volunteering again soon! You can take a look at open volunteering opportunities for {{ org.name }} at <a href="http://{{ site_url }}{{ org_url }}">http://{{ site_url }}{{ org_url }}</a> and all open volunteering opportunities at <a href="http://{{ site_url }}{{ volunteer_url }}">http://{{ site_url }}{{ volunteer_url }}</a>.</p>

<p>~ {{ org.name }} & Team KLP</p>
